﻿@model MoolahConnectClassLibrary.Models.ViewModels.BorrowerAccountDetailsModel

@using (Html.BeginForm("Create", "Borrower", FormMethod.Post, new { id = "BorrowerAccount" }))
{
    @Html.ValidationSummary(true)
    <div id="wish" class="no_bg">
        <div class="wish_txt_in min_width">
            <p>Please provide more information about your business before we can process the application.</p>
        </div>
        <div class="clear"></div>
        <div class="fl bot_mar width100">
            <div class="wish_txt_reg">Business Name : </div>
            @Html.TextBoxFor(m => m.BusinessName
                             , new { placeholder = "Business Name", @class = "wish_input" })
            @Html.ValidationMessageFor(m => m.BusinessName)
        </div>
        <div class="clear"></div>
        <div class="fl bot_mar width100">
            <div class="wish_txt_reg">Business Registration Number : </div>
            @Html.TextBoxFor(m => m.BusinessRegistrationnumber
                             , new { placeholder = "Registration Number", @class = "wish_input" })
            @Html.ValidationMessageFor(m => m.BusinessRegistrationnumber)
        </div>
        <div class="clear"></div>
        <div class="fl bot_mar width100">
            <div class="wish_txt_reg">Business Organisation : </div>
            @Html.DropDownListFor(m => m.BusinessOrganisation, new SelectList(new List<Object>{
                new { value ="Limited Liability Partnership" , text = "Limited Liability Partnership" },
                new { value = "Private Limited" , text = "Private Limited"},
                new { value = "Limited" , text = "Limited"}
            },
                                                                              "value",
                                                                              "text",
                                                                              Model.BusinessOrganisation), new { id = "Title", @class = "wish_list_in" })
        </div>
        <div class="clear"></div>
        <div class="fl bot_mar width100">
            <div class="wish_txt_reg">SICC Code : </div>
            @Html.TextBoxFor(m => m.SiccCode, new { placeholder = "SICC Code", @class = "wish_input" })
            @Html.ValidationMessageFor(m => m.SiccCode)
        </div>
        <div class="clear"></div>
        <div class="fl bot_mar" style="width:900px;">
            <div class="wish_txt_reg">Date of Incorporation:</div>
            @if(Model.DateofIncorporation!=null)
            {
                <input type="text" name="DateofIncorporation" class="wish_input datepicker" id="txtDateOfInc" value="@Convert.ToDateTime(Model.DateofIncorporation).ToString("dd MMM yyyy")" />
            }
            else
            {
                <input type="text" name="DateofIncorporation" class="wish_input datepicker" id="txtDateOfInc" value="@Model.DateofIncorporation"  />    
            }
            &nbsp;<a id="Agetcalender"> <img  src="~/Content/images/cal.jpg" width="24" height="27" alt="#"></a>
            @Html.ValidationMessageFor(m => m.DateofIncorporation)
            @Html.HiddenFor(m => m.DateofIncorporation, new {id="DateofIncorporation"})
        </div>

        <div class="clear"></div>
        <div class="fl bot_mar width100">
            <div class="wish_txt_reg">Registered Address 1 : </div>
            @Html.TextBoxFor(m => m.RegisteredAddress1
                             , new { placeholder = "Registered Address 1", @class = "wish_input" })
            @Html.ValidationMessageFor(m => m.RegisteredAddress1)
        </div>
        <div class="clear"></div>
        <div class="fl bot_mar width100">
            <div class="wish_txt_reg">Registered Address 2 : </div>
            @Html.TextBoxFor(m => m.RegisteredAddress2
                             , new { placeholder = "Registered Address 2", @class = "wish_input" })
            @Html.ValidationMessageFor(m => m.RegisteredAddress2)
        </div>
        <div class="clear"></div>
        <div class="fl bot_mar width100">
            <div class="wish_txt_reg">Registered Address Postal Code : </div>
            @Html.TextBoxFor(m => m.RegisteredPostalCode
                             , new { placeholder = "Registered Address Postal Code", @class = "wish_input" })
            @Html.ValidationMessageFor(m => m.RegisteredPostalCode)
        </div>
        <div class="clear"></div>
        <div class="fl bot_mar width100">
            <div class="wish_txt_reg">Business (Mailing) Address 1 : </div>

            @Html.TextBoxFor(m => m.BusinessMailingAddress1
                             , new { placeholder = "Mailing Address 1", @class = "wish_input" })
            @Html.ValidationMessageFor(m => m.BusinessMailingAddress1)
        </div>
        <div class="clear"></div>
        <div class="fl bot_mar width100">
            <div class="wish_txt_reg">Business (Mailing) Address 2 : </div>

            @Html.TextBoxFor(m => m.BusinessMailingAddress2
                             , new { placeholder = "Mailing Address 2", @class = "wish_input" })
            @Html.ValidationMessageFor(m => m.BusinessMailingAddress2)
        </div>
        <div class="clear"></div>
        <div class="fl bot_mar width100">
            <div class="wish_txt_reg">Business (Mailing) Address Postal Code : </div>

            @Html.TextBoxFor(m => m.BusinessMailingPostalCode
                             , new { placeholder = "Mailing Address Postal Code", @class = "wish_input" })
            @Html.ValidationMessageFor(m => m.BusinessMailingPostalCode)
        </div>
        <div class="clear"></div>
        <div class="fl bot_mar width100">
            <div class="wish_txt_reg">Paid Up Capital : </div>
            <input id="txtPaidup" name="" type="text" class="wish_input" placeholder="S$100,000" value="@Model.PaidUpCapital">
            @Html.ValidationMessageFor(m => m.PaidUpCapital)
            @Html.TextBoxFor(m => m.PaidUpCapital, new { id = "paidupcap" })
        </div>
        <div class="clear"></div>
        <div class="fl bot_mar width100">
            <div class="wish_txt_reg">Direct Line ( Office Hours) : </div>
            @Html.TextBoxFor(m => m.DirectLine
                             , new { placeholder = "Direct Line", @class = "wish_input number" })
            @Html.ValidationMessageFor(m => m.DirectLine)
        </div>
        <div class="clear"></div>
        <div class="fl bot_mar width100">
            <div class="wish_txt_reg">Mobile ( Out of Office Hours) : </div>
            @Html.TextBoxFor(m => m.Mobilenumber
                             , new { placeholder = "Mobile Number", @class = "wish_input number", maxlength = "8" })
            @Html.ValidationMessageFor(m => m.Mobilenumber)
        </div>
        <div class="clear"></div>
        <div class="fl bot_mar width100">
            <div class="wish_txt_reg">
                Official Correspondence Email&nbsp;
                <span class="customicon-bulb tip" data-title="Help" data-content="Please enter all the compulsory information before changing email address. 
                    All the information will be saved. After changing the email address, you will be automatically signed out 
                    and a verification email will be sent to your new email address."
                      data-trigger="hover" />
            </div>
            @Html.TextBoxFor(m => m.EmailAddress, new { placeholder = "Official Correspondence Email", @class = "wish_input", id = "txtEmailAdd" })&nbsp;
            @Html.ValidationMessageFor(m => m.EmailAddress)
            <input id="txtEmailAddHad" style="visibility:hidden" value="@Model.EmailAddress" />
        </div>
        <div class="modal fade" id="confirmBox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        You have make changes to the official correspondence email, please click the Continue button to proceed.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button class="btn btn-primary" id="btnContinueConf" value="Continue">Continue</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="fl bot_mar width100">
            <div class="wish_txt_reg">Account (Bank, Account Number, Account Name):<br /><br />
                <a href="https://www.ocbc.com/assets/pdf/ACH-Bank-and-Branch-Code-Guide.pdf" target="_blank">Bank and Branch Code</a>
            </div>
            <table>
                <tr>
                    <td>
                    @Html.DropDownListFor(m => m.BankId, new SelectList(Model.BanksList, "BankId", "BankName", Model.BankId),
                                          new { @class = "wish_input_small", @style = "padding-right:0px !important;width:96px !important;" })
                    <td style="width: 900px;">
                        @Html.TextBoxFor(m => m.BranchName, new { placeholder = "Branch Name", @class = "wish_input_small" })@Html.ValidationMessageFor(m => m.BranchName)
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="margin-top: 10px;">
                            @Html.TextBoxFor(m => m.BankNumber, new { placeholder = "Bank Code", @class = "wish_input_small" })
                        </div>
                    </td>
                    <td>
                        <div style="margin-top: 10px;">
                            @Html.TextBoxFor(m => m.BranchNumber, new { placeholder = "Branch Code", @class = "wish_input_small" })
                            @Html.ValidationMessageFor(m => m.BranchNumber)
                            @Html.ValidationMessageFor(m => m.BankNumber)
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="clear"></div>
        <div class="fl bot_mar width100">
            <div class="wish_txt_reg">&nbsp;</div>
            @Html.TextBoxFor(m => m.BankAccountNumber
                             , new { placeholder = "Account Number", @class = "wish_input" })
            @Html.ValidationMessageFor(m => m.BankAccountNumber)
        </div>
        <div class="clear"></div>
        <div class="fl bot_mar width100">
            <div class="wish_txt_reg">&nbsp;</div>
            @Html.TextBoxFor(m => m.BankAccountName
                             , new { placeholder = "Account Name", @class = "wish_input" })
            @Html.ValidationMessageFor(m => m.BankAccountName)
        </div>
        <div class="clear"></div>
        <div style="font-weight:bold;margin-bottom:20px;">
            Authorised representative of the company (Documentary proof must be furnished)
        </div>
        <div class="clear"></div>
        <div class="fl bot_mar width100">
            <div class="wish_txt_reg">Full Name as in NRIC/ Passport : </div>
            @Html.TextBoxFor(m => m.FirstName, new { placeholder = "Full Name as in NRIC/ Passport", @class = "wish_input" })
            @Html.ValidationMessageFor(m => m.FirstName)
        </div>
        <div class="clear"></div>
        <div class="fl bot_mar width100">
            <div class="wish_txt_reg">Nationality</div>
            <select class="wish_list_in" id="Nationality" name="NationalityTitle">
                @if (Model.Nationality == "Singapore Citizen")
                {
                    <option value="Singapore Citizen" selected="selected">Singapore Citizen</option>
                }
                else
                {
                    if (string.IsNullOrEmpty(Model.Nationality))
                    {
                        <option value="Singapore Citizen" selected="selected">Singapore Citizen</option>
                    }
                    else
                    {
                        <option value="Singapore Citizen">Singapore Citizen</option>
                    }
                }

                @if (Model.Nationality == "Singapore PR")
                {
                    <option value="Singapore PR" selected="selected">Singapore PR</option>
                }
                else
                {
                    <option value="Singapore PR">Singapore PR</option>
                }

                @if (Model.Nationality != "Singapore Citizen" && Model.Nationality != "Singapore PR"
                     && !string.IsNullOrEmpty(Model.Nationality))
                {
                    <option value="Other Nationalities" selected="selected">Other Nationalities</option>
                }
                else
                {
                    <option value="Other Nationalities">Other Nationalities</option>
                }
            </select>&nbsp;
            @Html.TextBoxFor(m => m.Nationality, new { id = "nationality" })
            @Html.ValidationMessageFor(m => m.Nationality)
        </div>
        <div class="clear"></div>
        <div class="fl bot_mar width100">
            <div class="wish_txt_reg">NRIC Number for Singapore Citizens and PR / FIN for Foreigners : </div>
            @Html.TextBoxFor(m => m.NricNumber, new { placeholder = "NRIC Number for Singapore Citizens and PR / FIN for Foreigners", @class = "wish_input" })
            @Html.ValidationMessageFor(m => m.NricNumber)
        </div>
        <div class="clear"></div>
        <div class="fl bot_mar width100">
            <div class="wish_txt_reg">Passport Number for Foreigners : </div>
            @Html.TextBoxFor(m => m.PassportNumber, new { placeholder = "Passport Number for Foreigners", @class = "wish_input" })
            @Html.ValidationMessageFor(m => m.PassportNumber)
        </div>
        <div class="clear"></div>
        <div class="fl bot_mar width100">
            <div class="wish_txt_reg">Position Held : </div>
            <select class="wish_list_in" id="Position" name="Title">
                @if (Model.RoleJobTitle == "Director")
                {
                    <option value="Director" selected="selected">Director</option>
                }
                else
                {
                    if (string.IsNullOrEmpty(Model.RoleJobTitle))
                    {
                        <option value="Director" selected="selected">Director</option>
                    }
                    else
                    {
                        <option value="Director">Director</option>
                    }
                }
                @if (Model.RoleJobTitle == "Partner")
                {
                    <option value="Partner" selected="selected">Partner</option>
                }
                else
                {
                    <option value="Partner">Partner</option>
                }
                @if (Model.RoleJobTitle == "CEO")
                {
                    <option value="CEO" selected="selected">CEO</option>
                }
                else
                {
                    <option value="CEO">CEO</option>
                }
                @if (Model.RoleJobTitle == "CFO")
                {
                    <option value="CFO" selected="selected">CFO</option>
                }
                else
                {
                    <option value="CFO">CFO</option>
                }
                @if (Model.RoleJobTitle != "Director" && Model.RoleJobTitle != "Partner" &&
                     Model.RoleJobTitle != "CEO" && Model.RoleJobTitle != "CFO" && !string.IsNullOrEmpty(Model.RoleJobTitle))
                {
                    <option value="Others" selected="selected">Others</option>
                }
                else
                {
                    <option value="Others">Others</option>
                }
            </select>&nbsp;
            @Html.TextBoxFor(m => m.RoleJobTitle, new { id = "roleJobTitle" })
            @Html.ValidationMessageFor(m => m.RoleJobTitle)
        </div>
        <div class="clear"></div>
        @if (Model.CommentsOnField != null)
        { 
            <div class="fl bot_mar width100">
                <div class="wish_txt_reg">
                    Admin Comments :   
                </div>
                <div class="clear"></div>
            </div>
            <div class="fl bot_mar width100">
                <div class="wish_txt_reg">
                    <div id="dvAdminComment" class="wish_input" style="border: 1px solid #bbb9af; height: auto; width: 580px; padding: 10px;">
                        <p style="color: #FF0A0A">@Model.CommentsOnField</p>

                    </div>
                </div>
            </div>
        }
        <div class="fl bot_mar"></div>
        <div class="clear"></div>
        <div class="fl bot_mar">
            <div class="wish_txt_reg">&nbsp;</div>
            <div class="wish_left">
                <div class="wish_out fr">
                    <button class="wish_btn" id="btnContinue" value="Continue">Continue</button>
                </div>
            </div>
        </div>
    </div>
}

<style>
    #paidupcap {
        visibility: hidden;
    }
    .wish_input_small {
        margin: 0 10px 0 0 !important;
        width: 84px !important;
    }
</style>

<script src="~/Scripts/mvcfoolproof.unobtrusive.min.js"></script>

<script>
    
    $(document).ready(function () {
        $('.tip').popover();
        SetPositionAtr();
        SetNationalityAtr();
        var newVal = $('#txtDateOfInc').val();
        $('#DateofIncorporation').val(newVal);

        $("#txtDateOfInc").datepicker({
            changeMonth: true, changeYear: true, yearRange: 'c-100:c+5', dateFormat: 'd M yy'
        });

        var TitleVerificationImg = $("#TitleVerificationImg").attr("src");

        if (TitleVerificationImg == "/Content/images/") {
            $(".StatusImg").css("display", "none");
        }
        $('.StatusImg').mouseover(function () {

            if ($(this).attr('alt') == "tick.png") {
                $(this).attr('title', "Information is verified by MoolahConnect");
            }
            else {
                $(this).attr('title', "Information is either not disclosed by you or not verified by MoolahConnect");
            }

        });
        
        //Apply mask to currency inputs.
        $('#txtPaidup').autoNumeric('init');
    });

    $(".number").keypress(function (e) {
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            return false;
        }
    });

    $('#Position').change(function () {
        SetPositionAtr();
    });

    function SetPositionAtr() {
        var pos = $('#Position').val();

        if (pos == "Others") {
            var title = $('#roleJobTitle').val();
            if (title == "Director" || title == "Partner" || title == "CEO" || title == "CFO") {
                $('#roleJobTitle').val("");
            }
            $('#roleJobTitle').show();
        } else {
            $('#roleJobTitle').val(pos);
            $('#roleJobTitle').hide();
        }
    }

    function CheckforUniqueQuestions() {
        var sq1 = $("#ddlSq1").val();
        var sq2 = $("#ddlSq2").val();
        if (sq1 == sq2) {

            alert('Please select unique security questions');
            $('#btnContinue').attr('disabled', 'disabled');
        }
        else {


            $('#btnContinue').removeAttr('disabled');
        }

    }
    
    $('#Nationality').change(function () {
        SetNationalityAtr();
    });

    function SetNationalityAtr() {
        var pos = $('#Nationality').val();

        if (pos == "Other Nationalities") {
            var title = $('#nationality').val();
            if (title == "Singapore Citizen" || title == "Singapore PR") {
                $('#nationality').val("");
            }
            $('#nationality').show();
        } else {
            $('#nationality').val(pos);
            $('#nationality').hide();
        }
    }
    
    $('#txtDateOfInc').change(function () {
        var newVal = $('#txtDateOfInc').val();
        $('#DateofIncorporation').val(newVal);
    });

    $('#txtPaidup').change(function() {
        var txtVal = $('#txtPaidup').val();
        if (txtVal == "") {
            $('#paidupcap').val("");
        } else {
            var newVal = parseInt(txtVal.replace(new RegExp(",", "g"), ''));
            $('#paidupcap').val(newVal);
        }
    });
    
    $("#btnContinue").click(function (evt) {
        var isValied = $('#BorrowerAccount').valid();
        if (isValied) {
            var curEmail = $('#txtEmailAddHad').val();
            var newEmail = $("#txtEmailAdd").val();
            if (newEmail.length > 0 && curEmail != newEmail) {
                $('#confirmBox').modal('show');
                evt.preventDefault();
            }
        }
    });

    $("#btnContinueConf").click(function () {
        $('#confirmBox').modal('hide');
    });
    
</script>