﻿@model MoolahConnectClassLibrary.Models.ViewModels.DocumentsList

<script>
    $(document).ready(function () {
        $("#file_uploadnew").uploadify({
            'height': '30',
            'swf': '/Scripts/Customjs/uploadify.swf',
            'width': '120',
            'uploader': '/HTTPHandlers/UploadBorrowerDocuments.ashx',
            'fileDesc': 'Image Files',
            'fileExt': '*.jpg;*.jpeg;*.gif;*.png;',
            'multi': false,
            'auto': false,
            'onUploadStart': function (file) {
                var comment = $('#comment').val() == "" ? "&nbsp;" : $('#comment').val();
                $("#file_uploadnew").uploadify("settings", 'formData', { 'id': '0', 'Comment': comments, 'documentId': $('#hdndocumentid').val(), 'documentname': 'none' });   /////// none for not updating the document name /////////////////
            },
            'onUploadSuccess': function (file, data, response) {
                if (response == true) {
                    Closediv('divfileupload');
                    window.location = '@Url.Action("Create", "Issuer")';
                }
                else {
                    alert(data);
                }
            }

        });
        var VerificationImg = $("#VerificationImg").attr("src");

        if (VerificationImg == "/Content/images/") {
            $(".StatusImg").css("display", "none");
        }

    });


</script>

<div id="wish" class="no_bg">
    <div class="wish_txt_in min_width">
        <p>
            1) Print and Sign the Registration form (incorporates T&C)
                            <br />
            2) Submit the required documents
                            <br />
            3) Send your signed and completed Registration form via Post,Email or Upload
                            <br />
            4) View Registration Status to keep track
        </p>
    </div>



    @if (Model.DocumentsList1 != null)
    {
        foreach (var item in Model.DocumentsList1)
        {
       
        <div class="fl bot_mar">
            <div class="wish_doc">@Html.DisplayFor(modelItem => item.DocumentName) : 
                 @if (item.DocumentStatus == true)
                 {
                     <img id="VerificationImg1" class="StatusImg" alt="tick.png"  src="@Url.Content("~/Content/images/tick.png")"  /> 
                 }
                 else
                 {
                     <img id="VerificationImg" class="StatusImg" alt="cross.png"  src="@Url.Content("~/Content/images/cross.png")"  /> 
                 }
            </div>

            <div class="wish_stat">@Html.Encode(item.DocumentStatus == true ? "Verified" : "Not Verified")
                <br />

                @Html.Action("GetComments", "Borrower", new { documentid = item.DocumentId })

            </div>
            @* <div class="fl">
                 <input name="" type="button" value="Choose File" class="wish_choose" onclick="ShowFileuploadDiv(@item.DocumentId)" />*@
            @*  <input name="" type="button" class="wish_btn" style="float: right; " onclick="javascript: $('#file_uploadnew').uploadify('upload')" value="Upload" />
                    <input name="" type="button" value="Choose File" class="wish_choose" id="file_uploadnew">
            </div>*@

        </div>
    
        <div class="clear"></div>
        }
    }
    else
    {
        <div class="fl bot_mar">
            <div class="wish_doc">No document uploaded yet  </div>
            <div class="wish_stat"></div>
            <div class="fl">
            </div>
            <div class="wish_doc"></div>
        </div>
    }

    @if (Model.CommentsOnDocuments != null)
    { 
           
        <div class="fl bot_mar width100">
            <div class="wish_txt_reg">
                <div id="dvAdminComment" class="wish_input" style="border: 1px solid #bbb9af; height: auto; width: 580px; padding: 10px;">
                    <div style="float: left">Admin Comments: </div>
                    <br />
                    <br />
                    <p style="color: #FF0A0A">@Model.CommentsOnDocuments</p>
                </div>
            </div>
        </div>
    }
    <div class="clear"></div>
    <div class="top_gap"></div>
    <div class="clear"></div>

    <div class="fl">
        <div class="wish_out">
            <input name="" type="button" class="wish_btn" value="Back to previous Page" onclick="GotoStep(2, false)">
        </div>
    </div>
    <div class="fr">
        <div class="wish_out">
            <a href="@Url.Content("/Issuer/Index")" class="wish_btn">Dashboard</a>
        </div>

    </div>
