﻿@using MoolahConnect.Util.Enums
@model MoolahConnectClassLibrary.Models.ViewModels.BorrowerDocuments

<div id="wish" class="no_bg">
    <div class="wish_txt_in min_width_1">
        <b><u>Compulsory Supporting Documents</u></b>
        <br />
        <br />
        1)	Certified true copy of the latest ACRA Bizfile business profile report
        <br />
        <br />
        2) Certified true copy of the Limited Liability Partnership Agreement/Memorandum & Articles of Association (M&A)
        <br />
        <br />
        3)	Proof of identity of directors/partners/managing partner
        <br />
        <br />
        Certified true copies of identity card/passport of all the authorised directors/partners/managing partner in the Resolution
        <br />
        <br />
        <b>Singaporeans and Permanent Residents (PR)</b>
        <br />
        <br />
        &nbsp&nbsp 1.	Photocopy of front and back of identity card 
        <br />
        <br />
        <b>Foreigners without PR Status</b>
        <br />
        <br />
        &nbsp&nbsp 1.	Photocopy of valid passport(At least 6 months validity)
        <br />
        &nbsp&nbsp 2.	Photocopy of employment pass, dependant’s pass or student pass
        <br />
        <br />
        4)	Proof of residential address of all the authorised directors/partners/managing partner in the Resolution (dated within 6 months)
        <br />
        <br />
        Provide a photocopy of any <b>ONE</b> of the following documents:
        <br />
        &nbsp&nbsp -	Bank statement<br />
        &nbsp&nbsp -	Credit card statement<br />
        &nbsp&nbsp -	Utility bill<br />
        &nbsp&nbsp -	Rental agreement<br />
        &nbsp&nbsp -	Singapore government/government agency statement (IRAS/CPF/CDP/SAF)<br />
        <br />
        5)	A corporate bank account with a local bank or foreign qualifying full bank in Singapore. 
        <br />
        <br />
        Provide photocopies of the following documents:
        <br />
        <table style="margin-left:10px;">
            <tr>
                <td style="vertical-align:text-top">-&nbsp</td>
                <td style="vertical-align:text-top">Latest 3 months bank statements that indicate the account holder’s name, local trading address and account number.</td>
            </tr>
            <tr>
                <td style="vertical-align:text-top">-&nbsp</td>
                <td style="vertical-align:text-top">If local trading address is not available on the bank statements, please provide utility bill (dated within 6 months) in addition to the bank statements as proof of local trading address.</td>
            </tr>
        </table>
        <br />
        <br />
        6)	Latest financial statements (Preferably 2 years of audited statements)
        <br />
        <br />
        <div class="register-div">
            <b>Certification of true copies for Private Limited</b><br />
            Photocopied documents must be certified true by signature from company director or company secretary.
            <br />
            Directors cannot certify own documents.<br />
            Certified exact of resolution must be certified true copies by 2 directors or 1 director and company secretary<br />
            <br />
            <br />
            <b>Certification of true copies for LLP</b><br />
            Photocopied documents must be certified true by signature from any one partners.
            <br />
            Partners cannot certify own documents<br />
            Certified exact of resolution must be certified true copies by at least 2 partners<br />
        </div>
        <br />
        <br />
        <b><u>Procedure</u></b>
        <br />
        <br />
        1)	Print, sign and scan the <b>Standard Terms and Conditions </b>
        <br />
        2)	Print, sign and scan the <b>Partners’ Resolution/Directors’ Resolution</b><br />
        3)	Upload the signed <b>Standard Terms and Conditions </b>, <b>Partner’s Resolution/Director’s Resolution</b> and <b>Compulsory Supporting Documents</b>
        <br />
        4)	Submit the application<br />
        5)	Receive an email from MoolahSense once the application has been processed<br />
        <br />
        <br />

    </div>
    <div class="fr">
        <table>
            <tr>
                <td><a href="@Url.Action("DownloadFileFromFileName", "Shared", new { filePath = "MSense - Issuer Standard TC.pdf" })">
                    <input name="" type="button" class="print_form" value="Print Standard Terms and Conditions"></a></td>
            </tr>
            <tr>
                <td><a href="@Url.Action("DownloadFileFromFileName", "Shared", new { filePath = "Issuer Partners' Resolution.pdf" })">
                    <input name="" type="button" class="print_form" value="Print Partners' Resolution"></a></td>
            </tr>
            <tr>
                <td><a href="@Url.Action("DownloadFileFromFileName", "Shared", new { filePath = "Issuer Directors' Resolution.pdf" })">
                    <input name="" type="button" class="print_form" value="Print Directors' Resolution"></a></td>
            </tr>
        </table>
    </div>
    <div class="clear"></div>
    <div style="width: 50%">
        @MoolahConnectHelper.UploadRegistrationDocuments("doc", "Documents Upload", HttpContext.Current.User.Identity.Name, FileType.Registration.ToString(), "false")
    </div>
    <br />
    <div id="divTerms">
        <b>I have read and understood the contents in the following documents:</b>
        <br />
        <br />
        <input type="checkbox" onclick="CheckAllOptions('borRules', this.checked);" />&nbsp Select All
        <br />
        <input type="checkbox" class="borRules" id="cbTerms1" />&nbsp&nbsp<a target="_blank" href="http://www.moolahsense.com/wp-content/uploads/2014/09/MSense-Standard-TC.pdf">Standard Terms and Conditions </a>
        <br />
        <input type="checkbox" class="borRules" id="cbTerms2" />&nbsp&nbsp<a target="_blank" href="http://www.moolahsense.com/wp-content/uploads/2014/09/MSense-Code-of-Conduct.pdf">Code of Conduct </a>
        <br />
        <input type="checkbox" class="borRules" id="cbTerms3" />&nbsp&nbsp<a target="_blank" href="http://www.moolahsense.com/wp-content/uploads/2014/09/MSense-Privacy-and-Data-Protection-Policy.pdf">Privacy and Data Protection Policy </a>
        <br />
        <b>I declare that the above information provided by me is true and accurate.</b>
    </div>
    <div class="pre-next-buttons-submit">
        <input name="" type="button" class="wish_btn_back" value="Back" onclick="GotoStep(1, false)">
        <input name="" type="button" class="wish_btn next-btn" value="Submit" onclick="ClickSubmit('Borrower', 'doc')">
    </div>
</div>