﻿

<script>
    
</script>

@*<div style="display: none" id="dvEditRate">
    <div id="divEditRateError" class="alert alert-danger">Error</div>
    <table class="default-table">
        <tr>
            <td>New Rate</td>
            <td>
                <input id="txtRates" type="text" placeholder="XX.XX" /></td>
        </tr>
        <tr>
            <td>Password
            </td>
            <td>
                <input id="txtPasswords" type="password" placeholder="password" />
            </td>
        </tr>
        <tr>
            <td></td>
            <td class="a">
                <input type="button" onclick="EditLoanRate(document.getElementById('txtRates').value, document.getElementById('txtPasswords').value);" value="Submit" />
            </td>
        </tr>
    </table>
</div>*@
