﻿@model MoolahConnectClassLibrary.Models.ViewModels.CompanyProfile

<style>
    .wish_txt_des {
        width: 325px !important;
    }
</style>

<script>
    $(document).ready(function () {
        //Apply mask to currency inputs.
        $('#txtPaidup').autoNumeric('init');
    });
</script>

<div id="wish" class="no_bg">
    <div class="wish_txt_in min_width margin_lr_10 pad_10">

        <div class="fl bot_mar width100 clearfix">
            <div class="wish_txt_des">Business Name : </div>
            @Html.TextBoxFor(m => m.CompanyName, new { @class = "wish_input", @readonly = "readonly" })
        </div>
        <div class="fl bot_mar width100 clearfix">
            <div class="wish_txt_des">Business Registration Number : </div>
            @Html.TextBoxFor(m => m.CompanyRegNumber, new { @class = "wish_input", @readonly = "readonly" })
        </div>
        <div class="fl bot_mar width100 clearfix">
            <div class="wish_txt_des">Business Organization : </div>
            @Html.TextBoxFor(m => m.TypeofCompany, new { @class = "wish_input", @readonly = "readonly" })
        </div>
        <div class="fl bot_mar width100 clearfix">
            <div class="wish_txt_des">SICC Code : </div>
            @Html.TextBoxFor(m => m.SiccCode, new { @class = "wish_input", @readonly = "readonly" })
        </div>
        <div class="fl bot_mar width100 clearfix">
            <div class="wish_txt_des">Date of Incorporation : </div>
            @Html.TextBoxFor(m => m.DateofIncorporation, "{0:dd MMM yyyy}", new { @class = "wish_input", @readonly = "readonly" })
        </div>
        <div class="fl bot_mar width100 clearfix">
            <div class="wish_txt_des">Registered Address 1 : </div>
            @Html.TextBoxFor(m => m.RegisteredAddress1, new { @class = "wish_input", @readonly = "readonly" })
        </div>
        <div class="fl bot_mar width100 clearfix">
            <div class="wish_txt_des">Registered Address 2 : </div>
            @Html.TextBoxFor(m => m.RegisteredAddress2, new { @class = "wish_input", @readonly = "readonly" })
        </div>
        <div class="fl bot_mar width100 clearfix">
            <div class="wish_txt_des">Registered Address Postal Code : </div>
            @Html.TextBoxFor(m => m.RegisteredAddressPostalCode, new { @class = "wish_input", @readonly = "readonly" })
        </div>
        <div class="fl bot_mar width100 clearfix">
            <div class="wish_txt_des">Business (Mailing) Address 1 : </div>
            @Html.TextBoxFor(m => m.BusinessMailingAddress1, new { @class = "wish_input", @readonly = "readonly" })
        </div>
        <div class="fl bot_mar width100 clearfix">
            <div class="wish_txt_des">Business (Mailing) Address 2 : </div>
            @Html.TextBoxFor(m => m.BusinessMailingAddress2, new { @class = "wish_input", @readonly = "readonly" })
        </div>
        <div class="fl bot_mar width100 clearfix">
            <div class="wish_txt_des">Business (Mailing) Address Postal Code : </div>
            @Html.TextBoxFor(m => m.BusinessMailingPostalCode, new { @class = "wish_input", @readonly = "readonly" })
        </div>
        <div class="fl bot_mar width100 clearfix">
            <div class="wish_txt_des">Paid Up Capital : </div>
            <input id="txtPaidup" name="" readonly="readonly" type="text" class="wish_input" maxlength="10" placeholder="S$100,000" value="@Model.PaidUpCapital">
        </div>
        <div class="fl bot_mar width100 clearfix">
            <div class="wish_txt_des">Direct Line ( Office Hours) : </div>
            @Html.TextBoxFor(m => m.TelephoneofficeHours, new { @class = "wish_input", @readonly = "readonly" })
        </div>
        <div class="fl bot_mar width100 clearfix">
            <div class="wish_txt_des">Mobile ( Out of Office Hours) : </div>
            @Html.TextBoxFor(m => m.MobileOutofOfficeHours, new { @class = "wish_input", @readonly = "readonly" })
        </div>
        <div class="fl bot_mar width100 clearfix">
            <div class="wish_txt_des">Official Correspondence Email : </div>
            @Html.TextBoxFor(m => m.EmailAddress, new { @class = "wish_input", @readonly = "readonly" })
        </div>
        <div class="fl bot_mar width100 clearfix">
            <div class="wish_txt_des">Bank Name : </div>
            @Html.TextBoxFor(m => m.Bank, new { @class = "wish_input", @readonly = "readonly" })
        </div>
        <div class="fl bot_mar width100 clearfix">
            <div class="wish_txt_des">Bank Account Number : </div>
            @Html.TextBoxFor(m => m.BankAccount, new { @class = "wish_input", @readonly = "readonly" })
        </div>
        <div class="fl bot_mar width100 clearfix">
            <div class="wish_txt_des">Bank Account Name : </div>
            @Html.TextBoxFor(m => m.AccountName, new { @class = "wish_input", @readonly = "readonly" })
        </div>
        <div class="fl bot_mar width100 clearfix">
            <div class="wish_txt_des">Bank Number </div>
            @Html.TextBoxFor(m => Model.BankNumber, new { @class = "wish_input", @readonly = "readonly" })
        </div>
        <div class="fl bot_mar width100 clearfix">
            <div class="wish_txt_des">Branch Name </div>
            @Html.TextBoxFor(m => Model.BranchName, new { @class = "wish_input", @readonly = "readonly" })
        </div>
        <div class="fl bot_mar width100 clearfix">
            <div class="wish_txt_des">Branch Number </div>
            @Html.TextBoxFor(m => Model.BranchNumber, new { @class = "wish_input", @readonly = "readonly" })
        </div>
        <div style="font-weight: bold; margin-bottom: 20px;">
            Information on authorised representative of the company
        </div>
        <div class="fl bot_mar width100 clearfix">
            <div class="wish_txt_des">Full Name as in NRIC/ Passport : </div>
            @Html.TextBoxFor(m => m.FirstName, new { @class = "wish_input", @readonly = "readonly" })
        </div>

        <div class="fl bot_mar width100 clearfix">
            <div class="wish_txt_des">Nationality : </div>
            @Html.TextBoxFor(m => m.Nationality, new { @class = "wish_input", @readonly = "readonly" })
        </div>

        <div class="fl bot_mar width100 clearfix">
            <div class="wish_txt_des">NRIC Number for Singapore Citizens and PR / FIN for Foreigners : </div>
            @Html.TextBoxFor(m => m.NricNumber, new { @class = "wish_input", @readonly = "readonly" })
        </div>

        @if (Model.Nationality != "Singapore Citizen" && Model.Nationality != "Singapore PR")
        {
        <div class="fl bot_mar width100 clearfix">
            <div class="wish_txt_des">Passport Number for Foreigners : </div>
            @Html.TextBoxFor(m => m.PassportNumber, new { @class = "wish_input", @readonly = "readonly" })
        </div>
        }

        <div class="fl bot_mar width100 clearfix">
            <div class="wish_txt_des">Position Held : </div>
            @Html.TextBoxFor(m => m.Role, new { @class = "wish_input", @readonly = "readonly" })
        </div>
        <div class="clear"></div>
    </div>
</div>
