﻿@using MoolahConnectnew.ViewModels.Borrower
@using MoolahConnect.Util.Enums
@using MoolahConnect.Util.SealedClasses
@using MoolahConnect.Util.ExtensionMethods

@model IEnumerable<LoanRequestDashboard>

<table id="currentRequests" width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr class="bg_col">
                        @if (Model.Count() > 0)
                        {
                            <td class="bdr_bottom bdr_left"></td>   
                        }
                        <td class="bdr_bottom bdr_left">Request ID</td>
                        <td class="bdr_bottom">Purpose </td>
                        <td class="bdr_bottom">Tenor </td>
                        <td class="bdr_bottom">Target Rate</td>
                        <td class="bdr_bottom">Target EIR</td>
                        <td class="bdr_bottom">Amount </td>
                        <td class="bdr_bottom">Total Interest Payable</td>
                        <td class="bdr_bottom">MoolahSense Fees </td>
                        <td class="bdr_bottom">% Funded </td>
                        <td class="bdr_bottom">Status</td>
                        <td class="bdr_bottom">Action </td>
                    </tr>
                    <tbody id="tbAllocateLoan">
                        @if (Model.Count() > 0)
                        {
                            foreach (var item in Model)
                            {
                            <tr>
                                <td class="bdr_bottom bdr_left">
                                    @if (item.PreliminaryStatus == (int)PreliminaryLoanRequestStatus.DraftPublished && item.Status != LoanRequestStatus.Cancelled.ToString())
                                    {
                                        <input class="chkboxesLoan" onclick="CheckOnlycurrentbox(@item.LoanRequestID)"  data-val="@item.LoanRequestID"  type="checkbox" />    
                                    }
                                </td>

                                <td class="bdr_left bdr_bottom">@Html.ActionLink(item.Reference.ToString(), "BorrowerNoteDetails", "Note", new { noteRequestID = item.Reference }, new { target = "_blank", title = "See Details of Loan" })</td>
                                <td>@item.Purpose </td>
                                <td>@item.Tenor M </td>
                                @if (item.OfferStatus != "Complete" && item.OfferStatus != "Withdrawn")
                                {
                                    <td><a id="rate_@item.LoanRequestID" onclick="ShowRateChangePopup(@item.LoanRequestID,@item.Rate)" title="click to edit rate" style="cursor:pointer">@item.Rate%</a></td>
                                }
                                else
                                {
                                    <td>@item.Rate%</td>
                                }
                                <td>@MoolahConnectHelper.CalculateEIR((double?)item.Amount, item.Tenor, (double?)item.Rate)</td>
                                <td>@item.Amount.ToCurrency()  </td>
                                <td>@item.TotalInterestPayable.ToCurrency()</td>
                                <td>@MoolahConnectHelper.CalculateMoolahFees((double?)item.Amount, item.Tenor)</td>
                                <td>@item.AvgFunded %</td>
                                <td>@item.Status</td>
                                <td>
                                    @if (item.PreliminaryStatus == (int)PreliminaryLoanRequestStatus.DraftApproved)
                                    {
                                        <a href="Javascript:ValidatePassword(2,@item.LoanRequestID)">Publish</a> @:/ <a href="Javascript:ValidatePassword(3,@item.LoanRequestID)">Delete</a>
                                    }
                                    else
                                    {
                                        @:N/A
                                    }
                                </td>
                            </tr>
                            }
                        }
                        else
                        {
                           
                            <tr>
                                <td class="bdr_left" colspan="12">No Outstanding Request
                                </td>
                            </tr>
                              
                        }
                    </tbody>
                </table>