﻿@model MoolahConnectClassLibrary.Models.ViewModels.LoanRequestPaging

   <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr class="bg_col">
                        <td class="bdr_bottom bdr_left">Ref # </td>
                        <td class="bdr_bottom">Purpose </td>
                        <td class="bdr_bottom">Tenor </td>
                        <td class="bdr_bottom">Interest Rate</td>
                        <td class="bdr_bottom">Loan Amount </td>
                        <td class="bdr_bottom">Pmt. Grade </td>
                    </tr>
                    @if (Model.LoanRequestList.Count > 0)
                    {
                        foreach (var item in Model.LoanRequestList)
                        {
                        <tr>
                            <td class="bdr_left">@Html.ActionLink(item.Reference, "MatchedNoteDetails","Note", new { noteRequestID = item.LoanRequestID },null)</td>
                            <td>@item.Purpose </td>
                            <td>@item.Tenor mths </td>
                            <td>@item.Rate%</td>
                            <td class="formatCurrency">S$ @item.Amount  </td>
                            <td>@item.PaymentGrade </td>
                        </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="6">No Request Found or Time expires for your request(s).
                            </td>
                        </tr>
                    }

                </table>
<script>

    $(document).ready(function () {
        $(".formatCurrency").formatCurrency();
    })
</script>
