@using MoolahConnect.Util
@using MoolahConnect.Util.SealedClasses
@using MoolahConnect.Util.ExtensionMethods
@using MoolahConnectnew.ViewModels.Borrower
@using MoolahConnect.Util.Enums
@model   MoolahConnectClassLibrary.Models.ViewModels.Dashboard

@using MvcPaging


<div id="backgroundPopup" class="molahcoreperipopup"></div>
<div id="wish" class="no_bg pad_10 no_mar_bot dash_wish">


    <div class="dash_board">

        <div class="dash_board_in">

            <h4>Outstanding Note Summary</h4>
            <div class="b_dash_sum">
                <table class="d_tbl">
                    <tr class="bg_col1">
                        <td class="td_alignLeft"><b>Total Amount Outstanding</b></td>
                        <td>
                            <input type="text" placeholder="0" style="width: 100px;margin:5px;" class="input-medium disabled" readonly="true" value="@Model.TotalOutstandingLoan.ToCurrency()" /></td>
                        <td class="td_alignLeft"><b>Number of Outstanding Notes</b>
                        </t>
                        <td>
                            <input type="text" placeholder="0" style="width: 100px;margin:5px;" class="input-medium disabled" readonly="true" value="@Model.NumberofOutstandingLoan" /></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="bg_col1">
                        <td class="td_alignLeft"><b>Total Number of Unique Investors</b></td>
                        <td>
                            <input type="text" style="width: 100px;margin:5px;" placeholder="0" class="input-medium disabled" readonly="true" value="@Model.TotalNumberofUniqueInvestor" /</td>
                        <td class="td_alignLeft"><b>Highest Amount by an Unique Investor</b></td>
                        <td>
                            <input type="text" style="width: 100px;margin:5px;" placeholder="0" class="input-medium disabled" readonly="true" value="@Model.HighestAmount.ToCurrency()" /></td>
                        <td class="td_alignLeft"><b>Average Amount per Unique Investor</b></td>
                        <td>
                            <input type="text" style="width: 100px;margin:5px;" placeholder="0" class="input-medium disabled" readonly="true" value="@Model.AverageAmount.ToCurrency()" /></td>
                    </tr>
                </table>
            </div>
            <div class="clear"></div>

            <br />
            <h4>Current Requests</h4>
            <div id="divCurrentRequests">
                @Html.Partial("_CurrentRequests", Model.LoanRequestList)
            </div>
            <div class="clear"></div>

            @if (Model.LoanRequestList != null && Model.LoanRequestList.Count > 0)
            {
                @Html.Hidden("lnRequestId", Model.LoanRequestList[0].LoanRequestID);
                <div class="dash_btn">
                    <div id="dvbtnLoanAllocation" class="wish_out mar_rgt">
                        <input name="" type="button" class="wish_btn" onclick="AcceptLoanValidatePassword()" value="Accept Offers">
                    </div>
                    <div class="wish_out">
                        <input name="" type="button" class="wish_btn_neg" onclick="CancelLoan()" value="Reject Offers">
                    </div>
                </div>
            }

            <div class="clear"></div>

            <br />
            <h4>Outstanding Payments</h4>
            <div id="divOutstandingPayment">
            </div>
            <br />
            <h4>Outstanding Details</h4>
            <div id="divOutstandingNotes">
                @Html.Partial("_OutstandingNoteDetails", (IEnumerable<LoanViewModel>)ViewBag.OutStandingLoans)
            </div>
            <div class="clear"></div>

            <br />

            @if (ViewBag.CompletedLoans.Count > 0)
            {
                <h4>Matured History</h4>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr class="bg_col">
                        <td class="bdr_bottom bdr_left">Reference  </td>
                        <td class="bdr_bottom">Tenor </td>
                        <td class="bdr_bottom">Start Date </td>
                        <td class="bdr_bottom">Maturity Date </td>
                        @*<td class="bdr_bottom">Original Loan Amount </td>*@
                        <td class="bdr_bottom">Loan Amount </td>
                        @*<td class="bdr_bottom">MoolahFees </td>*@
                        <td class="bdr_bottom rate_table_td">Loan Rate</td>
                        <td class="bdr_bottom">Effective Rate</td>
                        @*<td class="bdr_bottom">Total Principal Paid</td>*@
                        <td class="bdr_bottom">Total Interest Paid</td>
                        <td class="bdr_bottom">Repayment Schedule</td>
                        <td class="bdr_bottom">Loan Contract</td>
                    </tr>
                    @foreach (LoanViewModel item in ViewBag.CompletedLoans)
                    {      
                        <tr>
                            <td class="bdr_left bdr_bottom">@Html.ActionLink((string)item.RequestId.ToString(), "MatchedNoteDetails", "Note", new { noteRequestID = item.RequestId }, null)</td>
                            <td class="bdr_bottom">@item.Tenor M</td>
                            <td class="bdr_bottom date_tbl_td">@item.StartDate.ToDate()</td>
                            <td class="bdr_bottom date_tbl_td">@item.MaturityDate.ToDate()</td>
                            @*<td class="bdr_bottom currency_tbl_td">S$ @item.Amount   </td>*@
                            <td class="bdr_bottom currency_tbl_td">S$ @item.FinalAmount   </td>
                            @*<td class="bdr_bottom currency_tbl_td">S$ @item.MoolahFees   </td>*@
                            <td class="bdr_bottom">@item.Rate % </td>
                            <td class="bdr_bottom">@item.EIR % </td>
                            @*<td class="bdr_bottom currency_tbl_td">S$@item.PrincipalPaidTillDate  </td>*@
                            <td class="bdr_bottom currency_tbl_td">S$@item.InterestPaidTillDate </td>
                            <td><a href="Javascript:DisplayRepaymentSchedule(@item.RequestId, @item.FinalAmount,@item.Rate,@item.Tenor,'@item.StartDate.ToShortDateString()');">Details</a></td>
                            <td><a href="#">Details</a></td>
                        </tr>
                    }


                </table>
            }
@*else
            {
                <tr>
                    <td class="bdr_left bdr_bottom" colspan="13">None of your loans are matured yet</td>
                </tr>
            }*@
            <div class="clear"></div>

            <br />
            <div class="dash_tr_div">
                <div class="dash_td_div">
                    <a href="@Url.Action("ActionLogs")">View Action Logs</a> | @Html.ActionLink("View Transaction Statement", "NoteTransactions", "Shared", null, null)
                </div>
            </div>
            <div class="clear"></div>

        </div>

    </div>
    @*<div id="chart_div" style="width: 900px; height: 500px;"></div>*@
</div>



<div class="payment" style="display: none" id="SubmitconfirmationDiv">
    <h4>Confirmation</h4>
    <div class="clear"></div>
    <div class="close_btn">
        <a onclick="javascript:disablePopupLoan('SubmitconfirmationDiv','molahcoreperipopup');">
            <img width="14" height="14" style="margin: -10px -2px 6px 5px;" alt="#" src="~/Content/images/close_btn.png"></a>
    </div>
    <div class="payment_in">
        <div class="fl">
            <div class="wish_new_txt" style="height: 70px; margin-top: -19px !important; font-size: smaller !important; width: 500px">
                I accept this loan, and ready to pay all the EMIs.
            </div>

        </div>
        <input type="button" onclick="UpdateLoanOfferStatus();" value="Agree" />
        <input type="button" onclick="javascript: disablePopupLoan('SubmitconfirmationDiv', 'molahcoreperipopup');" value="Cancel" />


    </div>

</div>


<div class="payment" style="display: none" id="ConfirmationPopup">
    <h4 id="title">Confirmation</h4>
    <div class="clear"></div>
    <div class="close_btn">
        <a onclick="javascript:disablePopupLoan('ConfirmationPopup','molahcoreperipopup'); reloadpage();">
            <img width="14" height="14" style="margin: -10px -2px 6px 5px;" alt="#" src="~/Content/images/close_btn.png"></a>
    </div>
    <div class="payment_in">
        <div class="fl">
            <div id="dvTxt" class="wish_new_txt" style="height: 70px; margin-top: 0px !important; font-size: 14px !important; width: 500px">
            </div>

        </div>



    </div>

</div>

<div class="modal fade" id="modelRateChange" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Change Target Rate</h4>
            </div>
            <input type="hidden" id="oldRate" />
            <div class="modal-body">
                <div id="divEditRateError" class="alert alert-danger">Error</div>
                <form role="form" class="form-inline line25">
                    Please enter new rate and password to change target rate.
                    <br />
                    <table>
                        <tr>
                            <td>
                                <label for="tenor">New Rate</label></td>
                            <td style="padding-left: 10px">
                                <input id="txtRates" type="text" maxlength="5" placeholder="XX.XX" /></td>
                        </tr>
                        <tr>
                            <td>
                                <label for="expected-amount">Password</label></td>
                            <td style="padding-left: 10px">
                                <input id="txtPasswords" type="Password" placeholder="password" /></td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" value="ok">Ok</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" value="cancel">Cancel</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" style="width: 675px;" id="modelProvContract" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Provisional Contract</h4>
            </div>
            <div class="modal-body">
                <div id="modelBodyProvContract"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" value="ok">Ok</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@MoolahConnectHelper.ValidatePassword("modelValidatePW")

<div style="display: none">
    <div id="repaymentSchedule">
    </div>
</div>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load('visualization', '1', { packages: ['corechart'] });
</script>
<script type="text/javascript">

    var PasswordValidateType;
    var requestId;
    var PWValidatepurpose;

    function DisplayRepaymentSchedule(requestId, amount, rate, term, startDate) {
        $('#repaymentSchedule').empty();
        $('#repaymentSchedule').load("/Shared/_RepaymentSchedule?requestID=" + requestId + "&amount=" + amount + "&rate=" +
            rate + "&term=" + term + "&startDate=" + startDate, function () {
                var content = $('#repaymentSchedule').html();
                bootbox.alert(content).addClass("bootbox-largeWidth");
            });

    }

    function drawVisualization() {

        // Some raw data (not necessarily accurate)            
        var data = google.visualization.arrayToDataTable([
          ['Month', 'Aggregate Outstanding Amount', 'Current Repayment', 'Agg. Repayment for live loans'],
              @foreach (var item in Model.GraphOutstandingLoan)
              {
                 @Html.Raw(item)
              }
        ]);
        var options = {
            title: 'Monthly Outstanding Summary',
            vAxis: { title: "Amount" },
            hAxis: { title: "Month" },
            seriesType: "bars",
            series: { 5: { type: "line" } }
        };
        var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
        chart.draw(data, options);
        var chkforerror = $('#google-visualization-errors-all-1').html();
        if (chkforerror.length > 5)
            $('#chart_div').hide();



    }
    google.setOnLoadCallback(drawVisualization);
    function reloadpage() {
        location.reload();
    }

    $(document).ready(function () {

        $('#txtRates').numeric();

        $('#divOutstandingPayment').load("Borrower/_OutstandingPayments");

        $(".formatCurrency").formatCurrency();
        $("#click").click(function () {
            $('html, body').animate({
                scrollTop: $("#chart_div").offset().top
            }, 2000);
        });

        $('#modelRateChange button').click(function () {
            if ($(this).val() == "ok") {
                if (!EditLoanRate(document.getElementById('txtRates').value, document.getElementById('txtPasswords').value,
                    $('#oldRate').val())) {
                    return false;
                }
            }
        });

        $("#txtmodelValidatePWPassword").live("keypress", function (e) {
            if (e.keyCode != 13) {
                return true;
            } else {
                ValidUserPassword();
            }
        });
        $('#modelValidatePW button').click(function (e) {

            if ($(this).val() == "ok") {
                return ValidUserPassword();
            } else {
                return true;
            }
        });

    });

    //Approve loan function
    function AllocateLoan(IsAllocate) {

        requestId = '';
        $("#tbAllocateLoan tr td input:checkbox").each(function () {
            if ($(this).prop('checked')) {
                requestId = $(this).attr('data-val')
            }
        });

        $('#mask').showLoading();
        $.ajax({
            url: "/Borrower/AllocateLoan",
            type: "POST",
            dataType: "json",
            contentType: 'application/json',
            data: "{loanReqestId:'" + requestId + "',Flag:'" + IsAllocate + "'}", // 
            success: function (msg) {
                if (msg.statusCategory == "@StatusMessages.SUCCESS") {
                    RefreshTablesAfterLoanAccepted();
                    $('#mask').hideLoading();
                    bootbox.alert(msg.status);
                $.getJSON("@Url.Action("SendEmailsToBorrowerAndInvestedInvestorsOnAccpted", "Shared")", { requestID: requestId },
                function (data) {});
                }
                else {
                    $('#mask').hideLoading();
                    bootbox.alert(msg.status);
                }
        },
        error: function (error) {
            bootbox.alert('System error! Please try again.');
            $('#mask').hideLoading();
        }
    });
    $('.chkboxesLoan').removeAttr('checked');
}

function ValidatePassword(type, id) {

    PasswordValidateType = type;
    if (id != null) {
        requestId = id;
    }
    switch (type) {
        case 0:
            $('#divDisclaimer').hide();
            $('#modelValidatePWLabel').html("Please enter password to accept eligible offer(s)");
            PWValidatepurpose = 'Accept eligible offer(s)';
            break;
        case 1:
            $('#divDisclaimer').hide();
            $('#modelValidatePWLabel').html("Please enter password to reject offers");
            PWValidatepurpose = 'Reject Offers';
            break;
        case 2:
            $('#divDisclaimer').show();
            $('#modelValidatePWLabel').html("Please enter password to publish draft");
            PWValidatepurpose = 'Publish Draft';
            break;
        case 3:
            $('#divDisclaimer').hide();
            $('#modelValidatePWLabel').html("Please enter password to delete draft");
            PWValidatepurpose = 'Delete Draft';
            break;
        default:
    }


    $('#divmodelValidatePWError').empty();
    $('#divmodelValidatePWError').hide();
    $('#modelValidatePW').modal();
}

function CancelLoan() {
    requestId = '';
    $("#tbAllocateLoan tr td input:checkbox").each(function () {
        if ($(this).prop('checked')) {
            requestId = $(this).attr('data-val')
        }
    });

    if (requestId == '') {
        bootbox.alert('Please select a request');
        return;
    }

    ValidatePassword(1, null);
}

function AcceptLoanValidatePassword() {
    requestId = '';
    $("#tbAllocateLoan tr td input:checkbox").each(function () {
        if ($(this).prop('checked')) {
            requestId = $(this).attr('data-val');
        }
    });

    if (requestId == '') {
        bootbox.alert('Please select a request');
        return;
    }

    $.getJSON('/Borrower/IsLoanAcceptable', { requestId: requestId }, function (data) {
        if (data.status == "@StatusMessages.SUCCESS") {
            $('#additionalData').empty().load("/Borrower/_TermsheetPartial?requestId=" + requestId + "&finalRate=" + data.finalRate);
            ValidatePassword(0, requestId);
        }
        else {
            bootbox.alert(data.statusMessage);
        }
    });

    }

    function PublishLoan() {



        $.getJSON("@Url.Action("PublishLoan")", { requestId: requestId }, function (data) {
            if (data.status == "@StatusMessages.SUCCESS") {
                RefreshCurrentRequestsTable();
                $.getJSON("@Url.Action("SendEmailsToBorrowerAndApprovedInvestorsOnPublished", "Shared")", { requestID: requestId },
                    function (data) { });
                bootbox.alert("Congratulation! You have launched a new campaign");
                //window.reloadpage();
            }
            else {
                bootbox.alert("@StatusMessages.SYSTEM_ERROR");
            }
        });
    }

    function DeleteLoan() {
        $.getJSON("@Url.Action("DeleteLoan")", { requestId: requestId }, function (data) {
                if (data.status == "@StatusMessages.SUCCESS") {
                    window.reloadpage();
                }
                else {
                    bootbox.alert("@StatusMessages.SYSTEM_ERROR");
            }
            });
    }

    function ShowProvisionalContract(id) {
        $('#modelBodyProvContract').empty();
        $('#modelBodyProvContract').load("/Borrower/_ProvisionalContract?requestID=" + id);

        $('#modelProvContract').modal();
    }
    function ValidUserPassword() {

        var flag = false;

        if ($("#txtmodelValidatePWPassword").val() == '') {
            $('#divmodelValidatePWError').html("Please enter password");
            $('#divmodelValidatePWError').show();

            return false;
        }

        if (PasswordValidateType == 2 && (!$('#cbDis1').is(':checked') || !$('#cbDis2').is(':checked'))) {
            $('#divmodelValidatePWError').html("Please read disclaimers and tick the check boxes to proceed.");
            $('#divmodelValidatePWError').show();

            return false;
        }

        $.ajax({
            async: false,
            url: "@Url.Action("ValidatePassword", "Shared")",
                   type: "POST",
                   dataType: "json",
                   contentType: 'application/json',
                   data: "{password:'" + $("#txtmodelValidatePWPassword").val() + "',purpose:'" + PWValidatepurpose + "'}",
                   success: function (data) {

                       if (data.status == "@StatusMessages.SUCCESS") {
                       $('#modelValidatePW').modal("hide");
                       switch (PasswordValidateType) {
                           case 0:
                               AllocateLoan(true);
                               break;
                           case 1:
                               AllocateLoan(false);
                               break;
                           case 2:
                               PublishLoan();
                               break;
                           case 3:
                               DeleteLoan();
                               break;
                           default:
                       }
                       flag = true;
                   } else if (data.status == "@StatusMessages.FAILED") {
                           $('#divmodelValidatePWError').html("@ErrorMessages.INVALID_PASSWORD");
                               $('#divmodelValidatePWError').show();
                           } else {
                               $('#modelValidatePW').modal("hide");
                               bootbox.alert("@ErrorMessages.ACCOUNT_LOCKED", function () {
                           window.location.href = "/User/Index";
                       });
                   }
               }
                });
       $("#txtmodelValidatePWPassword").val('');
       return flag;
   }

   function RefreshCurrentRequestsTable() {
       $('#divCurrentRequests').load("/Borrower/_CurrentRequests");
   }

   function RefreshTablesAfterLoanAccepted() {
       $('#divCurrentRequests').load("/Borrower/_CurrentRequests");
       $('#divOutstandingPayment').load("/Borrower/_OutstandingPayments");
       $('#divOutstandingNotes').load("/Borrower/_OutstandingNoteDetails");
   }
</script>




