﻿@using MoolahConnect.Util.ExtensionMethods
@model MoolahConnectClassLibrary.Models.ViewModels.FundingSummary


@Html.HiddenFor(model => model.LoanFunded, new { @id = "LoanFundedPercentage" })
<div class="profile_txt_inner">[@Model.LoanFunded ] % funded</div>

<div class="prof_summary">
    <div class="profile_txt_inner" style="width: 250px">No. of Unique Bidders:</div>
    <div class="profile_txt_new">[@Model.UniqueBidders ]</div>
</div>
<div class="prof_summary">
    <div class="profile_txt_inner" style="width: 250px">Highest Rate From Qualified Bids  : </div>
    <div class="profile_txt_new">[@Model.Highestrate ]</div>
</div>
<div class="prof_summary">
    <div class="profile_txt_inner" style="width: 250px">Lowest Rate From Qualified Bids : </div>
    <div class="profile_txt_new">[ @Model.Lowestrate ]</div>
</div>

<div class="prof_summary">
    <div class="profile_txt_inner" style="width: 250px">Weighted average Rate Of Qualified Bids :</div>
    <div class="profile_txt_new">[@Model.Averagerate ]</div>
</div>
<div class="prof_summary">
    <div class="profile_txt_inner" style="width: 250px">Time Left</div>
    <div class="profile_txt_new" style="width: 110px;">[@Model.days] d [ @Model.Hours] h [ @Model.minutest] m</div>
</div>
<br />
<br />
<div class="profile_txt_inner" style="width: 250px;margin-top:10px">Investor offers</div>
<br />
<div class="loanoffers" style="height: 160px; overflow-y: scroll; width: 635px;margin:5px 0 0 0 !important">
    <table>

        <tr>
            <th style="width: 1%;">Date</th>
            <th style="width: 1%;">Investor</th>
            <th style="width: 1%;">Amount</th>
            <th style="width: 1%;">Rate</th>

        </tr>
        @if (Model.offers.Count > 0)
        {


            foreach (var item in Model.offers)
            {
            <tr>

                <td style="text-align: center;">@item.OfferDate.ToDateTime()</td>
                <td style="text-align: center;">&nbsp; @item.UserName </td>
                <td style="text-align: center;" class="formatCurrency">@item.Amount.ToCurrency()</td>
                <td style="text-align: center;">@item.OfferRate %</td>
            </tr>
            }

        }
        else
        {
            <tr>
                <td colspan="4" style="border:none">No offers found yet.</td>
            </tr>
        }
    </table>
</div>
