﻿@model MoolahConnectClassLibrary.Models.ViewModels.PersonGuarantee

    <div class="fl bot_mar width100">
        <div class="wish_txt_des">Full Name As in  NRIC/ Passport </div>
        @Html.TextBoxFor(m => m.NameInNRIC, new { @class = "des_input_in", placeholder = "Name" })
        @Html.ValidationMessageFor(m => m.NameInNRIC)

    </div>
    <div class="fl bot_mar width100 clearfix">
        <div class="wish_txt_des">@Html.LabelFor(m => m.Nationality)</div>
        <select class="des_list_in valid" id="Nationalityddl" name="NationalityTitle">
            @if (Model.Nationality == "Singapore Citizen")
            {
                <option value="Singapore Citizen" selected="selected">Singapore Citizen</option>
            }
            else
            {
                if (string.IsNullOrEmpty(Model.Nationality))
                {
                    <option value="Singapore Citizen" selected="selected">Singapore Citizen</option>
                }
                else
                {
                    <option value="Singapore Citizen">Singapore Citizen</option>
                }
            }

            @if (Model.Nationality == "Singapore PR")
            {
                <option value="Singapore PR" selected="selected">Singapore PR</option>
            }
            else
            {
                <option value="Singapore PR">Singapore PR</option>
            }

            @if (Model.Nationality != "Singapore Citizen" && Model.Nationality != "Singapore PR"
                                         && !string.IsNullOrEmpty(Model.Nationality))
            {
                <option value="Other Nationalities" selected="selected">Other Nationalities</option>
            }
            else
            {
                <option value="Other Nationalities">Other Nationalities</option>
            }
        </select>&nbsp;
      
    </div>
<div class="clear"></div>
<div class="fl bot_mar width100 othernatinality">
    <div class="wish_txt_des"></div>
    @Html.TextBoxFor(m => m.Nationality, new { enclo = "ee", id = "nationality", @class = "des_input_in" })
    @Html.ValidationMessageFor(m => m.Nationality)
    <input type="text" id="nationalityTmp" />

</div>
<div class="clear"></div>
    <div class="fl bot_mar width100 removemargin">
    <div class="wish_txt_des">NRIC Number for Singapore Citizens and PR / FIN for Foreigners </div>
    @Html.TextBoxFor(m => m.NRICNo, new { @class = "des_input_in", placeholder = "NRIC Number" })
    @Html.ValidationMessageFor(m => m.NRICNo)

</div>
    <div class="clear"></div>

    <div class="fl bot_mar width100">
        <div class="wish_txt_des">Passport Number for Foreigners </div>
        @Html.TextBoxFor(m => m.PassportNo, new { @class = "des_input_in", placeholder = "Passport Number" })
        @Html.ValidationMessageFor(m => m.PassportNo)
    </div>
    <div class="clear"></div>

    <div class="fl bot_mar width100">
        <div class="wish_txt_des">Residential Address Line 1</div>
        @Html.TextBoxFor(m => m.ResidentialAddress1, new { @class = "des_input_in", placeholder = "Residential Address 1" })
        @Html.ValidationMessageFor(m => m.ResidentialAddress1)
    </div>
    <div class="clear"></div>

    <div class="fl bot_mar width100">
        <div class="wish_txt_des">Residential Address Line 2 (Optional)</div>
        @Html.TextBoxFor(m => m.ResidentialAddress2, new { @class = "des_input_in", placeholder = "Residential Address 2", @rows = "3" })
     
    </div>
    <div class="clear"></div>

    <div class="fl bot_mar width100">
        <div class="wish_txt_des">Postal Code </div>
        @Html.TextBoxFor(m => m.PostalCode, new { @class = "des_input_in", placeholder = "Postal Code" })
        @Html.ValidationMessageFor(m => m.PostalCode)
        <div class="clear"></div>
    </div>

    <div class="fl bot_mar width100">
        <div class="wish_txt_des">Telephone </div>
        @Html.TextBoxFor(m => m.Telephone, new { @class = "des_input_in", placeholder = "Telephone" })
        @Html.ValidationMessageFor(m => m.Telephone)

    </div>
    <div class="clear"></div>
    <div class="fl bot_mar width100">
        <div class="wish_txt_des">Email </div>
        @Html.TextBoxFor(m => m.Email, new { @class = "des_input_in", placeholder = "Email" })
        @Html.ValidationMessageFor(m => m.Email)

    </div>
    <div class="clear"></div>
    <div class="fl bot_mar width100">
        <div class="wish_txt_des">Relationship With Issuer</div>
        @Html.TextAreaFor(m => m.Reason, new { @class = "des_tarea small", placeholder = "Relationship With Issuer", @style = "width: 226px; height: 98px;" })
        @Html.ValidationMessageFor(m => m.Reason)

    </div>
