﻿@model MoolahConnectClassLibrary.Models.ViewModels.LoanRequestMoolahPeri
@using (Html.BeginForm("", "", FormMethod.Post, new { id = "Loanrequestmoolahperi" }))
{
    @Html.ValidationSummary(true)

    <style>
        .list-item {
            list-style-type: none;
            margin-left: -1px;
        }

        .dyc-div {
            height: 35px;
            vertical-align: middle;
        }

        .dyc-textbox {
            background: linear-gradient(to bottom, #F4F2E9 0%, #FCFBF9 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
            border: 1px solid #BBB9AF;
            border-radius: 5px;
            color: #5C5B53;
            float: left;
            font-size: 13px;
            height: 27px;
            margin: 0 15px 0 0;
            padding: 0 5px;
            width: 195px;
        }

        .dyc-img {
            padding-top: 5px;
        }
    </style>

    <div id="wish" class="no_bg">
        <div id="backgroundPopup" class="molahcoreperipopup"></div>
        <div class="clear"></div>
        <div class="fl">
            <div class="wish_new_des">Business Awards  </div>
        </div>
        <div class="clear"></div>
        <div id="BusinessAwardsDiv" class="fl">
            <div>
                <input type="text" class="des_in_left" placeholder="Top SME IN 2008">
                <input name="add" class="daterange_btn" type="button" title="Add Achievement" value="Add" onclick=" AddAchievement('BusinessAwards') " />
                @Html.HiddenFor(m => m.BusinessAwards, new { id = "BusinessAwards" })
            </div>
            <div class="clear"></div>
            <div class="control-list">
                <ul class="list-item">
                </ul>
            </div>
        </div>

        <div class="clear pad_bottom"></div>

        <div class="fl">
            <div class="wish_new_des">Accreditation or Industry Certification </div>
        </div>
        <div class="clear"></div>
        <div id="AccreditationDiv" class="fl">
            <div>
                <input type="text" class="des_in_left" placeholder="ISO, HCAAP etc">
                <input name="add" class="daterange_btn" type="button" title="Add Achievement" value="Add" onclick=" AddAchievement('Accreditation') " />
                @Html.HiddenFor(m => m.Accreditation, new { id = "Accreditation" })
            </div>
            <div class="clear"></div>
            <div class="control-list">
                <ul class="list-item">
                </ul>
            </div>
        </div>

        <div class="clear pad_bottom"></div>

        <div class="fl">
            <div class="wish_new_des">Member of Trade Association</div>
        </div>
        <div class="clear"></div>
        <div class="fl" id="MTADiv">
            <div>
                <input type="text" class="des_in_left" placeholder="ASME, SCCI">
                <input name="add" class="daterange_btn" type="button" title="Add Achievement" value="Add" onclick=" AddAchievement('MTA') " />
                @Html.HiddenFor(m => m.MTA, new { id = "MTA" })
            </div>
            <div class="clear"></div>
            <div class="control-list">
                <ul class="list-item">
                </ul>
            </div>
        </div>

        <div class="clear pad_bottom"></div>

        <div class="fl">
            <div class="wish_new_des">Social Media Footprint </div>
        </div>
        <div class="clear"></div>
        <div class="fl" id="DigitalFootPrintDiv">
            <div>
                <input type="text" class="des_in_left" placeholder="Website, Facebook etc">
                <input name="add" class="daterange_btn" type="button" title="Add Achievement" value="Add" onclick=" AddAchievement('DigitalFootPrint') " />
                @Html.HiddenFor(m => m.DigitalFootPrint, new { id = "DigitalFootPrint" })
            </div>
            <div class="clear"></div>
            <div class="control-list">
                <ul class="list-item">
                </ul>
            </div>
        </div>

        <div class="clear pad_bottom"></div>

        <div class="fl">
            <div class="wish_new_des">Community Initiatives </div>
        </div>
        <div class="clear"></div>
        <div class="fl" id="CommunityInitiativeDiv">
            <div>
                <input type="text" class="des_in_left" placeholder="Support charity etc">
                <input name="add" class="daterange_btn" type="button" title="Add Achievement" value="Add" onclick=" AddAchievement('CommunityInitiative') " />
                @Html.HiddenFor(m => m.CommunityInitiative, new { id = "CommunityInitiative" })
            </div>
            <div class="clear"></div>
            <div class="control-list">
                <ul class="list-item">
                </ul>
            </div>
        </div>

        <div class="clear pad_bottom"></div>

        <div class="fl">
            <div class="wish_new_des">
                Biodata of Directors/ Partners                
            </div>
        </div>
        <div class="clear"></div>
        <div class="fl" id="BiodataOfDSDiv">
            <div>
                @Html.TextAreaFor(m => m.BiodataOfDS, new
           {
               id = "textBiodataOfDS",
               @class = "des_tarea",
               placeholder = "Biodata of Directors/ Partners",
               onkeypress = "updateWordCountBioData();",
               onblur = "updateWordCountBioData();",
               onchange = "updateWordCountBioData();"
           })
                <br />
                <div class="word-count">Word Count: <span id="wordCountBiodData">0</span> (Max 200 words) @Html.ValidationMessageFor(m => m.BiodataOfDS) </div>
            </div>
        </div>

        <div class="clear pad_bottom"></div>

        <div class="fl">
            <div class="wish_new_des">MoolahPerks for Investors </div>
        </div>
        <div class="clear pad_bottom"></div>
        <div class="fl">
            <div class="wish_lander">
                @Html.DropDownListFor(m => m.MoolahPerk_Id, new SelectList(Model.MoolahPerk, "Value", "Text"), new { @class = "des_list_lander", id = "moolahPerkset" })

                 <div class="wish_new_des" id="divcustomeperk" style="margin-top: 1px; display: none;">
                    @*<textarea id="txtCustom"  class="des_tarea"></textarea>*@
                    @Html.TextAreaFor(m => m.MoolahPerk_Custom, new { @class = "des_tarea", placeholder = "Custom MoolahPerk", id = "txtCustom" })
                    @Html.ValidationMessageFor(m => m.MoolahPerk_Custom)
                </div>
            </div>

        </div>
        <div class="clear pad_bottom"></div>
        <div>
            <input type="button" class="wish_btn_back" onclick=" return GotoStep(2, false); " value="Back" />
            <input id="preBtn" type="button" class="wish_btn_black loan-submit-preview" value="Preview" onclick="LoadPreview()" />
            <input id="btnDraft" type="button" class="wish_btn_black" value="Save Draft" onclick="SaveDraft()" />
            <input type="button" class="wish_btn btn-next" value="Submit" onclick=" return SaveLoanRequestMoolahperi(); " />
        </div>
    </div>
    <style type="text/css">
        .control-list ul li {
            cursor: pointer;
        }
    </style>
    <script type="text/javascript">

        $(document).ready(function () {
            LoadList('BusinessAwards');
            LoadList('Accreditation');
            LoadList('MTA');
            LoadList('DigitalFootPrint');
            LoadList('CommunityInitiative');
            updateWordCountBioData()
            $("#textBiodataOfDS").rules('add', { wordLimit: 200 });
            SetMoolahPerkset();
        });

        $('#moolahPerkset').change(function () {
            SetMoolahPerkset();
        });

        function SaveDraft() {
            if ($('#Loanrequestmoolahperi').valid()) {
                $.ajax({
                    url: "/Borrower/GetCurrentRequestId",
                    type: "POST",
                    dataType: "json",
                    contentType: 'application/json',
                    data: "",
                    success: function (id) {
                        var data = $("#Loanrequestmoolahperi").serialize();
                        $.ajax({
                            url: "/Borrower/SaveLoanRequestMoolahPeriForPreview",
                            type: "POST",
                            data: data,
                            success: function (msg) {
                                if (msg == "Success") {
                                    bootbox.alert("Draft Saved Successfully.");
                                }
                            }
                        });
                    }
                });
            }
        }

        function LoadPreview() {
            $.ajax({
                url: "/Borrower/GetCurrentRequestId",
                type: "POST",
                dataType: "json",
                contentType: 'application/json',
                data: "",
                success: function (id) {
                    var data = $("#Loanrequestmoolahperi").serialize();
                    $.ajax({
                        url: "/Borrower/SaveLoanRequestMoolahPeriForPreview",
                        type: "POST",
                        data: data,
                        success: function (msg) {
                            if (msg == "Success") {
                                var url = "/Loan/MatchedLoanDetailsAsPreview?requestId=" + id;
                                window.open(url);
                            }
                        }
                    });
                }
            });
        }

        function SetMoolahPerkset() {
            var sel = $('#moolahPerkset').val();
            if (sel == 5) {
                $('#divcustomeperk').show();
            } else {
                $('#txtCustom').val("");
                $('#divcustomeperk').hide();
            }
        }
        function countWords(stringInput) {
            stringInput = stringInput.replace(/(^\s*)|(\s*$)/gi, "");
            stringInput = stringInput.replace(/[ ]{2,}/gi, " ");
            stringInput = stringInput.replace(/\n /, "\n");
            return stringInput.split(' ').length;
        }

        function updateWordCountBioData() {
            var val = $('#textBiodataOfDS').val();
            var words = val == '' ? 0 : countWords(val);
            $('#wordCountBiodData').html(words);
        }
    </script>
}