﻿@using MoolahConnect.Util.Enums
@model MoolahConnectClassLibrary.Models.ViewModels.LoanRequestMoolahCore

<script>
    $(document).ready(function () {
        $('#Turnovers_PY').autoNumeric('init', { vMin: '-999999999.99', vMax: '999999999.99' });
        $('#Turnovers_LY').autoNumeric('init', { vMin: '-999999999.99', vMax: '999999999.99' });
        $('#NetprofitafterTax_LY').autoNumeric('init', { vMin: '-999999999.99', vMax: '999999999.99' });
        $('#NetprofitafterTax_PY').autoNumeric('init', { vMin: '-999999999.99', vMax: '999999999.99' });
        $('#ProfitBeforIntAndTax_LY').autoNumeric('init', { vMin: '-999999999.99', vMax: '999999999.99' });
        $('#ProfitBeforIntAndTax_PY').autoNumeric('init', { vMin: '-999999999.99', vMax: '999999999.99' });
        $('#EBITDA_LY').autoNumeric('init', { vMin: '-999999999.99', vMax: '999999999.99' });
        $('#EBITDA_PY').autoNumeric('init', { vMin: '-999999999.99', vMax: '999999999.99' });
        $('#InterestExpense_LY').autoNumeric('init', { vMin: '-999999999.99', vMax: '999999999.99' });
        $('#InterestExpense_PY').autoNumeric('init', { vMin: '-999999999.99', vMax: '999999999.99' });
        $('#CashFlowfromOperations_LY').autoNumeric('init', { vMin: '-999999999.99', vMax: '999999999.99' });
        $('#CashFlowfromOperations_PY').autoNumeric('init', { vMin: '-999999999.99', vMax: '999999999.99' });
        $('#CurrentLiabilities_LY').autoNumeric('init', { vMin: '-999999999.99', vMax: '999999999.99' });
        $('#CurrentLiabilities_PY').autoNumeric('init', { vMin: '-999999999.99', vMax: '999999999.99' });
        $('#CurrentAssests_LY').autoNumeric('init', { vMin: '-999999999.99', vMax: '999999999.99' });
        $('#CurrentAssests_PY').autoNumeric('init', { vMin: '-999999999.99', vMax: '999999999.99' });
        $('#TotalShareholdersequity_LY').autoNumeric('init', { vMin: '-999999999.99', vMax: '999999999.99' });
        $('#TotalShareholdersequity_PY').autoNumeric('init', { vMin: '-999999999.99', vMax: '999999999.99' });
        $('#TotalDebt_LY').autoNumeric('init', { vMin: '-999999999.99', vMax: '999999999.99' });
        $('#TotalDebt_PY').autoNumeric('init', { vMin: '-999999999.99', vMax: '999999999.99' });
        $('#AvgThreeMntCashBalBankAcc_LY').autoNumeric('init', { vMin: '-999999999.99', vMax: '999999999.99'     });
        $(".datepicker").datepicker({
            changeMonth: true, changeYear: true, yearRange: 'c-100:c+5', dateFormat: 'd M yy'
        });
        $(".number").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
        });
    });

    
</script>
@using (Html.BeginForm("SaveLoanRequestMoolahCore", "Borrower", FormMethod.Post, new { id = "Loanrequestmoolahcoreedit" }))
{
    @Html.ValidationSummary(true)        
@Html.HiddenFor(a=> a.ID)
    <div id="wish" class="no_bg">
        
        <div class="fl bot_mar">
            <div class="wish_txt_des"><strong>Financial Information : </strong></div>
        </div>

        <div class="fl bot_mar">

            <div class="fl">
                <div class="wish_new_des"></div>
                <div class="wish_txt_new">Latest Financial Year</div>

                <div class="wish_txt_new">
                    Previous Financial Year
                </div>
            </div>
        </div>
        
        <div class="fl">
            <div class="wish_new_des">Year</div>
            <div class="wish_txt_new">
                @Html.TextBoxFor(m => m.LatestYear, new { @class = "des_input_in", placeholder = "Latest Year" })
                <br class="clear"/>
                @Html.ValidationMessageFor(m=>m.LatestYear)
            </div>

            <div class="wish_txt_new">
                @Html.TextBoxFor(m => m.PreviousYear, new { @class = "des_input_in", placeholder = "Previous Year" })
                <br class="clear"/>
                @Html.ValidationMessageFor(m=>m.PreviousYear)
            </div>
        </div>
        
        <div class="clear"></div>
        <div class="fl">
            <div class="wish_new_des">Turnover S$</div>
            <div class="wish_txt_new">@Html.TextBoxFor(m => m.Turnovers_LY, new { @class = "des_input_in", 
                                     @id = "Turnovers_LY", placeholder = "Turnover"}) 
                <br class="clear"/>
                @Html.ValidationMessageFor(m=>m.Turnovers_LY)</div>
            <div class="wish_txt_new">@Html.TextBoxFor(m => m.Turnovers_PY, new { @class = "des_input_in", @id = "Turnovers_PY", placeholder = "Turnover ", data_val = false }) 
                <br class="clear"/>
                @Html.ValidationMessageFor(m=>m.Turnovers_PY)</div>
        </div>
        <div class="clear"></div>
        <div class="fl">
            <div class="wish_new_des">Earnings Before Tax S$</div>
            <div class="wish_txt_new">@Html.TextBoxFor(m => m.NetprofitafterTax_LY, new { @class = "des_input_in", @id = "NetprofitafterTax_LY", placeholder = "Profit Before Tax " }) 
                <br class="clear"/>
                @Html.ValidationMessageFor(m=>m.NetprofitafterTax_LY)</div>
            <div class="wish_txt_new">@Html.TextBoxFor(m => m.NetprofitafterTax_PY, new { @class = "des_input_in", @id = "NetprofitafterTax_PY", placeholder = "Profit Before Tax ", data_val = false }) 
                <br class="clear"/>
                @Html.ValidationMessageFor(m=>m.NetprofitafterTax_PY)</div>
        </div>
        <div class="clear"></div>
        <div class="fl">
            <div class="wish_new_des">Earnings Before Interest and Tax S$</div>
            <div class="wish_txt_new">
                @Html.TextBoxFor(m => m.ProfitBeforIntAndTax_LY, 
                new { @class = "des_input_in", @id = "ProfitBeforIntAndTax_LY", 
                    placeholder = "Profit Before Interest and Tax",
                    onblur = "GetCurrentratio('ProfitBeforIntAndTax_LY','InterestExpense_LY','InterestCoverageRatio_LY')" }) 
                <br class="clear"/>
                @Html.ValidationMessageFor(m=>m.ProfitBeforIntAndTax_LY)</div>
            <div class="wish_txt_new">@Html.TextBoxFor(m => m.ProfitBeforIntAndTax_PY,
            new { @class = "des_input_in", @id = "ProfitBeforIntAndTax_PY", placeholder = "Profit Before Interest and Tax", data_val = false,onblur = "GetCurrentratio('ProfitBeforIntAndTax_PY','InterestExpense_PY','InterestCoverageRatio_PY')" }) 
                <br class="clear"/>
                @Html.ValidationMessageFor(m=>m.ProfitBeforIntAndTax_PY)</div>
        </div>
        <div class="clear"></div>
        <div class="fl">
            <div class="wish_new_des">Earnings Before Interest, Tax, Depreciation and Amortisation (EBITDA) S$</div>
            <div class="wish_txt_new">
                @Html.TextBoxFor(m => m.EBITDA_LY, 
                new { @class = "des_input_in", @id = "EBITDA_LY", 
                    placeholder = "EBITDA",
                    onblur = "GetCurrentratio('TotalDebt_LY','EBITDA_LY','DebtEBITDARatio_LY')" }) 
                <br class="clear"/>
                @Html.ValidationMessageFor(m=>m.EBITDA_LY)</div>
            <div class="wish_txt_new">@Html.TextBoxFor(m => m.EBITDA_PY,
            new { @class = "des_input_in", @id = "EBITDA_PY", placeholder = "EBITDA", data_val = false,
                onblur = "GetCurrentratio('TotalDebt_PY','EBITDA_PY','DebtEBITDARatio_PY')" }) 
                <br class="clear"/>
                @Html.ValidationMessageFor(m=>m.EBITDA_PY)</div>
        </div>
        <div class="clear"></div>
        <div class="fl">
            <div class="wish_new_des">Interest Expense S$</div>
            <div class="wish_txt_new">@Html.TextBoxFor(m => m.InterestExpense_LY, new { @class = "des_input_in", @id = "InterestExpense_LY", placeholder = "Interest Expense", onblur = "GetCurrentratio('ProfitBeforIntAndTax_LY','InterestExpense_LY','InterestCoverageRatio_LY')"}) 
                <br class="clear"/>
                @Html.ValidationMessageFor(m=>m.InterestExpense_LY)</div>
            <div class="wish_txt_new">@Html.TextBoxFor(m => m.InterestExpense_PY, new { @class = "des_input_in", @id = "InterestExpense_PY", placeholder = "Interest Expense", data_val = false,onblur = "GetCurrentratio('ProfitBeforIntAndTax_PY','InterestExpense_PY','InterestCoverageRatio_PY')" }) 
                <br class="clear"/>
                @Html.ValidationMessageFor(m=>m.InterestExpense_PY)</div>
        </div>
        <div class="clear"></div>
        <div class="fl">
            <div class="wish_new_des">Interest Coverage Ratio S$</div>
            <div class="wish_txt_new">@Html.TextBoxFor(m => m.InterestCoverageRatio_LY, new { @class = "des_input_in", @id = "InterestCoverageRatio_LY", placeholder = "Interest Coverage Ratio", data_val = false, @readonly= "readonly" })  
                <br class="clear"/>
                @Html.ValidationMessageFor(m=>m.InterestCoverageRatio_LY)</div>
            <div class="wish_txt_new">@Html.TextBoxFor(m => m.InterestCoverageRatio_PY, new { @class = "des_input_in", @id = "InterestCoverageRatio_PY", placeholder = "Interest Coverage Ratio", data_val = false,@readonly = "readonly"  })  
                <br class="clear"/>
                @Html.ValidationMessageFor(m=>m.InterestCoverageRatio_PY)</div>
        </div>
        <div class="clear"></div>
        <div class="fl">
            <div class="wish_new_des">Current Assets S$</div>
            <div class="wish_txt_new">@Html.TextBoxFor(m => m.CurrentAssests_LY, new { @class = "des_input_in", @id = "CurrentAssests_LY", placeholder = "Current Assets ", onblur = "GetCurrentratio('CurrentAssests_LY','CurrentLiabilities_LY','CurrentRatio_LY')" })  
                <br class="clear"/>
                @Html.ValidationMessageFor(m=>m.CurrentAssests_LY)</div>
            <div class="wish_txt_new">@Html.TextBoxFor(m => m.CurrentAssests_PY, new { @class = "des_input_in", @id = "CurrentAssests_PY", placeholder = "Current Assets ", data_val = false, onblur = "GetCurrentratio('CurrentAssests_PY','CurrentLiabilities_PY','CurrentRatio_PY')" })  
                <br class="clear"/>
                @Html.ValidationMessageFor(m=>m.CurrentAssests_PY)</div>
        </div>
        <div class="clear"></div>
        <div class="fl">
            <div class="wish_new_des">Current Liabilities S$</div>
            <div class="wish_txt_new">@Html.TextBoxFor(m => m.CurrentLiabilities_LY, new { @class = "des_input_in", @id = "CurrentLiabilities_LY", onblur = "GetCurrentratio('CurrentAssests_LY','CurrentLiabilities_LY','CurrentRatio_LY')", placeholder = "Current Liabilities " })  
                <br class="clear"/>
                @Html.ValidationMessageFor(m=>m.CurrentLiabilities_LY)</div>
            <div class="wish_txt_new">@Html.TextBoxFor(m => m.CurrentLiabilities_PY, new { @class = "des_input_in", @id = "CurrentLiabilities_PY", data_val = false, onblur = "GetCurrentratio('CurrentAssests_PY','CurrentLiabilities_PY','CurrentRatio_PY')", placeholder = "Current Liabilities " })  
                <br class="clear"/>
                @Html.ValidationMessageFor(m=>m.CurrentLiabilities_PY)</div>
        </div>
        <div class="clear"></div>
        <div class="fl">
            <div class="wish_new_des">Current Ratio</div>
            <div class="wish_txt_new">@Html.TextBoxFor(m => m.CurrentRatio_LY, new { @class = "des_input_in", @id = "CurrentRatio_LY", placeholder = "Current Ratio ", @readonly = "readonly" })  
                <br class="clear"/>
                @Html.ValidationMessageFor(m=>m.CurrentRatio_LY)</div>
            <div class="wish_txt_new">@Html.TextBoxFor(m => m.CurrentRatio_PY, new { @class = "des_input_in", @id = "CurrentRatio_PY", placeholder = "Current Ratio ", @readonly = "readonly" })  
                <br class="clear"/>
                @Html.ValidationMessageFor(m=>m.CurrentRatio_PY)</div>
        </div>
        <div class="clear"></div>
        <div class="fl">
            <div class="fl">
                <div class="wish_new_des">Total Shareholders Equity S$</div>
                <div class="wish_txt_new">@Html.TextBoxFor(m => m.TotalShareholdersequity_LY, new { @class = "des_input_in", @id = "TotalShareholdersequity_LY", onblur = "GetDebtEquity('TotalDebt_LY','TotalShareholdersequity_LY','Debt_Equity_LY', 'Debt_Equity_LY_Hdn')", placeholder = "Total Shareholders Equity " }) 
                <br class="clear"/>
                @Html.ValidationMessageFor(m=>m.TotalShareholdersequity_LY)</div>
                <div class="wish_txt_new">@Html.TextBoxFor(m => m.TotalShareholdersequity_PY, new { @class = "des_input_in", @id = "TotalShareholdersequity_PY", data_val = false, onblur = "GetDebtEquity('TotalDebt_PY','TotalShareholdersequity_PY','Debt_Equity_PY', 'Debt_Equity_PY_Hdn')", placeholder = "Total Shareholders Equity " })
                <br class="clear"/>
                @Html.ValidationMessageFor(m=>m.TotalShareholdersequity_PY)</div>
            </div>

        </div>
        <div class="clear"></div>
        <div class="wish_new_des">Total Debt S$</div>
        <div class="wish_txt_new">@Html.TextBoxFor(m => m.TotalDebt_LY, new { @class = "des_input_in", @id = "TotalDebt_LY",
                                 onblur = "TotalDebtLYOnChange();", placeholder = "Total Debt " }) 
                <br class="clear"/>
                @Html.ValidationMessageFor(m=>m.TotalDebt_LY)</div>
        <div class="wish_txt_new">@Html.TextBoxFor(m => m.TotalDebt_PY, new { @class = "des_input_in", @id = "TotalDebt_PY",
                                 data_val = false, onblur = "TotalDebtPYOnChange();", placeholder = "Total Debt " })  
                <br class="clear"/>
                @Html.ValidationMessageFor(m=>m.TotalDebt_PY)</div>
        <div class="clear"></div>
        <div class="fl">
            <div class="wish_new_des">Debt/Equity Ratio </div>
            <div class="wish_txt_new">
                <input type="text" id="Debt_Equity_LY" value="@Model.Debt_Equity_LY" placeholder="Debt/ Equity" class="des_input_in" readonly="readonly"/>
                @Html.HiddenFor(m => m.Debt_Equity_LY, new { @id = "Debt_Equity_LY_Hdn"}) 
                <br class="clear"/>
                @Html.ValidationMessageFor(m=>m.Debt_Equity_LY)
            </div>
            <div class="wish_txt_new">
                <input type="text" id="Debt_Equity_PY" value="@Model.Debt_Equity_PY" placeholder="Debt/ Equity" class="des_input_in" readonly="readonly"/>
                @Html.HiddenFor(m => m.Debt_Equity_PY, new { @id = "Debt_Equity_PY_Hdn" }) 
                <br class="clear"/>
                @Html.ValidationMessageFor(m=>m.Debt_Equity_PY)
            </div>
        </div>
        <div class="clear"></div>
         <div class="fl">
            <div class="wish_new_des">Debt/EBITDA Ratio </div>
            <div class="wish_txt_new">
                <input type="text" id="DebtEBITDARatio_LY" value="@Model.DebtEBITDARatio_LY" placeholder="Debt/ EBITDA" class="des_input_in" readonly="readonly"/>
                @Html.HiddenFor(m => m.DebtEBITDARatio_LY, new { @id = "DebtEBITDARatio_LY_Hdn"}) 
            </div>
            <div class="wish_txt_new">
                <input type="text" id="DebtEBITDARatio_PY" value="@Model.DebtEBITDARatio_PY" placeholder="Debt/ EBITDA" class="des_input_in" readonly="readonly"/>
                @Html.HiddenFor(m => m.DebtEBITDARatio_PY, new { @id = "DebtEBITDARatio_PY_Hdn"}) 
            </div>
        </div>
        <div class="clear"></div>
        <div class="fl">
            <div class="wish_new_des">Cash Flow From Operations S$</div>
            <div class="wish_txt_new">@Html.TextBoxFor(m => m.CashFlowfromOperations_LY, new { @class = "des_input_in", @id = "CashFlowfromOperations_LY", placeholder = "Cash Flow From Operations" }) 
                <br class="clear"/>
                @Html.ValidationMessageFor(m=>m.CashFlowfromOperations_LY)</div>
            <div class="wish_txt_new">@Html.TextBoxFor(m => m.CashFlowfromOperations_PY, new { @class = "des_input_in", @id = "CashFlowfromOperations_PY", placeholder = "Cash Flow From Operations", data_val = false }) 
                <br class="clear"/>
                @Html.ValidationMessageFor(m=>m.CashFlowfromOperations_PY)</div>
        </div>
        <div class="clear"></div>
        <div class="fl">
            <div class="wish_new_des">Average Cash Balance(3 Months)</div>
            <div class="wish_txt_new">@Html.TextBoxFor(m => m.AvgThreeMntCashBalBankAcc_LY, new { @class = "des_input_in", @id = "AvgThreeMntCashBalBankAcc_LY", placeholder = "Cash Balance" }) 
                <br class="clear"/>
                @Html.ValidationMessageFor(m=>m.AvgThreeMntCashBalBankAcc_LY)</div>
            <div class="wish_txt_new"></div>
            
        </div> 
        <div class="clear"></div>
        <div class="fl">
            <div class="wish_new_des">Outstanding Litigation </div>
            <div class="wish_txt_new">
                @Html.DropDownListFor(m => m.IsoutstandingLitigation, new SelectList(new List<Object>{
                 new { value =false , text = "No" },       
                new { value = true , text = "Yes"  }
                     
                       },
                  "value",
                  "text",
                   Model.IsoutstandingLitigation), new { id = "drpIslegitatins", @class = "des_new_list" })@*, onchange = "getLetigationdivHide()"*@
            </div>
            
        </div>
        <div class="clear" style="height: 10px;"></div>
        <div class="fl">
            <div class="wish_new_des">&nbsp</div>
            <div class="wish_txt_new">
                &nbsp
            </div>
            <div class="wish_txt_new">
                <input type="button" class="wish_btn_back" onclick="return GotoStep(1,false);" value="Back" />
                <input id="saveloanDescriptionDraft" type="button" name="" onclick="return SaveLoanRequestMoolahcoreJson(false);" class="wish_btn_black next-btn" value="Save Draft" />
                <input type="button" class="wish_btn" onclick="return SaveLoanRequestMoolahcoreJson(true);" value="Next" />
            </div>
        </div>
        <div class="clear"></div>

        <div id="dvtblOverDraft" class="dash_in_right" style="display: none;">
            <h6 style="margin: -20px 0 0 -130px; float: left;">Over Draft Facility</h6>
            <table id="tblOverDraft" style="margin: 0 0 0 -128px; float: left;" width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr class="bg_col">
                    <td class="bdr_bottom bdr_left">Amount Outstanding</td>
                    <td class="bdr_bottom">Credit Limit</td>
                    <td class="bdr_bottom">Usage </td>
                    <td class="bdr_bottom">Renewal Date</td>
                    <td class="bdr_bottom">Delete</td>
                </tr>
            </table>
        </div>
        <div class="clear"></div>
        <div id="dvtblFactoring" class="dash_in_right" style="display: none;">
            <h6 style="margin: -20px 0 0 -130px; float: left;">Factoring Discount</h6>
            <table id="tblFactoring" style="margin: 0 0 0 -128px; float: left;" width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr class="bg_col">
                    <td class="bdr_bottom bdr_left">Amount Outstanding</td>
                    <td class="bdr_bottom">Credit Limit</td>
                    <td class="bdr_bottom">Usage </td>
                    <td class="bdr_bottom">Renewal Date</td>
                    <td class="bdr_bottom">Delete</td>
                </tr>
            </table>
        </div>


        <div class="clear"></div>
        <div id="dvtblLoan" class="dash_in_right" style="display: none;">
            <h6 style="margin: -20px 0 0 -130px; float: left;">Unsecured Loan(s) </h6>
            <table id="tblLoan" width="100%" style="margin: 0 0 0 -128px; float: left;" border="0" cellspacing="0" cellpadding="0">
                <tr class="bg_col">
                    <td class="bdr_bottom bdr_left">Amount Outstanding</td>
                    <td class="bdr_bottom">Repayment Amount</td>
                    <td class="bdr_bottom">Repayment Period </td>
                    <td class="bdr_bottom">Last Repayment</td>

                    <td class="bdr_bottom">Delete</td>
                </tr>
            </table>
        </div>
        <div id="dvtblLoanSe" class="dash_in_right" style="display: none;">
            <h6 style="margin: -20px 0 0 -130px; float: left;">Secured Loan(s)</h6>
            <table id="tblLoanSe" width="100%" style="margin: 0 0 0 -128px; float: left;" border="0" cellspacing="0" cellpadding="0">
                <tr class="bg_col">
                    <td class="bdr_bottom bdr_left">Amount Outstanding</td>
                    <td class="bdr_bottom">Repayment Amount</td>
                    <td class="bdr_bottom">Repayment Period </td>
                    <td class="bdr_bottom">Last Repayment</td>
                    <td class="bdr_bottom">Asset Description</td>
                    <td class="bdr_bottom">Delete</td>
                </tr>
            </table>
        </div>
        <div class="clear"></div>
        <div id="dvtblTrade" class="dash_in_right" style="display: none;">
            <h6 style="margin: -20px 0 0 -130px; float: left;">Trade Creditors</h6>
            <table id="tblTrade" width="100%" style="margin: 0 0 0 -128px; float: left;" border="0" cellspacing="0" cellpadding="0">
                <tr class="bg_col">
                    <td class="bdr_bottom bdr_left">Amount Outstanding</td>
                    <td class="bdr_bottom">Payment Terms</td>
                    <td class="bdr_bottom">Delete</td>
                </tr>
            </table>
        </div>
        <div class="clear"></div>

    </div>
}

