﻿@model MoolahConnectClassLibrary.Models.ViewModels.Dashboard

<div id="wish" class="no_bg">
    <div class="wish_txt_in min_width">
        <h4>Monthly Repayment</h4>
        <p>
            To make your monthly repayment via a bank transfer, please use the following details to make a payment into our account. A standing instruction should be setup to avoid late repayment.
            <br />
            <br />
            Beneficiary bank details (pay to)
            <br />
        </p>
        <table>
            <tr>
                <td>Beneficiary's Name</td>
                <td>&nbsp;:&nbsp;</td>
                <td>MoolahSense Private Limited</td>
            </tr>
            <tr>
                <td>Beneficiary's A/C</td>
                <td>&nbsp;:&nbsp;</td>
                <td>686249095001</td>
            </tr>
            <tr>
                <td>Bank name</td>
                <td>&nbsp;:&nbsp;</td>
                <td>OCBC Bank</td>
            </tr>
            <tr>
                <td>Account type</td>
                <td>&nbsp;:&nbsp;</td>
                <td>OCBC Current</td>
            </tr>
            <tr>
                <td>Bank code</td>
                <td>&nbsp;:&nbsp;</td>
                <td>7339</td>
            </tr>
            <tr>
                <td>Branch code</td>
                <td>&nbsp;:&nbsp;</td>
                <td>686</td>
            </tr>
        </table>
        <p>
            <br />
            <b>Important Notes:</b>
            <br />
        </p>
        <ul>
            <li><b> Please quote your Note ID, MoolahSense Account ID as reference, e.g. BRWxxxxxx and/or full company name. Without which, we will not be able to apply the funds.</b>
            </li>
            <br />
            <li>Please ensure that the remitting bank account is the account registered with the MoolahSense.
            </li>
            <br />
            <li>We do not accept payments in cash or cheque.
            </li>
            <br />
            <li>
                <b>Please note that monies placed in the MoolahSense Account are not, and shall not be, deposits as defined under the Banking Act (Cap. 19) of Singapore.</b>
            </li>
            <br />
        </ul>
        <br />
        <p>
            <b>Note: Please make the monthly repayment on time to avoid late interest charges</b><br />
            <br />
            <b>Late Payment Fee and Interest Rate</b>
            <br />
            <br />
            Late Payment Fee: Minimum S$200 or 1% of arrears
            <br />
            <br />
            Late Payment Interest Rate: 24% (Daily rest on monthly repayment)
            <br />
            <br />
            For any queries, please email admin@moolahsense.com
        </p>
    </div>
</div>
