﻿@using MoolahConnect.Util.Enums
@using MoolahConnect.Util
@using MoolahConnectClassLibrary.Models.ViewModels
@model MoolahConnectClassLibrary.Models.ViewModels.LoanRequestDescription


<script src="~/Scripts/Customjs/CustomValidator.js"></script>


<style type="text/css">
    .des_box_popup {
        margin: -120px 0 0 776px !important;
    }

    .des_tarea.address {
        height: 60px;
    }

    .des_tarea.small {
        width: 350px;
    }

    .wish_txt_des_container {
        line-height: 29px;
    }

    .width100 {
        width: 100%;
    }

    .guaranteeTable tbody tr {
        height: 10px;
    }

    .table th, .table td {
        border: none;
    border-right: 1px solid #555555;
     color: #333333;
        font-family: "Roboto",sans-serif;
  }

    .guaranteeTable {
        background-color: transparent;
        text-shadow: none;
       width: 75%;
    }

    .guaranteeTable thead td {
       background: none repeat scroll 0 0 #ffbe3a !important;
        font-weight: 600;
        padding: 6px; 
    }

   .guaranteeTable tbody tr:nth-child(2n+1) {
    background-color: #f6edd4;
}

    .guaranteeTable tbody td {
        padding: 6px;
        font-size: 12px;
        font-weight: 500;
    }

    .table-bordered {
        border: 1px solid #555555;
        border-right: none;
    }

    .deleteg {
        margin-left: 8px;
    }

    .modal-body {
        max-height: 400px;
    }

            .modal-body .field-validation-error {
                float: left;
                margin-left: 220px;
            }

    textarea {
        margin-bottom: 0px;
    }
    
    .removemargin span {
        margin: -13px 0 0;
    }
</style>

<div class="modal fade" id="guaranteeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Guarantor Details</h4>
            </div>
            <div class="modal-body">
                <form id="frmguarantee" action="#">
                    @Html.Partial("_Guarantees", new PersonGuarantee())
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary addGuarantee">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@using (Html.BeginForm("SaveLoanRequestdescription", "Borrower", FormMethod.Post, new { id = "Loanrequestdesc" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.LoanImages, new { id = "hdnloanimages" })
    @Html.HiddenFor(m => m.LoanDocs, new { id = "hdnloandocs" })
    @Html.HiddenFor(m => m.LoanLogo, new { id = "hdnlogoimage" })
    @Html.HiddenFor(m => m.RequestId, new { id = "hdnRequestId" })


    
    <div id="wish" class="no_bg">
        <div class="wish_txt_in">
            <h4>New Request <span></span></h4>
        </div>
        <div class="clear"></div>

        <div class="fl bot_mar width100">
            <div class="wish_txt_des">Account No </div>
            <div class="wish_txt_des">@Model.Accountnumber</div>
        </div>
        <div class="clear"></div>
        <div class="fl bot_mar width100">
            <div class="wish_txt_des">Amount S$   </div>
            @Html.TextBoxFor(m => m.Amount, new
       {
           @class = "des_input",
           placeholder = "S$100,000 ",
           onblur = "Getquickindicationsforpayment()"
           ,
           Value = String.Format("{0:N}", Model.Amount)
       })
            @Html.ValidationMessageFor(m => m.Amount)

            <div class="mcol"><span id="amountcheck" style="color: red;"></span></div>
        </div>
        <div class="clear"></div>
        <div class="fl bot_mar width100">
            <div class="wish_txt_des">Tenor </div>
            <div class="wish_txt_des" style="width: 187px;">
                <ul>
                    @foreach (int gMonth in GlobalVar.gTenure)
                    {
                        <li>
                            @Html.RadioButtonFor(m => m.Term, gMonth.ToString(), new { id = "radioTerm" + gMonth.ToString(), @checked = true, onchange = "Getquickindicationsforpayment()" })

                            <span class="txt">@gMonth months </span>
                        </li>
                    }


                    <!--
                    <li>
                        @Html.RadioButtonFor(m => m.Term, "24", new { id = "radioTerm24", onchange = "Getquickindicationsforpayment()" })

                        <span class="txt">24 months </span>
                    </li>
                    <li>
                        @Html.RadioButtonFor(m => m.Term, "36", new { id = "radioTerm36", onchange = "Getquickindicationsforpayment()" })

                        <span class="txt">36 months </span>
                    </li>
                    -->
                </ul>
            </div>

            <div class="des_box_popup" id="quickpaymentindication" style="display: none;">
                <p>
                    <span><b>Quick Indication</b></span>
                    <br>
                    Monthly Repayment =S$<span id="monthlypayment"></span>
                    <br>
                    <span>Total Repayment</span> = S$<span id="totalpayment"></span>
                    <br>
                    Total Interest Payable = S$<span id="totalInt"></span>
                    <br>
                    <span>MoolahSense Fees</span> = S$<span id="MCFees"></span>
                </p>
            </div>

            <div style="position: absolute; margin: 55px 0 0 805px !important">
                <label id="docsAndPrc" style="color: #67A308; cursor: pointer; text-decoration: underline;">
                    <b>Important! : Documents and Procedure</b>
                </label>
            </div>
        </div>
        <div class="clear"></div>
        <div class="fl bot_mar width100">
            <div class="wish_txt_des">Target Rate </div>
            <div class="wish_txt_des wish_txt_des_container" style="width: 150px; margin: 0;">
                @Html.TextBoxFor(m => m.Rate, new { name = "Rate", @class = "des_input", placeholder = "xx.xx", onblur = "Getquickindicationsforpayment()" })
                @Html.ValidationMessageFor(m => m.Rate)
                <span style="margin-left: -10px;">% p.a.</span>
            </div>
            <div class="wish_txt_des" style="width: 155px; margin-left: 20px;">Target Effective Rate </div>
            <div class="wish_txt_des wish_txt_des_container" style="width: 150px; margin: 0;">
                <input id="txtTargetEIR" type="text" placeholder="0" class="des_input" disabled="disabled" />
                <span style="margin-left: -10px;">% p.a.</span>
            </div>
        </div>
        <div class="clear"></div>

        <div class="fl bot_mar width100 clearfix">
            <div class="wish_txt_des">
                Headline
                <br />
                (Max 20 words)
            </div>
            <div class="fl clearfix bot_mar">
                @Html.TextAreaFor(m => m.Headline, new { @class = "des_tarea", placeholder = "Headline" })

            </div>
            @Html.ValidationMessageFor(m => m.Headline)

        </div>
        <div class="fl bot_mar width100 clearfix">
            <div class="wish_txt_des">
            </div>
            <div class="word-count">Word Count: <span id="wordCountHeadline">0</span></div>
        </div>

        <div class="fl bot_mar width100 clearfix">
            <div class="wish_txt_des">
                Summary Company Profile
                <br />
                (Max 150 words)
            </div>
            <div class="fl clearfix bot_mar">
                @Html.TextAreaFor(m => m.SummaryCompanyPro, new { @class = "des_tarea", placeholder = "Summary Company Profile" })

            </div>
            @Html.ValidationMessageFor(m => m.SummaryCompanyPro)

        </div>
        <div class="fl bot_mar width100 clearfix">
            <div class="wish_txt_des">
            </div>
            <div class="word-count">Word Count: <span id="wordCount">0</span></div>
        </div>
        <div class="fl bot_mar width100 clearfix">
            <div class="wish_txt_des">
                Detailed Company Profile  <span class="customicon-bulb tip" data-title="Help" data-content="A mini pitch for investors to know your company" data-trigger="hover" />
            </div>
            @Html.TextAreaFor(m => m.DetailedCompanyPro, new { @class = "des_tarea", placeholder = "Detailed Company Profile" })
            @Html.ValidationMessageFor(m => m.DetailedCompanyPro)

        </div>

        <div class="fl bot_mar width100 clearfix">
            <div class="wish_txt_des">Number of Employees </div>
            @Html.TextBoxFor(m => m.NumberOfEmployees, new { @class = "des_input_small", placeholder = "Number of Employees" })
        </div>

        <div class="fl bot_mar width100">
            <div class="wish_txt_des">Purpose</div>
            @Html.DropDownListFor(m => m.LoanPurposeId, new SelectList(Model.LoanpurposeList, "LoanPurposeId", "PurposeName"), new { @class = "des_list_in" })
        </div>

        <div class="fl bot_mar width100 clearfix">
            <div class="wish_txt_des">
                Please provide more details  <span class="customicon-bulb tip" data-title="Help" data-content="Provide more details on why your company needs additional funds" data-trigger="hover" />
            </div>
            @Html.TextAreaFor(m => m.LoanPurposeDescription, new { @id = "LoanPurposeDescription", @class = "des_tarea", placeholder = "Details" })
            @Html.ValidationMessageFor(m => m.LoanPurposeDescription)

        </div>


        <div class="clear"></div>
        <br />
        <div class="request_upload_div">
            @MoolahConnectHelper.UploadRegistrationDocuments("vid", "Video Files", HttpContext.Current.User.Identity.Name, FileType.LoanVideo.ToString(), "video/mp4", Model.RequestId)
        </div>
        <div class="clear"></div>
        <br />
        <div class="request_upload_div">
            @MoolahConnectHelper.UploadRegistrationDocuments("phot", "Photos", HttpContext.Current.User.Identity.Name, FileType.LoanPhoto.ToString(), "image/*", Model.RequestId)
        </div>
        <div class="clear"></div>
        <br />
        <div class="request_upload_div">
            @MoolahConnectHelper.UploadRegistrationDocuments("doc1", "Documents", HttpContext.Current.User.Identity.Name, FileType.LoanDocuments.ToString(), "false", Model.RequestId)
        </div>
        <div class="clear"></div>
        <br />
        <div class="request_upload_div">
            @MoolahConnectHelper.UploadRegistrationDocuments("cover", "Cover Photo (Size : 140 * 140 pixels)", HttpContext.Current.User.Identity.Name, FileType.LoanCover.ToString(), "image/*", Model.RequestId, "false")
        </div>
        <div class="clear"></div>
        <br />
        <div class="request_upload_div">
            <span>
                <b style="font-size: 14px">YOUTUBE LINKS</b>&nbsp
                <span id="help" class="customicon-bulb tip" style="margin-right: 2%;" data-title="Help" data-content="@Html.Partial("_YouTubeLinkHelp")" data-trigger="hover" />
            </span>
            <br />
            <br />
            @MoolahConnectHelper.UploadYouTubeLinks(HttpContext.Current.User.Identity.Name, Model.RequestId)
        </div>
        <div class="clear"></div>
        <br />
        <div class="request_upload_div">
            @MoolahConnectHelper.UploadRegistrationDocuments("doc2", "Documents for Admin Review", HttpContext.Current.User.Identity.Name, FileType.LoanAdminDocuments.ToString(), "false", Model.RequestId)
        </div>
        <div class="clear"></div>
        <br />
        <div class="fl bot_mar width100">
            <div class="wish_txt_des">Personal Guarantee </div>
            @Html.DropDownList("IspersonalGuarantee", Model._IspersonalGuarantee, new { @class = "des_list_small" })
        </div>
        <div class="clear"></div>
        <br />
        <input type="button" class="btn addGuatantee" value="Add Guarantor" />
        <div id="personalguaranteeinfo">
            <table class="table table-bordered guaranteeTable" style="width:500px">
                <thead>
                    <tr>
                        <td class="bdr_bottom bdr_left" style="width: 50px">No</td>
                        <td class="bdr_bottom " style="width: 200px">Full Name</td>
                        @*<td>Nationality</td>
                        <td>NRIC</td>
                        <td >Address</td>*@
                        <td style="width: 100px"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr></tr>
                </tbody>
            </table>
           
           <div class="clear"></div>
            <br />
            <div>
                <b><u>Guarantor's Supporting Documents</u></b>
                <br />
                <br />
                <div style="float: right;">
                    <div style="float: left; position: absolute; left: 900px;">
                        <a href="@Url.Action("DownloadFileFromFileName", "Shared", new { filePath = "MSense - Personal Guarantee.pdf" })">
                            <input type="text" style="cursor: pointer" readonly="true" class="print_form" value="Print Personal Guarantee Agreement" />
                        </a>
                    </div>
                </div>
                1)	Proof of residential address, dated within the last six months Provide a photocopy of any one of the following documents:
                <br />
                <br />
                &nbsp&nbsp -	Bank statement<br />
                &nbsp&nbsp -	Credit Card Statement<br />
                &nbsp&nbsp -	Utility bill<br />
                &nbsp&nbsp -	Rental agreement<br />
                &nbsp&nbsp -	Singapore government/government agency correspondence (IRAS/CPF/CDP/SAF)<br />
                <br />
                2)	Proof of Identity (Only Singapore Citizen or PR are allowed to be guarantor)
                <br />
                <br />
                &nbsp&nbsp&nbsp&nbsp <b>Singaporean and Permanent Residents (PR)</b>
                <br />
                <br />
                &nbsp&nbsp&nbsp&nbsp-	Photocopy of front and back of Identity Card
                <br />
                <br />
                3)	Most Recent Income Tax Notice of Assessment of guarantor
                <br />
                <br />
                4)	Purchase a copy of the <a href="http://www.questnet.sg" target="_blank">DP Complete Litigation Check – Individual (PLIT)</a>
                <br />
                <br />
                5)	Purchase a copy of the <a href="http://www.creditbureau.com.sg/buy-my-credit-report" target="_blank">Consumer Credit Report</a>
                <br />
                <br />
                <b><u>Procedure</u></b>
                <br />
                <br />
                1)	Review the Personal Guarantee Agreement
                <br />
                2)	Prepare all the Guarantor Supporting Documents
                <br />
                3)	Upload onto <b>GUARANTOR SUPPORTING DOCUMENTS </b>
                <br />
                4)	Fill in all the required fields in under Personal Guarantee Section
                <br />
                5)	Submit the application for new request<br />
                6)	You will receive an email from MoolahSense once the application has been processed<br />
                7)	The guarantor will be required to sign the <b>Personal Guarantee Agreement </b>once the note is matched


                <br />
                <br />
            </div>
            <div class="request_upload_div">
                @MoolahConnectHelper.UploadRegistrationDocuments("gurantor", "Guarantor's supporting Documents", HttpContext.Current.User.Identity.Name, FileType.GurantorDetails.ToString(), "false", Model.RequestId)
            </div>
            <div class="clear"></div>
            <br />
            <div class="fl bot_mar width100">
            </div>
            <div class="clear"></div>
        </div>
        <div class="fl bot_mar width100">
            <div class="wish_txt_des">&nbsp</div>
            <input id="saveloanDescriptionDraft" type="button" name="" class="wish_btn_black loan-des-back-next" value="Save Draft" />
            <input id="saveloanDescription" type="button" name="" class="wish_btn" value="Next" />
        </div>
    </div>
}

<div id="impData" style="display: none;">
    <h4>New Note Request - Additional Supporting Documents </h4>
    <br />
    <br />
    <p>1) Proof of local trading address, dated within the last six months. Compulsory if the previous information was submitted more than 6 months ago.</p>
    <br />
    <p>Provide a photocopy of any one of the following documents:</p>
    <ul>
        <li>Bank statement</li>
        <li>Credit Card Statement</li>
        <li>Utility bill</li>
        <li>Rental agreement</li>
        <li>Singapore government/government agency correspondence (IRAS/CPF)</li>
    </ul>
    <br />
    <p>2)	Latest Financial Statements (Preferably 2 years of audited statements). Compulsory if there is a new set of financial statements since previous submission.</p>
    <br />
    <p>3)	Latest 3 months bank statement from registered bank account to verify cash balance.</p>
    <p>Procedure</p>
    <ul style="list-style: none;">
        <li>
            1)	Prepare all the Additional Supporting Documents
        </li>
        <li>
            2)	Upload onto <b><u>DOCUMENTS FOR ADMIN REVIEW</u></b> the required <b>Additional Supporting Documents</b>
        </li>
        <li>
            3)	Upload your videos, documents, photos, cover photo and YouTube links for Investors’ view
        </li>
        <li>
            4)	Fill in all the required fields in Description, MoolahCore and MoolahPeri Tab
        </li>
        <li>
            5)	Submit the application for new request
        </li>
        <li>
            6)	You will receive an email from MoolahSense once the application has been processed
        </li>
        <li>
            7) Please note that there will be a one-time processing fee of S$150. Please see
            <a href="http://www.moolahsense.com/faq" target="_blank">What fees do MoolahSense charge?</a> under FAQ
        </li>
    </ul>
</div>

<script type="text/javascript">

    var PersonGuarantees = [];
    PersonGuarantees = @Html.Raw(Json.Encode(Model.PersonGuarantees));
    if (PersonGuarantees == null)
        PersonGuarantees = [];
    var $nameasinNRICPassport = $("#NameInNRIC");
    var $nationality = $("#Nationalityddl");
    var $nricNumber = $("#NRICNo");
    var $passportNumber = $("#PassportNo");
    var $residentialaddress1 = $("#ResidentialAddress1");
    var $residentialaddress2 = $("#ResidentialAddress2");
    var $postalcode = $("#PostalCode");
    var $telephone = $("#Telephone");
    var $Reasons = $("#Reason");
    var $email = $("#Email");
    var $guaranteeModal = $("#guaranteeModal");
    var $guaranteeform = $("#frmguarantee");
    var selectedGuarantee = null;

    $(".addGuatantee").bind("click", function () {
        refresGuaranteeForm();
        clearGuarantee();
        $guaranteeModal.modal();
    });
    $(".addGuarantee").bind("click", function () {
       
        // if ($(".input-validation-error",$guaranteeModal).length > 0) return;
        //if ($nameasinNRICPassport.val() == "")
        //  return;
     
        if($guaranteeform.valid()) {
           
            if (selectedGuarantee == null) addNewGuarantee();
            else updateGuarantee();

            updateTable();
            clearGuarantee();
            $guaranteeModal.modal("hide");
        }
    });
    $(".editg").live("click", function () {
        refresGuaranteeForm();
        _id = $(this).parent().parent().attr("data-id");
        selectedGuarantee = getGuarantee(eval(_id));
        editGuarantee(selectedGuarantee);
    });
    $(".deleteg").live("click", function () {
        _id = $(this).parent().parent().attr("data-id");
        deleteGuarantee(eval(_id));
        updateTable();
    });

    $nationality.change(function() {
        $guaranteeform.validate().element($passportNumber);
        $guaranteeform.validate().element($('#nationality'));
    });
   
    resetGuaranteeIDs();
    updateTable();
    function addNewGuarantee() {
        var dd = $guaranteeModal.validate();
        var PersonGuarantee = {
            id: 0,
            NameInNRIC: $nameasinNRICPassport.val(),
            Nationality: $nationalitytxt.val(),
            NRICNo: $nricNumber.val(),
            PassportNo: $passportNumber.val(),
            ResidentialAddress1: $residentialaddress1.val(),
            ResidentialAddress2: $residentialaddress2.val(),
            PostalCode: $postalcode.val(),
            Telephone: $telephone.val(),
            Reason: $Reasons.val(),
            Email: $email.val(),
            RowIndex: getNextGuaranteeId(),
            State:'New'
        };
        PersonGuarantees.push(PersonGuarantee);
    }
    function getNextGuaranteeId() {
        if (PersonGuarantees.length == 0) return 1;
        return PersonGuarantees[PersonGuarantees.length - 1].RowIndex + 1;
    }
    function updateGuarantee() {
        selectedGuarantee.NameInNRIC = $nameasinNRICPassport.val();
        selectedGuarantee.Nationality = $nationalitytxt.val();
        selectedGuarantee.NRICNo = $nricNumber.val();
        selectedGuarantee.PassportNo = $passportNumber.val();
        selectedGuarantee.ResidentialAddress1 = $residentialaddress1.val();
        selectedGuarantee.ResidentialAddress2 = $residentialaddress2.val();
        selectedGuarantee.PostalCode = $postalcode.val();
        selectedGuarantee.Telephone = $telephone.val();
        selectedGuarantee.Reason = $Reasons.val();
        selectedGuarantee.Email = $email.val();
    }
    function updateTable() {
        var $table = $(".guaranteeTable tbody");
        $table.empty();
        var index = 1;
        PersonGuarantees.forEach(function (item, a) {
            if (item.State != "Delete"){
                var row = $("<tr data-id='" + item.RowIndex + "'></tr>");
                var address = item.ResidentialAddress1 == null ? "" : item.ResidentialAddress1;
                address += " ";
                address += item.ResidentialAddress2 == null ? "" : item.ResidentialAddress2 ;
                row.append(CreateCel(index));
                row.append(CreateCel(item.NameInNRIC));
                //row.append(CreateCel(item.Nationality));
                //row.append(CreateCel(item.NRICNo == null ? "" : item.NRICNo));
                //row.append(CreateCel(address));
                row.append(CreateActionCel());
                $table.append(row);
                index++;
            }
        });
        showhideTabel();

    }
    function deleteGuarantee(guaranteeId) {
        bootbox.confirm("Selected guarantee will be deleted", function(result) {
            if (result) {
                _guarantee = getGuarantee(guaranteeId);
                if (_guarantee != null) {
                    _guarantee.State = "Delete";
                    resetGuaranteeIDs();
                    updateTable();
                }
            }
        });

    }
    function showhideTabel()
    {

        var tableguaran = $(".guaranteeTable");
        tableguaran.hide();
        PersonGuarantees.forEach(function(item, a) {
            if (item.State != "Delete") {
                tableguaran.show();
            }
        });


    }
    function resetGuaranteeIDs() {
        var index = 1;
        PersonGuarantees.forEach(function (item, e) {
           item.RowIndex = index;
            index++;
            
        });
    }
    function getGuarantee(guaranteeId) {
        var guarantee = null;
        PersonGuarantees.forEach(function (item, e) {
            if (item.RowIndex == guaranteeId) {
                guarantee = item;

            }
        });
        return guarantee;
    }
    function IsValidGuarantor() {
        var guarantee = false;
        PersonGuarantees.forEach(function (item, e) {
            if (item.State != "Delete") {
                guarantee = true;

            }
        });
        return guarantee;
    }
    function editGuarantee(guarantee) {
        $guaranteeModal.modal();
        $nameasinNRICPassport.val(guarantee.NameInNRIC);
       
        $nationalitytxt.val(guarantee.Nationality);
        $nricNumber.val(guarantee.NRICNo);
        $passportNumber.val(guarantee.PassportNo);
        $residentialaddress1.val(guarantee.ResidentialAddress1);
        $residentialaddress2.val(guarantee.ResidentialAddress2);
        $postalcode.val(guarantee.PostalCode);
        $telephone.val(guarantee.Telephone);
        $Reasons.val(guarantee.Reason);
        $email.val(guarantee.Email);
        guarantee.State = "Update";
        if (guarantee.Nationality != "Singapore Citizen" && guarantee.Nationality != "Singapore PR") {

            $nationality.val("Other Nationalities");
        } else {
            $nationality.val(guarantee.Nationality);
        }
        SetNationalityAtr();
    }
    function clearGuarantee() {
        $nameasinNRICPassport.val("");
        $nationality.val("");
        $nricNumber.val("");
        $passportNumber.val("");
        $residentialaddress1.val("");
        $residentialaddress2.val("");
        $postalcode.val("");
        $telephone.val("");
        $Reasons.val("");
        $email.val("");
        selectedGuarantee = null;
        $nationalitytxt.val("");
        SetNationalityAtr();
    }
    function refresGuaranteeForm() {
        $("#frmguarantee .input-validation-error").each(function(item) {
            $(this).removeClass("input-validation-error");
            $(this).next().removeClass("field-validation-error").first().empty();

        });
        var validator = $("#frmguarantee").validate();
        validator.resetForm();
    }
    function CreateActionCel() {
        return $("<td><input type='button' value='Edit' class='btn editg'/><input type='button' value='Delete' class='btn deleteg'/></td>");
    }
    function CreateCel(val) {
        return $("<td>" + val + "</td>");
    }
    function ReloadSavedGuarantors() {
        var url = '/Borrower/LoadLoanGuarantors';
        url = "?requestId=" + $("#hdnRequestId").val();
        $.getJSON('/Borrower/LoadLoanGuarantors?requestId=' + $("#hdnRequestId").val(),function(data) {
             PersonGuarantees = data;
            resetGuaranteeIDs();
            updateTable();
        });
    }
</script>
<script type="text/javascript">
    var $nationalitytxt = null;
    $(document).ready(function () {
        $("#IspersonalGuarantee").hide();
        $('#IspersonalGuarantee  option[value="true"]').attr("selected", true);
        SetNationalityAtr();
        $('#nationalityTmp').hide();
        $nationalitytxt = $("#nationality");
        /*
        var isPer = $('#IspersonalGuarantee').val();
        if (isPer == "true") {
            $('#personalguaranteeinfo').show();
        } else {
            $('#personalguaranteeinfo').hide();
        }
        */
        $(".customicon-bulb").popover({ html: true });
    });

    $(document.body).on('change', '#Nationalityddl', function () {
        SetNationalityAtr();
        $guaranteeform.validate().element($('#nationality'));
    });

    function SetNationalityAtr() {
        var pos = $('#Nationalityddl').val();

        if (pos == "Other Nationalities") {
            $('#nationalityTmp').val("Other");
            var title = $('#nationality').val();
            if (title == "Singapore Citizen" || title == "Singapore PR") {
                $('#nationality').val("");
            }
            $("#nationality").show();
            $(".othernatinality").show();
        } else {
            $('#nationalityTmp').val("Sing");
            $('#nationality').val(pos);

            if ($("#nationality").valid()) {
                $("#nationality").hide();
                $(".othernatinality").hide();
            }
        }
    }

    $(document.body).on('click', '#docsAndPrc', function () {
        var doc = $('#impData').html();
        bootbox.alert(doc);
        
      
    });

    'use strict';

    var Moolahsense = Moolahsense || {};

    (function ($) {
        'use strict';

        Moolahsense.LoanDescription = {

            init: function () {
                this.cacheElements();
                this.bindEvents();
                this.initialize();

            },

            cacheElements: function () {
                this.$tips = $(".tip");
                this.$btnSave = $('#saveloanDescription');
                this.$btnSaveDraft = $('#saveloanDescriptionDraft');
                this.$personalGuarantee = $('#IspersonalGuarantee');
                this.$companyProfile = $('#SummaryCompanyPro');
                this.$headline = $('#Headline');
                this.$loanPurposeId = $('#LoanPurposeId');
                this.$questions = $('#divquestions');

            },

            bindEvents: function () {
                this.$btnSave.on('click', this.save.bind(this));
                this.$btnSaveDraft.on('click', this.saveDraft.bind(this));
                this.$personalGuarantee.on('change', this.toggleGuarantee);
                this.$loanPurposeId.on('change', this.loadQuestions.bind(this));
                this.$companyProfile.on('keypress blur change', this.updateWordCount.bind(this));
                this.$headline.on('keypress blur change', this.updateHeadlineWordCount.bind(this));
            },

            initialize: function () {
                this.$tips.popover();

                // add validation
                this.addValidation();
                this.validateQuestions();
            },

            copyToHidden: function (hdn, data) {
                var $hdn = $(hdn),
                    oldValue = $hdn.val();

                if (oldValue) $hdn.val(data); // assign data if hidden = empty
                else $hdn.val(oldValue + "," + data); // append to old data
            },

            toggleGuarantee: function (e) {

                // show other controls
                var selected = $(e.target).val() === "true";
                $('#personalguaranteeinfo').toggle(selected)
                    .find('input, textarea')
                    .prop('disabled', !selected);

            },

            save: function (e) {
                e.preventDefault();
                this.validateQuestions();

                if ($(e.target).closest('form').valid()  ) {
                    if (IsValidGuarantor()) {
                        SaveLoanRequestdescription2(true, ReloadSavedGuarantors); // global
                    } else {
                        bootbox.alert("Please add at least one guarantor.");
                    }
                }
                else {
                    bootbox.alert("You have not entered some required information.");
                }

            },

            saveDraft: function (e) {
                e.preventDefault();
                this.validateQuestions();

                if ($(e.target).closest('form').valid()) {
                    SaveLoanRequestdescription2(false,ReloadSavedGuarantors); // global
                }
                else {
                    bootbox.alert("You have not entered some required information.");
                }
            },

            notify: function (message) {
                // replace with custom alerts
                alert(message);
            },

            addValidation: function () {
                // add new required
                //$("#NameInNRIC").rules('add', { required: true, messages: { required: "* Name is required" } });
                //$("#ResidentialAddress1").rules('add', { required: true, messages: { required: "* Residential Address 1 is required" } });
                //$("#ResidentialAddress2").rules('add', { required: true, messages: { required: "* Residential Address 2 is required" } });
                //$("#PostalCode").rules('add', { required: true, messages: { required: "* Postal code is required" } });
                //$("#Telephone").rules('add', { required: true, messages: { required: "* Telephone number is required" } });
                //$("#Email").rules('add', { required: true, messages: { required: "* Email is required" } });
                //$("#Reason").rules('add', { required: true, messages: { required: "* Relationship is required" } });
                $("#SummaryCompanyPro").rules('add', { wordLimit: 150 });
                $("#Headline").rules('add', { wordLimit: 20 });

                //$("#NRICNo").rules('add', {
                //    requiredIf: { target: "#nationalityTmp", default: "Other" },
                //    messages: { requiredIf: "* NRIC number is required" }
                //});

                //$("#PassportNo").rules('add', {
                //    requiredIf: { target: "#nationalityTmp", default: "Sing", },
                //    messages: { requiredIf: "* Required for Non Singapore Citizen and PR" }
                //});

                //$("#nationality").rules('add', {
                //    requiredIf: { target: "#nationalityTmp", default: "Sing", },
                //    messages: { requiredIf: "* Nationality is required" }
                //});
            },

            validateQuestions: function () {
                var $questions = $('#divquestions');

                if ($questions.children().size() > 0) {
                    // get current questions
                    var questionFields = $questions.find('textarea, input');
                    $.each(questionFields, function (index, item) {

                        var idName = "question" + index;
                        $(item)
                            .attr("id", idName) // assign name
                            .attr("name", idName) // assign name
                            .rules('add', { required: true });  // add to rule

                        // add message container
                        if ($questions.find(".field-validation-error").size() == 0) {
                            $(item).after($('<span class="field-validation-error" data-valmsg-for="' + idName
                                + '" data-valmsg-replace="true"></span>'));
                        }
                    });
                }
            },

            loadQuestions: function () {
                GetQuestionsrelatedtoLoanPurpose(this.validateQuestions);
            },

            countWords: function (stringInput) {
                stringInput = stringInput.replace(/(^\s*)|(\s*$)/gi, "");
                stringInput = stringInput.replace(/[ ]{2,}/gi, " ");
                stringInput = stringInput.replace(/\n /, "\n");
                return stringInput.split(' ').length;
            },

            updateWordCount: function (event) {
                var val = $(event.target).val();
                var words = val == '' ? 0 : this.countWords($(event.target).val());
                $('#wordCount').html(words);
            },

            updateHeadlineWordCount: function (event) {
                var val = $(event.target).val();
                var words = val == '' ? 0 : this.countWords($(event.target).val());
                $('#wordCountHeadline').html(words);
            },

            calculateTargetEIR: function () {

                var termTemp = GetTenor(); // global
                console.log(termTemp);
                var targetRateTemp = parseFloat($('#Rate').val());
                var amountTemp = parseFloat($('#Amount').val());

                $.getJSON("/Borrower/GetTargetEIR", { amount: amountTemp, targetRate: targetRateTemp, term: termTemp },
                    function (data) {
                        $('#txtTargetEIR').val(data.targetEIR);
                    });
            }
        };

    }(jQuery));
  

    $(function () {
        Moolahsense.LoanDescription.init();
        Moolahsense.LoanDescription.calculateTargetEIR();
    });
    $.validator.unobtrusive.adapters.add("ifrequired", ["name","condition","conditionmode"], function(options) {
        options.rules['ifrequired'] = options.params;
        options.messages['ifrequired'] = options.message;
    });
    
    $.validator.addMethod("ifrequired", function (value, element, param) {
      
        var val = $("#" + param["name"]).val();
        var conval = param["condition"];
        if (conval == undefined)
            conval = "";
        conval = conval.split(",");
        if (param["conditionmode"] == "Equal") {
            if (matchRequestedValue(conval, val) && value == "") {

                return false;
            }
        } else {
            if (!matchRequestedValue(conval, val) && value == "") {

                return false;
            }
        }


        return true;
    });
    function matchRequestedValue(arrayval, val) {
        var ismatch = false;

        arrayval.forEach(function(item, index) {
            if (item == val) {
                ismatch = true;
            }
        });
        return ismatch;
    }
</script>
