﻿@using MoolahConnectnew.ViewModels
@using MoolahConnect.Util.ExtensionMethods
@model IEnumerable<AuditLogViewModel>

<table id="tableMain" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr class="bg_col">
        <td class="bdr_bottom bdr_left">Reference </td>
        <td class="bdr_bottom">Date</td>
        <td class="bdr_bottom">Request ID</td>
        <td class="bdr_bottom">Action</td>
    </tr>

    @if (Model != null && Model.Count() > 0)
    {
        foreach (var item in Model)
        {      
        <tr class="@item.TimeStamp.Month">
            <td class="bdr_left bdr_bottom"><a>@item.Reference</a></td>
            <td class="bdr_bottom">@item.TimeStamp.ToDateTime() </td>
            <td class="bdr_bottom">
                @if (item.RequestId.HasValue && item.RequestId != 0)
                {
                    @:<a>@Convert.ToString(item.RequestId)</a>
                                        	            }
                else
                {
                    @:NA        
	            }
            </td>
            <td class="bdr_bottom ">@item.Message </td>
        </tr>      
        }
    }
    else
    {
        <tr>
            <td class="bdr_left bdr_bottom" colspan="6">No action logs</td>
        </tr>
    }
</table>
