﻿@using MoolahConnectnew.ViewModels.Borrower
@using MoolahConnect.Util.Enums
@using MoolahConnect.Util.SealedClasses
@using MoolahConnect.Util.ExtensionMethods

@model IEnumerable<LoanViewModel>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr class="bg_col">
                    <td class="bdr_bottom bdr_left">Note ID  </td>
                    <td class="bdr_bottom">Tenor </td>
                    <td class="bdr_bottom">Start Date </td>
                    <td class="bdr_bottom">Maturity Date </td>
                    <td class="bdr_bottom">Months Till Maturity  </td>
                    <td class="bdr_bottom">Amount </td>
                    <td class="bdr_bottom rate_table_td">Rate</td>
                    <td class="bdr_bottom">Effective Rate</td>
                    <td>Total Interest Payable</td>
                    <td class="bdr_bottom">Repayment Schedule</td>
                    <td class="bdr_bottom">Documentation</td>
                </tr>

                @if (Model.Count() > 0)
                {
                    foreach (LoanViewModel item in Model)
                    {      
                    <tr>
                        <td class="bdr_left bdr_bottom">@Html.ActionLink(item.RequestId.ToString(), "MatchedNoteDetails", "Note", new { noteRequestID = item.RequestId }, new { target = "_blank" })</td>
                        <td class="bdr_bottom">@item.Tenor M</td>
                        <td class="bdr_bottom date_tbl_td">@item.StartDate.ToDate()</td>
                        <td class="bdr_bottom date_tbl_td">@item.MaturityDate.ToDate()</td>
                        <td class="bdr_bottom">@item.MonthsTillMaturity </td>
                        <td class="bdr_bottom currency_tbl_td">@item.FinalAmount.ToCurrency()   </td>
                        <td class="bdr_bottom">@item.Rate % </td>
                        <td class="bdr_bottom">@item.EIR % </td>
                        <td class="bdr_bottom">@item.TotalInterestPayable.ToCurrency()</td>
                        <td><a href="Javascript:DisplayRepaymentSchedule(@item.RequestId, @item.FinalAmount,@item.Rate,@item.Tenor,'@item.StartDate.ToShortDateString()');">Details</a></td>
                        <td>
                            @if (item.Status == LoanRequestStatus.FundApproved)
                            {
                                @:<a href="@Url.Action("DownloadFile", "Shared", new
                                      {
                                          userId = @Membership.GetUser().ProviderUserKey,
                                          type = @FileType.FinalIssuerLoanContract,
                                          fileName = @item.FinalIssuerContractName,
                                          requestId = @item.RequestId
                                      })">Final Contract</a>
                                <br />
                                <a href="@Url.Action("DownloadFile", "Shared", new
                                      {
                                          userId = @Membership.GetUser().ProviderUserKey,
                                          type = @FileType.FinalGuarantorContract,
                                          fileName = @item.FinalGuaranorContractName,
                                          requestId = @item.RequestId
                                      })">Guarantor's Agreement</a>
                            }
                            else if (item.Status == LoanRequestStatus.FundRejected)
                            {
                                @:Note Cancelled
                            }
                            else
                            {
                                @:<a href="Javascript:ShowProvisionalContract(@item.RequestId);">Provisional</a>
                            }
                        </td>
                    </tr>      
                    }
                }
                else
                {
                    <tr>
                        <td class="bdr_left bdr_bottom" colspan="14">No Outstanding Notes</td>
                    </tr>
                }

            </table>