﻿@using MoolahConnectnew.ViewModels.Borrower
@using MoolahConnect.Util.Enums
@using MoolahConnect.Util.SealedClasses
@using MoolahConnect.Util.ExtensionMethods

@model IEnumerable<PaymentViewModel>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr class="bg_col">
                    <td class="bdr_bottom bdr_left">Note ID</td>
                    <td class="bdr_bottom">Monthly Repayment  </td>
                    <td class="bdr_bottom">Due Date  </td>
                    <td class="bdr_bottom">Status</td>
                    <td class="bdr_bottom">Note </td>
                </tr>

                @if (Model.Count() > 0)
                {
                    foreach (PaymentViewModel item in Model)
                    {
                    <tr>
                        <td class="bdr_left bdr_bottom">@Html.ActionLink(item.LoanRequestId.ToString(), "MatchedNoteDetails", "Note", new { noteRequestID = item.LoanRequestId }, new { target = "_blank" })</td>
                        <td class="bdr_bottom">@item.Amount.ToCurrency()  </td>
                        <td class="bdr_bottom">@item.DueDate.ToDate()</td>
                        <td class="bdr_bottom">@item.Status</td>
                        <td class="bdr_bottom">@item.Note  </td>
                    </tr>
                    }
                }
                else
                {
                    <tr>
                        <td class="bdr_left bdr_bottom" colspan="5">No Outstanding Payments</td>

                    </tr>
                }
            </table>