﻿@using MoolahConnect.Util
@using MoolahConnect.Services.Entities
@using MoolahConnect.Util.ExtensionMethods

@model BorrowerLoanContractModel
<div>
    <div class="pc-notice">
        <b>IMPORTANT: PLEASE NOTE THAT THE AGREED TERMS ARE PROVISIONAL.<br />
            THE FINAL NOTE ISSUANCE IS SUBJECT TO CONFIRMATION AND PHYSICAL ENDORSEMENT BY THE ISSUER OF THE NOTE, AND THE FINAL NOTED ISSUED SHALL BE SUBJECT TO THE “STANDARD TERMS AND CONDITIONS TO PROMISSORY NOTE”. IF THE NOTE IS NOT ENDORSED BY THE ISSUER WITHIN THREE (3) DAYS, NO FINAL NOTE WILL BE ISSUED AND THE ISSUE REQUEST SHALL BE DEEMED TO BE WITHDRAWN
        </b>
    </div>
    <br />
    <div class="pc-text">
        <div  class="dash_board_in" style="max-width: 619px;">
            <div class="pc-text-center">
                <b>For value received, the Issuer promises to pay to each of the Payees, in Singapore dollars, the relevant Principal Subscription Amount and Interest as specified in this Promissory Note, on such Repayment Date and in accordance with the schedule specified in this Promissory Note</b>
            </div>
            <br />
            <div>
                <table class="pc-tbl-payee">
                    <tr>
                        <td style="width: 72%;">Promissory Note Request ID</td>
                        <td style="width: 5%;">: </td>
                        <td>@Model.LoanRequestId</td>
                    </tr>
                    <tr>
                        <td>Name of Issuer</td>
                        <td>: </td>
                        <td>@Model.Name</td>
                    </tr>
                    <tr>
                        <td>Registration Number of Issuer</td>
                        <td>: </td>
                        <td>@Model.RegistrationNumber</td>
                    </tr>
                    <tr>
                        <td>Date of Promissory Note</td>
                        <td>: </td>
                        <td>@Model.AgreementDate.ToDate()</td>
                    </tr>
                    <tr>
                        <td>Aggregate Principal Subscription Amount</td>
                        <td>: </td>
                        <td>@Model.Amount.ToCurrency()</td>
                    </tr>
                    <tr>
                        <td>Maturity Period (not exceeding 12 months)</td>
                        <td>: </td>
                        <td>@Model.Tenure</td>
                    </tr>
                    <tr>
                        <td>Number of Accepted Offers</td>
                        <td>: </td>
                        <td>@Model.NumberOfAcceptedOffers</td>
                    </tr>
                    <tr>
                        <td>Accepted Rate (p.a.)</td>
                        <td>: </td>
                        <td>@Model.AcceptedRate</td>
                    </tr>
                    @*<tr>
                    <td>Effective Rate (p.a.)</td>
                    <td>: </td>
                    <td>@Model.EffectiveRate</td>
                </tr>*@
                    <tr>
                        <td>Total Interests Payable</td>
                        <td>: </td>
                        <td>@Model.TotalInterestPayable.ToCurrency()</td>
                    </tr>
                    <tr>
                        <td>Repayment Amount at each Repayment Date</td>
                        <td>: </td>
                        <td>@Model.MonthlyRepaymentAmount.ToCurrency()</td>
                    </tr>
                </table>
            </div>
            <br />
            <div>
                <label class="pc-text-center"><b>Payee(s)</b></label>
                <table class="pc-tbl-payee">
                    <tr class="bg_col">
                        <th>Payee Reference No</th>
                        <th>Name of Payee</th>
                        <th>Identification Number</th>
                        <th>Principal Subscription Amount </th>
                        <th style="width:80px;">Repayment Dates</th>
                        <th>Amount Payable By Issuer on Each Repayment Date</th>
                    </tr>

                    @{int index = 0; }
                    @foreach (Lender lender in Model.AcceptedOffers)
                    {
                        <tr>
                            <td>@lender.ContractIdentifier</td>
                            <td>@lender.Name</td>
                            <td>@lender.IdNumber</td>
                            <td>@lender.Amount.ToCurrency()</td>
                            @if (index == 0)
                            {
                            @:<td rowspan="@Model.AcceptedOffers.Count">@string.Join(", ",((IEnumerable<RepaymentEntity>)ViewBag.Repayments).Select(r=>r.DueDate.ToDate()))</td>    
                            }
                            
                            <td>@lender.RepaymentAmount.ToCurrency()</td>
                        </tr>
                        index++;
                    }
                </table>
            </div>
            <br />
        </div>
        <div>
            <label class="pc-text-center"><b>This Note is issued subject to the “Standard Terms and Conditions To Promissory Note”.</b></label>
            <br />
            <label><b><u>Issued and Endorsed by:</u></b></label>

            <table class="pc-tbl">
                <tr>
                    <td style="width: 50%;">Name of Issuer</td>
                    <td style="width: 5%;">: </td>
                    <td>@Model.Name</td>
                </tr>
                <tr>
                    <td>Registration Number</td>
                    <td>: </td>
                    <td>@Model.RegistrationNumber</td>
                </tr>
                <tr>
                    <td>Registered Address</td>
                    <td>: </td>
                    <td>@Model.RegisteredAddress</td>
                </tr>
                <tr>
                    <td>Name of Director/Partner</td>
                    <td>: </td>
                    <td>@Model.DirectorPartnetName</td>
                </tr>
                <tr>
                    <td>Signature</td>
                    <td>: </td>
                    <td></td>
                </tr>
            </table>
            <br />
            <label>For and on behalf of</label>
            <label><b>The Issuer</b></label>
            <br />
            <a href="@Settings.PromissoryNoteTC" target="_blank">Promissory Note T&C</a>
        </div>
        <br />
    </div>
</div>
