﻿@model MoolahConnectClassLibrary.Models.ViewModels.ProfileDetail

<div id="wish" class="no_bg">
    <div class="wish_txt_in min_width">
        <h5>Personel Information</h5>
        <div class="clear"></div>
        <p>
            Title: @Model.Title
            <br />
            First Name: @Model.FirstName
            <br />
            LastName: @Model.LastName
            <br />
            Role / Job Title: @Model.RoleJobTitle
            <br />
            <b>Uploaded Document:</b>
            <br />

            @if (Model.DocumentUploaded != null)
            {
                foreach (string i in Model.DocumentUploaded)
                {
                <span>@i</span>   <br />
                }
            }



            <br />

            <br />

            <br />

            <br />


        </p>
    </div>

</div>
