﻿@using MoolahConnectnew.ViewModels
@using MoolahConnect.Util.ExtensionMethods
@model IEnumerable<TransactionViewModel>

<table id="tableMain" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr class="bg_col">
        <td class="bdr_bottom bdr_left">Date</td>
        <td class="bdr_bottom">Transaction Reference  </td>
        <td class="bdr_bottom">Loan Reference</td>
        <td class="bdr_bottom">Description</td>
    </tr>

    @if (Model != null && Model.Count() > 0)
    {
        foreach (var item in Model)
        {      
        <tr class="@item.Date.Value.Month">
            <td class="bdr_left bdr_bottom">@item.Date.ToDateTime() </td>
            <td class="bdr_bottom"><a>@Convert.ToString(item.TransactionId).PadLeft(7, '0')#</a></td>
            <td class="bdr_bottom"><a>@Convert.ToString(item.RequestId).PadLeft(7, '0')#</a></td>


            <td class="bdr_bottom ">@item.Description </td>
        </tr>      
        }
    }
    else
    {
        <tr>
            <td class="bdr_left bdr_bottom" colspan="6">No Transactions yet</td>
        </tr>
    }

</table>

<script>
    function ShowHideRows() {
        var ddltime = 'bg_col1' + ' ' + $('#ddlTime').val();
        var i = 0;
        $('#tableMain tr').each(function () {
            //var $this = $(this);
            //  alert($this.class);

            var cls = $(this).attr('class');

            if (i != 0) {
                if (ddltime != cls) {
                    $(this).fadeOut();
                }

                if (ddltime == 'bg_col1' + ' ' + '0') {
                    $(this).fadeIn();
                }

            }
            i++;

        });
    }

</script>
