﻿@using MoolahConnectnew.ViewModels
@using MoolahConnect.Util.ExtensionMethods
@model IEnumerable<AuditLogViewModel>
@{
    ViewBag.Title = "Action Logs";
}

<div id="wish" class="no_bg pad_10 no_mar_bot">

    <div class="dash_board">
        <div class="dash_board_in">
            <div id="live">
                <div>
                    <div class="h5_title">Your Action logs</div>
                    @MoolahConnectHelper.DateTimeRangePicker("liDatePickerFrom", "liDatePickerTo", "SearchActionLogs")
                </div>
                <div id="divLogs" class="event_in" style="border: none">
                    @Html.Partial("_Logs", Model)
                </div>
            </div>
        </div>
        <div class="clear"></div>

    </div>

</div>

<script>
    function SearchActionLogs(_from, _to) {
        $('#divLogs').empty();
        $('#divLogs').load('/Borrower/_Logs?from=' + _from + '&to=' + _to);
    }
</script>
