﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<body>

            <p style="font-size: 8px; color: #5c5b53; padding: 0; margin: 0 0 25px 0; font-family: Arial, Helvetica, sans-serif; font-weight: normal;">
                Registration Form
            </p>
     
        <div class="clear"></div>
        <span style='color: #fff;'>Å180,500Å</span>
        <table align="left">
            <tr>
                <td justification="left" style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">Title :                   
                </td>
                <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">
                    @Model.BorrowerAccountDetailsModel.Title
                </td>
            </tr>
            <tr>
                <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">First Name:                   
                </td>
                <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">
                    @Model.BorrowerAccountDetailsModel.FirstName

                </td>
            </tr>
            <tr>
                <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">Last Name :                   
                </td>
                <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">
                    @Model.BorrowerAccountDetailsModel.LastName

                </td>
            </tr>
            <tr>
                <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">Display Name :                    
                </td>

                <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">
                    @Model.BorrowerAccountDetailsModel.DisplayName
                </td>
            </tr>
            <tr>
                <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">Role / job Title :                    
                </td>

                <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">
                    @Model.BorrowerAccountDetailsModel.RoleJobTitle
                </td>
            </tr>
            <tr>
                <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">Business Name :                    
                </td>

                <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">
                    @Model.BorrowerAccountDetailsModel.BusinessName
                </td>
            </tr>
            <tr>
                <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">Bussiness Registration Number :                    
                </td>

                <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">
                    @Model.BorrowerAccountDetailsModel.BusinessRegistrationnumber
                </td>
            </tr>
            <tr>
                <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">Nature of Business :                    
                </td>

                <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">
                    @Model.BorrowerAccountDetailsModel.NatureofBusinessName
                </td>
            </tr>
            <tr>
                <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">Date of Incorporation :                    
                </td>

                <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">
                    @Model.BorrowerAccountDetailsModel.DateofIncorporation
                </td>
            </tr>
            <tr>
                <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">Registered address :                    
                </td>

                <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">
                    @Model.BorrowerAccountDetailsModel.RegisteredAddress
                </td>
            </tr>
            <tr>
                <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">Business (mailing) address :                    
                </td>

                <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">
                    @Model.BorrowerAccountDetailsModel.BusinessMailingaddress
                </td>
            </tr>
            <tr>
                <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">Direct Line ( Office hours) :                    
                </td>

                <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">
                    @Model.BorrowerAccountDetailsModel.DirectLine
                </td>
            </tr>
            <tr>
                <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">Mobile ( Out of office hours) :                    
                </td>

                <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">
                    @Model.BorrowerAccountDetailsModel.Mobilenumber
                </td>
            </tr>
            <tr>
                <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">Other contact number (optional):                    
                </td>

                <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">
                    @Model.BorrowerAccountDetailsModel.Othercontactnumber
                </td>
            </tr>
            <tr>
                <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">Bank account (Bank, account number, account name):                    
                </td>

                <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">
                    @Model.BorrowerAccountDetailsModel.BankName ,
                @Model.BorrowerAccountDetailsModel.BankAccountNumber
                    <br />
                    @Model.BorrowerAccountDetailsModel.BankAccountName
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: left; font-size: 7px; color: #5c5b53; font-weight: bold;">Security questions for login details:
                </td>


            </tr>
            <tr>
                <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">@Model.BorrowerAccountDetailsModel.SecurityQuestion1Name :                    
                </td>

                <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">
                    @Model.BorrowerAccountDetailsModel.SecurityAnswer1
                </td>
            </tr>
            <tr>
                <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">@Model.BorrowerAccountDetailsModel.SecurityQuestion2name :                    
                </td>

                <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">
                    @Model.BorrowerAccountDetailsModel.SecurityAnswer2
                </td>
            </tr>
            <tr>
                <td style="text-align: left; font-size: 7px; color: #5c5b53; font-weight: bold;">Documents enclosed with form :                    
                </td>

                <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">
                    @if (Model.DocumentsList.DocumentsList1 != null)
                    {
                        foreach (var item in Model.DocumentsList.DocumentsList1)
                        {
       
                        <div class="fl bot_mar">
                            <div class="wish_doc">@item.DocumentName   </div>

                        </div>
                        }
                    }
                    else
                    {
                        <div class="fl bot_mar">
                            <div class="wish_doc">No document found  </div>
                        </div>
                    }

                </td>
            </tr>
        </table>


  
</body>
</html>
