﻿@using System
@using MoolahConnect.Util.SealedClasses
@using MoolahConnect.Util
@using MoolahConnectnew.ViewModels
@model MoolahConnectClassLibrary.Models.ViewModels.BorrowerDashboard
@{
    ViewBag.Title = "Dashboard";

}
<div class="logingdiv" style="display: none; margin-left: 35%; position: fixed;background-color: #F7D358; font-weight: 600; padding: 3px;  padding-left: 5px;padding-right: 5px; border-radius: 0px 0px 5px 5px ">Loading....</div>

<div class="baccount row-fluid">
    <div class="baccountdetails">
        @if (Model != null)
        {
            <div class="mtbl">
                <div class="mrow">
                    <div class="mcol mcolttitleBoldFirst">Business Name : </div>
                    <div class="mcol">@Model.CommonOperations.BusinessName</div>
                    <div class="mcol mcolttitleBold">Account ID : </div>
                    <div class="mcol">@Model.CommonOperations.AccountNumber</div>
                </div>
            </div>
        }
        else
        {
            Response.Redirect(Url.Content("~/Issuer/Create"));
        }
    </div>
    <div class="bloanrequest row-fluid">
        <div>
            <form class="form-horizontal">
                @if (ViewBag.LoanDraft != null)
                {
                    var loanDraft = (LoanRequestViewModel)ViewBag.LoanDraft;
                    <div class="bor-loan-draft">
                        <a href="@Url.Content(string.Format("/Issuer/Request?a={0}&r={1}&t={2}&requestId={3}", loanDraft.Amount, loanDraft.Rate, loanDraft.Term, loanDraft.RequestId))"
                           title="You can either conitune on saved loan request or remove and create a new one.">Draft note request</a>
                        &nbsp | &nbsp<a href="@Url.Action("RemoveLoanRequesTDraft", new { requestId = loanDraft.RequestId })"
                                        title="Please note that loan request draft will be deleted.">Create new note request</a>
                    </div>
                }
                else
                {
                    <div class="loan_request-title">
                        <h4>New Request</h4>
                    </div>
                    <div class="mtbl loan_request-table">
                        <div class="span4">
                            <div class="control-group">
                                <label class="control-label" for="txtAmount">Amount $S</label>
                                <div class="controls">
                                    <input id="txtAmount" name="" type="text" class="input-medium" maxlength="10" placeholder="100k - 300k"
                                           data-msg-range="@GlobalVar.gDataMsgRange"
                                           data-msg-increment="@GlobalVar.gDataMsgIncrement"
                                           data-rule-range="@GlobalVar.gDataRuleRange">
                                    <span id="amountcheck" style="color: red;"></span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="txtMoolahFees">MoolahSense Fees S$</label>
                                <div class="controls">
                                    <input id="txtMoolahFees" type="text" placeholder="0" class="input-medium disabled" readonly="true" />
                                </div>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="control-group">
                                <label class="control-label" for="txtRate">Target Rate</label>
                                <div class="controls">
                                    <input id="txtRate" name="" type="text" maxlength="5" class="input-small money"
                                           placeholder="xx.xx">&nbsp;%p.a.<span id="ratecheck" style="color: red;"></span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="txtTargetEIR">Target Effective Rate</label>
                                <div class="controls">
                                    <input id="txtTargetEIR" type="text" placeholder="0" class="input-small" readonly="true" />&nbsp;%p.a.
                                </div>
                            </div>
                        </div>
                        <div class="span4 radio-adjust">
                            <div class="control-group">
                                <label class="control-label" for="optionsRadios">Tenor</label>
                                <div class="controls">
                                    @foreach (int gMonth in GlobalVar.gTenure)
                                    {
                                        <label class="radio">
                                            <input id="radioTerm@(gMonth)" name="term" checked="checked" type="radio" value="@gMonth">
                                            @gMonth Months
                                        </label>
                                    }

                                    <!--
                                    <label class="radio">
                                        <input id="radioTerm24" name="term" type="radio" value="24">
                                        24 Months
                                    </label>
                                    <label class="radio">
                                        <input id="radioTerm36" name="term" type="radio" value="36">
                                        36 Months
                                    </label>
                                    -->
                                </div>
                            </div>
                            <div class="control-group">
                                <input name="" type="button" class="wish_btn bor-request button-adjust" onclick="RedirectToLoanRequest()" value="Request">
                            </div>
                        </div>
                    </div>
                }
            </form>
        </div>
    </div>
</div>
<ul class="tabs">
    <li data-id="1"><a href="#tab1">Dashboard</a></li>
    <li data-id="2"><a href="#tab2">MoolahPost</a></li>
    <li data-id="3"><a href="#tab3">Company Profile</a></li>
    <li data-id="4"><a href="#tab4">Repayment </a></li>
</ul>
<div class="tab_container">
    <div id="tab1" class="tab_content">
        @Html.Partial("_Dashboard", Model.Dashboard)
    </div>
    <div id="tab2" class="tab_content">
        <div class="moolahPost-div">
            Please <a target="_blank" href="@MoolahConnect.Util.Settings.ForumUrl">click here</a> to go to the forum.
        </div>
    </div>
    <div id="tab3" class="tab_content">
        @*@Html.Partial("_CompanyProfile", Model.CompanyProfile);*@
    </div>
    <div id="tab4" class="tab_content">
        @*@Html.Partial("_LoanRepayment", Model.Dashboard);*@
    </div>
</div>


<div class="payment" style="display: none;">
    <h4>Repayment Schmedule ABC 123_RS </h4>
    <div class="clear"></div>
    <div class="close_btn">
        <a href="#">
            <img src="~/Content/images/close_btn.png" width="14" height="14" alt="#">
        </a>
    </div>
    <div id="tblpaymentsDetails"></div>
    <div class="payment_in">
        <h3>My Matured History</h3>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr class="bg_col">
                <td class="bdr_left bdr_bottom">Loan Pmt Ref #</td>
                <td class="bdr_bottom">Payment Date</td>
                <td class="bdr_bottom">Principal</td>
                <td class="bdr_bottom">Interest </td>
            </tr>
            <tr>
                <td class="bdr_left bdr_bottom"><a href="#">ABC123p11 </a></td>
                <td class="bdr_bottom">1/1/2013</td>
                <td class="bdr_bottom">1000</td>
                <td class="bdr_bottom">120</td>
            </tr>
            <tr class="bg_col2">
                <td class="bdr_left"><a href="#">ABC123p12 </a></td>
                <td class="bdr_bottom">2/1/2013</td>
                <td class="bdr_bottom">1000</td>
                <td class="bdr_bottom">120</td>
            </tr>
            <tr>
                <td class="bdr_left">Total</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>240</td>
            </tr>
        </table>
    </div>
</div>
@Scripts.Render("~/Scripts/jquery.numeric.js")
<script type="text/javascript">
    var dashBoardURL = '@Url.Action("GetBoardView")';
    var companyProfileURL = '@Url.Action("GetCompanyProfileView")';
    var loanRepaymentURL = '@Url.Action("GetRepaymentView")';
    $(document).ready(function () {

        $("form").validate({

            showErrors: function (errorMap, errorList) {

                // Clean up any tooltips for valid elements
                $.each(this.validElements(), function (index, element) {
                    var $element = $(element);

                    $element.data("title", "") // Clear the title - there is no error associated anymore
                        .removeClass("error")
                        .tooltip("destroy");
                });

                // Create new tooltips for invalid elements
                $.each(errorList, function (index, error) {
                    var $element = $(error.element);

                    $element.tooltip("destroy") // Destroy any pre-existing tooltip so we can repopulate with new tooltip content
                        .data("title", error.message)
                        .addClass("error")
                        .tooltip(); // Create a new tooltip based on the error messsage we just set in the title
                });
            },

            submitHandler: function (form) {
                alert("This is a valid form!");
            }
        });

        //Apply mask to currency inputs.
        $('#txtAmount').autoNumeric('init');

        //Default Action
        $(".tab_content").hide(); //Hide all content
        $("ul.tabs li:first").addClass("active").show(); //Activate first tab
        $(".tab_content:first").show(); //Show first tab content

        //On Click Event
        $("ul.tabs li").click(function () {
            $("ul.tabs li").removeClass("active"); //Remove any "active" class
            $(this).addClass("active"); //Add "active" class to selected tab
            _tabId = $(this).attr("data-id");

            loadTab(_tabId);
            $(".tab_content").hide(); //Hide all tab content
            var activeTab = $(this).find("a").attr("href"); //Find the rel attribute value to identify the active tab + content
            $(activeTab).fadeIn(); //Fade in the active content
            return false;
        });



        $(".number").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
        });
        $(".money").numeric();

        $('#txtRate').focusout(function () {
            var validRate = false;
            $('#txtRate').css("border", "");
            $('#txtRate').tooltip("destroy");

            if ($('#txtRate').val() != '' && $('#txtRate').val() != '0')
                validRate = true;

            if (!validRate) {
                $('#txtRate')
                    .data("title", 'Rate is required and should be more than 0')
                    .addClass("input-validation-error")
                    .css("border", "1px solid red")
                    .tooltip();
            }

        });

        $('#txtAmount').focusout(function () {
            var v = parseInt($('#txtAmount').val().replace(new RegExp(",", "g"), ''));
            //if ((v < 100000 || v > 300000 )) {
            if ((v < gBorrowerMinAmount || v > gBorrowerMaxAmount)) {

                $('#txtAmount').tooltip("destroy") // Destroy any pre-existing tooltip so we can repopulate with new tooltip content
                    .data("title", $('#txtAmount').attr('data-msg-range'))
                    .addClass("input-validation-error")
                    .css("border", "1px solid red")
                    .tooltip();
                return;
            } else {
                if (v % 1000 > 0) {
                    $('#txtAmount').tooltip("destroy") // Destroy any pre-existing tooltip so we can repopulate with new tooltip content
                        .data("title", $('#txtAmount').attr('data-msg-increment'))
                        .addClass("input-validation-error")
                        .css("border", "1px solid red")
                        .tooltip();
                    return;
                }

                $('#txtAmount').css("border", "");
                $('#txtAmount').tooltip("destroy");
                CalculateMoolahFees();
                CalculateTargetEIR();
            }
        })

        $("input[name='term']").on("change", function () {
            CalculateMoolahFees();
            CalculateTargetEIR();
        });

        $('#txtRate').focusout(function () {
            CalculateTargetEIR();
        })
    });

    function CalculateMoolahFees() {

        var termTemp = GetTenor();
        var amountTemp = parseFloat($('#txtAmount').val().replace(new RegExp(",", "g"), ''));

        $.getJSON("/Borrower/GetMoolahFees", { amount: amountTemp, term: termTemp }, function (data) {
            $('#txtMoolahFees').val(data.moolahFees)
        });
    }

    function CalculateTargetEIR() {


        var termTemp = GetTenor();
        var targetRateTemp = parseFloat($('#txtRate').val());
        var amountTemp = parseFloat($('#txtAmount').val());

        $.getJSON("/Borrower/GetTargetEIR", { amount: amountTemp, targetRate: targetRateTemp, term: termTemp }, function (data) {
            $('#txtTargetEIR').val(data.targetEIR)
        });

    }

    function GetTenor() {
        var tenor = '';

        if ($('#radioTerm12').is(':checked'))
            tenor = '12';
        else if (($('#radioTerm24').is(':checked')))
            tenor = '24';
        else if (($('#radioTerm36').is(':checked')))
            tenor = '36';

        return tenor;
    }

    //Redirect to Add Loan Request
    function RedirectToLoanRequest(Amount, Term, Rate) {
        var $amt = $('#txtAmount').val().replace(new RegExp(",", "g"), '');
        var term = $("input[type='radio'][name='term']:checked").val();
        var validRate = false;

        if ($('#txtRate').val() != '' && $('#txtRate').val() != '0')
            validRate = true;

        if (!validRate) {
            $('#txtRate').tooltip("destroy") // Destroy any pre-existing tooltip so we can repopulate with new tooltip content
                .data("title", 'Rate is required and should be more than 0')
                .addClass("input-validation-error")
                .css("border", "1px solid red")
                .tooltip();
        }

        //if (($amt >= 100000 && $amt <= 300000) && ($amt % 1000 == 0)) {
        if (($amt >= gBorrowerMinAmount && $amt <= gBorrowerMaxAmount) && ($amt % gBorrowerStep == 0)) {

            if (validRate) {
                $.getJSON("@Url.Action("CreateInitialLoanRequest", "Borrower")", { amount: $amt, rate: $('#txtRate').val(), terms: term },
                    function (data) {
                        if (data.requestId != 0) {
                            window.location = "/Issuer/Request?a=" + $amt + "&r=" + $('#txtRate').val() + "&t=" + term + "&requestId=" + data.requestId;
                        }
                        else {
                            bootbox.alert("@StatusMessages.SYSTEM_ERROR");
                        }
                    });
            }
        }
        else if (($amt < 100000 || $amt > 300000)) {
            $('#txtAmount').tooltip("destroy") // Destroy any pre-existing tooltip so we can repopulate with new tooltip content
                .data("title", $('#txtAmount').attr('data-msg-range'))
                .addClass("input-validation-error")
                .css("border", "1px solid red")
                .tooltip();
        } else {
            $('#txtAmount').tooltip("destroy") // Destroy any pre-existing tooltip so we can repopulate with new tooltip content
                .data("title", $('#txtAmount').attr('data-msg-increment'))
                .addClass("input-validation-error")
                .css("border", "1px solid red")
                .tooltip();
        }
    }


    function loadTab(tabid) {
        $('.logingdiv').show();
        var url = "";
        switch (tabid) {
            case "1":
                url = dashBoardURL;
                break;
            case "2":
                //  url = moolahboadURL;
                break;
            case "3":
                url = companyProfileURL;
                break;
            case "4":
                url = loanRepaymentURL;
                break;
           

        }
        if (url != "") {
            $.get(url, function(data, status, xhr) {

                loadView(data, tabid);
            }).done(function() {
                $('.logingdiv').hide();
            }).fail(function() {
                $('.logingdiv').hide();
            });
        } else {
            $('.logingdiv').hide();
        }
    }
    function loadView(viewContent, tabid) {
        if (checkLoginView(viewContent)) {
            window.location = userLogingURL;
        }
        else {
            switch (tabid) {
                case "1":
                    $("#tab1").html(viewContent);

                    break;
               
                case "3":
                    $("#tab3").html(viewContent);
                    break;
                case "4":
                    $("#tab4").html(viewContent);
                    break;
              

            }
        }

    }
    function checkLoginView(contentView) {


        var view = $(contentView).find(".userlogin");
        if (view.length > 0) {
            return true;
        } else {
            return false;
        }
    }
</script>
