﻿@using MoolahConnectnew.ViewModels
@using MoolahConnect.Util.ExtensionMethods
@model IEnumerable<TransactionViewModel>

<div id="wish" class="no_bg pad_10 no_mar_bot">

    <div class="dash_board">
        <div class="dash_board_in">
            <div id="live">
                <div>
                    <div class="h5_title">Your Transactions</div>
                    @MoolahConnectHelper.DateTimeRangePicker("liDatePickerFrom", "liDatePickerTo", "SearchInvestments")
                </div>
                <div id="divLoanInvestments" class="event_in" style="border:none">
                    @Html.Partial("_Transactions", Model)
                </div>
            </div>
        </div>
        <div class="clear"></div>

    </div>

</div>

<script>
    function SearchInvestments(_from, _to) {
        $('#divLoanInvestments').empty();
        $('#divLoanInvestments').load('/Borrower/_Transactions?from=' + _from + '&to=' + _to);
    }
</script>
