﻿@using System
@using MoolahConnect.Util

@{
    ViewBag.Title = "Interest Calculator";
    Layout = "~/Views/Shared/_LayoutWithoutHeaderAndFooter.cshtml";
}

<div id="wish">

    <div class="inner_sect">
        <h5>Interest Calculator</h5>
    </div>
    <div class="inner_box">
        <div class="inner_box_left">
            <h3>Get an instant quote</h3>
            <p>Amount</p>
            <div class="box_left_line">
                <div id="slider"></div>
            </div>
            <p>
                S$<strong class="money" id="amount">100,000 </strong>
                <br />
                <br />
                Tenor

            </p>
            <div class="clear"></div>
            <ul>
                @foreach (int gMonth in GlobalVar.gTenure)
                {
                    <li>
                        <input name="term" type="radio" checked="checked" onclick="Getquickindicationsforpayment()" value="@gMonth">
                        @gMonth Months
                    </li>
                }

                <!--
                <li>
                    <input name="term" type="radio" onclick="Getquickindicationsforpayment()" value="24">
                    24 Months </li>
                <li>
                    <input name="term" type="radio" onclick="Getquickindicationsforpayment()" value="36">
                    36 Months </li>
                -->
            </ul>
            <div class="clear"></div>


            <ul>
                <li style="width: 130px;">
                    <table>
                        <tr>
                            <td style="padding-right: 10px;">Target Rate % p.a. 
                        <input name="term" id="txtEIR" type="text" value="5" onkeyup="Getquickindicationsforpayment()" placeholder="Enter Target Rate" /></td>
                            <td>Target Effective Rate % p.a. 
                        <input name="term" disabled="disabled" id="txtEIR2" type="text" onkeyup="Getquickindicationsforpayment()"></td>
                        </tr>
                    </table>
                </li>
            </ul>
        </div>

        <div class="inner_box_rgt inner_box_rgt_calc">
            <h3>Your quick quote:</h3>

            <ul>
                <li>
                    <h5>Monthly repayment</h5>
                    <p id="monthlypayment" class="formatCurrency money"></p>
                </li>
                <li>
                    <h5>Total interests payable</h5>
                    <p id="totalpayment" class="formatCurrency money"></p>
                </li>
                <li>
                    <h5 class="inner_txts">MoolahSense fees of</h5>
                    <p id="MCFees" class="small_txt formatCurrency"></p>
                </li>
            </ul>
            <br />
            <br />
            <div class="wish_out_new">
                <a href="@string.Format("{0}/user/registeruser", Settings.LendingSiteUrl)" class="wish_btn_new">Apply Now</a>
            </div>
            <div class="clear"></div>
        </div>
    </div>

</div>
<script>
    $(function () {
        Getquickindicationsforpayment();

        $("#slider").slider({
            range: "min",
            value: @GlobalVar.gBorrowerMinAmount,
            min: @GlobalVar.gBorrowerMinAmount,
            max: @GlobalVar.gBorrowerMaxAmount,
            step: @GlobalVar.gBorrowerStep,
            slide: function (event, ui) {

                $("#amount").html(commaSeparateNumber(ui.value));

            }
        });


        $("#slider").slider({
            stop: function (event, ui) {
                Getquickindicationsforpayment();

            }
        });

    });

    function Getquickindicationsforpayment() {
        var $amt = $('#amount').html().replace(new RegExp(",", "g"), '');
        var $i = parseFloat($('#txtEIR').val());
        var $term = $("input[type='radio'][name='term']:checked").val();
        console.log($term);

        var flatmcDiscoutrate = 3;
        var mfee = 0;
        var yfee = 0;
        var intr = $i / 1200;
        var calc = $amt * intr / (1 - (Math.pow(1 / (1 + intr), $term)));// - mfee;
        var exm = Math.round(calc * 100) / 100;
        var exy = Math.round((calc * $term - yfee - $amt) * 100) / 100;

        /*$('#monthlypayment').html('S$' + commaSeparateNumber(exm));
        $('#totalpayment').html('S$' + commaSeparateNumber(exy));
        $('#MCFees').html('S$' + commaSeparateNumber(round((flatmcDiscoutrate / 100) * $amt * ($term / 12), 2)));
        */
        $('#monthlypayment').html('S$' + exm);
        $('#totalpayment').html('S$' + exy);
        $('#MCFees').html('S$' + round((flatmcDiscoutrate / 100) * $amt * ($term / 12), 2));

        $('#monthlypayment').formatCurrency();
        $('#totalpayment').formatCurrency();
        $('#MCFees').formatCurrency();

        $('#monthlypayment').val($('#monthlypayment').val().replace('$', ''));
        $('#totalpayment').val($('#totalpayment').val().replace('$', ''));
        $('#MCFees').val($('#MCFees').val().replace('$', ''));

        $.getJSON("/Borrower/GetTargetEIR", { amount: $amt, targetRate: $i, term: $term }, function (data) {
            $('#txtEIR2').val(data.targetEIR)
        });
    }

    function commaSeparateNumber(val) {
        while (/(\d+)(\d{3})/.test(val.toString())) {
            val = val.toString().replace(/(\d+)(\d{3})/, '$1' + ',' + '$2');
        }
        return val;
    }
</script>
