﻿@using MoolahConnect.Util
@model MoolahConnectClassLibrary.Models.ViewModels.LoanRequest
@{
    ViewBag.Title = "Request";
}

@using MoolahConnectnew
@Html.Flash()

<script src="@Url.Content("~/Scripts/jquery.cookie.js")" type="text/javascript"></script>

<script type="text/javascript">
   
    $(document).ready(function () {


        GetQuestionsrelatedtoLoanPurpose();


        var Loanstep = $.cookie("Loansteps");
        //Default Action
        $(".tab_content").hide(); //Hide all content
        if (Loanstep == "1") {
            $("ul.tabs li:first").addClass("active").show(); //Activate first tab
            $(".tab_content:first").show(); //Show first tab content
        }

        else if (Loanstep == "2") {
            $("ul.tabs li:first").next().addClass("active").show(); //Activate first tab
            $(".tab_content:first").next().show(); //Show first tab content

        }
        else if (Loanstep == "3") {
            $("ul.tabs li:first").next().next().addClass("active").show(); //Activate first tab
            $(".tab_content:first").next().next().show(); //Show first tab content

        }
        else if (Loanstep == "4") {
            $("ul.tabs li:last").addClass("active").show(); //Activate first tab
            $(".tab_content:last").show(); //Show first tab content

        }
        /////this function will be call and usefull when user make a loan request and values are passsed from query string
        Getquickindicationsforpayment();
    });

    function GotoStep(step, ispostback) {
        var step = $.cookie("Loansteps");

        
        $("ul.tabs li").removeClass("active"); //Remove any "active" class
        $(".tab_content").hide(); //Hide all content        
        if (step == 1) {
           
            $("ul.tabs li:first").addClass("active").show(); //Activate first tab
            $(".tab_content:first").show(); //Show first tab content

        }
        else if (step == 2 ) {
            $.cookie("Loansteps", "1", { path: '/'});

            $("ul.tabs li:first").addClass("active").show(); //Activate first tab
            $(".tab_content:first").show(); //Show first tab content
            return false;

        }
        else if (step == 3) {
            $.cookie("Loansteps", "2", { path: '/'});
            $("ul.tabs li:first").next().addClass("active").show(); //Activate first tab
            $(".tab_content:first").next().show(); //Show first tab content

        }

        return false;

    }

</script>

<div class="clear"></div>

<div class="container">
    <ul class="tabs">
        <li id="tabs1" class="1" onclick="SetActiveTab('1')"><a style="cursor: pointer;">Description</a></li>
        <li id="tabs2" class="2" onclick="SetActiveTab('2')"><a style="cursor: pointer;">MoolahCore</a></li>
        <li id="tabs3" class="3" onclick="SetActiveTab('3')"><a style="cursor: pointer;">MoolahPeri</a></li>
    </ul>
    <div class="tab_container">
        <div id="tab1" class="tab_content">
            @Html.Partial("_LoanRequestdescription", Model.LoanRequestDescription)
        </div>
        <div id="tab2" class="tab_content">
            @Html.Partial("_LoanRequestmoolahcore", Model.LoanRequestmoolahCore)
        </div>
        <div id="tab3" class="tab_content">
            @Html.Partial("_LoanRequestmoolahPeri", Model.LoanRequestmoolahPeri)
        </div>
    </div>
</div>


