﻿@model MoolahConnectClassLibrary.Models.ViewModels.Messages
@{
    ViewBag.Title = "Messages";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="backgroundPopup" class="molahcoreperipopup"></div>
<div id="wish" class="no_bg pad_10 no_mar_bot">

    <div class="dash_board">


        <div class="dash_board_in">
            <div id="live">
                <table id="tableMain" width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr class="bg_col">
                        <td class="bdr_bottom">Name</td>
                        <td class="bdr_bottom bdr_left">Message</td>
                        @*<td class="bdr_bottom">Started On</td>*@
                        <td class="bdr_bottom">Last Replied </td>
                        <td class="bdr_bottom">Status</td>
                    </tr>


                    @if (Model != null && Model.MessageList.Count > 0)
                    {
                        foreach (var item in Model.MessageList)
                        {      
                
                        <tr>

                            <td class="bdr_left bdr_bottom">@item.DisplayName</td>
                            <td class="bdr_left bdr_bottom">
                                @item.Message
                            </td>
                            @* <td>
                  
                           @Convert.ToDateTime(item.DateCreated).ToString("dd/MM/yyyy")
                         </td>*@
                            <td>
                                @{
                            if (@item.DateCreated != null)
                            {
                                    <span>By&nbsp</span>@item.ReplyName<br />
                                    <span>On</span> @Convert.ToDateTime(item.DateCreated).ToString("dd/MMM/yyyy")
                            }
                            else
                            {
                                    <span>By&nbsp</span>@item.ReplyName<br />
                                    <span>On</span>  @Convert.ToDateTime(item.ReplyDate).ToString("dd/MMM/yyyy")
                            }
                                }
                            </td>
                            <td>

                                @{ 
                            var ids = "";
                            if (@item.ChildOf != null)
                            {
                                ids = Convert.ToString(item.ChildOf);
                            }
                            else
                            {
                                ids = Convert.ToString(item.MessageID);
                            }

                            if (item.IsRead == false||item.IsRead==null)
                            {
                                if (@item.LoanRequestID != null)
                                {
                                    <img id="imgID1_@item.MessageID" style="cursor:pointer"   class="getdata" onclick="ShowMgsReplyPopupForBorrower(@ids,@item.Message_To,@item.ChildOf,@item.LoanRequestID,'imgID1_@item.MessageID')" src="~/Content/images/MgsClosed.png" />
                                }
                                else
                                {
                                    var LoanID = 0;
                                    <img id="imgID2_@item.MessageID" style="cursor:pointer"   class="getdata" onclick="ShowMgsReplyPopupForBorrower(@ids,@item.Message_To,@item.ChildOf,@LoanID,'imgID2_@item.MessageID')" src="~/Content/images/MgsClosed.png" />
                                }
                            }
                            else
                            {
                                if (@item.LoanRequestID != null)
                                {
                                   
                                    <img id="imgID3_@item.MessageID" style="cursor:pointer"  class="getdata" onclick="ShowMgsReplyPopupForBorrower(@ids,@item.Message_To,@item.ChildOf,@item.LoanRequestID,'imgID3_@item.MessageID')" src="~/Content/images/MgsOpen.png" />
                                }
                                else
                                {
                                    var LoanID = 0;
                                    <img id="imgID4_@item.MessageID" style="cursor:pointer"  class="getdata" onclick="ShowMgsReplyPopupForBorrower(@ids,@item.Message_To,@item.ChildOf,@LoanID,'imgID4_@item.MessageID')" src="~/Content/images/MgsOpen.png" />
                                }
                            }
                                }

                            </td>
                        </tr>                    
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4">
                                No New Messages
                            </td>
                        </tr>
                    }
                </table>
            </div>

        </div>
        <div class="clear"></div>


    </div>

</div>
<div class="payment" style="display: none" id="dvEditRate">
    <h4>Message Detail</h4>
    <div class="clear"></div>
    <div class="close_btn">
        <a onclick="javascript:disablePopupLoan('dvEditRate','molahcoreperipopup');">
            <img width="14" height="14" style="margin: -10px -2px 6px 5px;" alt="#" src="~/Content/images/close_btn.png"></a>
    </div>
    <div class="payment_in">
        <div class="fl">
            Message:
                
            <span id="txtMessage"></span>
            <div class="clear"></div>
            Reply:<textarea id="txtArea" placeholder="Type Message"></textarea>
            <div class="clear"></div>
            <input type="button" onclick="MgsRepliedByBorrower(document.getElementById('txtArea').value)" style="margin-left: 120px; margin-top: 8px; margin-bottom: 2px; color: #71528D" value="Send" />

        </div>
    </div>
</div>
