﻿.ind_tbl
{
    float: left;
    width: 100%;
}

.ind_row
{
    float: left;
    width: 100%;
}

.ind_col
{
    float: left;
    width: 50%;
}

.lgd_col
{
    float: left;
    margin: 5px 10px 0 0;
}

.lgd_img
{
    height: 10px;
    width: 10px;
}

.help_img
{
    height: 16px;
    width: 16px;
}

.lgd_main
{
    padding: 5% 0 0 20%;
}

.lgd_main_mp
{
    padding: 5% 0 0 15%;
}

.ind_title
{
    padding: 0 0 0 35%;
    font-weight: bold;
}

/*Borrower Index*/

.mtbl
{
    float: left;
    width: 100%;
}

.mrow
{
    float: left;
    width: 100%;
    padding-bottom: 1%;
}

.mcol
{
    float: left;
}

.mcolfirst
{
    margin: 0 1% 0 0%;
}

.mcolttitleBoldFirst
{
    padding: 0 1% 0 0%;
    font-weight: bold;
}

.mcolttitleBold
{
    padding: 0 1% 0 3%;
    font-weight: bold;
}


.mcoltitle
{
    padding: 0 1% 0 3%;
}

.mcolradio
{
    padding: 0 2% 0 0;
}

.baccount
{
    margin-bottom: 1%;
    float: right;
}

.bloanrequest
{
    float: left;
    background: #ffffff;
    border: 1px solid #bbb9af;
}

    .bloanrequest p
    {
        font-weight: bold;
        padding-left: 1%;
    }

    .bloanrequest form
    {
        margin-left: 10px;
    }

    .bloanrequest .radio-adjust
    {
        margin-left: -50px;
    }

    .bloanrequest .button-adjust
    {
        margin-left: 160px;
    }

.baccountdetails
{
    width: 75%;
}
/**/

/*Loading panel*/
.loading-indicator
{
    height: 100% !important;
    width: 100% !important;
    background: url( '/Content/images/loading.gif' );
    background-repeat: no-repeat;
    background-position: center center;
    top: 58px !important;
}

.loading-indicator-overlay
{
    background-color: #ffffff;
    opacity: 0.6;
    filter: alpha(opacity = 60);
    display: block;
    top: 0px !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    position: fixed !important;
    height: 100% !important;
    width: 100% !important;
}

#mask
{
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.date_tbl_td
{
    min-width: 72px;
}

.currency_tbl_td
{
    min-width: 80px;
}

/***********/

.dash_wish
{
    margin-left: -10px !important;
}

.dash_wish_2
{
    width: 1000px !important;
    border: none !important;
}

.dash_event_in
{
    margin-left: -9px !important;
    width: 996px !important;
    border: none !important;
}

.dash_tbl
{
    margin-left: -8px !important;
}

.loansummary_suc
{
    margin-top: 25px;
    /*float: right;*/
    min-height: 210px;
    text-align: center;
    min-width: 500px;
    /*margin-right: 8%;*/
}

.loansummary_suc h1
{
    font-size:20px !important;
}

#ui-datepicker-div
{
    font-size: 12px;
}

.h5_title
{
    color: #5C5B53;
    font-size: 12px;
    font-weight: bold;
    float: left;
    margin-right: 15px;
}

.daterange_div
{
    color: #5C5B53;
    font-size: 12px;
    float: left;
    text-align: center;
}

.daterange_input
{
    width: 70px;
    height: 10px;
    vertical-align: top;
}

.daterange_btn
{
    width: 50px;
    height: 18px;
    vertical-align: top;
    box-shadow: inset 0px 1px 0px 0px #c1ed9c;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9dc43a), color-stop(1, #449e44) );
    background: -moz-linear-gradient( center top, #9dc43a 5%, #449e44 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dc43a', endColorstr='#449e44');
    background-color: #9dc43a;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
}

    .daterange_btn:hover
    {
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #449e44), color-stop(1, #9dc43a) );
        background: -moz-linear-gradient( center top, #449e44 5%, #9dc43a 100% );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#449e44', endColorstr='#9dc43a');
        background-color: #449e44;
    }

.daterange_btn_neg
{
    width: 50px;
    height: 18px;
    vertical-align: top;
    box-shadow: inset 0px 1px 0px 0px #c1ed9c;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #A3A3A3), color-stop(1, #666666) );
    background: -moz-linear-gradient( center top, #A3A3A3 5%, #666666 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A3A3A3', endColorstr='#666666');
    background-color: #A3A3A3;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
}

    .daterange_btn_neg:hover
    {
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #666666), color-stop(1, #A3A3A3) );
        background: -moz-linear-gradient( center top, #666666 5%, #A3A3A3 100% );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#A3A3A3');
        background-color: #666666;
    }
.mp_label
{
    float: Left;
    margin-right: 5px;
    min-width: 225px;
}

.mp_templbl
{
    height: 24px;
}

.loandetails_sep
{
    border-bottom: solid 3px #3a8a0a;
    margin: 0 4%;
}

.loandetails_header
{
    margin: 10px 4% 0;
    font-size: 13px;
    font-weight: bold;
}

.loandetails_maindiv
{
    width: 100%;
}

.loandetails_childdiv
{
    float: left;
    width: 20%;
    margin: 4%;
}

.loandetails_childdivMC
{
    float: left;
    margin: 20px 4%;
    width: auto;
    max-width: 260px;
}

    .loandetails_childdivMC input + span
    {
        top: -5px;
        position: relative;
    }

    .loandetails_childdivMC img
    {
        position: relative;
        top: 2px;
    }

.sum_main
{
    border: none !important;
    width: 1060px !important;
}

b_dash_sum
{
    width: 100%;
    font-size: 11px;
}

.d_tbl
{
    width: 100%;
    border: none !important;
}

table.d_tbl tr
{
    border: none !important;
    text-align: left !important;
}

table.d_tbl td
{
    border: none !important;
    text-align: left;
}

table.d_tbl b
{
    color: #333333;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.dash_tr_div
{
    width: 100%;
}

.dash_td_div
{
    margin-right: 20px;
    float: left;
}

.tbl_td_name_m
{
    min-width: 150px;
}

.left
{
    float: left;
}

.m_li
{
    list-style: none;
}

.repay_table
{
    color: #636363;
    line-height: 17px !important;
}

.rate_table_td
{
    min-width: 60px;
    color: #DDDDDD;
}

.repay_th
{
    font-weight: bold;
    border-bottom: 1px solid #828282;
}

    .repay_th td
    {
        padding-bottom: 2%;
    }

.repay_tr
{
    border-bottom: 1px solid #DDDDDD;
}

    .repay_tr td
    {
        min-width: 85px;
        padding-top: 2%;
    }

.repay_td_e
{
    min-width: 95px !important;
    padding-top: 2%;
}

#divResetCredentials .accordion-sub
{
    height: 150px;
}

.default-table td
{
    padding: 5px;
}

.customicon-bulb
{
    background: url(../images/light-bulb.png) no-repeat;
    padding: 0 16px 0 0;
}

.password
{
    margin-right: 1%;
}

.tip
{
    cursor: help;
}

.underline
{
    text-decoration: underline;
}

.word-count
{
    margin-top: -1.5%;
    font-size: 11px;
    font-weight: bold;
}

.funding_sum_sub
{
    margin: 0 1% 0 0 !important;
    width: auto !important;
    min-height: 260px;
}

.funding_sum_inner_sub
{
    margin: 0 0 0 0 !important;
    width: 480px !important;
}

.funding_sum_title
{
    text-align: left !important;
}

.graph_rgt_inner
{
    margin-left: 15%;
}

.loanoffers_main
{
    float: left;
    margin-top: -25px;
}

    .loanoffers_main p
    {
        font-family: 'Roboto',sans-serif;
        font-size: 13px;
        margin: 0 0 8px -225px;
        text-align: center;
    }

.ui-progressbar.color .ui-progressbar-value
{
    background: #449e44 !important;
}

.pre-next-buttons
{
    float: right;
    margin-right: 20%;
}

.pre-next-buttons-submit
{
    margin: 3% 0 0 0;
}

.next-btn
{
    margin-left: 25px;
}

.bor-request
{
    margin-left: 80%;
}

.loan-des-back-next
{
    margin-left: 30%;
}

.loan-submit-preview
{
    margin-left: 45px;
}

.prev-msg
{
    color: #FF0000;
    left: 3%;
    position: relative;
    top: 125px;
    vertical-align: middle;
    z-index: 1000;
}

.loan_request-title h4
{
    color: #1e1e1e;
    font-size: 16px;
    padding: 0;
    margin: 1% 1% 1% 0;
}

.loan_request-table
{
    margin-left: 5%;
}

#wish .tbl-chart th
{
    background-color: #ffbe3a;
    /*color: #333333;*/
}

#wish .tbl-chart td
{
    background-color: #f6edd4;
    /*color: #333333;*/
}

#wish .chart-container
{
    border: 1px solid gainsboro;
    margin-left: 15px;
    width: 1030px;
    height: 250px;
}

.chart-int td
{
    background-color: #3d94f6;
}

.chart-investment td
{
    background-color: #FEC913;
}

.chart-funds td
{
    background-color: #9dc43a;
}

.chart-loan td
{
    background-color: #A3A3A3;
}

#wish .summary-values
{
    margin-top: 10px;
    margin-left: 4%;
}

    #wish .summary-values td
    {
        border: 1px solid black;
        line-height: 1.5em;
        padding: 5px;
    }


.loanDetails-offer-cal-field
{
    margin: 1.5% 2% 0 0;
    min-width: 295px !important;
}

.div-left
{
    float: left;
}

.text-center
{
    text-align: center;
}

.inv-div-details
{
    width: 37%;
    float: left;
}

.inv-div-chart
{
    width: 31%;
    float: left;
}

.inv-div-legend
{
    width: 32%;
    float: left;
    margin-top: 3%;
}

.legend-table
{
    border-top: 0 none;
    color: #FFFFFF;
    font-family: 'Roboto';
    line-height: 24px;
    text-shadow: 1px 1px #005F82;
    font-weight: bold;
}

    .legend-table td
    {
        padding: 14px;
        line-height: 18px;
        text-align: left;
        vertical-align: top;
    }

.bor-loan-draft
{
    margin: 10px 10px 10px 0;
}

.td_alignLeft
{
    text-align: right !important;
}

.small-text
{
    font-size: 11.5px;
}

.modal-title
{
    text-transform: none !important;
}

.request_upload_div
{
    width: 75%;
    padding-bottom: 1%;
    border-bottom: 1px solid #BBB9AF;
}

.summary-doc-viewer
{
    float: right;
    width: 347px;
}

.summary-doc-viewer-div
{
    min-height: 83px;
    max-height: 83px;
    overflow: auto;
}

/*.........Menu...............*/

ul#menu1, ul#menu1 ul.sub-menu1
{
    padding: 0;
    margin: 0;
}

    ul#menu1 li, ul#menu1 ul.sub-menu1 li
    {
        list-style-type: none;
        display: inline-block;
    }
        /*Link Appearance*/
        ul#menu1 li a, ul#menu1 li ul.sub-menu1 li a
        {
            padding: 5px;
            display: inline-block;
        }
    /*Make the parent of sub-menu1 relative*/
    ul#menu1 li
    {
        position: relative;
    }
        /*sub menu1*/
        ul#menu1 li ul.sub-menu1
        {
            display: none;
            position: absolute;
        }

.sub-menu-first
{
    border-bottom: 1px solid #ffffff;
    margin-top: 9px !important;
}

ul.sub-menu1 li
{
    background: #DDDDDD;
    width: 100%;
    line-height: 30px;
    text-shadow: none !important;
}

    ul.sub-menu1 li a
    {
        color: #666666 !important;
    }

        ul.sub-menu1 li a:hover
        {
            color: #000000 !important;
        }

ul#menu1 li:hover ul.sub-menu1
{
    display: block;
}

/*............................*/

/*******************************Carsoul*/

.paging-image
{
    border-radius: 23px;
    color: #FFFFFF;
    font-size: 60px;
    font-weight: 100;
    height: 40px;
    left: 15px;
    line-height: 30px;
    margin-top: -20px;
    opacity: 0.5;
    position: absolute;
    text-align: center;
    top: 40%;
    width: 40px;
}

    .paging-image.right
    {
        left: auto;
        right: 25px;
    }

.item
{
    /*background: #333;*/
    text-align: center;
    /*height: 300px !important;*/
}

.carousel
{
    margin-top: 20px;
}

.bs-example
{
    margin: 20px;
}

/***************************************/

.moolahPost-div
{
    height: 25px;
    padding: 25px;
}

.register-div
{
    border: 1px solid black;
    padding: 8px;
}

.ms-td-width-fixed
{
    width: 20%;
}

.sum-graph-tbl
{
    padding: 8% 0 0 0 !important;
}

/*Provisioning Contract*/

.pc-notice
{
    color: red;
    text-align: center;
}

.pc-text
{
    font-style: italic;
}

.pc-text-center
{
    text-align: center;
}

.pc-tbl tr
{
    width: 100%;
}

.pc-tbl-payee tr
{
}

.pc-tbl-payee td, th
{
    padding-left: 5px;
    text-align: center;
    border: 1px solid black;
    padding-right: 5px;
}

.provTable tr
{
    background-color: none;
}

.font_12
{
    font-size: 14px !important;
}
/**/

.bootbox-largeWidth
{
    width: 640px !important;
    margin-left: -320px !important;
}

.bootbox-largeWidth-680
{
    width: 680px !important;
    margin-left: -340px !important;
}

.loan-rep-tab
{
    padding: 3%;
}

.newoffer-rep
{
    margin-left: 12%;
}

.tbl-custom-funded
{
    min-width: 50px;
}

.wid-300 {
    width:600px !important;
}

.g_nric
{

}