﻿@using MoolahConnectnew.ViewModels
@model IEnumerable<FileModel>

<table id="tblFiles" width="100%" border="0" cellspacing="0" cellpadding="0">
    @foreach (FileModel item in Model)
    {
        <tbody>
            <tr>
                <td class="bdr_left bdr_bottom"><a title="Click to download the file" href="@Url.Action("DownloadFile", "Shared", new
                                                                                       {
                                                                                           @userId = item.userId,
                                                                                           @type = item.Type,
                                                                                           @fileName = item.FileName,
                                                                                           @requestId = item.RequestId
                                                                                       })">@item.FileName</a></td>
                <td class="bdr_bottom">
                    <input type="text" placeholder="Name" value="@item.Comments" name="@item.Id" style="margin:4px 5px 0 0" />
                    <a title="Click to delete the file" href="Javascript:window['DeleteFile'+'@ViewBag.UniqueId']('@item.Id','@item.FileName','@item.Type','@item.userId','@item.RequestId');">Remove</a>
                </td>
            </tr>
        </tbody>
    }
</table>

<script>
    $(function () {
        $('#tblFiles input:text').bind('keypress', function (event) {
            if (event.charCode == 44 || event.charCode == 58) {
                event.preventDefault();
                return false;
            }
        });
    });
</script>
