﻿
@Scripts.Render("~/bundles/default")
@model MoolahConnectClassLibrary.Models.ViewModels.ForgotPasswordModel


@using (Html.BeginForm("ForgetPassword", "User", FormMethod.Post, new { id = "ForgotPassword" }))
{
    <div id="wish" class="no_bg">


        <div class="wish_txt_in min_width">
            <p>To help us verify identity and keep your account secure, please enter the following. All fields are required.</p>
        </div>
        <div class="clear"></div>

        <div class="fl width100">
            <div class="wish_txt_new">Email Address:</div>


            @Html.TextBoxFor(m => m.Emailid, new { Name = "Emailid", placeholder = "Email", @class = "wish_input" })
            @Html.ValidationMessageFor(m => m.Emailid)

        </div>
        <div class="clear"></div>
        <div class="fl width100">
            <div class="wish_txt_new">Account Number:</div>

            @Html.TextBoxFor(m => m.Accountnumber, new { placeholder = "Account Number", @class = "wish_input" })
            @Html.ValidationMessageFor(m => m.Accountnumber)

        </div>
        <div class="clear"></div>
        <div class="fl width100">
            <div class="wish_txt_new">Security Question for Password </div>
        </div>
        <div class="clear"></div>
        <div class="fl width100">

            @Html.DropDownListFor(m => m.SecurityQuestion, new SelectList(Model.SecurityQuestionList, "QuestionId", "QuestionName"), new { id = "SecurityQuestion", @class = "wish_list" })
            @Html.ValidationMessageFor(m => m.SecurityQuestionList)



            @Html.TextBoxFor(m => m.Answer, new { placeholder = "Answer", @class = "wish_input mar_top" })
            @Html.ValidationMessageFor(m => m.Answer, "* Answer is required", new { @class = "addresserrorMessage" })
        </div>
        <div class="clear"></div>
        <div class="fl">
            <div class="wish_txt_new">&nbsp;</div>
            <div class="wish_txt_new wid_min"></div>
            <div class="clear"></div>
            <div class="fr">
                <div class="wish_out">
                    <button value="Submit" class="wish_btn" style="cursor: pointer;">Submit</button>
                </div>
            </div>
        </div>



    </div>
}


