﻿@using MoolahConnect.Util
<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,700' rel='stylesheet' type='text/css'>

        @*---------------- All Css files must be placed here -------------------*@


        @Styles.Render("~/Content/css/moolah_connect.css")
        @Styles.Render("~/Content/css/bootstrap.min.css")
        @Styles.Render("~/Content/css/bootstrap.css")
        @Styles.Render("~/Content/css/JqueryUI")
        @Styles.Render("~/Content/css/Site")
        @Styles.Render("~/Content/css/Uploadify")

        @*---------------- All Js files must be placed here -------------------*@

        @Scripts.Render("~/bundles/default")
        @Scripts.Render("~/bundles/jqueryEdited")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/jqueryval")
        @*@Scripts.Render("~/bundles/jqueryValidate")*@

        @*@Scripts.Render("~/Scripts/jquery.validate.min.js")
        @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")*@
        @Scripts.Render("~/Scripts/mvcfoolproof.unobtrusive.min.js")
      
        @Scripts.Render("~/bundles/qtip")
        @Scripts.Render("~/bundles/uploadify")
        @Scripts.Render("~/bundles/idleUser")

        @Scripts.Render("~/Scripts/Customjs/CustomMethod.js")

        @Scripts.Render("~/Scripts/Customjs/jquery.formatCurrency-1.4.0.js")
        @Scripts.Render("~/bundles/loading")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/bootbox")
        @Scripts.Render("~/bundles/autoNumeric")
        @Scripts.Render("~/bundles/passstrength")

    </head>
<body>
    <div id="mask" style="display: none"></div>
    <div id="wrapper">
        <div id="top_cont">
            <div class="logo_cont">
                @if (HttpContext.Current.User.Identity.IsAuthenticated)
                {
                    <a target="_blank" href="@Settings.HomePageUrl">
                        <img src="~/Content/images/logo.png" alt="">
                    </a>    
                }
                else
                {
                    <a href="@Settings.HomePageUrl">
                        <img src="~/Content/images/logo.png" alt="">
                    </a>
                }
                
            </div>
            <div class="search_cont">

                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>


            </div>
        </div>

        <div id="nav" >
            <ul id="menu1">
                @if (HttpContext.Current.Request.Cookies["_UsersRole_"] != null)
                {
                    if (HttpContext.Current.Request.Cookies["_UsersRole_"].Value == "Borrower")
                    {
                    <li>@Html.ActionLink("Dashboard", "Index", "Borrower", null, null)</li>
                    }
                    else if (HttpContext.Current.Request.Cookies["_UsersRole_"].Value == "Investor")
                    {
                    <li>@Html.ActionLink("Dashboard", "Index", "Investor", null, null)</li>
                    }
                    <li><a target="_blank" href="https://www.moolahsense.com/how-it-works/">How it works </a></li>
                    <li><a target="_blank" href="https://www.moolahsense.com/faq/">FAQ </a></li>
                    <li><a target="_blank" href="http://www.moolahsense.com/blog/">Blog </a></li>
                    @*<li><a target="_blank" href="http://www.moolahsense.com/legal">Legal </a></li>*@
                    <li><a target="_blank" href="https://www.moolahsense.com/about-us/">About us </a></li>
                    <li><a target="_blank" href="http://www.moolahsense.com/contact-us/">Contact us </a></li>
                }
                else
                {
                    <li><a href="http://www.moolahsense.com/">Home </a></li>
                    <li><a href="https://www.moolahsense.com/investors/">Investors </a></li>
                    <li>
                            <a>Businesses</a>
                            <ul class="sub-menu1">
                                <li class="sub-menu-first"><a href="http://www.moolahsense.com/businesses">Businesses</a></li>
                                <li><a href="http://www.moolahsense.com/loan-features">Loan Features</a></li>
                            </ul>
                    </li>
                    <li>@Html.ActionLink("MoolahBoard","MoolahBoard","Shared")</li>
                    <li><a href="https://www.moolahsense.com/how-it-works/">How it works </a></li>
                    <li><a href="https://www.moolahsense.com/faq/">FAQ </a></li>
                    <li><a href="https://www.moolahsense.com/blog/">Blog </a></li>
                    @*<li><a href="http://www.moolahsense.com/legal">Legal </a></li>*@
                    <li><a href="https://www.moolahsense.com/about-us/">About us </a></li>
                    <li><a href="https://www.moolahsense.com/contact-us/">Contact us </a></li>
                }
            </ul>
        </div>





        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()

        </section>


        <div id="footer">
            <ul>
                <li>MoolahSense © @DateTime.UtcNow.Year All rights reserved. &nbsp&nbsp  
                    @if (HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        @:<a target="_blank" href="http://www.moolahsense.com/about-us">About Us</a> | <a target="_blank" href="https://www.moolahsense.com/contact-us/">Contact Us</a> </li>
                    }
                    else
                    {
                        @:<a href="http://www.moolahsense.com/about-us">About Us</a> | <a href="https://www.moolahsense.com/contact-us/">Contact Us</a> </li>        
                    }
                    

            </ul>
        </div>
    </div>

    @RenderSection("scripts", required: false)

    <div id='cptup-ready'></div>
</body>
</html>

<script data-cfasync='false' type='text/javascript'>
    window.captain = { up: function (fn) { captain.topics.push(fn) }, topics: [] };
    /* Add your settings here: */
    captain.up({
        api_key: '53453ca873873a0662000002'
    });
</script>
<script type="text/javascript">
    $(function () {
        SetIdleLogOutTimer('15', '@Url.Encode(Request.RawUrl)');

     });
</script>
@*<script data-cfasync='false' type='text/javascript'>
    (function () {
        var cpt = document.createElement('script'); cpt.type = 'text/javascript'; cpt.async = true;
        cpt.src = 'http' + (location.protocol == 'https:' ? 's' : '') + '://captainup.com/assets/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(cpt);
    })();
</script>*@
