﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>MoolahConnect</title>
        @Scripts.Render("~/bundles/default")
       @Styles.Render("~/Content/Admin/Css/pro_dropdown_2.css")
        @Styles.Render("~/Content/Admin/Css/console.css")
        @Styles.Render("~/Content/Admin/Css/coreCSS.css")
        @Styles.Render("~/Content/Admin/Css/menu_style.css")
        @Styles.Render("~/Content/Admin/Css/Adminmoolah_connect.css")
        @Styles.Render("~/Content/css/Site")
        @Styles.Render("~/Content/css/Smooth/JqueryUI")
        @Styles.Render("~/Content/css/Uploadify")
       
       

    
    </head>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryValidate")
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/uploadify")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/bootbox")
@Scripts.Render("~/Scripts/Customjs/CustomMethod.js")

@Scripts.Render("~/bundles/loading")
@Scripts.Render("~/bundles/autoNumeric")
@Scripts.Render("~/bundles/idleUser")
@Scripts.Render("~/bundles/bootstrap")
    <body style="background-color: #DFDFDF;">
        <div id="mask" style="display: none"></div>
        <div>
            <table style="left: 5px; position: absolute; top: 3px; width: 100%; background-color: rgb(223, 223, 223);"
                   border="0" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td>

                            <h1>MoolahSense.com</h1>
                        </td>
                        <td style="padding-right: 20px;" align="right">
                            <table border="0" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td colspan="6" style="height: 5px;">
                                            <spacer type="block" height="4">
                                        </td>
                                    </tr>
                                    <tr style="background-color: rgb(82, 82, 82);">
                                        <td style="width: 9px; background-color: rgb(20, 19, 57);">
                                            <img alt="" src="@Url.Content("~/Content/Admin/images/mnu-header-left.gif")" width="9" height="35">
                                        </td>
                                        <td style="padding-right: 5px; padding-left: 5px;">
                                            <a style="text-decoration: none; color: white;" href="../Default.aspx" target="_blank">
                                                <img src="@Url.Content("~/Content/Admin/images/mnu-header-website.gif")" alt="Load Website" name="website" width="24"
                                                     height="24" border="0" style="vertical-align: middle" id="website" /><strong> General
                                                                                                                              Section</strong></a>
                                        </td>
                                        <td style="padding-right: 5px; padding-left: 5px;">
                                            <a style="text-decoration: none; color: white;" href="/User/Logoff" >
                                                <img src="@Url.Content("~/Content/Admin/images/mnu-header-logout.gif")" alt="Logout of Console" name="logout" width="24" height="24" border="0" style="vertical-align:middle" id="Img1" />
                                                <strong>Logout</strong>
                                            </a>
                                        </td>
                                        <td bgcolor="#141339" width="9">
                                            <img alt="" src="@Url.Content("~/Content/Admin/images/mnu-header-right.gif")" width="9" height="35">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table style="height: 98%;" border="0" cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                    <tr bgcolor="#dfdfdf">
                        <td colspan="5" height="40">&nbsp;
                        </td>
                    </tr>
                    <tr bgcolor="#dfdfdf">
                        <td colspan="5" height="20">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tbody>
                                    <tr>
                                        <td height="20">
                                            <spacer type="block" height="5">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="20">
                                            <spacer type="block" height="5">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="20">
                                            <spacer type="block" height="5">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="cfcfcf" height="2"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="preload1"></span><span class="preload2"></span>
                                            <ul id="nav">
                                                <li class="top"><a href="@Url.Content("~/Admin/")" class="top_link"><span>Home</span></a></li>
                                                <li class="top"><a href="#nogo2" id="A1" class="top_link"><span class="down">Users</span></a>
                                                    <ul class="sub">
                                                        <li><a href="@Url.Content("~/Admin/UserList?role=All")" runat="server">All Users</a> </li>
                                                        <li><a href="@Url.Content("~/Admin/UserList?role=Borrower")" runat="server">Borrower</a> </li>
                                                        <li><a href="@Url.Content("~/Admin/UserList?role=Investor")" runat="server">Investor</a> </li>
                                                        <li><a id="A7" href="" runat="server">My Profile</a> </li>
                                                    </ul>
                                                </li>
                                                <li class="top"><a href="#nogo2" id="A1" class="top_link"><span class="down">Loans</span></a>
                                                    <ul class="sub">
                                                        <li><a href="@Url.Content("~/Admin/Getallloanlist")" runat="server">Requests</a> </li>
                                                        <li><a href="@Url.Content("~/Admin/AcceptedLoans")" runat="server">Accepted Loans</a></li>
                                                    </ul>
                                                </li>
                                                <li class="top"><a href="#nogo2" id="A1" class="top_link"><span class="down">Funds Transfer</span></a>
                                                    <ul class="sub">
                                                        <li><a href="@Url.Content("~/Admin/WithdrawInformation")" runat="server">Fund Transfer Request</a> </li>
                                                    </ul>
                                                </li>

                                                <li class="top"><a href="@Url.Content("~/Admin/MoolahBoard/")" class="top_link"><span>MoolahBoard</span></a></li>
                                                <li class="top"><a href="@Url.Content("~/Admin/AuditLogs/")" class="top_link"><span>Action Logs</span></a></li>
                                                <li class="top"><a href="@Url.Content("~/Admin/AuditWarnings/")" class="top_link"><span>Audit Logs</span></a></li>
                                                <li class="top"><a href="@Url.Content("~/Admin/ReconcileAccount/")" class="top_link"><span>Reports</span></a></li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="cfcfcf" height="2"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 450px" colspan="5" align="left" valign="top">
                            @RenderBody()
                        </td>
                    </tr>
                    <tr>
                        <td class="style1"></td>
                    </tr>
                    <tr bgcolor="#282828">
                        <td class="menuWhite" style="padding-right: 20px;" colspan="5" align="right" height="35">©MoolahSense<br />
                            <span style="font-size: 11px;">All material is copyrighted MoolahSense.com</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>

<script type="text/javascript">
    
    $(function () {
        SetIdleLogOutTimer('15', '@Url.Encode(Request.RawUrl)');

    });
</script>