﻿@using MoolahConnect.Util
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,700' rel='stylesheet' type='text/css'>

    @*---------------- All Css files must be placed here -------------------*@


    @Styles.Render("~/Content/css/moolah_connect.css")
    @Styles.Render("~/Content/css/bootstrap.min.css")
    @Styles.Render("~/Content/css/bootstrap.css")
    @Styles.Render("~/Content/css/JqueryUI")
    @Styles.Render("~/Content/css/Site")

    @*---------------- All Js files must be placed here -------------------*@

    @Scripts.Render("~/bundles/default")
    @Scripts.Render("~/bundles/jqueryEdited")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/Scripts/jquery.validate.min.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")
    @Scripts.Render("~/Scripts/mvcfoolproof.unobtrusive.min.js")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/qtip")
    @Scripts.Render("~/bundles/autoNumeric")

    @Scripts.Render("~/Scripts/Customjs/CustomMethod.js")
    @Scripts.Render("~/Scripts/Customjs/jquery.formatCurrency-1.4.0.js")

</head>
<body>
    <div id="mask" style="display: none"></div>
    <div id="wrapper">

        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()

        </section>
    </div>

    @RenderSection("scripts", required: false)

</body>
</html>
