﻿@if (Request.IsAuthenticated)
{
    <text>
    Hello, @User.Identity.Name
    <span>| </span>
    @Html.ActionLink("Log off", "LogOff", "User")
    </text>
}
else
{
    @Html.ActionLink("Register", "RegisterUser", "User")
    <span>| </span>
    @Html.ActionLink("Log in", "Login", "User")
}