﻿@using MoolahConnectnew.ViewModels
@using MoolahConnect.Util.ExtensionMethods
@model IEnumerable<RepaymentViewModel>

@if (ViewBag.RepaymentMessages != null && ViewBag.RepaymentMessages.Count > 0)
{
    <br />
    <div style="max-height: 100px; width: 100%; overflow: auto; overflow-x: hidden">
        @foreach (var item in ViewBag.RepaymentMessages)
        {
            <p><i>@item.CreatedDate.ToString("dd MMM yyyy HH:mm")</i>&nbsp&nbsp @item.Message  </p>
        }
    </div>
    <br />
}

<table class="repay_table">
    <tr class="repay_th">
        <td>Date</td>
        <td>Start Balance</td>
        <td>Principal</td>
        <td>Interest</td>
        <td>Repayment</td>
        <td>End Balance</td>
        <td>Status</td>
    </tr>

    @if (Model != null && Model.Count() > 0)
    {
        foreach (var item in Model)
        {      
        <tr class="repay_tr">
            <td>@item.DueDate.ToDate() </td>
            <td class="repay_td_e">@item.StartBalance.ToCurrency()</td>
            <td>@item.Principal.ToCurrency() </td>
            <td>@item.Interest.ToCurrency() </td>
            <td>@item.Payment.ToCurrency() </td>
            <td>@item.EndBalance.ToCurrency() </td>
            <td>@item.status.ToString()</td>
        </tr>      
        }
    }
    else
    {
        <tr>
            <td colspan="5">Error generating repayment schedule.</td>
        </tr>
    }
</table>
<br />
<p>Please note that your actual interests paid can appear to be off by a few cents when compared to a manual calculation of interests. This is because we round off the monthly repayment to the nearest 2 decimals which sometimes contain a factor of a cent.</p>