﻿@using MoolahConnect.Util.ExtensionMethods
@using MoolahConnectnew.ViewModels
@using MoolahConnect.Util

@model MoolahConnectClassLibrary.Models.ViewModels.TermsheetViewModel
@{
    Layout = null;
}

<style>
    #termData div div
    {
        display: inline;
        line-height: 2;
    }
</style>

<div id="termData">
    <div>
        <div>Note ID :</div>
        <div>@Model.LoanId</div>
    </div>
    <div>
        <div>Date of Note Agreement :</div>
        @if (Model.LoanAgreementDt == null)
        {
            <div>NA</div>
        }
        else
        {
            <div>@Model.LoanAgreementDt.Value.ToString("MMMM dd, yyyy")</div>
        }
    </div>
    <div>
        <div>Principal  Amount of the Note :</div>
        <div id="amount">@Model.PrincipalAmount.ToCurrency()</div>
    </div>
    <div>
        <div>Tenure of Note :</div>
        <div>@string.Format("{0} Months", Model.Tenure)</div>
    </div>
    <div>
        <div>Accepted Rate (p.a.) :</div>
        <div>@string.Format("{0} %", Model.AcceptedRate)</div>
    </div>
    <div>
        <div>Effective Rate (p.a.) :</div>
        <div id="rate">@string.Format("{0} %", Model.EffectiveRate)</div>
    </div>
    <div>
        <div>Total Interest Payable :</div>
        <div>@Model.TotalInterest.ToCurrency()</div>
    </div>
    <div>
        <div>Repayment Amount at each Scheduled date :</div>
        <div>@Model.RepaymentAmount.ToCurrency()</div>
    </div><br/>
    <div>
        <div>
            <div id="repaymentScheduleInfo">
                @Html.Partial("LoanAcceptRepaymentSchedule", (IEnumerable<RepaymentViewModel>)ViewBag.Repaymemts)
            </div>
        </div>
    </div>
    <br/>
    <div>
        <div><b><a target="_blank" href="@Settings.BorrowerTermsAndConditionsUrl">Standard Terms and Conditions</a></b></div>
    </div>
    <br />
</div>
