﻿@using MoolahConnectnew.ViewModels
@using MoolahConnect.Util.ExtensionMethods
@model IEnumerable<TransactionViewModel>

<table id="tableMain" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr class="bg_col">
        <td class="bdr_bottom bdr_left">Date</td>
        <td class="bdr_bottom">Transaction Reference  </td>
        <td class="bdr_bottom">Request ID</td>
        <td class="bdr_bottom">Description</td>
        <td class="bdr_bottom">Debit</td>
        <td class="bdr_bottom">Credit</td>
        <td class="bdr_bottom">Balance</td>
    </tr>

    @if (Model != null && Model.Count() > 0)
    {
        foreach (var item in Model)
        {      
        <tr class="@item.Date.Value.Month">
            <td class="bdr_left bdr_bottom">@item.Date.ToDateTime() </td>
            <td class="bdr_bottom">@item.TransactionReference</td>
            <td class="bdr_bottom">
                @if (item.RequestId.HasValue && item.RequestId != 0)
                {
                    @:@Convert.ToString(item.RequestId)
                                        	            }
                else
                {
                    @:NA        
	            }
            </td>
            <td class="bdr_bottom ">@item.Description </td>
            @if (item.DebitedAmount != 0)
            {
                <td class="bdr_bottom currency_tbl_td">@item.DebitedAmount.ToCurrency() </td>
            }
            else
            {
                <td class="bdr_bottom">- </td>
            }


            @if (item.CreditedAmount != 0)
            {
                <td class="bdr_bottom currency_tbl_td">@item.CreditedAmount.ToCurrency() </td>
            }
            else
            {
                <td class="bdr_bottom">- </td>
            }

            @if (item.Balance >0)
            {
                <td class="bdr_bottom currency_tbl_td">@item.Balance.ToCurrency() CR</td>    
            }
            else
	        {
                <td class="bdr_bottom currency_tbl_td"> @item.Balance.ToCurrency() DR</td>            
	        }
            

        </tr>      
        }
    }
    else
    {
        <tr>
            <td class="bdr_left bdr_bottom" colspan="7">No Transactions has been made yet</td>
        </tr>
    }

</table>

<script>
    function ShowHideRows() {
        var ddltime = 'bg_col1' + ' ' + $('#ddlTime').val();
        var i = 0;
        $('#tableMain tr').each(function () {
            //var $this = $(this);
            //  alert($this.class);

            var cls = $(this).attr('class');

            if (i != 0) {
                if (ddltime != cls) {
                    $(this).fadeOut();
                }

                if (ddltime == 'bg_col1' + ' ' + '0') {
                    $(this).fadeIn();
                }

            }
            i++;

        });
    }

</script>
