﻿To add YouTube video, please use the following steps,
        <br />
<br />
1) Access your video on YouTube.
<br />
2) Click the <b>Share</b> option slightly below your video screen.
<br />
3) Copy and past the YouTube code here. The format should look something like the following,<br />
&nbsp&nbsp&nbsp&nbsp <b><u>http://youtu.be/8ZpkFea8RoI</u></b>
<br />
4) Click add
<br />
5) There is no limit to the number of YouTube links you can add
<br />
