﻿@Scripts.Render("~/bundles/default")
@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Nothing found for  404</title>

    <style>
        body {
            background: #f3f1e5 !important;
            margin: 0;
            padding: 20px;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            color: #666666;
        }

        .error_page {
            width: 600px;
            padding: 50px;
            margin: auto;
        }

            .error_page h1 {
                margin: 20px 0 0;
            }

            .error_page p {
                margin: 10px 0;
                padding: 0;
            }

        a {
            color: #9caa6d;
            text-decoration: none;
        }

            a:hover {
                color: #9caa6d;
                text-decoration: underline;
            }
    </style>

</head>

<body class="login">
    <div class="error_page">        
           <img src="~/Content/images/logo.png" alt="">
        <h3>Sorry, the website is currently undergoing maintenance. For urgent assistance, please contact our customer service team on 6871 8780</h3>
    </div>
</body>
</html>
