﻿@{
    ViewBag.Title = "MoolahBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using MoolahConnect.Util.Enums
@using MoolahConnectnew.ViewModels
@using MoolahConnect.Util.ExtensionMethods

@model LoanRequestBoardViewModel

<div id="board_summary_cont">
    <h1>MoolahBoard Summary List </h1>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="text-align:center !important" id="board_summary_table">
        <tr>
            <th class="ms-td-width-fixed">Headline </th>
            <th>Purpose </th>
            <th style="min-width:12%">Amount</th>
            <th style="min-width:8%">Tenor</th>
            <th>Target Rate</th>
            <th style="min-width:15%">Time Left</th>
            <th>Funded</th>
        </tr>

        @if (Model.LoanRequestViewModels != null && Model.LoanRequestViewModels.Count > 0)
        {
            foreach (var item in Model.LoanRequestViewModels)
            {
                         
            <tr>
                <td>@item.Headline</td>
                <td><span>
                    <a style="cursor: pointer;" title="To see more details, please Register or Log in" onclick="ShowAccessDeniedMessage();">@item.LoanPurpose</a>
                    <br />
                    @item.RegisteredAddress</span></td>

                <td class="formatCurrency">@item.Amount.ToCurrency()</td>
                <td>@item.Term Months</td>
                <td>@item.Rate %</td>
                <td>
                    @item.Days<span> days</span> @item.Hours <span>Hours</span> @item.Minutes <span>Min</span>
                </td>
                <td>
                    @item.Funded %</td>
            </tr>
            }


        }
        else
        {
            <tr>
                <td colspan="7">No listing currently</td>
            </tr>
        }
    </table>
</div>
