﻿@using MoolahConnectnew.ViewModels
@using MoolahConnect.Util.ExtensionMethods
@model List<RepaymentViewModel>

<table class="repay_table">
    <tr class="repay_th">
        <td>Date</td>
        <td>Investment</td>
        <td>Principal</td>
        <td>Interests</td>
        <td>Repayment</td>
    </tr>

    @if (Model != null && Model.Count() > 0)
    {
        for (int i = 1; i <= Model.Count(); i++)
        {
        <tr class="repay_tr">

            <td>Month @i</td>
            <td class="repay_td_e">@Model[i - 1].StartBalance.ToCurrency()</td>
            <td>@Model[i - 1].Principal.ToCurrency() </td>
            <td>@Model[i - 1].Interest.ToCurrency() </td>
            <td>@Model[i - 1].Payment.ToCurrency() </td>
        </tr>          
        }
    }
    else
    {
        <tr>
            <td colspan="5">Error generating repayment schedule.</td>
        </tr>
    }
</table>
