<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>
<table width="665" border="0" align="center">
    <tr>
        <td>
            <table width="100%" border="0" align="center">
                <tr>
                    <td><a href=""><img style="padding-left: 15px;" src="<%AppUrl%>/Content/images/EmailTemplate/logo.png" alt="logo"></a></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table background="<%AppUrl%>/Content/images/EmailTemplate/header.png" width="665" height="50" style="background-image: url('<%AppUrl%>/Content/images/EmailTemplate/header.png'); background-repeat: no-repeat; height: 51px; width: 665px;">
            </table>
            <table width="100%" border="0" align="center" background="<%AppUrl%>/Content/images/EmailTemplate/body.png" width="665"  style="background-image: url(<%AppUrl%>/Content/images/EmailTemplate/body.png); background-repeat: repeat-y; height: 21px; width: 665px; font-family: 'Times New Roman', Hoefler Text, Liberation Serif, Times, Cambria , serif; letter-spacing:0.02em">
                <tr>
                    <td valign="top" style="padding:0 70px; color: #222222;">
                       <p>Dear<span style="font-weight: bold"> <%username%>,</span>
                            <br><br>
                            Thank you for submitting your information. We are reviewing the information and shall be getting back to you
							within one business day (typically sooner) with regards to your registration status.
							<br><br>
							In the meantime, if you have any queries, please do not hesitate to <a href="mailto:admin@moolahsense.com">email</a> us or contact us at +65-6871-8780.
							<br><br>
                            Yours Sincerely,<br>
                            MoolahSense
                        </p>
                    </td>
                </tr>
            </table>
            <table background="<%AppUrl%>/Content/images/EmailTemplate/footer.png" width="665" height="51" style="background-image: url(<%AppUrl%>/Content/images/EmailTemplate/footer.png); background-repeat: no-repeat; height: 51px; width: 665px;"></table>
        </td>
    </tr>
    <tr>
        <td>
            <p style="padding: 10px; color: rgb(87, 87, 87); margin: 0px 33px; text-align: justify; font-family: 'Open Sans', Arial, Helvetica, sans-serif; font-size: 11px;">
                Disclaimer :
                The information contained in this email is confidential. If you are not the intended recipient, you must not disclose or use the information in this email in any way. If you received it in error, please tell us immediately by return email and delete the document. We do not guarantee the integrity of any e-mails or attached files and are not responsible for any changes made to them by any other person.
            </p>
        </td>
    </tr>
</table>
</body>
</html>