﻿@using MoolahConnect.Util.FinancialCalculations
@using MoolahConnect.Util.Enums
@using MoolahConnect.Util.SealedClasses
@using MoolahConnect.Util.ExtensionMethods
@using MoolahConnectnew.ViewModels
@using MoolahConnect.Util

@helper DisplayYesNoTextforBool(string id, Boolean? value, string placeholder)
{
    if (value.HasValue && value.Value)
    {
    <input id="@id" value="Yes" class="des_input_in"  placeholder="@placeholder" readonly="readonly" />    
    }
    else
    {
    <input id="@id" value="No" class="des_input_in"  placeholder="@placeholder" readonly="readonly" />    
    }
    
}

@helper CalculateMoolahFees(double? val1, string term)
{
    double value = 0;

    if (val1.HasValue)
    {
        value = LoanRequestCalc.CalculateMoolahFees(val1.Value, term);
    }
    <span>@string.Format("S{0:C}", value)</span>
}

@helper CalculateEIR(double? amount, string term, double? target)
{
    
    double value = 0;


    if (amount.HasValue && target.HasValue)
    {
        value = LoanRequestCalc.CalculateTargetEIR(amount.Value, term, target.Value);
    }
    <span>@Math.Round(value, 2)</span>
}

@helper DateTimeRangePicker(string fromDatePickerName, string toDatePickerName, string function)
{
    string jsFunction = "Javascript:" + function + "($('#" + fromDatePickerName +
        "').val(),$('#" + toDatePickerName + "').val());";

    string jsFunctionClear = function + "(null,null);";    
    
    <div class="daterange_div">
        From :
    <input type="text" class="daterange_input" id="@fromDatePickerName">
        To :
    <input type="text" class="daterange_input" id="@toDatePickerName">
        <a href="@jsFunction">
            <input type="button" class="daterange_btn" value="Search" /></a>
        <a href="Javascript:$('#@fromDatePickerName').val('');$('#@toDatePickerName').val('');@jsFunctionClear;">
            <input type="button" class="daterange_btn_neg" value="Clear" /></a>
    </div>
    
    <script type="text/javascript">
        $(function () {
            $("#@fromDatePickerName").datepicker({ maxDate: 0, dateFormat: 'dd\/mm\/yy' });
            $("#@toDatePickerName").datepicker({ maxDate: 0, dateFormat: 'dd\/mm\/yy' });
        });
    </script>
}


@helper IsVerifiedImage(bool? isVerirfied)
{
    if (isVerirfied.HasValue && isVerirfied.Value)
    {
    <img class="StatusImg" alt="Verified" title="Information has been verified by the Admin"
        src="~/Content/images/circle-tick.png" style="vertical-align: top" />
    }
    else
    {
    <img class="StatusImg" alt="Unverified" title="Information has not been verified by the Admin" src="~/Content/images/cross.png" style="vertical-align: top" />
   
    }
}

@helper ListTb(string values)
{
    if (values == null)
    {
    @:<input readonly="readonly" value="Undisclosed" /><br />
        return;
    }

    string[] arrValues = values.Split(',');


    if (arrValues.Length > 0)
    {

        foreach (string value in arrValues)
        {
            if (value.Contains("http"))
            {

    @:<a style="color:navy" href="@value" target="_blank">@value.Replace("https://", "").Replace("http://", "")</a><br />
            }
            else if (value.Contains("www"))
            {

    @:<a style="color:navy" href="http://@value" target="_blank" >@value</a><br />
            }
            else
            {
    @:<input readonly="readonly" value="@value" /><br />
}
        }

    }
    else
    {
    @:<input readonly="readonly" value="Undisclosed" /><br />
    }
    
}

@helper List(string values)
{
    if (values == null)
    {
    @:<input readonly="readonly" value="Undisclosed" /><br />
        return;
    }

    string[] arrValues = values.Split(',');


    if (arrValues.Length > 0)
    {
    @:<ul class="left" style="color: #555555;">
foreach (string value in arrValues)
{
           <li class="m_li">@value</li> 
}
        @:</ul>
                                                                                            }
    else
    {
    @:<input readonly="readonly" value="Undisclosed" /><br />
    }
    
}

@helper BooleanYesNo(bool? value)
{
    if (value.HasValue)
    {
        if (value.Value)
        {
    <input type="text" value="Yes" readonly="true" />
        }
        else
        {
    <input type="text" value="No" readonly="true" />
        }
    }
    else
    {
    <input type="text" value="Undisclosed" readonly="true" />
    }
}

@helper IntIsNull(int? value)
{
    if (value.HasValue && value > 0)
    {
    <input type="text" value="@value.Value" readonly="true" />
    }
    else
    {
    <input type="text" value="Undisclosed" readonly="true" />
    }
}

@helper DoubleIsNull(double? value)
{
    if (value.HasValue)
    {
    <input type="text" value="@value.Value.ToRate()" readonly="true" />
    }
    else
    {
    <input type="text" value="Undisclosed" readonly="true" />
    }
}

@helper DebitEquility(double? value)
{
    if (value.HasValue)
    {
        if (value >= 0)
        {
    <input type="text" value="@value.Value.ToRate()" readonly="true" />
        }
        else
        {
    <input type="text" value="Negative Debt/Equity Ratio" readonly="true" />
        }
    }
    else
    {
    <input type="text" value="Undisclosed" readonly="true" />
    }
}

@helper InterestCoverageRatio(double? value)
{
    if (value.HasValue)
    {
        if (value >= 0)
        {
    <input type="text" value="@value.Value.ToRate()" readonly="true" />
        }
        else
        {
    <input type="text" value="Negative Interest Coverage Ratio" readonly="true" />
        }
    }
    else
    {
    <input type="text" value="Undisclosed" readonly="true" />
    }
}

@helper CashFlow(int value)
{
    if (value == 0)
    {
    <input type="text" value="Negative" readonly="true" />
    }
    else if (value == 1)
    {
    <input type="text" value="Positive" readonly="true" />
    }
    else
    {
    <input type="text" value="Undisclosed" readonly="true" />
    }
}

@helper BooleanPositiveNegative(bool? value)
{
    if (value.HasValue)
    {
        if (value.Value)
        {
    <input type="text" value="Positive" readonly="true" />
        }
        else
        {
    <input type="text" value="Negative" readonly="true" />
        }
    }
    else
    {
    <input type="text" value="Undisclosed" readonly="true" />
    }
}

@helper ErrorAlert(string error)
{
    if (!string.IsNullOrEmpty(error))
    {
    <div class="alert alert-danger alert-dismissable">
        @error
    </div>
    }
}

@helper WarningAlert(string warning)
{
    if (!string.IsNullOrEmpty(warning))
    {
    <div class="alert alert-warning alert-dismissable">
        @warning
    </div>
    }
}

@helper ValidatePassword(string modelId)
{
    <div class="modal fade" id="@modelId" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="modelValidatePWLabel"></h4>
                </div>
                <div class="modal-body">
                    <div id="additionalData"></div>
                    <div id="divmodelValidatePWError" class="alert alert-danger">Error</div>
                    @*<form role="form" class="form-inline line25">*@
                        <div class="form-group">
                            <label for="expected-amount">Password</label>
                            <input id="txtmodelValidatePWPassword" type="password" placeholder="Password" />
                        </div>
                        <div style="width: 10px">&nbsp</div>
                    @*</form>*@                    
                    <div id="divDisclaimer" style="display:none">
                        <table>
                            <tr>
                                <td style="vertical-align:text-top">
                                    <input id="cbDis1" type="checkbox" /></td>
                                <td>&nbsp</td>
                                <td style="vertical-align:text-top"><b>We warrant that all information presented are true and correct and do not have any material non-disclosure that would result in the information being misleading.</b></td>
                            </tr>
                        </table>
                        <br />
                        <table>
                            <tr>
                                <td style="vertical-align:text-top">
                                    <input id="cbDis2" type="checkbox" /></td>
                                <td>&nbsp</td>
                                <td style="vertical-align:text-top"><b>We warrant that no financial or professional advice had been sought from MoolahSense in connection to our decision to raise an issue request and/or subsequent acceptance of offers.</b></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" value="ok">Ok</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" value="cancel">Cancel</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

}

@helper UploadRegistrationDocuments(string id, string title, string username, string fileType, string extType, long? requestId = null, string mutli = null, bool? isListOnly = null)
{
    var fileUpload = "file_Upload" + @id;
    var fileList = "fileList" + @id;
    var _requestId = requestId.HasValue ? requestId.ToString() : null;
    var deleteFunctionName = "deleteFile" + @id;
    mutli = string.IsNullOrEmpty(mutli) ? "true" : "false";
    
    <h4>@title</h4>
    <div>
        @if (isListOnly == null || isListOnly.Value == false)
        {
            
            <input type="file" name="@fileUpload" id="@fileUpload" />
            <br />
        }
        <div id="@fileList">
        </div>
    </div>
    
    <script type="text/javascript">
        $(function () {
            $('#@fileList').empty();
            $('#@fileList').load('/Shared/_FilesList?username=@username.ToQueryStringValue()&type=@fileType&requestId=@_requestId&uniqueId=@id');

            $('#@fileUpload').uploadifive({
                'uploadScript': '/Shared/Upload/',
                'sizeLimit':1024*1024*2000,
                'fileType': '@extType',
                'multi' : @mutli,
                'cancelImg': '/Content/images/uploadify-cancel.png',
                'formData': { username: '@username', requestId: '@_requestId',type : '@fileType', multi : '@mutli' },
                'onUploadComplete': function (file, data, response) {
                    if (data == '@StatusMessages.SUCCESS') {
                        var _comments = GetFileCommentsAsString('@id');
                        $('#@fileList').empty();
                        $('#@fileList').load('/Shared/_FilesList?username=@username.ToQueryStringValue()&type=@fileType&comments=' 
                            + _comments + '&requestId=@_requestId&uniqueId=@id');
                    }
                    else {
                        bootbox.alert('@StatusMessages.FILE_UPLOAD_FAILED');
                    }
                }
            });
        });


        window['DeleteFile'+'@id']= function (fileid, fileName, type, userId, requestId) {
            $.ajax({
                url: "/Shared/DeleteFile",
                type: "POST",
                dataType: "json",
                contentType: 'application/json',
                data: '{\'fileid\':' + JSON.stringify(fileid) + ',\'fileName\':' + JSON.stringify(fileName) +
                    ',\'type\':' + JSON.stringify(type) + ',\'userId\':' + JSON.stringify(userId) +
                    ',\'comments\':' + JSON.stringify(GetFileComments('@id')) + ',\'requestId\':' + JSON.stringify(requestId) + '}',
                success: function (data) {
                    if (data.Status = '@StatusMessages.SUCCESS') {
                        $('#@fileList').empty();
                        $('#@fileList').load('/Shared/_FilesList?username=@username.ToQueryStringValue()&type=@fileType&requestId=@_requestId&uniqueId=@id');
                    }
                    else {
                        bootbox.alert('@StatusMessages.FILE_DELETE_ERROR');
                    }
                }
            });
        }
    </script>
}

@helper UndisclosedLabelOnNullOrEmpty(string value)
{
    if (string.IsNullOrEmpty(value))
    {
    <input type="text" value="Undisclosed" readonly="true" /> 
    }
    else
    {
    <input type="text" value="@value" readonly="true" /> 
    }
}

@helper UploadYouTubeLinks(string username, long requestId)
{
    var id = "YouTubeLinks";
    var fileList = "fileList" + id;
    
    <input id="linkText" type="text" placeholder="YouTube link" style="width: 525px" />
    <input id="addLink" type="button" class="daterange_btn" value="Add" />    
    <br />
    <br />
    <div id="fileListYouTubeLinks">
    </div>
    
    <script type="text/javascript">
        $(function () {

            $(".customicon-bulb").popover({ html: true });

            $('#@fileList').load('/Shared/_YouTubeLinksList?requestId=@requestId');

            $('#addLink').click(function () {
                var link = $('#linkText').val().trim();
                if(link != "")
                {
                    $.ajax({
                        url: "/Shared/AddYouTubeLink",
                        type: "POST",
                        dataType: "json",
                        contentType: 'application/json',
                        data: '{link:\'' + link + '\',username:\'@username\',requestId:\'@requestId\'}',
                        success: function (data) {
                            if (data.Status = '@StatusMessages.SUCCESS') {
                                var _comments = GetFileCommentsAsString('@id');
                                $('#linkText').val('');
                                $('#@fileList').empty();
                                $('#@fileList').load('/Shared/_YouTubeLinksList?requestId=@requestId&comments=' 
                            + _comments);
                            }
                            else {
                                bootbox.alert('Error! Can not add the YouTube link');
                            }
                        }
                    });
                }
            });
        });

        function DeleteLink(id) {
            $.ajax({
                url: "/Shared/DeleteYouTubeLink",
                type: "POST",
                dataType: "json",
                contentType: 'application/json',
                data: '{\'id\':' + id + ',comments:'+JSON.stringify(GetFileComments('@id')) + '}',
                success: function (data) {
                    if (data.Status = '@StatusMessages.SUCCESS') {
                        $('#@fileList').empty();
                        $('#@fileList').load('/Shared/_YouTubeLinksList?requestId=@requestId');
                    }
                    else {
                        bootbox.alert('@StatusMessages.LINK_DELETE_ERROR');
                    }
                }
            });
        }
    </script>
    
}