﻿@using MoolahConnect.Util
@using MoolahConnectnew.ViewModels

@model LoanDocumentsViewModel
<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Video </a></li>
        <li><a href="#tabs-2">Photo </a></li>
        <li><a href="#tabs-3">Docs </a></li>
        <li><a href="#tabs-4">YouTube </a></li>
    </ul>
    <div id="tabs-1" class="summary-doc-viewer-div">
        @if (Model.Videos != null)
        {
            @:<ul>
foreach (var item in Model.Videos)
{
            <li><a title="Click to download the file" href="javascript:ShowVideo('@item.Url','@item.Comments')">
                @if (string.IsNullOrEmpty(item.Comments))
                {
                    @:Video
                }
                else
                {
                    @item.Comments
                }
                </a><br /><br /></li>
}
                @:</ul>
                                                                                                                                                                                                                    }
        else
        {
            @:&nbsp
        }
    </div>
    <div id="tabs-2" style="text-align: center" class="summary-doc-viewer-div">
        @if (Model.PhotoUrls != null)
        {
            <a style="color: blue;" href="Javascript:ShowPhotoviewer()"><u>Slide Show</u></a>
        }
        else
        {
            @:&nbsp
        }
    </div>
    <div id="tabs-3" class="summary-doc-viewer-div">
        @if (Model.Documents != null)
        {
            @:<ul>
foreach (var item in Model.Documents)
{
            <li><a title="Click to download the file" href="@Url.Action("DownloadFile", "Shared", new
                                                   {
                                                       @userId = item.userId,
                                                       @type = item.Type,
                                                       @fileName = item.FileName,
                                                       @requestId = item.RequestId
                                                   })">
                @if (string.IsNullOrEmpty(item.Comments))
                {
                    @:Document
                }
                else
                {
                    @item.Comments
                }
                </a><br /><br /></li>
}
            @:</ul>
                                                                                                                                                                                                        }
        else
        {
            @:&nbsp
        }
    </div>
    <div id="tabs-4" class="summary-doc-viewer-div">
        @if (Model.YouTube != null)
        {
            @:<ul>
foreach (var item in Model.YouTube)
{
            <li><a title="Click to view the video" href="javascript:ShowYouTubeVideo('@item.FileName','@item.Comments')">
                @if (string.IsNullOrEmpty(item.Comments))
                {
                    @:link
                }
                else
                {
                @item.Comments        
                }
                

                </a><br /><br /></li>
}
            @:</ul>
                                                                                                                                                                                                        }
        else
        {
            @:&nbsp
        }
    </div>
</div>

<div class="modal fade" id="modelPhotoSlider" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modelValidatePWLabel">Slide Show </h4>
            </div>
            <div class="modal-body">
                @if (Model.PhotoUrls != null)
                {
                    @Html.Partial("PhotoViewer", Model.PhotoUrls)    
                }

            </div>
            <div class="modal-footer">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modelVideoViewer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="vid-model-title" class="modal-title"></h4>
            </div>
            <div id="divVideo" class="modal-body">
            </div>
            <div class="modal-footer">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script type="text/ecmascript">
    $(function () {
        $("#tabs").tabs();

        $('#modelVideoViewer').on('hidden.bs.modal', function () {
            $('#divVideo').empty();
        })
    });

    function ShowPhotoviewer() {
        $('#modelPhotoSlider').modal();
    }

    function ShowYouTubeVideo(url, name) {
        $('#divVideo').empty();
        url = url.replace(/ /g, "%20");
        name = name.replace(/ /g, "%20");
        $('#divVideo').load('/Loan/YouTubeVideoViewer?url=' + url + '&name=' + name);

        $('#vid-model-title').empty();
        $('#vid-model-title').html('YouTube');

        $('#modelVideoViewer').modal();

    }

    function ShowVideo(url, name) {
        $('#divVideo').empty();
        url = url.replace(/ /g, "%20");
        name = name.replace(/ /g, "%20");
        $('#divVideo').load('/Loan/VideoViewer?url=' + url + '&name=' + name);

        $('#vid-model-title').empty();
        $('#vid-model-title').html('Video');

        $('#modelVideoViewer').modal();

    }

</script>
