﻿@model MoolahConnectnew.ViewModels.LoanDetailsMoolahPeri

<div class="loandetails_maindiv">
    <div class="loandetails_childdivMC">
        <div class="clear">
            @Html.LabelFor(m => m.MoolahPeri.BusinessAwards, new { Class = "mp_label" })
            @MoolahConnectHelper.IsVerifiedImage(Model.MoolahPeriVerify.BusinessAwardsVerified)
        </div>
        @MoolahConnectHelper.ListTb(Model.MoolahPeri.BusinessAwards)
        <br />
        <br />
        <div class="clear">
            @Html.LabelFor(m => m.MoolahPeri.Accreditation, new { Class = "mp_label" })
            @MoolahConnectHelper.IsVerifiedImage(Model.MoolahPeriVerify.AccreditationVerified)
        </div>
        @MoolahConnectHelper.ListTb(Model.MoolahPeri.Accreditation)
        <br />
        <br />
        <div class="clear">

            @Html.LabelFor(m => m.MoolahPeri.TradeAssociation, new { Class = "mp_label" })
            @MoolahConnectHelper.IsVerifiedImage(Model.MoolahPeriVerify.TradeAssociationVerified)
        </div>
        @MoolahConnectHelper.ListTb(Model.MoolahPeri.TradeAssociation)
    </div>
    <div class="loandetails_childdivMC">

        @Html.LabelFor(m => m.MoolahPeri.SocialMediaFootprint, new { Class = "mp_label" })
        @MoolahConnectHelper.IsVerifiedImage(Model.MoolahPeriVerify.SocialMediaFootprintVerified)
        @MoolahConnectHelper.ListTb(Model.MoolahPeri.SocialMediaFootprint)
        <br />
        <br />

        @Html.LabelFor(m => m.MoolahPeri.CommunityInitiatives, new { Class = "mp_label" })
        @MoolahConnectHelper.IsVerifiedImage(Model.MoolahPeriVerify.CommunityInitiativesVerified)
        @MoolahConnectHelper.ListTb(Model.MoolahPeri.CommunityInitiatives)

        <br />
        <br />

        @Html.LabelFor(m => m.MoolahPeri.UpdateMoolahPost, new { Class = "mp_label" })
        @MoolahConnectHelper.BooleanYesNo(Model.MoolahPeri.UpdateMoolahPost)
    </div>
    <div class="loandetails_childdivMC">
        @Html.LabelFor(m => m.MoolahPeri.BiodataOfKeyPersonnel, new { Class = "mp_label" })
        @MoolahConnectHelper.IsVerifiedImage(Model.MoolahPeriVerify.BiodataOfKeyPersonnelVerified)
        <textarea style="min-width:325px" rows="6" readonly="readonly">@Model.MoolahPeri.BiodataOfKeyPersonnel</textarea>
        <br />
        <br />

        <div style="margin-bottom: 5px;">
            MoolahPerks for Investors &nbsp; <span id="spanMoolahPerks" class="customicon-bulb tip" />
        </div>
        <label class="mp_templbl"></label>
        <textarea style="min-width:325px" rows="6" readonly="readonly">@Model.MoolahPeri.MoolahPerk</textarea>
        <br />
        <br />
    </div>
</div>
<div class="clear"></div>
<div align="right" style="padding: 20px;">
    <div id="timeStampMp"></div>
</div>
<script>
    $(document).ready(function () {
        GetTimeStamp(5, "timeStampMp");
        $(".customicon-bulb").popover({ html: true });

        $('#spanMoolahPerks').qtip({
            content: 'MoolahPerks are rewards or gestures of appreciation given at the discretion of the business to allocated investors.<br><br> MoolahPerks are configured and administered separately by each business, independent of MoolahSense.',
            position: {
                corner: {
                    tooltip: 'bottomLeft',
                    target: 'topLeft'
                }
            },
            hide: {
                fixed: true,
                delay: 300
            },
            style: {
                width: 300,
            }
        });
    });
</script>
