﻿@using MoolahConnect.Util.ExtensionMethods
@model MoolahConnectnew.ViewModels.LoanRequestViewModel

<div class="loandetails_maindiv">
    <div class="loandetails_childdiv">

        @Html.LabelFor(m => m.AcceptedAmount)
        @Html.TextBox("txtAmount", Model.AcceptedAmount == 0 ? Model.Amount.ToCurrency() : Model.AcceptedAmount.ToCurrency(), new { @readonly = true })

        @Html.LabelFor(m => m.Term)
        @Html.TextBoxFor(m => m.Term, new { @readonly = true }) 

        @Html.LabelFor(m => m.Rate)
        @Html.TextBoxFor(m => m.Rate, new { @readonly = true })        
        
    </div>
    <div class="loandetails_childdiv">
        @Html.LabelFor(m => m.LoanPurpose)
        @Html.TextAreaFor(m => m.LoanPurpose, new { @readonly = true })

        @Html.Label("Details")
        @Html.TextAreaFor(m => m.LoanPurposeAnswer, new { @readonly = true, @style="height: 195px;" })
    </div>
    <div class="loandetails_childdiv">
        @Html.LabelFor(m => m.PersonalGurantee)
        @MoolahConnectHelper.BooleanYesNo(true)
        
        @Html.Label("MoolahSense Comments")
        <textarea style="min-width:385px" rows="12" readonly="readonly">@Model.MoolahSenseComments</textarea>
    </div>
</div>
<div class="clear"></div>
<div align="right" style="padding: 20px;">
    <div id="timeStampDes"></div>
</div>

<script>
    $(document).ready(function () {
        GetTimeStamp(3, "timeStampDes");
    });
</script>
