﻿@using MoolahConnect.Util.ExtensionMethods
@using MoolahConnectnew.ViewModels
@model AccountViewModel

<div class="loandetails_maindiv">
    <div class="loandetails_childdiv">
        <div class="line100px">
            @Html.LabelFor(m => m.BusinessName)
            @Html.TextBoxFor(m => m.BusinessName, new { @readonly = true })
        </div>
        <div class="line100px">
            @Html.LabelFor(m => m.BusinessRegNumber)
            @Html.TextBoxFor(m => m.BusinessRegNumber, new { @readonly = true })
        </div>
        <div class="line100px">
            @Html.LabelFor(m => m.BusinessOrganisation)
            @Html.TextBoxFor(m => m.BusinessOrganisation, new { @readonly = true })
        </div>
        <div class="line100px">
            @Html.LabelFor(m => m.DetailedCompanyProfile)
            @Html.TextAreaFor(m => m.DetailedCompanyProfile, new { @readonly = true, @style="height: 336px;width: 521px;" })
        </div>
    </div>
    <div class="loandetails_childdiv">
        <div class="line100px">
            @Html.LabelFor(m => m.SiccCode)
            @Html.TextBoxFor(m => m.SiccCode, new { @readonly = true })
        </div>
        <div class="line100px">
            @Html.Label("Number of Employees")
            @Html.TextBox("txtNoofEmployees",ViewData["NoOfEmployees"], new { @readonly = true })
        </div>
        <div class="line100px">
            @Html.LabelFor(m => m.PaidUpCapital)
            @Html.TextBox("txtPaidUpCapital", Model.PaidUpCapital.ToCurrency(), new { @readonly = true })
        </div>
    </div>
    <div class="loandetails_childdiv">
        <div class="line100px">
            @Html.LabelFor(m => m.DateOfIncorporation)
            @Html.TextBox("txtDateOfIncorp", Model.DateOfIncorporation.ToDate(), new { @readonly = true })
        </div>
        <div class="line100px">
            @Html.LabelFor(m => m.ResgiteredAddress1)
            @Html.TextBoxFor(m => m.ResgiteredAddress1, new { @readonly = true })
        </div>
        <div class="line100px">
            @Html.LabelFor(m => m.ResgiteredAddress2)
            @Html.TextBoxFor(m => m.ResgiteredAddress2, new { @readonly = true })
        </div>
        <div class="line100px">
            @Html.LabelFor(m => m.ResgiteredAddressPostalCode)
            @Html.TextBoxFor(m => m.ResgiteredAddressPostalCode, new { @readonly = true })
        </div>
        <div class="line100px">
            @Html.LabelFor(m => m.BusinessMailAddress1)
            @Html.TextBoxFor(m => m.BusinessMailAddress1, new { @readonly = true })
        </div>
        <div class="line100px">
            @Html.LabelFor(m => m.BusinessMailAddress2)
            @Html.TextBoxFor(m => m.BusinessMailAddress2, new { @readonly = true })
        </div>
        <div class="line100px">
            @Html.LabelFor(m => m.BusinessMailAddressPostalCode)
            @Html.TextBoxFor(m => m.BusinessMailAddressPostalCode, new { @readonly = true })
        </div>
    </div>
</div>
<div class="clear"></div>
<div align="right" style="padding: 20px;">
    <div id="timeStampAc"></div>
</div>

<script>
    $(document).ready(function () {
        GetTimeStamp(2, "timeStampAc");
    });
</script>
