﻿@model MoolahConnectnew.ViewModels.LoanDetailsMoolahCore

<div class="loandetails_maindiv">
    <h4 class="loandetails_header">Current Financial Year</h4>
    <div class="loandetails_childdivMC">
        @Html.LabelFor(m => m.MoolahCore.LatestYear)
        @MoolahConnectHelper.UndisclosedLabelOnNullOrEmpty(Model.MoolahCore.LatestYear)

        @Html.LabelFor(m => m.MoolahCoreVerify.FinancialStatementSubmitted)
        @MoolahConnectHelper.BooleanYesNo(Model.MoolahCoreVerify.FinancialStatementSubmitted)

        @Html.LabelFor(m => m.MoolahCoreVerify.Audited)
        @MoolahConnectHelper.BooleanYesNo(Model.MoolahCoreVerify.Audited)

        @Html.LabelFor(m => m.MoolahCore.AnnualTurnOver)
        @RangeHelper.AnnualRevenue(Model.MoolahCore.AnnualTurnOver)
        @MoolahConnectHelper.IsVerifiedImage(Model.MoolahCoreVerify.AnnualTurnOver_LY_Verified)

        @Html.LabelFor(m => m.MoolahCore.Profitability)
        @RangeHelper.ProfitabilityCashFlowRange(Model.MoolahCore.Profitability)
        @MoolahConnectHelper.IsVerifiedImage(Model.MoolahCoreVerify.ProfitabilityVerified)
    </div>
    <div class="loandetails_childdivMC">
        @Html.LabelFor(m => m.MoolahCore.CurrentRatio)
        @MoolahConnectHelper.DoubleIsNull(Model.MoolahCore.CurrentRatio)
        @MoolahConnectHelper.IsVerifiedImage(Model.MoolahCoreVerify.CurrentRatio_LY_Verified)

        @Html.LabelFor(m => m.MoolahCore.DebtEquity)
        @MoolahConnectHelper.DebitEquility(Model.MoolahCore.DebtEquity)
        @MoolahConnectHelper.IsVerifiedImage(Model.MoolahCoreVerify.DebtEquity_LY_Verified)

        @Html.LabelFor(m => m.MoolahCore.InterestCoverageRatio)
        @MoolahConnectHelper.InterestCoverageRatio(Model.MoolahCore.InterestCoverageRatio)
        @MoolahConnectHelper.IsVerifiedImage(Model.MoolahCoreVerify.InterestCoverageRatio_LY_Verified)

        @Html.LabelFor(m => m.MoolahCore.DebtEBITDARatio_LY)
        @MoolahConnectHelper.DebitEquility((double?)Model.MoolahCore.DebtEBITDARatio_LY)
        @MoolahConnectHelper.IsVerifiedImage(Model.MoolahCoreVerify.DebtEBITDARatio_LY_Verification)

        @Html.LabelFor(m => m.MoolahCore.CashFlowPositive)
        @RangeHelper.ProfitabilityCashFlowRange(Model.MoolahCore.CashFlowPositive)
        @MoolahConnectHelper.IsVerifiedImage(Model.MoolahCoreVerify.CashFlowPositive_LY_Verified)

        
    </div>
    <div class="loandetails_childdivMC">

        @Html.LabelFor(m => m.MoolahCore.AverageCashBalance)
        @RangeHelper.AverageCash(Model.MoolahCore.AverageCashBalance, true)
        @MoolahConnectHelper.IsVerifiedImage(Model.MoolahCoreVerify.AverageCachBalance_LY_Verified)

        @Html.LabelFor(m => m.MoolahCore.IsOutstandingLitigation)
        @MoolahConnectHelper.BooleanYesNo(Model.MoolahCore.IsOutstandingLitigation)
        @MoolahConnectHelper.IsVerifiedImage(Model.MoolahCoreVerify.OutstandingLitigationVerified)

        <div style="margin-bottom: 5px;">
            DP Credit Rating &nbsp; <span id="al" class="customicon-bulb tip" />
        </div>
        @RangeHelper.DpRating(Model.MoolahCore.DPPaymentGrade)
        @MoolahConnectHelper.IsVerifiedImage(Model.MoolahCoreVerify.DPPaymentGradeVerified)

        Financial Related Search Count in
        <br />
        The Last 6 Months<br />
        @Html.TextBoxFor(m => m.MoolahCoreVerify.NoOfCreditEnquiries, new { @readonly = true })
        @MoolahConnectHelper.IsVerifiedImage(Model.MoolahCoreVerify.NoOfCreditEnquiriesVerified)
    </div>
    <div class="clearfix"></div>
    <div class="loandetails_sep"></div>
    <h4 class="loandetails_header">Previous Financial Year</h4>
    <div class="loandetails_childdivMC">
        @Html.LabelFor(m => m.MoolahCore.PreviousYear)
        @MoolahConnectHelper.UndisclosedLabelOnNullOrEmpty(Model.MoolahCore.PreviousYear)

        @Html.LabelFor(m => m.MoolahCoreVerify.FinancialStatementSubmitted)
        @MoolahConnectHelper.BooleanYesNo(Model.MoolahCoreVerify.FinancialStatementSubmitted_PY_Verified)

        @Html.LabelFor(m => m.MoolahCoreVerify.Audited)
        @MoolahConnectHelper.BooleanYesNo(Model.MoolahCoreVerify.Audited_PY_Verified)

        @Html.LabelFor(m => m.MoolahCore.AnnualTurnOverPy)
        @RangeHelper.AnnualRevenue(Model.MoolahCore.AnnualTurnOverPy)
        @MoolahConnectHelper.IsVerifiedImage(Model.MoolahCoreVerify.AnnualTurnOver_PY_Verified)

        @Html.LabelFor(m => m.MoolahCore.Profitability)
        @RangeHelper.ProfitabilityCashFlowRange(Model.MoolahCore.ProfitabilityPy)
        @MoolahConnectHelper.IsVerifiedImage(Model.MoolahCoreVerify.Profitability_PY_Verify)
    </div>
    <div class="loandetails_childdivMC">

        @Html.LabelFor(m => m.MoolahCore.CurrentRatioPy)
        @MoolahConnectHelper.DoubleIsNull(Model.MoolahCore.CurrentRatioPy)
        @MoolahConnectHelper.IsVerifiedImage(Model.MoolahCoreVerify.CurrentRatio_PY_Verified)

        @Html.LabelFor(m => m.MoolahCore.DebtEquityPy)
        @MoolahConnectHelper.DebitEquility(Model.MoolahCore.DebtEquityPy)
        @MoolahConnectHelper.IsVerifiedImage(Model.MoolahCoreVerify.DebtEquity_PY_Verified)

        @Html.LabelFor(m => m.MoolahCore.InterestCoverageRatioPY)
        @MoolahConnectHelper.InterestCoverageRatio(Model.MoolahCore.InterestCoverageRatioPY)
        @MoolahConnectHelper.IsVerifiedImage(Model.MoolahCoreVerify.InterestCoverageRatio_PY_Verified)

        @Html.LabelFor(m => m.MoolahCore.DebtEBITDARatio_PY)
        @MoolahConnectHelper.DebitEquility((double?)Model.MoolahCore.DebtEBITDARatio_PY)
        @MoolahConnectHelper.IsVerifiedImage(Model.MoolahCoreVerify.DebtEBITDARatio_PY_Verification)

        @Html.LabelFor(m => m.MoolahCore.CashFlowPositivePy)
        @RangeHelper.ProfitabilityCashFlowRange(Model.MoolahCore.CashFlowPositivePy)
        @MoolahConnectHelper.IsVerifiedImage(Model.MoolahCoreVerify.CashFlowPositive_PY_Verified)
    </div>
    @*<div class="loandetails_childdivMC">
        @Html.LabelFor(m => m.MoolahCore.AverageCashBalancePy)
        @RangeHelper.AverageCash(Model.MoolahCore.AverageCashBalancePy, false)
        @MoolahConnectHelper.IsVerifiedImage(Model.MoolahCoreVerify.CashFlowPositive_PY_Verified)
    </div>*@
    <div class="clearfix"></div>
</div>
<div align="right" style="padding: 20px;">
    <div id="timeStampMc"></div>
</div>

<script>
    $(document).ready(function () {
        $(".customicon-bulb").popover();
        GetTimeStamp(4, "timeStampMc");
    });

    $('#al').qtip({
        content: 'For more information on DP Credit Rating, please click this <a href="http://www.smecreditrating.sg/CreditRating/aboutdpcreditrating.asp" target="_blank"> link </a>',
        position: {
            corner: {
                tooltip: 'bottomLeft',
                target: 'topLeft'
            }
        },
        hide: {
            fixed: true,
            delay: 300
        },
        style: {
            width: 225
        }
    });
</script>
