﻿@using MoolahConnectnew.ViewModels
@using MoolahConnect.Util.ExtensionMethods

@model IEnumerable<RepaymentViewModel>

@{
    double amount = ViewBag.Amount;
    double rate = ViewBag.Rate;
    double tenor = int.Parse(ViewBag.Tenor);

    double interest1 = (amount * rate / tenor) / 100;

    double repayment = Model.FirstOrDefault().Payment;

    double principal1 = repayment - interest1;

    double startPrincipal = amount - principal1;

    double interest2 = (startPrincipal * rate / tenor) / 100;

    double principal2 = repayment - interest2;

    var intr = rate / 1200;
    var calc = amount * intr / (1 - (Math.Pow(1 / (1 + intr), tenor)));
    var totalInterest = Math.Round((calc * tenor - amount), 2);
}

<p>
    Interests is calculated based on a reducing balance basis as Issuer makes monthly repayment.
</p>
<b>Amount Offered : </b>@amount.ToCurrency()
<br />
<b>Tenure of Note : </b>@ViewBag.Tenor
<br />
<b>Rate (p.a.) : </b>@ViewBag.Rate %
<br />
<b>Total Interests expected to earn on note : </b>@totalInterest.ToCurrency()
<br />
<b>Repayment Amount at each Scheduled date : </b>@repayment.ToCurrency()
<br />
<br />
<h4>Illustration of Interests Calculation</h4>
<br />
<p>
    Interests for Month 1 : (@amount.ToCurrency() x @rate%/@tenor)/100 = @interest1.ToCurrency()<br />
    <br />
    Principal repaid for Month 1 : @repayment.ToCurrency() – @interest1.ToCurrency() = @principal1.ToCurrency()<br />
    <br />
    Outstanding investment at beginning of Month 2 : @amount.ToCurrency() – @principal1.ToCurrency() = @startPrincipal.ToCurrency()<br />
    <br />
    Interests for Month 2 :  @startPrincipal.ToCurrency() x @rate%/@tenor = @interest2.ToCurrency()<br />
    <br />
    Principal repaid for Month 2 : @repayment.ToCurrency() – @interest2.ToCurrency() = @principal2.ToCurrency()<br />
    <br />
    The calculation methodology for the remaining ten months is the same. 
</p>
<br />
<h4>Repayment Schedule</h4>
<br />
<div id="repaymentScheduleInfo" class="newoffer-rep">
    @Html.Partial("NewOfferRepaymentSchedule", @Model)
</div>
<br />
<p style="font-size:12px;">Please note that your actual interests received can appear to be off by a few cents when compared to a manual calculation of interests. This is because we round off the monthly repayment to the nearest 2 decimals which sometimes contain a factor of a cent.</p>
