﻿@using MoolahConnect.Util.ExtensionMethods
@using MoolahConnect.Util.Enums
@using MoolahConnectnew
@using MoolahConnect.Util
@model MoolahConnectClassLibrary.Models.ViewModels.InvestorLoanOffer
@{
    var loan = (MoolahConnectnew.ViewModels.LoanRequestViewModel)ViewData["Loan"];
    var acc = (MoolahConnectnew.ViewModels.AccountViewModel)ViewData["Account"];
    var docs = (MoolahConnectnew.ViewModels.LoanDocumentsViewModel)ViewData["Docs"];
}
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link rel="stylesheet" href="http://jqueryui.com/jquery-wp-content/themes/jqueryui.com/style.css" />

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script>
    google.load("visualization", "1", { packages: ["corechart"] });
    google.setOnLoadCallback(drawCharts);

    $(function () {
        ClearSubmitOfferPanel();
        $(".customicon-bulb").popover();

        var perc = parseFloat($('#LoanFundedPercentage').val());
        $("#progressbar").progressbar({
            value: perc
        });
        $("#progressbar").addClass('color');

        if ($('#hdnLoanStatus').val() == "Withdrawn") {

        }

        $('#btnSubmit').click(function (e) {
            if ($('#txtAmount').val() == '' || $('#txtRate').val() == '' || $('#txtPassword').val() == '') {
                bootbox.alert('Please enter amount, rate and your password');
                $('#txtPassword').val('');
                return;
            }
            bootbox.confirm('I would like to submit an offer to subscribe S$' + $('#txtAmount').val() + ' at the rate of ' + $('#txtRate').val() + '% p.a for a tenor of @Model.LoanRequest.Term months.<br><br>'+
                'Total interests earned on the note : S$' +  totInterest  + '<br><br>' +
                'Effective interest rate : ' + EIR +'% <br><br>' +
                '<b>Risk Warning: By clicking OK, I confirm that I understand that if the issuer defaults on the note, I may not be able to recover any or all of the invested amounts.</b>'
                , function (result) {
                    if (result) {
                        SaveLoanOffer($('#txtAmount').val().replace(new RegExp(",", "g"), ''), $('#txtRate').val(), $('#txtPassword').val());
                        $('#txtPassword').val('');
                    }
                }).addClass("bootbox-largeWidth-680");;
        });

        $('#btnClean').click(function (e) {
            ClearSubmitOfferPanel();
        });

    });

    function ClearSubmitOfferPanel() {
        $('.graph_rgt_inner :text').val('');
    }

    $(".number").keypress(function (e) {
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {

            return false;
        }
    });
    $(".numberwithDot").keypress(function (e) {
        if (e.which != 8 && e.which != 0 && e.which != 46 && e.which(e.which < 48 || e.which > 57)) {

            return false;
        }
    });
    $(document).ready(function () {
        $(".formatCurrency").formatCurrency();
    })

    function drawCharts() {
        loadMoolahCorePieChart();
        loadMoolahPeriPieChart();
    }

    function loadMoolahCorePieChart() {
        $.getJSON("/Loan/GetMoolahCoreIndicatorData", { requestId: '@ViewBag.LoanRequestId' }, function (ret) {
            if (ret.status == 'success') {
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Indicator');
                data.addColumn('number', 'Value');

                var values = [];
                var colorsArray = [];

                data.addRows([
                    ['Profitability', { 'v': 1, 'f': '' }],
                    ['Cash flow positive', { 'v': 1, 'f': '' }],
                    ['Debt/Equity Ratio less than 1.57', { 'v': 1, 'f': '' }],
                    ['Current Ratio more than 1.28', { 'v': 1, 'f': '' }],
                    ['Annual Turnover equal to or more than S$1 Mil', { 'v': 1, 'f': '' }],
                    ['DP Credit Rating equal to or above DP5', { 'v': 1, 'f': '' }],
                    ['Equal to or more than 2 years in business', { 'v': 1, 'f': '' }],
                ]);

                var model = ret.data;
                var modelVerify = ret.dataVerify;

                colorsArray.push(AddMoolahCoreColor(model.Profitability >= 0, modelVerify.ProfitabilityVerified));
                colorsArray.push(AddMoolahCoreColor(model.CashFlowPositive >= 0, modelVerify.CashFlowPositive_LY_Verified));
                colorsArray.push(AddMoolahCoreColor(model.DebtEquity < 1.57, modelVerify.DebtEquity_LY_Verified));
                colorsArray.push(AddMoolahCoreColor(model.CurrentRatio > 1.28, modelVerify.CurrentRatio_LY_Verified));
                colorsArray.push(AddMoolahCoreColor(model.AnnualTurnOver >= 1000000, modelVerify.AnnualTurnOver_LY_Verified));
                colorsArray.push(AddMoolahCoreColor(model.DPPaymentGrade != 0 && model.DPPaymentGrade <= 9, modelVerify.DPPaymentGradeVerified));
                colorsArray.push(AddMoolahCoreColor(model.MoreThanOTEqual2YearsInBusiness, true));

                var options = {
                    colors: colorsArray,
                    pieHole: 0.4,
                    tooltip: { isHtml: true },
                    legend: 'none',
                    chartArea: { 'width': '100%', 'height': '100%' },
                    pieSliceText: 'none',
                    tooltip: { text: 'value' } 

                };

                var chart = new google.visualization.PieChart(document.getElementById('piechart'));
                chart.draw(data, options);
            }
        });
    }

    function loadMoolahPeriPieChart() {

        $.getJSON("/Loan/GetMoolahPeriIndicatorData", { requestId: '@ViewBag.LoanRequestId' }, function (ret) {
            if (ret.status == 'success') {
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Indicator');
                data.addColumn('number', 'Value');

                var values = [];
                var colorsArray = [];

                data.addRows([
                    ['Business awards', { 'v': 1, 'f': '' }],
                    ['Accreditation', { 'v': 1, 'f': '' }],
                    ['Trade association', { 'v': 1, 'f': '' }],
                    ['Community initiatives', { 'v': 1, 'f': '' }],
                    ['Social media footprint', { 'v': 1, 'f': '' }],
                    ['Biodata of Directors / Partners', { 'v': 1, 'f': '' }],
                    ['Response to questions', { 'v': 1, 'f': '' }],
                ]);

                var model = ret.data;
                var modelVerify = ret.dataVerify;

                colorsArray.push(AddMoolahPeriColor(model.BusinessAwards != null && model.BusinessAwards.trim() != '', modelVerify.BusinessAwardsVerified));
                colorsArray.push(AddMoolahPeriColor(model.Accreditation != null && model.Accreditation.trim() != '', modelVerify.AccreditationVerified));
                colorsArray.push(AddMoolahPeriColor(model.TradeAssociation != null && model.TradeAssociation.trim() != '', modelVerify.TradeAssociationVerified));
                colorsArray.push(AddMoolahPeriColor(model.CommunityInitiatives != null && model.CommunityInitiatives.trim() != '', modelVerify.CommunityInitiativesVerified));
                colorsArray.push(AddMoolahPeriColor(model.SocialMediaFootprint != null && model.SocialMediaFootprint.trim() != '', modelVerify.SocialMediaFootprintVerified));
                colorsArray.push(AddMoolahPeriColor(model.BiodataOfKeyPersonnel != null && model.BiodataOfKeyPersonnel.trim() != '', modelVerify.BiodataOfKeyPersonnelVerified));
                colorsArray.push(AddMoolahPeriColor(model.UpdateMoolahPost,model.UpdateMoolahPost ));

                var options = {
                    colors: colorsArray,
                    pieHole: 0.4,
                    tooltip: { isHtml: true },
                    legend: 'none',
                    chartArea: { 'width': '100%', 'height': '100%' },
                    pieSliceText: 'none',
                    tooltip: { text: 'value' }
                };

                var chart = new google.visualization.PieChart(document.getElementById('piechart1'));
                chart.draw(data, options);
            }
        });
    }

    function AddMoolahCoreColor(yes, verified) {
        if (yes) {
            if (verified)
                return '#3BB54A';
            else
                return '#95C83C';
        }
        else {
            if (verified)
                return '#828282';
            else
                return '#BFBFBF';
        }
    }

    function AddMoolahPeriColor(yes, verified) {
        if (yes) {
            if (verified)
                return '#F7971D';
            else
                return '#FECA0A';
        }
        else {
            return '#BFBFBF';
        }
    }
    
</script>

@Html.HiddenFor(m => m.LoanOffers.LoanRequestID, new { @id = "hdnLoanRequest" })
@Html.HiddenFor(m => m.LoanRequest.Term, new { @id = "hdnTerm" })
@Html.HiddenFor(m => m.LoanOffers.LoanStatus, new { @id = "hdnLoanStatus" })
@Html.HiddenFor(m => m.AccountDetails.BussinessName, new { @id = "hdnBussinessName" })

<div>
    <div id="wish" class="sum_main">
        <div class="clear">
            <div class="clearfix" style="float: left;">
                <div class="loan_wish">
                    <div id="backgroundPopup" class="molahcoreperipopup"></div>
                    <h5>@Model.AccountDetails.BussinessName</h5>
                    @if (!Model.IsPreview && (ViewBag.IsBorrower == null || (bool)ViewBag.IsBorrower == false))
                    {
                        if (Model.LoanOffers.IsApproved.HasValue && Model.LoanOffers.IsApproved.Value
                            && Model.LoanOffers.LoanStatus == (int)LoanRequestStatus.InProgress && ViewBag.Addable)
                        {
                        <input id="btnAddToWatchList" type="button" title="Add to Watchlist" class="btnAddToWatchList addtowl" />
                        }
                        else
                        {
                        <input type="button" title="Add to Watchlist" class="btnAddToWatchList addtowl" disabled="disabled" />    
                        }
                    }
                    @if (Model.LoanRequest.PublishedDate.HasValue)
                    {
                        <div style="margin:0px 5px 0px 0px">
                            <h5>Campaign Launch Date : @Model.LoanRequest.PublishedDate.ToDate()</h5>
                        </div>
                    }
                    <br />
                    <div class="sum-image">
                        @if (String.IsNullOrEmpty(Model.LogoImage))
                        {
                            <img src="@Url.Content("~/Content/Images/loan_user.png")" style="width:140px;height:140px" />
                        }
                        else
                        {
                            <a title="Click to expand" href="javascript:ShowLogoImageEx('@Url.Content(Model.LogoImage)','@Model.LogoImageName')">
                                <img src="@Url.Content(Model.LogoImage)" style="width:140px;height:140px" /></a>
                        }

                    </div>
                    <div id="divDocuments" class="summary-doc-viewer">
                        @Html.Partial("_DocumentsViewer", docs)
                    </div>
                </div>
                <div style="clear: both; float: left; margin-top: 19px">
                    <p style="margin-left: 0">
                        <b>Headline</b> &nbsp&nbsp <a title="Forum" target="_blank" href="@MoolahConnect.Util.Settings.ForumUrl">
                            <input type="button" class="wish_btn" value="MoolahPost" /></a>
                    </p>
                    <textarea style="width: 493px;" rows="2" readonly="true">@loan.Headline</textarea>
                    <p style="margin-left: 0"><b>Summary Company Profile</b>  </p>
                    <textarea style="width: 493px;" rows="5" readonly="true">@loan.SummaryCompanyPro</textarea>
                </div>
            </div>
            <div class="profile_rgt">
                <div class="profile_rgt_inner">
                    <div class="ind_tbl sum-graph-tbl">
                        <div class="ind_row">
                            <div class="ind_col ">
                                <p class="ind_title">
                                    MoolahCore &nbsp; <span id="spanMoolahCoreHelp" class="customicon-bulb tip" />
                                </p>
                            </div>
                            <div class="ind_col">
                                <p class="ind_title">
                                    MoolahPeri&nbsp; <span id="spanMoolahPeriHelp" class="customicon-bulb tip" />
                                </p>
                            </div>
                        </div>
                        <div class="ind_row">
                            @if (Model.IsPreview)
                            {
                                <div class="prev-msg">
                                    The color coding on the charts might change after admin has checked all the information
                                </div>
                            }
                            <div class="ind_col">
                                &nbsp;
                                <div id="piechart">
                                </div>
                            </div>
                            <div class="ind_col">
                                &nbsp;
                                <div id="piechart1">
                                </div>
                            </div>
                        </div>
                        <div class="ind_row">
                            <div class="ind_col">
                                <div class="ind_tbl lgd_main">
                                    <div class="ind_row">
                                        <div class="lgd_col">
                                            <img class="lgd_img" src="~/Content/images/MoolahIndicator/DarkGreen.png" />
                                        </div>
                                        <div class="lgd_col">Yes and Verified</div>
                                    </div>
                                    <div class="ind_row">
                                        <div class="lgd_col">
                                            <img class="lgd_img" src="~/Content/images/MoolahIndicator/LightGreen.png" />
                                        </div>
                                        <div class="lgd_col">Yes but Unverified</div>
                                    </div>
                                    <div class="ind_row">
                                        <div class="lgd_col">
                                            <img class="lgd_img" src="~/Content/images/MoolahIndicator/DarkGrey.png" />
                                        </div>
                                        <div class="lgd_col">No but Verified</div>
                                    </div>
                                    <div class="ind_row">
                                        <div class="lgd_col">
                                            <img class="lgd_img" src="~/Content/images/MoolahIndicator/LightGrey.png" />
                                        </div>
                                        <div class="lgd_col">No and Unverified</div>
                                    </div>
                                </div>
                            </div>
                            <div class="ind_col">
                                <div class="ind_tbl lgd_main_mp">
                                    <div class="ind_row">
                                        <div class="lgd_col">
                                            <img class="lgd_img" src="~/Content/images/MoolahIndicator/DarkOrange.png" />
                                        </div>
                                        <div class="lgd_col">Disclosed  and Verified</div>
                                    </div>
                                    <div class="ind_row">
                                        <div class="lgd_col">
                                            <img class="lgd_img" src="~/Content/images/MoolahIndicator/LightOrnage.png" />
                                        </div>
                                        <div class="lgd_col">Disclosed  but Unverified</div>
                                    </div>
                                    <div class="ind_row">
                                        <div class="lgd_col">
                                            <img class="lgd_img" src="~/Content/images/MoolahIndicator/LightGrey.png" />
                                        </div>
                                        <div class="lgd_col">Undisclosed</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ind_col" style="float: right !important; width: 12% !important; text-decoration: underline;">
                        <span id="discclaim" style="cursor: pointer;">Disclaimer</span>
                    </div>
                </div>
            </div>
        </div>


        @if (!Model.IsPreview)
        {
            <div class="prof_summary">
                <div class="fund_sum funding_sum_sub">
                    <p class="funding_sum_title"><b>Offer(s) Summary</b></p>
                    <div class="fund_sum_inner funding_sum_inner_sub">
                        <div class="prof_summary">
                            <div class="profile_txt_inner">

                                <div id="progressbar" style="width:80%;" class="progressbar"></div>
                            </div>
                            @Html.HiddenFor(model => model.LoanOffers.LoanFunded, new { @id = "LoanFundedPercentage" })
                            <div class="profile_txt_new" style="width: 150px;">
                                @Model.LoanOffers.LoanFunded % funded &nbsp
                                <span id="span1" class="customicon-bulb tip" data-title="Help" data-content="The percentage of requested amount funded by qualified offers. Qualified offers are offers with interest rate at or below the target rate." data-trigger="hover" />
                            </div>
                        </div>
                        <div class="prof_summary">
                            <div class="profile_txt_inner">
                                Number of Unique Offeror(s): &nbsp
                                <span id="span2" class="customicon-bulb tip" data-title="Help" data-content="Number of unique investors with offers at or below the target rate" data-trigger="hover" />
                            </div>
                            <div class="profile_txt_new">@Model.LoanOffers.UniqueBidders</div>
                        </div>
                        <div class="prof_summary">
                            <div class="profile_txt_inner">
                                Highest Rate From Qualified Offers  : &nbsp
                            </div>
                            <div class="profile_txt_new">@Model.LoanOffers.Highestrate %</div>
                        </div>
                        <div class="prof_summary">
                            <div class="profile_txt_inner">
                                Lowest Rate From Qualified Offers :&nbsp 
                            </div>
                            <div class="profile_txt_new">@Model.LoanOffers.Lowestrate %</div>
                        </div>
                        <div class="prof_summary">
                            <div class="profile_txt_inner">
                                Last Day of Campaign :
                            </div>
                            <div class="profile_txt_new" style="width: auto;">
                                @if (Model.LoanRequest.LastDay.HasValue)
                                {
                                    @:@Model.LoanRequest.LastDay.ToDateTime()
                                }
                                else
                                {
                                    @:NA
                                }


                            </div>
                        </div>
                        <div class="prof_summary">
                            <div class="profile_txt_inner">
                                Time Left :&nbsp 
                                <span id="span4" class="customicon-bulb tip" data-title="Help" data-content="The listing will expire after 30 days" data-trigger="hover" />
                            </div>
                            <div class="profile_txt_new" style="width: auto;">
                                @if (Model.LoanOffers.PreliminaryStatus == (int)PreliminaryLoanRequestStatus.DraftPublished)
                                {
                                    @:@Model.LoanOffers.days Days @Model.LoanOffers.Hours Hours @Model.LoanOffers.minutest Mins
                                }
                                else
                                {
                                    @:NA
                                }


                            </div>
                        </div>
                    </div>
                </div>
                @if (Model.LoanOffers.LoanStatus == (int)LoanRequestStatus.Matched)
                {
                    <div class="loansummary_suc">
                        <h1>Note request has been provisionally funded by investors.</h1>
                    </div>
                }
                else if (Model.LoanOffers.LoanStatus == (int)LoanRequestStatus.FundApproved)
                {
                    <div class="loansummary_suc">
                        <h1>Note issued on @Model.LoanRequest.TransferedDate.ToDate() </h1>
                    </div>
                }
                else if (Model.LoanOffers.PreliminaryStatus == (int)PreliminaryLoanRequestStatus.LoanExpired)
                {
                    <div class="loansummary_suc">
                        <h1>Listing Expired</h1>
                    </div>
                }
                else if (Model.LoanOffers.LoanStatus == (int)LoanRequestStatus.Cancelled)
                {
                    <div class="loansummary_suc">
                        <h1>Listing is cancelled by issuer</h1>
                    </div>
                }
                else if (ViewBag.IsBorrower != null && (bool)ViewBag.IsBorrower == true)
                {
                    if (Model.LoanOffers.PreliminaryStatus == (int)PreliminaryLoanRequestStatus.DraftApproved)
                    {
                    <div class="loansummary_suc">
                        <h3>Time Left to Publish Draft : [@Model.LoanOffers.days] d  [@Model.LoanOffers.Hours] h  [@Model.LoanOffers.minutest] m</h3>
                    </div>
                    }
                }
                else if (Model.LoanRequest.HasExpiryDatePassed)
                {
                    <div class="loansummary_suc">
                        <h1>@Model.LoanRequest.ExpiredMessage</h1>
                    </div>
                }
                else if (Model.LoanOffers.LoanStatus == (int)LoanRequestStatus.InProgress &&
                         Model.LoanOffers.PreliminaryStatus == (int)PreliminaryLoanRequestStatus.DraftPublished)
                {
                    <div class="graph_rgt">
                        <div class="graph_rgt_inner">
                            <div class="expected-div">
                                <div class="div-left loanDetails-offer-cal-field">
                                    <span>Monthly repayment due to you</span>
                                </div>
                                <div class="div-left">
                                    <span>S$ </span>
                                    <input type="text" id="expected-monthly" readonly="readonly" class="wid100px">
                                </div>
                            </div>

                            <div class="expected-div">
                                <div class="div-left loanDetails-offer-cal-field">
                                    <span>Total interests earned on the note </span>&nbsp<a href="Javascript:ShowOfferRepayments();" title="Click to see">Interests Calculation</a>
                                </div>
                                <div class="div-left">
                                    <span>S$ </span>
                                    <input type="text" id="expected-total" readonly="readonly" class="wid100px">
                                </div>
                            </div>
                            <div class="inner_new">
                                <div class="graph_txt"><span>Amount offered</span> <span>S$</span></div>
                                @Html.TextBoxFor(m => m.LoanOffers.Amount, new { @id = "txtAmount", @class = "wid135px", placeholder = "0.00" })
                                @Html.ValidationMessageFor(m => m.LoanOffers.Amount)
                                @Html.HiddenFor(m => m.LoanOffers.MiniMumOffer, new { @id = "hdnMinimumOffer" })
                                @Html.HiddenFor(m => m.LoanOffers.MinimumRate, new { @id = "hdnMinimumRate" })

                            </div>
                            <div class="inner_new">
                                <div class="graph_txt"><span>Rate</span> <span class="rate">% p. a.</span></div>
                                @*@Html.TextBoxFor(m => m.LoanOffers.Rate, new { @id = "txtRate", @class = "graph_input_small number", placeholder = "Rate", @maxlength = 5, @onblur = "CheckDecimal()" })*@
                                @Html.TextBoxFor(m => m.LoanOffers.Rate, new { @id = "txtRate", @class = "wid50px", @placeholder = "0.00", @maxlength = 5 })
                                @Html.ValidationMessageFor(m => m.LoanOffers.Rate)
                                <span class="sum-offer-eir-label">Effective Interest Rate % p. a.</span>
                                <input type="text" id="txtEIR" readonly="readonly" class="wid50px">
                            </div>
                            <div class="repay_ment">
                                <div class="inner_new">
                                    <div class="repay_ment_txt">Password</div>
                                    @Html.TextBoxFor(m => m.LoanOffers.Password, new { placeholder = "******", type = "Password", @class = "wid135px repay_ment_tb", @id = "txtPassword" })
                                    @Html.ValidationMessageFor(m => m.LoanOffers.Password)
                                    <input type="button" id="btnSubmit" name="submit" class="wish_btn" style="margin-left: 20px" value="Submit">
                                    <input type="button" id="btnClean" name="" class="wish_btn_neg" value="Clear" />
                                </div>
                                <div class="inner_new">
                                    <div class="graph_txt">&nbsp</div>

                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        <div class="prof_summary">
            <div class="loan_sum">
                <p class="funding_sum_title"><b>Summary</b></p>
                <div class="loan_inner">
                    <div class="profile_txt_in">
                        <div class="profile_txt"><span style="font-weight: bold">Amount :</span> @Model.LoanRequest.Amount.ToCurrency()</div>
                    </div>
                    <div class="profile_txt_in">
                        <div class="profile_txt">
                            <span style="font-weight: bold">
                                @if (Model.LoanOffers != null && Model.LoanOffers.LoanStatus > 2)
                                {
                                    @:Note Rate : 
                                }
                                else
                                {
                                    @:Target rate :        
                                }


                            </span>@Model.LoanRequest.EIR % p. a.
                        </div>
                    </div>
                    <div class="profile_txt_in">
                        <div class="profile_txt"><span style="font-weight: bold">Tenor :</span> @Model.LoanRequest.Term M  </div>
                    </div>
                    <div class="profile_txt_in">
                        <div class="profile_txt"><span style="font-weight: bold">Purpose :</span> @Model.LoanRequest.LoanPurpose</div>
                    </div>
                </div>
                <div class="clear" style="height: 12px"></div>
            </div>
            @if (!Model.IsPreview)
            {
                <div class="loanoffers_main">
                    <p class="funding_sum_title"><b>Offers</b> </p>
                    <div class="loanoffers">
                        <table>

                            <tr>
                                <th style="width: 1%;">Date</th>
                                <th style="width: 1%;">Offeror</th>
                                <th style="width: 1%;">Amount</th>
                                @if (Model.LoanOffers.LoanStatus > 2)
                                {<th style="width: 1%;">Amount Allocated</th> }
                                <th style="width: 1%;">Rate</th>

                            </tr>
                            @if (Model.offersbyInvesotr != null && Model.offersbyInvesotr.Count > 0)
                            {


                                foreach (var item in Model.offersbyInvesotr)
                                {
                                <tr>

                                    <td style="text-align: center;">@item.OfferDate.ToDateTime()</td>
                                    <td style="text-align: center;">&nbsp; @item.UserName </td>
                                    <td style="text-align: center;" class="formatCurrency">@item.Amount.ToCurrency()</td>
                                    @if (Model.LoanOffers.LoanStatus > 2)
                                    {<td style="text-align: center;" class="formatCurrency">@item.AcceptedAmount.ToCurrency()</td>}
                                    <td style="text-align: center;">@item.OfferRate %</td>
                                </tr>
                                }

                            }
                            else
                            {
                                <tr>
                                    <td colspan="3">No offers found yet.</td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div align="right" style="padding: 20px;">
    <div id="timeStampSum"></div>
</div>

<div class="modal fade" id="modelLogoImageEx" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modelValidatePWLabel">Logo Image </h4>
            </div>
            <div id="logo-image-ex" class="modal-body">
            </div>
            <div class="modal-footer">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" style="width: 600px" id="modelOfferRep" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Repayment Schedule and Calculation</h4>
            </div>
            <div class="modal-body">
                <div id="modelOfferRepContent"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" value="ok">Ok</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script>

    var totInterest = 0;
    var EIR = 0;

    $(document).ready(function () {
        GetTimeStamp(1, "timeStampSum");
    });

    function ShowOfferRepayments() {

        var amount =  $('#txtAmount').val();
        var rate = $('#txtRate').val()

        if (amount == null || rate == null || amount == '' || rate == '') {
            bootbox.alert("Please enter amount and rate.");
            return;
        }

        $('#modelOfferRepContent').empty();
        $('#modelOfferRepContent').load("/Loan/_RepaymentsDetailsForNewOffer?amount=" + amount + "&rate=" +
            rate + "&tenor=@Model.LoanRequest.Term");

            $('#modelOfferRep').modal();
        }

        function ShowLogoImageEx(url,name) {
            $('#logo-image-ex').empty();
            $('#logo-image-ex').html("<h3 style=\"text-align:center\">" + name + "</h3><br/><img src=\""+ url +"\" style=\"border:none\" height=\"285px\" width=\"540px\" />")

            $('#modelLogoImageEx').modal();
        }

        var $term = @Model.LoanRequest.Term;
        $(function() {
            $('#txtAmount').change(function() {
                cal();
            });
            $('#txtRate').change(function() {
                cal();
            });
        });    

        function cal() {
            var $amt = parseFloat($('#txtAmount').val().replace(/,/g,''));
            var $i = parseFloat($('#txtRate').val().replace(/,/g,''));
            var flatmcDiscoutrate = 3;
            var mfee = 0;//round((flatmcDiscoutrate / 100) * $amt * (1 / 12), 2);
            var yfee = 0;//round((flatmcDiscoutrate / 100) * $amt * ($term / 12), 2);
            var intr = $i / 1200;
            var calc = $amt * intr / (1 - (Math.pow(1 / (1 + intr), $term)));// - mfee;
            var exm = Math.round(calc * 100) / 100;
            var exy = Math.round((calc * $term - yfee - $amt) * 100) / 100;

            totInterest = exy;
            EIR = Math.round((totInterest/$amt*100)* 100) / 100;

            $('#expected-monthly').val( isNaN(exm) ? '' : (exm));
            $('#expected-total').val( isNaN(exy) ? '' : (exy));
            $('#expected-monthly').formatCurrency();
            $('#expected-total').formatCurrency();
            if ($('#expected-monthly').val()) {
                $('#expected-monthly').val($('#expected-monthly').val().replace('$',''));
                $('#expected-total').val($('#expected-total').val().replace('$',''));
                $('#txtEIR').val(EIR);
            }
        }

        $(function() {
            $('#btnAddToWatchList').click(function (e) {
                var el = this;
                e.preventDefault();
                $.getJSON('/Investor/AddToWatchlist', { requestId: @ViewBag.LoanRequestId }, function(json) {
                    if (json.id) {
                        $(el).prop('disabled',true);
                        bootbox.alert("Listing has been successfully added to your Watchlist");
                    } else {
                        bootbox.alert("We cann't add this listing to your Watchlist");
                    }
                });
            });
        });
    
        $('#spanMoolahCoreHelp').qtip({
            content: '<p>A graphical representation of the financial health of the issuer. See <a target="_blank" href="http://www.moolahsense.com/faq/"> FAQ </a> for details</p><img src="/Content/images/MoolahCoreHelp.png" />',
            position: {
                corner: {
                    tooltip: 'bottomRight',
                    target: 'topLeft'
                }
            },
            hide: {
                fixed: true,
                delay: 300
            },
            style: {
                width: 750,
                height:245
            }
        });

        $('#spanMoolahPeriHelp').qtip({
            content: '<p>A graphical representation of the social health of the issuer. See <a target="_blank" href="http://www.moolahsense.com/faq/"> FAQ </a> for details</p><img src="/Content/images/MoolahPeriHelp.png" />',
            position: {
                corner: {
                    tooltip: 'bottomRight',
                    target: 'topLeft'
                }
            },
            hide: {
                fixed: true,
                delay: 300
            },
            style: {
                width: 750,
                height:174
            }
        });

    
        $('#spanTotalInterest').qtip({
            content: '<p>'+
                'Interest is calculated based on a reducing balance basis. See <a target="_blank" href="https://www.moolahsense.com/how-it-works/#tab-1396339481811-2-7">FAQ</a> for more details.' +
                '</p>',
            position: {
                corner: {
                    tooltip: 'bottomRight',
                    target: 'topLeft'
                }
            },
            hide: {
                fixed: true,
                delay: 300
            },
            style: {
                width: 400
            }
        });

        $('#discclaim').qtip({
            content: '<p>'+
                'The MoolahCore Indicators and MoolahPeri Indicators are intended to be informative only and the Investor shall form its own opinion regarding the creditworthiness of an Issuer and undertake its own research, analysis, assessment of each Issuer for each note and, where appropriate, seek its own independent financial advice.' +
                '</p>',
            position: {
                corner: {
                    tooltip: 'bottomRight',
                    target: 'topLeft'
                }
            },
            hide: {
                fixed: true,
                delay: 300
            },
            style: {
                width: 400
            }
        });
</script>
