﻿@model MoolahConnectnew.ViewModels.LoanDetailsViewModel
@{
    ViewBag.Title = "Matched Note Details";
}
<div style="margin-bottom: -30px">&nbsp</div>
<ul class="tabs">
    <li><a href="#tab1" style="cursor: pointer;">Summary</a></li>
    <li><a href="#tab2" style="cursor: pointer;">Profile</a></li>
    <li><a href="#tab3" style="cursor: pointer;">Description</a></li>
    <li><a href="#tab4" style="cursor: pointer;">MoolahCore</a></li>
    <li><a href="#tab5" style="cursor: pointer;">MoolahPeri</a></li>
    @if (Model != null && Model.Loan != null && (Model.Loan.LoanStatus == 3 || Model.Loan.LoanStatus > 4))
    {
        <li><a href="#tab6" style="cursor: pointer;">Repayment Status</a></li>    
    }

</ul>
<div class="tab_container">
    <div id="tab1" class="tab_content">
        @Html.Partial("_Summary", Model.loanSummary, new ViewDataDictionary { { "Loan", Model.Loan }, { "Account", Model.Account }, { "Docs", Model.LoanDocuments }, { "LoanRequestId", ViewBag.LoanRequestId }, { "Addable", ViewBag.Addable }, { "IsBorrower", ViewBag.IsBorrower } })
    </div>
    <div id="tab2" class="tab_content">
        @Html.Partial("_LoanRequestAccount", Model.Account, new ViewDataDictionary { { "NoOfEmployees", Model.Loan.NoOfEmployees } })
    </div>
    <div id="tab3" class="tab_content">
        @Html.Partial("_LoanRequestLoan", Model.Loan)
    </div>
    <div id="tab4" class="tab_content">
        @Html.Partial("_LoanRequestMoolahCore", Model.MoolahCore)
    </div>
    <div id="tab5" class="tab_content">
        @Html.Partial("_LoanRequestMoolahPeri", Model.MoolahPeri)
    </div>
    <div id="tab6" class="tab_content">
        <div id="divRepayments" class="loan-rep-tab"></div>
    </div>
</div>
@Scripts.Render("~/Scripts/jquery.numeric.js")
<script>
    $(document).ready(function () {
        //Default Action
        $(".tab_content").hide(); //Hide all content
        $("ul.tabs li:first").addClass("active").show(); //Activate first tab
        $(".tab_content:first").show(); //Show first tab content

        //On Click Event
        $("ul.tabs li").click(function () {
            $("ul.tabs li").removeClass("active"); //Remove any "active" class
            $(this).addClass("active"); //Add "active" class to selected tab
            $(".tab_content").hide(); //Hide all tab content
            var activeTab = $(this).find("a").attr("href"); //Find the rel attribute value to identify the active tab + content
            $(activeTab).fadeIn(); //Fade in the active content
            return false;
        });


        $('#txtAmount, #expected-amount, #expected-rate, #txtRate').autoNumeric('init');
        $(".number").numeric();

        $('#divRepayments').load("/Shared/_RepaymentScheduleFromRequestID?requestID=@Model.Loan.RequestId");
    });

    function GetTimeStamp(cat, divId) {
        $.ajax({
            url: "/Loan/GetLastUpdateTimeStamp",
            type: "POST",
            dataType: "json",
            contentType: 'application/json',
            data: "{cat:" + cat + ",reqId:" + @Model.Loan.RequestId + "}",
            success: function (time) {
                $('#' + divId).html("Last Update " + time);
            }
        });
    }
</script>
