﻿@using MoolahConnectnew.ViewModels

@model List<FileModel>

<div id="myCarousel" class="carousel slide" data-interval="10000" data-ride="carousel">

    <!-- Carousel items -->
    <div class="carousel-inner">
        @for (int i = 0; i < Model.Count; i++)
        {
            if (i == 0)
            {
            <div class="active item">
                <h4 style="text-align:center">@Model[i].Comments</h4>
                <img src="@Url.Content(Model[i].Url)" style="border:none" height="285px" width="515px" />
            </div>        
            }
            else
            {
            <div class="item">
                <h4 style="text-align:center">@Model[i].Comments</h4>
                <img src="@Url.Content(Model[i].Url)" style="border:none" height="285px" width="515px" />
            </div>    
            }

        }
    </div>

    <!-- Carousel nav -->
    <a class="paging-image left" href="#myCarousel" data-slide="prev">
        <img style="border: none" src="~/Content/images/arrow-94-32.png" />
    </a>
    <a class="paging-image right" href="#myCarousel" data-slide="next">
        <img style="border: none" src="~/Content/images/arrow-3-32.png" />
    </a>
</div>
