﻿@using MoolahConnectnew.ViewModels
@model FileModel

<link href="http://vjs.zencdn.net/c/video-js.css" rel="stylesheet">
<script src="http://vjs.zencdn.net/c/video.js"></script>
<h3 style="text-align:center">@Model.Comments</h3>
<br />
<video class="video-js vjs-default-skin" controls
       preload="auto" width="530" height="325"
       data-setup="{}">
    <source src="@Model.Url" type='video/mp4'>
</video>