﻿@using MoolahConnectnew.ViewModels
@model FileModel

<h3 style="text-align:center">@Model.Comments</h3>
<br />
<iframe width="530" 
                height="325" 
                src="@Model.Url" 
                frameborder="0" 
                allowfullscreen></iframe>