﻿@using MoolahConnect.Util.ExtensionMethods
@model  IEnumerable<MoolahConnectnew.ViewModels.Admin.AccountAdjustmentViewModel>
@{
    Layout = null;
}

<style>
    .bg_col
    {
        background-color: #1E90FF;
        color: #ffffff;
    }

        .bg_col th
        {
            padding-top: 5px;
            padding-bottom: 5px;
        }
</style>
<div id="contentAdjustment">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
            <tr>
                <td>
                    <select id="TermAdjustment">
                        <option value="0" selected="selected">All</option>
                        <option value="1">Current Month</option>
                        <option value="2">Last 3 Months</option>
                        <option value="3">Last 6 Months</option>
                        <option value="4">Last 9 Months</option>
                        <option value="5">Last 12 Months</option>
                    </select>
                    &nbsp;
                <button id="btnSearchAdjustment" value="Search">Search</button>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="margin-top: 15px">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                                <tr>
                                    <td>
                                        <table class="" align="center" border="0" cellpadding="0" cellspacing="0" width="100% !important">
                                            <tbody>
                                                <tr>
                                                    <td colspan="2" style="margin: 0px 0px 0px 3px;" align="center">
                                                        <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <div style="margin-left: 2px; text-align: left">
                                                                            <table width="100%" align="left" border="0" cellpadding="0" cellspacing="0">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td>
                                                                                            <div style="margin-bottom: 5px; text-align: left">
                                                                                                <tr class="bg_col">
                                                                                                    <th class="bdr_bottom">Loan Ref No&nbsp;</th>
                                                                                                    <th class="bdr_bottom">Start Date&nbsp;</th>
                                                                                                    <th class="bdr_bottom">End Date&nbsp;</th>
                                                                                                    <th class="bdr_bottom">Loan Amount&nbsp;</th>
                                                                                                    <th class="bdr_bottom">Rate&nbsp;</th>
                                                                                                    <th class="bdr_bottom">Repayment (Issuer)&nbsp;</th>
                                                                                                    <th class="bdr_bottom">Repayment Date&nbsp;</th>
                                                                                                    <th class="bdr_bottom">Receivable Amount (Payee)&nbsp;</th>
                                                                                                    <th class="bdr_bottom">Difference&nbsp;</th>
                                                                                                    <th class="bdr_bottom">Adjusted&nbsp;</th>
                                                                                                    <th class="bdr_bottom">Adjusted Date&nbsp;</th>
                                                                                                </tr>
                                                                                            </div>
                                                                                            <tbody id="tbAllocateLoan">
                                                                                                @if (Model != null)
                                                                                                {
                                                                                                    foreach (var item in Model)
                                                                                                    {
                                                                                                    <tr>
                                                                                                        <td>
                                                                                                            @Html.ActionLink(item.RequestID.ToString(), "BorrowerNoteDetails", "Note", new { noteRequestID = item.RequestID }, null)
                                                                                                        </td>
                                                                                                        <td>
                                                                                                            @item.StartDate.ToDate() &nbsp;
                                                                                                        </td>
                                                                                                        <td>
                                                                                                            @item.EndDate.ToDate() &nbsp;
                                                                                                        </td>
                                                                                                        <td>
                                                                                                            @item.Amount.ToCurrency() &nbsp;
                                                                                                        </td>
                                                                                                        <td>
                                                                                                            @item.Rate &nbsp;
                                                                                                        </td>
                                                                                                        <td>
                                                                                                            @item.RepaymentAmount.ToCurrency() &nbsp;
                                                                                                        </td>
                                                                                                        <td>
                                                                                                            @item.RepaymentDate.ToDate()&nbsp;
                                                                                                        </td>
                                                                                                        <td>
                                                                                                            @item.ReceivedAmount.ToCurrency() &nbsp;
                                                                                                        </td>
                                                                                                        <td>
                                                                                                            @item.Difference.ToCurrency() &nbsp;
                                                                                                        </td>
                                                                                                        <td>
                                                                                                            <input type="checkbox" id="cb_@item.ID" checked="@item.Adjusted" onclick="ChangeAdjustState(@item.ID)" />
                                                                                                        </td>
                                                                                                        <td>
                                                                                                            @item.AdjustedDate.ToDate()&nbsp;
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    }
                                                                                                }
                                                                                                else
                                                                                                {
                                                                                                    <tr>
                                                                                                        <td colspan="4">No records found.
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                }
                                                                                            </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td height="5"></td>
                                                </tr>
                                                <tr>
                                                    <td align="center" height="20">&nbsp;
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" height="5"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<script type="text/javascript">

    $(document).ready(function () {

        var selectedTerm = "@ViewData["TimePeriod"]";
    if (selectedTerm != undefined || selectedTerm != '') {
        $('#TermAdjustment').val(selectedTerm);
    }

    $('#btnSearchAdjustment').click(function () {
        var term = $('#TermAdjustment').val();
        $('#contentAdjustment').empty();
        $('#contentAdjustment').load("/Admin/_AccountAdjustment?timePeriod=" + term);
    });

    });

    function ChangeAdjustState(id) {
        bootbox.confirm("Are you sure you want to change the account adjustment?", function (result) {
            if (result == true) {
                $('#mask').showLoading();
                $.ajax({
                    url: "/Admin/ChangeAccountAdjustment",
                    type: "POST",
                    dataType: "json",
                    contentType: 'application/json',
                    data: '{\'id\':' + id + ',\'adjusted\':' + $('#cb_' + id).is(':checked') + '}',
                    success: function (msg) {
                        if (msg.Status == "Succeed") {
                            document.location.href = "/Admin/AcceptedLoans?tab=6";
                        } else {
                            $('#mask').hideLoading();
                            alert("Some error occured while saving details.");
                        }

                    }
                });
            }
        });
    }

</script>
