﻿@using MoolahConnectnew.ViewModels

@model UserAccountViewModel

<div id="divErrorPayment" class="alert alert-danger"></div>
<table style="text-align: right">
    <tr>
        <td>Full Name
        </td>
        <td>&nbsp&nbsp</td>
        <td style="text-align: left">
            @Model.FullName
        </td>
    </tr>
    <tr>
        <td>Registration No
        </td>
        <td>&nbsp&nbsp</td>
        <td style="text-align: left">
            @Model.BusinessRegNumber
        </td>
    </tr>
    <tr>
        <td>Account No
        </td>
        <td>&nbsp&nbsp</td>
        <td style="text-align: left">
            @Model.AccountNumber
        </td>
    </tr>
    <tr>
        <td>
            <select id="adminUserPayment" class="wish_list_in" style="width: 200px !important">
                @foreach (var user in ViewBag.AdminUsers)
                {
                    <option value="@user">@user</option>
                }
            </select>
        </td>
        <td>&nbsp&nbsp</td>
        <td>
            <input type="password" id="passPayment" class="wish_input" />
        </td>
    </tr>
    <tr>
        <td>Amount
        </td>
        <td>&nbsp&nbsp</td>
        <td>
            <input type="text" id="txtAmount" />
        </td>
    </tr>
</table>
<script type="text/javascript">

    $(document).ready(function () {
        $('#divErrorPayment').hide();
        $('#txtAmount').autoNumeric('init');
    });

    /////this function   used for adding balance by user in admin panel
    function AddBalance(callback) {

        
        var v = parseFloat($('#txtAmount').val().replace(new RegExp(",", "g"), ''));
        $('#mask').showLoading();
        $.getJSON("/Admin/AddBalanceByUserID", {
            userID: '@ViewBag.UserID',
            amount: v,
            adminUsername: $('#adminUserPayment').val(),
            adminPassword: $('#passPayment').val()
        }, function (data) {
            if (data.Status == "Succeed") {
                // location.reload();
                $('#mask').hideLoading();
                callback();
            }
            else {
                $('#mask').hideLoading();
                $('#divErrorPayment').html(data.Error);
                $('#divErrorPayment').show();
            }
        });
    }

</script>
