﻿@model MoolahConnectClassLibrary.Models.ViewModels.Admin.BorrowerAccountDetailsModels

<script>

    $(document).ready(function () {

        $("#DateofIncorporation").datepicker({
            changeMonth: true, changeYear: true, yearRange: 'c-100:c+5'
        });

    });
</script>

<script>
    $(".number").keypress(function (e) {
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            return false;
        }
    });
</script>

