﻿@using MoolahConnect.Util.SealedClasses

<div id="divErrorExpire" class="alert alert-danger"></div>

<table style="text-align: right">
    <tr>
        <td>
            <select id="adminUserPayment" class="wish_list_in" style="width: 200px !important">
                @foreach (var user in ViewBag.AdminUsers)
                {
                    <option value="@user">@user</option>
                }
            </select>
        </td>
        <td>&nbsp&nbsp</td>
        <td>
            <input type="password" id="passPayment" class="wish_input" />
        </td>
    </tr>
</table>

<script type="text/javascript">

    $(document).ready(function () {
        $('#divErrorExpire').hide();
    });

    function ExpireLoan() {
        $('#mask').showLoading();
        $.getJSON("/Admin/ExpireRequest", {
            requestID: '@ViewBag.RequestID',
            adminUsername: $('#adminUserPayment').val(),
            adminPassword: $('#passPayment').val()
        }, function (data) {
            if (data.Status == "@StatusMessages.SUCCESS") {
                $('#mask').hideLoading();
                location.reload();
            }
            else {
                $('#mask').hideLoading();
                $('#divErrorExpire').html(data.Error);
                $('#divErrorExpire').show();
            }
        });
    }
</script>
