﻿@using MoolahConnectnew.ViewModels

@model UserAccountViewModel

<div id="divErrorFundTransfer" class="alert alert-danger"></div>
<table style="text-align: right">
    <tr>
        <td>Full Name
        </td>
        <td>&nbsp&nbsp</td>
        <td style="text-align: left">
            @Model.FullName
        </td>
    </tr>
    <tr>
        <td>Registration No
        </td>
        <td>&nbsp&nbsp</td>
        <td style="text-align: left">
            @Model.BusinessRegNumber
        </td>
    </tr>
    <tr>
        <td>Account No
        </td>
        <td>&nbsp&nbsp</td>
        <td style="text-align: left">
            @Model.AccountNumber
        </td>
    </tr>
    <tr>
        <td>
            <select id="adminUserFT" class="wish_list_in" style="width: 200px !important">
                @foreach (var user in ViewBag.AdminUsers)
                {

                    <option value="@user">@user</option>
                }
            </select>
        </td>
        <td>&nbsp&nbsp</td>
        <td>
            <input type="password" id="passFT" class="wish_input" />
        </td>
    </tr>
    <tr>
        <td>Description</td>
        <td>&nbsp&nbsp</td>
        <td><textarea rows="4" id="txtDescriptionFT" ></textarea></td>
    </tr>
    <tr>
        <td>Debit/Credit</td>
        <td>&nbsp&nbsp</td>
        <td>@Html.DropDownList("ddIsDebit",
    new List<SelectListItem>() { 
        new SelectListItem(){Text = "Debit",Value = "true",Selected = true},
    new SelectListItem(){Text = "Credit",Value = "false"}}, new {@id = "ddIsDebit" })</td>
    </tr>
    <tr>
        <td>Amount</td>
        <td>&nbsp&nbsp</td>
        <td><input type="text" id="txtAmountFT" /></td>
    </tr>

</table>
<script type="text/javascript">

    $(document).ready(function () {
        $('#divErrorFundTransfer').hide();
        $('#txtAmountFT').autoNumeric('init');
    });

    /////this function   used for adding balance by user in admin panel
    function FundTransfer(callback) {


        var v = parseFloat($('#txtAmountFT').val().replace(new RegExp(",", "g"), ''));
        $('#mask').showLoading();
        $.getJSON("/Admin/ManuallyTransferFundsSubmit", {
            userID: '@ViewBag.UserID',
            Description: $('#txtDescriptionFT').val(),
            IsDebit: $('#ddIsDebit').val(),
            amount: v,
            adminUsername: $('#adminUserFT').val(),
            adminPassword: $('#passFT').val()
        }, function (data) {
            if (data.Status == "Succeed") {
                $('#mask').hideLoading();
                callback();
            }
            else {
                $('#mask').hideLoading();
                $('#divErrorFundTransfer').html(data.Error);
                $('#divErrorFundTransfer').show();
            }
        });
    }

</script>
