﻿@model MoolahConnectClassLibrary.Models.ViewModels.PersonGuarantee

<div class="form-horizontal guaranteeTabletest">
   
    <div class="form-group">
        <label for="NameInNRIC" class="control-label col-sm-5">Full Name As in  NRIC/ Passport</label>
        <div class="col-sm-5">
            @Html.TextBoxFor(m => m.NameInNRIC, new { @class = "form-control", placeholder = "Name" })
            @Html.ValidationMessageFor(m => m.NameInNRIC)
        </div>
    </div>
    <div class="form-group">
        <label for="Nationality" class="control-label col-sm-5">Nationality</label>
        <div class="col-sm-5">
            <select class="des_list_in valid" id="Nationalityddl" name="NationalityTitle">
                @if (Model.Nationality == "Singapore Citizen")
                {
                    <option value="Singapore Citizen" selected="selected">Singapore Citizen</option>
                }
                else
                {
                    if (string.IsNullOrEmpty(Model.Nationality))
                    {
                        <option value="Singapore Citizen" selected="selected">Singapore Citizen</option>
                    }
                    else
                    {
                        <option value="Singapore Citizen">Singapore Citizen</option>
                    }
                }

                @if (Model.Nationality == "Singapore PR")
                {
                    <option value="Singapore PR" selected="selected">Singapore PR</option>
                }
                else
                {
                    <option value="Singapore PR">Singapore PR</option>
                }

                @if (Model.Nationality != "Singapore Citizen" && Model.Nationality != "Singapore PR"
                     && !string.IsNullOrEmpty(Model.Nationality))
                {
                    <option value="Other Nationalities" selected="selected">Other Nationalities</option>
                }
                else
                {
                    <option value="Other Nationalities">Other Nationalities</option>
                }
            </select>&nbsp;
            @Html.TextBoxFor(m => m.Nationality, new { enclo = "ee", id = "nationality", @class = "des_input_in" })
            @Html.ValidationMessageFor(m => m.Nationality)
            <input type="text" id="nationalityTmp" />
        </div>
    </div>
    <div class="form-group">
        <label for="NRICNo" class="control-label col-sm-5">NRIC Number for Singapore Citizens and PR / FIN for Foreigners</label>
        <div class="col-sm-5">
            @Html.TextBoxFor(m => m.NRICNo, new { @class = "des_input_in", placeholder = "NRIC Number" })
            @Html.ValidationMessageFor(m => m.NRICNo)
        </div>
    </div>
    <div class="clear"></div>
    <div class="form-group">
        <label for="PassportNo" class="control-label col-sm-5">Passport Number for Foreigners</label>
        <div class="col-sm-5">
            @Html.TextBoxFor(m => m.PassportNo, new { @class = "des_input_in", placeholder = "Passport Number" })
            @Html.ValidationMessageFor(m => m.PassportNo)
        </div>
    </div>
   
    <div class="form-group">
        <label for="ResidentialAddress1" class="control-label col-sm-5">Residential Address Line 1</label>
        <div class="col-sm-5">
            @Html.TextBoxFor(m => m.ResidentialAddress1, new { @class = "des_input_in", placeholder = "Residential Address 1" })
            @Html.ValidationMessageFor(m => m.ResidentialAddress1)
        </div>
    </div>
    <div class="form-group">
        <label for="ResidentialAddress2" class="control-label col-sm-5">Residential Address Line 2 (Optional)</label>
        <div class="col-sm-5">
            @Html.TextBoxFor(m => m.ResidentialAddress2, new { @class = "des_input_in", placeholder = "Residential Address 2" })
            @Html.ValidationMessageFor(m => m.ResidentialAddress2)
        </div>
    </div>
    <div class="form-group">
        <label for="PostalCode" class="control-label col-sm-5">Postal Code</label>
        <div class="col-sm-5">
            @Html.TextBoxFor(m => m.PostalCode, new { @class = "des_input_in", placeholder = "Postal Code" })
            @Html.ValidationMessageFor(m => m.PostalCode)
        </div>
    </div>
    <div class="form-group">
        <label for="Telephone" class="control-label col-sm-5">Telephone</label>
        <div class="col-sm-5">
            @Html.TextBoxFor(m => m.Telephone, new { @class = "des_input_in", placeholder = "Telephone" })
            @Html.ValidationMessageFor(m => m.Telephone)
        </div>
    </div>
    <div class="form-group">
        <label for="Email" class="control-label col-sm-5">Email</label>
        <div class="col-sm-5">
            @Html.TextBoxFor(m => m.Email, new { @class = "des_input_in", placeholder = "Email" })
            @Html.ValidationMessageFor(m => m.Email)
        </div>
    </div>
    <div class="form-group">
        <label for="Reason" class="control-label col-sm-5">Relationship With Issuer</label>
        <div class="col-sm-5">
            @Html.TextAreaFor(m => m.Reason, new { @class = "des_tarea small", placeholder = "Relationship With Issuer" })
            @Html.ValidationMessageFor(m => m.Reason)
        </div>
    </div>
</div>

