﻿@model MoolahConnectClassLibrary.Models.ViewModels.KnowledgeassessmentWrapper

<script type="text/javascript">

    $(document).ready(function () {
        disalbleotheroption();
        EmploymentSelectionChanged();
    });
    
    function EmploymentSelectionChanged() {
        var showOcc = false;
        $('input.emp').each(function () {
            var selectedVal = $(this).val();
            var checked = $(this).is(':checked');

            if (selectedVal == 32 && checked) {
                showOcc = true;
            }
        });

        if (showOcc) {
            $('#11').show();
            OccupationSelectionChanged();
        }
        else {
            $('#11').hide();
            $('#12').hide();
        }
    }

    function OccupationSelectionChanged() {
        var e = document.getElementById("select11");
        var selectedVal = e.options[e.selectedIndex].value;

        if (selectedVal == 51) {
            $('#12').show();
        }
        else {
            $('#12').hide();
        }
    }

    function SaveKnowledgeDetailsofInvestor() {
        var Xmldocs = "<Info>";
        var subtext = "";
        $('input.KA').each(function () {
            if ($(this).is(":checked")) {
                subtext = subtext + "<Details OptionId =\"" + $(this).val() + "\"  OptionValue=\"true\" ></Details>"
            }
        });

        $('select.KA').each(function () {
            subtext = subtext + "<Details OptionId =\"" + $(this).val() + "\"  OptionValue=\"selected\" ></Details>"
        });

        $('input.emp').each(function () {
            if ($(this).is(':checked')) {
                subtext = subtext + "<Details OptionId =\"" + $(this).val() + "\"  OptionValue=\"checked\" ></Details>"
            }
        });

        $('select.emp').each(function () {
            subtext = subtext + "<Details OptionId =\"" + $(this).val() + "\"  OptionValue=\"selected\" ></Details>"
        });

        subtext = subtext + "<Details OptionId =\"52\"  OptionValue=\"" + $('#txt52').val() + "\" ></Details>"

        Xmldocs = Xmldocs + subtext + "</Info>";

        $.ajax({
            url: "/Admin/SaveKnowledgeassessmentForInvestor",
            type: "POST",
            dataType: "json",
            contentType: 'application/json',
            data: "{xmldocs:'" + Xmldocs + "', userId:'" +  @Model.Userid +"'}",
            success: function (msg) {

                if (msg == "Success") {
                    //ShowhideborrowerAccountInfoSteps(3);
                    window.location = '@Url.Action("UserList", "Admin", new { role = "All" })';
                }
                else {
                    alert("Some error occured while saving details.");
                }

            }
        });
        return false;
    }
</script>


<table align="center" border="0" cellpadding="0" cellspacing="0" width="70%">
    <tbody>
        <tr style="background-color: rgb(223, 223, 223);">
            <td>
                <br />
            </td>
        </tr>
        <tr>
            <td>
                <table bgcolor="#860509" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                        <tr style="background-color: rgb(59, 143, 215);">
                            <td width="12">
                                <img src="Images/corner_boxleft.gif" border="0" width="12" height="24">
                            </td>
                            <td class="tableTitle" style="background-color: rgb(59, 143, 215);" colspan="2">
                                <asp:literal id="ltPageHeading" runat="server"></asp:literal>
                            </td>
                            <td width="12">
                                <img src="Images/corner_boxRight.gif" border="0" width="12" height="24">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr bgcolor="#ffffff">
            <td>&nbsp;
            </td>
        </tr>
        <tr bgcolor="#ffffff">
            <td height="17"></td>
        </tr>
        <tr bgcolor="#ffffff">
            <td>
                <table class="" align="center" border="0" cellpadding="0" cellspacing="0" width="90%">
                    <tbody>
                        <tr>
                            <td colspan="2" class="RowHeader" align="center">
                                <table style="background-color: rgb(59, 143, 215);" border="0" cellpadding="0" cellspacing="0"
                                    width="100%">
                                    <tbody>
                                        <tr style="background-color: rgb(59, 143, 215);">
                                            <td width="12">
                                                <img alt="" src="Images/corner_boxleft.gif" border="0" width="12" height="24">
                                            </td>
                                            <td class="RowHeader" colspan="2" style="background-color: rgb(59, 143, 215);" align="center">Usre Detail for verification
                                            </td>
                                            <td width="12">
                                                <img alt="" src="Images/corner_boxRight.gif" border="0" width="12" height="24">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="0" align="center" width="100%">
                                <div id="ctl00_cphAdminMaster_updRegister">
                                    <table class="TableBorder" align="center" bgcolor="#eeeeee" border="0" cellpadding="0" cellspacing="5" width="100%">
                                        <tbody>
                                            <tr bgcolor="#eeeeee">
                                                <td colspan="2" height="20"></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div>

                                                        @if (Model.Knowledgeassessment != null && Model.Knowledgeassessment.Parentlist != null)
                                                        {
                                                            foreach (var item in Model.Knowledgeassessment.Parentlist)
                                                            {
       
                                                            <div id="@item.ParentId" class="fl width100">
                                                                <div>@Html.DisplayFor(modelItem => item.Parenttext)   </div>
                                                                <div class="clear"></div>
                                                                @Html.Action("GetKnowledgeassessmentoptions", "Admin", new { parentid = item.ParentId, userid = Model.Userid })
                                                            </div>
    
                                                            <div class="clear"></div>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <div class="fl width100">
                                                                <div>No Knowledge assessment survey found </div>
                                                                <div class="wish_stat"></div>
                                                                <div class="fl">
                                                                </div>
                                                                <div class="wish_doc"></div>
                                                            </div>
                                                        }

                                                        <div class="clear"></div>

                                                        <div>
                                                            <div>
                                                                <input name="" type="button" value="Submit" onclick="return SaveKnowledgeDetailsofInvestor();">
                                                            </div>
                                                        </div>

                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        <tr height="1">
                            <td colspan="2" class="formfooter" align="left"></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr bgcolor="#ffffff">
            <td>&nbsp;
            </td>
        </tr>
        <tr bgcolor="#ffffff">
            <td>
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                        <tr>
                            <td>&nbsp;
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr bgcolor="#ffffff">
            <td>&nbsp;
            </td>
        </tr>
    </tbody>
</table>