﻿@using MoolahConnect.Util.Enums
@using MoolahConnect.Util.ExtensionMethods
@using MoolahConnectClassLibrary.Models
@using MoolahConnect.Util
@model MoolahConnectnew.ViewModels.LoanDetailsMoolahPeri

<style>
    .list-item {
        list-style-type: none;
        margin-left: -40px;
    }

    .dyc-div {
        vertical-align: middle;
    }

    .dyc-textbox {
        border: 1px solid #BBB9AF;
        font-size: 13px;
        padding: 0 5px;
        width: 148px;
    }

    .dyc-img {
        padding-top: 1px;
    }

    .control-list ul li {
        cursor: pointer;
    }

    .daterange_btn {
        height: 21px !important;
        box-shadow: none !important;
        border-radius: 0px !important;
    }
</style>

@using (Html.BeginForm("SaveMoolahPeriVerification", "Admin", FormMethod.Post, new {id = "Loanrequestmoolahperi"}))
{
    @Html.ValidationSummary(true)

    <table align="center" border="0" cellpadding="0" cellspacing="0" width="95%">
        <tbody>
            <tr style="background-color: rgb(223, 223, 223);">
                <td>
                    <br />
                </td>
            </tr>
            <tr>
                <td>
                    <table bgcolor="#860509" border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tbody>
                            <tr style="background-color: rgb(59, 143, 215);">
                                <td width="12">
                                    <img src="Images/corner_boxleft.gif" border="0" width="12" height="24">
                                </td>
                                <td class="tableTitle" style="background-color: rgb(59, 143, 215);" colspan="2">
                                    <asp:literal id="ltPageHeading" runat="server"></asp:literal>
                                </td>
                                <td width="12">
                                    <img src="Images/corner_boxRight.gif" border="0" width="12" height="24">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr bgcolor="#ffffff">
                <td>&nbsp;
                </td>
            </tr>
            <tr bgcolor="#ffffff">
                <td height="17"></td>
            </tr>
            <tr bgcolor="#ffffff">
                <td>
                    <table class="" align="center" border="0" cellpadding="0" cellspacing="0" width="70%">
                        <tbody>
                            <tr>
                                <td colspan="2" class="RowHeader" align="center">
                                    <table style="background-color: rgb(59, 143, 215);" border="0" cellpadding="0" cellspacing="0"
                                           width="100%">
                                        <tbody>
                                            <tr style="background-color: rgb(59, 143, 215);">
                                                <td width="12">
                                                    <img alt="" src="Images/corner_boxleft.gif" border="0" width="12" height="24">
                                                </td>
                                                <td class="RowHeader" colspan="2" style="background-color: rgb(59, 143, 215);" align="center">Moolah Peri
                                                </td>
                                                <td width="12">
                                                    <img alt="" src="Images/corner_boxRight.gif" border="0" width="12" height="24">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="0" align="center" width="100%">
                                    <div id="ctl00_cphAdminMaster_updRegister">
                                        <table class="TableBorder" align="center" bgcolor="#eeeeee" border="0" cellpadding="0" cellspacing="5" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td valign="top">Bussiness awards 
                                                    </td>
                                                    <td>
                                                        <div id="BusinessAwardsDiv">
                                                            <div>
                                                                <input type="text" class="des_in_left" placeholder="Top SME IN 2008">
                                                                <input name="add" class="daterange_btn" type="button" title="Add Achievement" value="Add" onclick=" AddAchievement('BusinessAwards') " />
                                                                @Html.HiddenFor(m => m.MoolahPeri.BusinessAwards, new {id = "BusinessAwards"})
                                                            </div>
                                                            <div class="clear"></div>
                                                            <div class="control-list">
                                                                <ul class="list-item">
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td valign="top">
                                                        @Html.DropDownListFor(m => m.MoolahPeriVerify.BusinessAwardsVerified, new SelectList(new List<object>
                                                            {
                                                                new {value = (int) VerificationStatus.Unverified, text = "UnVerified"},
                                                                new {value = (int) VerificationStatus.Verified, text = "Verified"}
                                                            },
                                                                                                                                "value",
                                                                                                                                "text", Model.MoolahPeriVerify.BusinessAwardsVerified), new {id = "Title", @class = "wish_list_in"})
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td valign="top">Accreditation or Industry Certification
                                                    </td>
                                                    <td>
                                                        <div id="AccreditationDiv">
                                                            <div>
                                                                <input type="text" class="des_in_left" placeholder="ISO, HCAAP etc">
                                                                <input name="add" class="daterange_btn" type="button" title="Add Achievement" value="Add" onclick=" AddAchievement('Accreditation') " />
                                                                @Html.HiddenFor(m => m.MoolahPeri.Accreditation, new {id = "Accreditation"})
                                                            </div>
                                                            <div class="clear"></div>
                                                            <div class="control-list">
                                                                <ul class="list-item">
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td valign="top">
                                                        @Html.DropDownListFor(m => m.MoolahPeriVerify.AccreditationVerified, new SelectList(new List<object>
                                                            {
                                                                new {value = (int) VerificationStatus.Unverified, text = "UnVerified"},
                                                                new {value = (int) VerificationStatus.Verified, text = "Verified"}
                                                            },
                                                                                                                            "value",
                                                                                                                            "text", Model.MoolahPeriVerify.AccreditationVerified), new {id = "Title", @class = "wish_list_in"})


                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td valign="top">Member of Trade Association
                                                    </td>
                                                    <td>
                                                        <div id="MTADiv">
                                                            <div>
                                                                <input type="text" class="des_in_left" placeholder="ASME, SCCI">
                                                                <input name="add" class="daterange_btn" type="button" title="Add Achievement" value="Add" onclick=" AddAchievement('MTA') " />
                                                                @*@Html.HiddenFor(m => m.MoolahPeri.MTA, new {id = "MTA"})*@
                                                            </div>
                                                            <div class="clear"></div>
                                                            <div class="control-list">
                                                                <ul class="list-item">
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td valign="top">
                                                        @*@Html.DropDownListFor(m => m.MemberofAssociationVerifcation, new SelectList(new List<object>
                                                            {
                                                                new {value = (int) VerificationStatus.Unverified, text = "UnVerified"},
                                                                new {value = (int) VerificationStatus.Verified, text = "Verified"}
                                                            },
                                                                                                                                    "value",
                                                                                                                                    "text", Model.MemberofAssociationVerifcation), new {id = "Title", @class = "wish_list_in"})*@


                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td valign="top">Social Media Footprint 
                                                    </td>
                                                    <td>
                                                        <div id="DigitalFootPrintDiv">
                                                            <div>
                                                                <input type="text" class="des_in_left" placeholder="Website, Facebook etc">
                                                                <input name="add" class="daterange_btn" type="button" title="Add Achievement" value="Add" onclick=" AddAchievement('DigitalFootPrint') " />
                                                                @Html.HiddenFor(m => m.MoolahPeri.SocialMediaFootprint, new {id = "DigitalFootPrint"})
                                                            </div>
                                                            <div class="clear"></div>
                                                            <div class="control-list">
                                                                <ul class="list-item">
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td valign="top">
                                                        @Html.DropDownListFor(m => m.MoolahPeriVerify.SocialMediaFootprintVerified, new SelectList(new List<object>
                                                            {
                                                                new {value = (int) VerificationStatus.Unverified, text = "UnVerified"},
                                                                new {value = (int) VerificationStatus.Verified, text = "Verified"}
                                                            },
                                                                                                                         "value",
                                                                                                                         "text", Model.MoolahPeriVerify.SocialMediaFootprintVerified), new {id = "Title", @class = "wish_list_in"})


                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td valign="top">Community Initiatives
                                                    </td>
                                                    <td>
                                                        <div id="CommunityInitiativeDiv">
                                                            <div>
                                                                <input type="text" class="des_in_left" placeholder="Support charity etc">
                                                                <input name="add" class="daterange_btn" type="button" title="Add Achievement" value="Add" onclick=" AddAchievement('CommunityInitiative') " />
                                                                @Html.HiddenFor(m => m.MoolahPeri.CommunityInitiatives, new {id = "CommunityInitiative"})
                                                            </div>
                                                            <div class="clear"></div>
                                                            <div class="control-list">
                                                                <ul class="list-item">
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td valign="top">
                                                        @Html.DropDownListFor(m => m.MoolahPeriVerify.CommunityInitiativesVerified, new SelectList(new List<object>
                                                            {
                                                                new {value = (int) VerificationStatus.Unverified, text = "UnVerified"},
                                                                new {value = (int) VerificationStatus.Verified, text = "Verified"}
                                                            },
                                                                                                                           "value",
                                                                                                                           "text", Model.MoolahPeriVerify.CommunityInitiativesVerified), new {id = "Title", @class = "wish_list_in"})


                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td valign="top">Biodata of Directors/ Partners
                                                    </td>
                                                    <td>
                                                        <div id="BiodataOfDSDiv">
                                                            <div>
                                                                @Html.TextAreaFor(m => m.MoolahPeri.BiodataOfKeyPersonnel, new { @class = "des_tarea", placeholder = "Biodata of Directors/ Partners" })
                                                            </div>
                                                            <div class="clear"></div>
                                                            <div class="control-list">
                                                                <ul class="list-item">
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td valign="top">
                                                        @Html.DropDownListFor(m => m.MoolahPeriVerify.BiodataOfKeyPersonnelVerified, new SelectList(new List<object>
                                                            {
                                                                new {value = (int) VerificationStatus.Unverified, text = "UnVerified"},
                                                                new {value = (int) VerificationStatus.Verified, text = "Verified"}
                                                            },
                                                                                                                                    "value",
                                                                                                                                    "text", Model.MoolahPeriVerify.BiodataOfKeyPersonnelVerified), new {id = "Title", @class = "wish_list_in"})


                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>MoolahPerks for Investors 
                                                    </td>
                                                    <td>
                                                        @*@Html.DropDownList("MoolahPerkset", Model.MoolahPerk, new {@class = "des_list_lander", @id = "MoolahPerkset", onchange = "getcustomperkTextbox()"})*@
                                                    </td>
                                                    <td>
                                                        @*@if (Model.MoolahPerk_Custom != null || Model.MoolahPerk_Custom != "")
                                                        {
                                                            <div class="wish_new_des" style="margin-top: 1px;">
                                                                @Html.TextAreaFor(m => m.MoolahPerk_Custom, new {@class = "des_tarea", placeholder = "Custom MoolahPerk"})
                                                                @Html.ValidationMessageFor(m => m.MoolahPerk_Custom)
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="wish_new_des" id="divcustomeperk" style="margin-top: 1px; display: none;">@Html.TextBoxFor(m => m.MoolahPerk_Custom, new {@class = "des_in_left", placeholder = "Custom MoolahPerk"})</div>
                                                        }*@
                                                    </td>
                                                    <td>
                                                        @*@Html.DropDownListFor(m => m.MoolahPerkforLendersVerifcation, new SelectList(new List<object>
                                                            {
                                                                new {value = (int) VerificationStatus.Unverified, text = "UnVerified"},
                                                                new {value = (int) VerificationStatus.Verified, text = "Verified"}
                                                            },
                                                                                                                                     "value",
                                                                                                                                     "text", Model.MoolahPerkforLendersVerifcation), new {id = "Title", @class = "wish_list_in"})*@
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Update MoolahPost</td>
                                                    <td>
                                                        @Html.DropDownListFor(m => m.MoolahPeri.UpdateMoolahPost, new SelectList(new List<Object>
                                                            {
                                                                new {value = "false", text = "No"},
                                                                new {value = "true", text = "Yes"}

                                                            },
                                                                                                                             "value",
                                                                                                                             "text",
                                                                                                                             Model.MoolahPeri.UpdateMoolahPost), new {id = "drpIslegitatins", @class = "des_new_list", onchange = "getLetigationdivHide()"})
                                                    </td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                @*<tr>
                                                    <td>Final Approval of Loan
                                                    </td>
                                                    <td>
                                                        @if (Model.PreliminaryStatus >= (int)PreliminaryLoanRequestStatus.DraftSubmitted &&
                                                            Model.PreliminaryStatus <= (int)PreliminaryLoanRequestStatus.DraftRejected)
                                                        {
                                                        @Html.DropDownListFor(m => m.FinalApprovalofLoanRequest, new SelectList(new List<AdminApprovalModel>
                                                            {
                                                                new AdminApprovalModel {IsApproved = null, DisplayName = "Pending"},
                                                                new AdminApprovalModel {IsApproved = true, DisplayName = "Approved"},
                                                                new AdminApprovalModel {IsApproved = false, DisplayName = LoanRequestStatus.Rejected.ToString()},
                                                            },
                                                                                                                                "IsApproved",
                                                                                                                                "DisplayName", Model.FinalApprovalofLoanRequest), new {id = "FinalApprovalofLoanRequest", @class = "wish_list_in"})
                                                        @:&nbsp&nbsp&nbsp&nbsp<div id="dvStatus"></div>
                                                        @:<input type="hidden" id="hdnApprovechk" value="@Model.RequestStatus" />
                                                        }
                                                        else
                                                        {
                                                            
                                                            <input type="text" disabled="disabled" style="width:100px" 
                                                                value="@CommonMethods.GetLoanStatus((PreliminaryLoanRequestStatus)Model.PreliminaryStatus,
                                                                (LoanRequestStatus)Model.LoanStatus)" />
                                                            @Html.HiddenFor(m=>m.FinalApprovalofLoanRequest)
                                                            <label style="color:red">You can not edit the status of this loan.</label>
                                                        }

                                                    </td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>Comments to send in email body to user:
                                                    </td>
                                                    <td>
                                                        @Html.TextAreaFor(m => m.CommentofAdminforMoolahPeri, new {@class = "des_in_left", placeholder = "Comments to send in email body to user"})
                                                    </td>
                                                    <td></td>
                                                </tr>*@
                                                <tr>
                                                    <td></td>
                                                    <td align="left">
                                                        <input type="submit" onclick=" SaveMoolahPeriVerification " value="Submit" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td align="left">
                                                        <asp:image id="imgUser" runat="server" width="117px" height="116px" />
                                                    </td>
                                                </tr>
                                                <tr bgcolor="#eeeeee">
                                                    <td colspan="2" height="20"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr height="1">
                                <td colspan="2" class="formfooter" align="left"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr bgcolor="#ffffff">
                <td>&nbsp;
                </td>
            </tr>
            <tr bgcolor="#ffffff">
                <td>
                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tbody>
                            <tr>
                                <td>&nbsp;
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr bgcolor="#ffffff">
                <td>&nbsp;
                </td>
            </tr>
        </tbody>
    </table>
}

<script type="text/javascript">

    $(document).ready(function () {
        LoadList("BusinessAwards");
        LoadList("Accreditation");
        LoadList("MTA");
        LoadList("DigitalFootPrint");
        LoadList("CommunityInitiative");
        SetLenders();
    });
    
    function LoadList(contextPath) {
        var context = "#" + contextPath + "Div .";
        var fieldName = "#" + contextPath;
        var exvalue = $(fieldName).val();
        if (exvalue != '') {
            var list = exvalue.split(',');
            for (var i = 0; i < list.length; i++) {
                var val = list[i];
                var txtVal = replaceAll(" ", "&nbsp;", val);
                $(context + "control-list ul").append('<li id="' + val + '">' +
                    "<div class=\"dyc-div\"><input class=\"dyc-textbox\" type=\"text\" value=" + txtVal + " />&nbsp;" +
                    '<img class=\"dyc-img\" src="/Content/images/close_btn.png" onclick="RemoveAchievement(\'' +
                    contextPath + '\',\'' + val + '\')"\></div></li>');
                $(".dyc-textbox").attr('disabled', 'disabled');
            }
        }
    }

    function AddAchievement(contextPath) {
        var context = "#" + contextPath + "Div .";
        var val = $(context + "des_in_left").val();
        if (val != '') {
            var exp = /[+,]/;
            if (val.match(exp)) {
                alert("Your input has some invalied charactors, Please check.");
            } else {
                var fieldName = "#" + contextPath;
                var exvalue = $(fieldName).val();
                var list = exvalue.split(',');
                var hasVal = false;
                for (var i = 0; i < list.length; i++) {
                    if (list[i] == val) {
                        hasVal = true;
                    }
                }
                if (!hasVal) {
                    var txtVal = replaceAll(" ", "&nbsp;", val);
                    $(context + "control-list ul").append('<li id="' + val + '">' +
                        "<div class=\"dyc-div\"><input class=\"dyc-textbox\" type=\"text\" value=" + txtVal + " />&nbsp;" +
                        '<img class=\"dyc-img\" src="/Content/images/close_btn.png" onclick="RemoveAchievement(\'' +
                        contextPath + '\',\'' + val + '\')"\></div></li>');

                    $(".dyc-textbox").attr('disabled', 'disabled');

                    $(context + "des_in_left").val('');
                    if (exvalue != '') {
                        var newValue = exvalue + ',' + val;
                        $(fieldName).val(newValue);
                    } else {
                        $(fieldName).val(val);
                    }
                }
            }
        }
    }

    function replaceAll(find, replace, str) {
        while (str.indexOf(find) > -1) {
            str = str.replace(find, replace);
        }
        return str;
    }

    function RemoveAchievement(context, name) {
        var result = confirm("Are you sure you want to remove this item?");
        if (result == true) {

            var fieldName = "#" + context;
            var exvalue = $(fieldName).val();
            var list = exvalue.split(',');
            var newList = "";
            for (var i = 0; i < list.length; i++) {
                if (list[i] != name) {
                    if (newList != "") {
                        newList = newList + ",";
                    }
                    newList = newList + list[i];
                }
            }
            $(fieldName).val(newList);
            $("li[id='" + name + "']").remove();
        }
    }

    $('#MoolahPerkset').change(function() {
        SetLenders();
    });

    function SetLenders() {
        var val = $('#MoolahPerkset').val();
        if (val == 5) {
            $('#MoolahPerk_Custom').removeAttr('disabled');
        } else {
            $('#MoolahPerk_Custom').val('');
            $('#MoolahPerk_Custom').attr('disabled', 'disabled');
        }
    }

</script>
