﻿@using MoolahConnect.Util
@using MoolahConnect.Util.Enums
@using MoolahConnectClassLibrary.Models.ViewModels
@model MoolahConnectClassLibrary.Models.ViewModels.LoanRequestDescriptionAdmin

<style>
    .list-item {
        list-style-type: none;
        margin-left: -40px;
    }

    .guaranteeTable tbody tr {
        height: 10px;
    }

    .guaranteeTable {
        background-color: transparent;
        text-shadow: none;
        width: 75%;
    }


        .guaranteeTable tbody tr:nth-child(2n+1) {
            background-color: #f6edd4;
        }

    .table th, .table td {
        border: none;
        border-right: 1px solid #555555;
        color: #333333;
        font-family: "Roboto",sans-serif;
    }

    .guaranteeTable thead td {
        background: none repeat scroll 0 0 #ffbe3a !important;
        padding: 6px;
    }

    .guaranteeTable tbody td {
        padding: 4px;
        font-size: 12px;
        font-weight: 500;
    }

    .table-bordered {
        border: 1px solid #555555;
        border-right: none;
    }

    .deleteg {
        margin-left: 8px;
    }

    .modal-body {
        max-height: 400px;
    }

        .modal-body .field-validation-error {
            margin-left: 15px;
        }

    .col-sm-5 {
        width: 50%;
        float: left;
        margin-bottom: 12px;
    }

    .modal-body input, .modal-body select, .modal-body textarea {
        margin-left: 15px;
    }

    .form-horizontal .control-label {
        width: 50%;
        text-align: left;
    }

    .form-group {
        padding: 5px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .form-horizontal input, .form-horizontal select {
        margin-bottom: 15px;
    }

    .TableBorder .list-item {
        margin-left: 0px;
    }

    body {
        background-color: #ffffff;
        color: #333333;
        font-family: "Roboto";
        font-size: 13px;
        line-height: 18px;
        margin: 0;
    }

    body {
        background: none repeat scroll 0 0 #f3f1e5 !important;
        font-family: "Roboto",sans-serif !important;
        padding: 0;
        text-decoration: none;
    }

    body {
        display: block;
    }

        address, address[dir], article, article[dir], aside, aside[dir], blockquote, blockquote[dir], body, body[dir], caption, caption[dir], center, center[dir], col, col[dir], colgroup, colgroup[dir], dd, dd[dir], dir, dir[dir], div, div[dir], dl, dl[dir], dt, dt[dir], fieldset, fieldset[dir], figcaption, figcaption[dir], figure, figure[dir], footer, footer[dir], form, form[dir], h1, h1[dir], h2, h2[dir], h3, h3[dir], h4, h4[dir], h5, h5[dir], h6, h6[dir], header, header[dir], hgroup, hgroup[dir], hr, hr[dir], html, html[dir], legend, legend[dir], li, li[dir], listing, listing[dir], main, main[dir], marquee, marquee[dir], menu, menu[dir], nav, nav[dir], noframes, noframes[dir], ol, ol[dir], p, p[dir], plaintext, plaintext[dir], pre, pre[dir], section, section[dir], summary, summary[dir], table, table[dir], tbody, tbody[dir], td, td[dir], tfoot, tfoot[dir], th, th[dir], thead, thead[dir], tr, tr[dir], ul, ul[dir], xmp, xmp[dir] {
            unicode-bidi: -moz-isolate;
        }

    .TableBorder td {
        padding-left: 5px;
        padding-top: 5px;
    }

    .form-horizontal input, .form-horizontal select .form-horizontal textarea {
        margin-bottom: 0px;
    }
</style>

@using (Html.BeginForm("SavePersonlaGuranteeVerifcation", "Admin", FormMethod.Post, new { id = "SaveLoanRequestdescriptionEdit" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.Loanimages, new { id = "hdnloanimages" })
    @Html.HiddenFor(m => m.DocumentComments, new { id = "hdnDocumentComments" })
    @Html.HiddenFor(m => m.PersonGuarantees)

    <table align="center" border="0" cellpadding="0" cellspacing="0" width="70%">
        <tbody>
            <tr style="background-color: rgb(223, 223, 223);">
                <td>
                    <br />
                </td>
            </tr>
            <tr>
                <td>
                    <table bgcolor="#860509" border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tbody>
                            <tr style="background-color: rgb(59, 143, 215);">
                                <td width="12">
                                    <img src='@Url.Content("~/Content/Admin/Images/corner_boxleft.gif")' border="0" width="12" height="24">
                                </td>
                                <td class="tableTitle" style="background-color: rgb(59, 143, 215);" colspan="2">
                                    <asp:literal id="ltPageHeading" runat="server"></asp:literal>
                                </td>
                                <td width="12">
                                    <img src='@Url.Content("~/Content/Admin/Images/corner_boxRight.gif")' border="0" width="12" height="24">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr bgcolor="#ffffff">
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr bgcolor="#ffffff">
                <td height="17"></td>
            </tr>
            <tr bgcolor="#ffffff">
                <td>
                    <table class="" align="center" border="0" cellpadding="0" cellspacing="0" width="90%">
                        <tbody>
                            <tr>
                                <td colspan="2" class="RowHeader" align="center">
                                    <table style="background-color: rgb(59, 143, 215);" border="0" cellpadding="0" cellspacing="0"
                                           width="100%">
                                        <tbody>
                                            <tr style="background-color: rgb(59, 143, 215);">
                                                <td width="12">
                                                    <img alt="" src='@Url.Content("~/Content/Admin/Images/corner_boxleft.gif")' border="0" width="12" height="24">
                                                </td>
                                                <td class="RowHeader" colspan="2" style="background-color: rgb(59, 143, 215);" align="center">
                                                    Loan Description
                                                </td>
                                                <td width="12">
                                                    <img alt="" src='@Url.Content("~/Content/Admin/Images/corner_boxRight.gif")' border="0" width="12" height="24">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="0" align="center" width="100%">
                                    <div id="ctl00_cphAdminMaster_updRegister">
                                        <table class="TableBorder" align="center" bgcolor="#eeeeee" border="0" cellpadding="0" cellspacing="5" width="100%">
                                            <tbody>
                                                <tr bgcolor="#eeeeee">
                                                    <td colspan="2" height="20"></td>
                                                </tr>
                                                <tr>
                                                    <td align="left">
                                                        <b>Account No : </b>
                                                    </td>
                                                    <td align="left">
                                                        @Model.Accountnumber
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="left">
                                                        <b>Amount : </b>
                                                    </td>
                                                    <td align="left">
                                                        @Html.TextBoxFor(m => m.Amount, new { @class = "des_input", placeholder = "S$100,000", onblur = "Getquickindicationsforpayment()" })
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td align="left">
                                                        <b>Tenor : </b>
                                                    </td>
                                                    <td align="left">
                                                        <ul class="list-item">
                                                            @foreach (int gMonth in GlobalVar.gTenure)
                                                            {
                                                                <li>
                                                                    @Html.RadioButtonFor(m => m.Term, gMonth.ToString(), new { @checked = true, onchange = "Getquickindicationsforpayment()" })

                                                                    <span class="txt">@gMonth months </span>
                                                                </li>
                                                            }

                                                            <!--
                                                            <li>
                                                                @Html.RadioButtonFor(m => m.Term, "24", new { onchange = "Getquickindicationsforpayment()" })

                                                                <span class="txt">24 months </span></li>
                                                            <li>
                                                                @Html.RadioButtonFor(m => m.Term, "36", new { onchange = "Getquickindicationsforpayment()" })

                                                                <span class="txt">36 months </span></li> -->
                                                        </ul>
                                                </tr>
                                                <tr>
                                                    <td
                                                <tr>
                                                    <td align="left">
                                                        <b>Target EIR </b>
                                                    </td>
                                                    <td align="left">
                                                        @Html.TextBoxFor(m => m.EIR, new { @class = "des_input", placeholder = "10% p.a  ", onblur = "Getquickindicationsforpayment()" })
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>
                                                        <b>Headline</b>
                                                    </td>
                                                    <td>
                                                        <div>
                                                            @Html.TextAreaFor(m => m.Headline, new { @class = "des_tarea", placeholder = "Headline", cols = 50, rows = 2 })
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <b>Summary Company Profile</b>
                                                    </td>
                                                    <td>
                                                        <div>
                                                            @Html.TextAreaFor(m => m.SummaryCompanyPro, new { @class = "des_tarea", placeholder = "Summary Company Profile", cols = 50, rows = 5 })
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <b>Detailed Company Profile</b>
                                                    </td>
                                                    <td>
                                                        <div>
                                                            @Html.TextAreaFor(m => m.DetailedCompanyPro, new { @class = "des_tarea", placeholder = "Detailed Company Profile", cols = 50, rows = 5 })
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <b>Number of Employees</b>
                                                    </td>
                                                    <td>
                                                        <div align="left">
                                                            @Html.TextBoxFor(m => m.NumberOfEmployees, new { @class = "des_input", placeholder = "Number Of Employees" })
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="left">
                                                        <b>Loan Purpose:</b>
                                                    </td>
                                                    <td align="left">
                                                        @Html.DropDownListFor(m => m.LoanPurpose_Id, new SelectList(Model.LoanpurposeList, "LoanPurposeId", "PurposeName"), new { @class = "des_list_in", onchange = "GetQuestionsrelatedtoLoanPurpose()", })
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td>
                                                        <br />
                                                        Please provide more details on the purpose of the loan<br />
                                                        @Html.TextAreaFor(m => m.QA, new { @class = "des_tarea", placeholder = "Loan Purpose", cols = 50, rows = 5 })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td>
                                                        @Html.TextAreaFor(m => m.MoolahSenseComments, new { @class = "des_tarea", placeholder = "Moolah Sense Comments", cols = 50, rows = 5 })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">
                                                        <div class="request_upload_div">
                                                            @MoolahConnectHelper.UploadRegistrationDocuments("vid", "Video Files", Model.Username, FileType.LoanVideo.ToString(), "video/mp4", Model.RequestId)
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">
                                                        <div class="request_upload_div">
                                                            @MoolahConnectHelper.UploadRegistrationDocuments("phot", "Photos", Model.Username, FileType.LoanPhoto.ToString(), "image/*", Model.RequestId)
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">
                                                        <div class="request_upload_div">
                                                            @MoolahConnectHelper.UploadRegistrationDocuments("doc1", "Documents", Model.Username, FileType.LoanDocuments.ToString(), "false", Model.RequestId)
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">
                                                        <div class="request_upload_div">
                                                            @MoolahConnectHelper.UploadRegistrationDocuments("cover", "Cover Photo", Model.Username, FileType.LoanCover.ToString(), "image/*", Model.RequestId, "false")
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">
                                                        <div class="request_upload_div">
                                                            <span>
                                                                <h4>YouTube Links</h4>
                                                            </span>
                                                            @MoolahConnectHelper.UploadYouTubeLinks(Model.Username, Model.RequestId)
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">
                                                        <div class="request_upload_div">
                                                            @MoolahConnectHelper.UploadRegistrationDocuments("doc2", "Documents for Admin Review", Model.Username, FileType.LoanAdminDocuments.ToString(), "false", Model.RequestId)
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="left">
                                                        <b>Personal Guarantee :</b>
                                                    </td>
                                                    <td align="left">
                                                        @Html.DropDownList("IspersonalGuarantee", Model._IspersonalGuarantee, new { @class = "des_list_small", onchange = "ShowHidePersonalguaranteediv()" })
                                                    </td>
                                                    <td></td>
                                                </tr>


                                                <tr class="chkhide">
                                                    <td colspan="3" align="left">
                                                        <b>Gurantor Detail</b>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td colspan="8">
                                                        <table class="table table-bordered guaranteeTable">
                                                            <thead>
                                                                <tr>
                                                                    <td class="bdr_bottom bdr_left" style="width: 50px">No</td>
                                                                    <td class="bdr_bottom ">Full Name</td>
                                                                    @*<td>Nationality</td>
                                                                        <td>NRIC</td>
                                                                        <td >Address</td>*@
                                                                    <td style="width: 130px"></td>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr></tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">
                                                        <div class="request_upload_div">
                                                            @MoolahConnectHelper.UploadRegistrationDocuments("gurantor", "Documents", Model.Username, FileType.GurantorDetails.ToString(), "false", Model.RequestId)
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td align="left">
                                                        <input id="btnSubmit" type="submit" onclick=" SavePersonlaGuranteeVerifcation " value="Submit" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td align="left">
                                                        <asp:image id="imgUser" runat="server" width="117px" height="116px" />
                                                    </td>
                                                </tr>
                                                <tr bgcolor="#eeeeee">
                                                    <td colspan="2" height="20"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr height="1">
                                <td colspan="2" class="formfooter" align="left"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr bgcolor="#ffffff">
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr bgcolor="#ffffff">
                <td>
                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tbody>
                            <tr>
                                <td>
                                    &nbsp;
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr bgcolor="#ffffff">
                <td>
                    &nbsp;
                </td>
            </tr>
        </tbody>
    </table>
}
<div style="display:none" class="modal fade" id="guaranteeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Guarantor Details</h4>
            </div>
            <div class="modal-body">
                <form id="frmguarantee" action="#">
                    @Html.Partial("_Guarantees", new PersonGuarantee())
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary addGuarantee">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script type="text/javascript">
    var PersonGuarantees = [];
    PersonGuarantees = @Html.Raw(Json.Encode(Model.PersonGuarantees));
    if (PersonGuarantees == null)
        PersonGuarantees = [];
    var $nameasinNRICPassport = $("#NameInNRIC");
    var $nationality = $("#Nationalityddl");
    var $nricNumber = $("#NRICNo");
    var $passportNumber = $("#PassportNo");
    var $residentialaddress1 = $("#ResidentialAddress1");
    var $residentialaddress2 = $("#ResidentialAddress2");
    var $postalcode = $("#PostalCode");
    var $telephone = $("#Telephone");
    var $Reasons = $("#Reason");
    var $email = $("#Email");
    var $guaranteeModal = $("#guaranteeModal");
    var $guaranteeform = $("#frmguarantee");
    var selectedGuarantee = null;
    var $hpersonGuarantee = $("#PersonGuarantees");

    $(function() {
        $('#nationalityTmp').hide();

        $(".addGuatantee").bind("click", function () {
            refresGuaranteeForm();
            clearGuarantee();
            $guaranteeModal.modal();
        });
        $(".addGuarantee").bind("click", function () {


            if($guaranteeform.valid()){
                if (selectedGuarantee == null) addNewGuarantee();
                else updateGuarantee();

                updateTable();
                clearGuarantee();
                $guaranteeModal.modal("hide");
            }
        });
        $nationality.change(function() {
            $guaranteeform.validate().element($passportNumber);
            $guaranteeform.validate().element($('#nationality'));
        });
        $(document).on("click",".editg", function () {
            refresGuaranteeForm();
            _id = $(this).parent().parent().attr("data-id");
            selectedGuarantee = getGuarantee(eval(_id));
            editGuarantee(selectedGuarantee);
        });
        $(document).on("click",".deleteg", function () {
            _id = $(this).parent().parent().attr("data-id");
            deleteGuarantee(eval(_id));
            updateTable();
        });


        resetGuaranteeIDs();
        updateTable();
    });

    function addNewGuarantee() {
        var dd = $guaranteeModal.validate();
        var PersonGuarantee = {
            id: 0,
            NameInNRIC: $nameasinNRICPassport.val(),
            Nationality: $nationalitytxt.val(),
            NRICNo: $nricNumber.val(),
            PassportNo: $passportNumber.val(),
            ResidentialAddress1: $residentialaddress1.val(),
            ResidentialAddress2: $residentialaddress2.val(),
            PostalCode: $postalcode.val(),
            Telephone: $telephone.val(),
            Reason: $Reasons.val(),
            Email: $email.val,
            RowIndex: getNextGuaranteeId(),
            State:'New'
        };
        PersonGuarantees.push(PersonGuarantee);

    }
    function getNextGuaranteeId() {
        if (PersonGuarantees.length == 0) return 1;
        return PersonGuarantees[PersonGuarantees.length - 1].id + 1;
    }
    function updateGuarantee() {
        selectedGuarantee.NameInNRIC = $nameasinNRICPassport.val();
        selectedGuarantee.Nationality = $nationalitytxt.val();
        selectedGuarantee.NRICNo = $nricNumber.val();
        selectedGuarantee.PassportNo = $passportNumber.val();
        selectedGuarantee.ResidentialAddress1 = $residentialaddress1.val();
        selectedGuarantee.ResidentialAddress2 = $residentialaddress2.val();
        selectedGuarantee.PostalCode = $postalcode.val();
        selectedGuarantee.Telephone = $telephone.val();
        selectedGuarantee.Reason = $Reasons.val();
        selectedGuarantee.Email = $email.val();
    }
    function updateTable() {
        var $table = $(".guaranteeTable tbody");
        $table.empty();
        var index = 1;
        PersonGuarantees.forEach(function (item, a) {
            if (item.State != "Delete"){
                var row = $("<tr data-id='" + item.RowIndex + "'></tr>");
                var address = item.ResidentialAddress1 == null ? "" : item.ResidentialAddress1;
                address += " ";
                address += item.ResidentialAddress2 == null ? "" : item.ResidentialAddress2 ;
                row.append(CreateCel(index));
                row.append(CreateCel(item.NameInNRIC));
                //row.append(CreateCel(item.Nationality));
                //row.append(CreateCel(item.NRICNo == null ? "" : item.NRICNo));
                //row.append(CreateCel(address));
                row.append(CreateActionCel("editg","deleteg"));
                $table.append(row);
                index++;
            }
        });
        $hpersonGuarantee.val(JSON.stringify(PersonGuarantees));
        showhideTabel();
    }
    function deleteGuarantee(guaranteeId) {
        bootbox.confirm("Selected guarantee will be deleted", function(result) {
            if (result) {
                _guarantee = getGuarantee(guaranteeId);
                if(_guarantee != null) {
                    _guarantee.State = "Delete";
                    resetGuaranteeIDs();
                    updateTable();
                }
            }
        });


    }
    function showhideTabel()
    {

        var tableguaran = $(".guaranteeTable");
        tableguaran.hide();
        PersonGuarantees.forEach(function(item, a) {
            if (item.State != "Delete") {
                tableguaran.show();
            }
        });


    }
    function resetGuaranteeIDs() {
        var index = 1;
        PersonGuarantees.forEach(function (item, e) {

            item.RowIndex = index;
            index++;

        });
    }
    function getGuarantee(guaranteeId) {
        var guarantee = null;
        PersonGuarantees.forEach(function (item, e) {
            if (item.RowIndex == guaranteeId) {
                guarantee = item;

            }
        });
        return guarantee;
    }
    function editGuarantee(guarantee) {
        $guaranteeModal.modal();
        $nameasinNRICPassport.val(guarantee.NameInNRIC);

        $nationalitytxt.val(guarantee.Nationality);
        $nricNumber.val(guarantee.NRICNo);
        $passportNumber.val(guarantee.PassportNo);
        $residentialaddress1.val(guarantee.ResidentialAddress1);
        $residentialaddress2.val(guarantee.ResidentialAddress2);
        $postalcode.val(guarantee.PostalCode);
        $telephone.val(guarantee.Telephone);
        $Reasons.val(guarantee.Reason);
        $email.val(guarantee.Email);
        guarantee.State = "Update";
        if (guarantee.Nationality != "Singapore Citizen" && guarantee.Nationality != "Singapore PR") {

            $nationality.val("Other Nationalities");
        } else {
            $nationality.val(guarantee.Nationality);
        }
        SetNationalityAtr();
    }
    function clearGuarantee() {
        $nameasinNRICPassport.val("");
        $nationality.val("");
        $nricNumber.val("");
        $passportNumber.val("");
        $residentialaddress1.val("");
        $residentialaddress2.val("");
        $postalcode.val("");
        $telephone.val("");
        $Reasons.val("");
        $email.val("");
        selectedGuarantee = null;
        $nationalitytxt.val("");
        SetNationalityAtr();
    }
    function refresGuaranteeForm() {
        $("#frmguarantee .input-validation-error").each(function(item) {
            $(this).removeClass("input-validation-error");
            $(this).next().removeClass("field-validation-error").first().empty();

        });
        var validator = $("#frmguarantee").validate();
        validator.resetForm();
    }
    function CreateActionCel(editcss,deletecss) {
        return $("<td><input type='button' value='Edit' class='btn "+editcss+"' /><input type='button' value='Delete' class='btn "+deletecss+"'/></td>");
    }
    function CreateCel(val) {
        return $("<td>" + val + "</td>");
    }
    function ReloadSavedGuarantors() {
        var url = '/Borrower/LoadLoanGuarantors';
        url = "?requestId=" + $("#hdnRequestId").val();
        $.getJSON('/Borrower/LoadLoanGuarantors?requestId=' + $("#hdnRequestId").val(),function(data) {
            PersonGuarantees = data;
            resetGuaranteeIDs();
            updateTable();
        });
    }
</script>
<script type="text/javascript">
    var $nationalitytxt = null;
    $(document).ready(function () {
        $nationalitytxt = $("#nationality");
        $('.chkhide').show();
        /*
        var gruateeinfo = $('#IspersonalGuarantee').val();
        if (gruateeinfo == 'true') {
            $('.chkhide').show();
        } else {
            $('.chkhide').hide();
        }
        */
        SetNationalityAtr();

        $('#btnSubmit').click(function() {
            $('#hdnDocumentComments').val(GetFileCommentsAsString('vid,phot,doc1,cover,doc2,YouTubeLinks'));
        });
    });

    $('#IspersonalGuarantee').change(function () {
        /*
        var gruateeinfo = $('#IspersonalGuarantee').val();
        if (gruateeinfo == 'true') {
            $('.chkhide').show();
        } else {
            $('.chkhide').hide();
        }
        */
    });

    $('#Nationalityddl').change(function () {
        SetNationalityAtr();
    });

    function SetNationalityAtr() {
        var pos = $('#Nationalityddl').val();
        if (pos == "Other Nationalities") {
            var title = $('#nationality').val();
            if (title == "Singapore Citizen" || title == "Singapore PR") {
                $('#nationality').val("");
            }
            $("#nationality").show();
        } else {
            $('#nationality').val(pos);
            $("#nationality").hide();
        }
    }

    $.validator.unobtrusive.adapters.add("ifrequired", ["name","condition","conditionmode"], function(options) {
        options.rules['ifrequired'] = options.params;
        options.messages['ifrequired'] = options.message;
    });

    $.validator.addMethod("ifrequired", function (value, element, param) {

        var val = $("#" + param["name"]).val();
        var conval = param["condition"];
        if (conval == undefined)
            conval = "";
        conval = conval.split(",");
        if (param["conditionmode"] == "Equal") {
            if (matchRequestedValue(conval, val) && value == "") {

                return false;
            }
        } else {
            if (!matchRequestedValue(conval, val) && value == "") {

                return false;
            }
        }

        return true;
    });
    function matchRequestedValue(arrayval, val) {
        var ismatch = false;

        arrayval.forEach(function(item, index) {
            if (item == val) {
                ismatch = true;
            }
        });
        return ismatch;
    }
</script>
