﻿@using MoolahConnect.Util.Enums
@using MoolahConnect.Util.ExtensionMethods
@model MoolahConnectnew.ViewModels.LoanDetailsMoolahCore

<script src="~/Scripts/Customjs/CustomMethod.js"></script>

@using (Html.BeginForm("SaveMoolahCoreVerfication", "Admin", FormMethod.Post, new { id = "UpdateLoanRequestMoolahCore" }))
{
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="95%">
        <tbody>
            <tr style="background-color: rgb(223, 223, 223);">
                <td>
                    <br />
                </td>
            </tr>
            <tr>
                <td>
                    <table bgcolor="#860509" border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tbody>
                            <tr style="background-color: rgb(59, 143, 215);">
                                <td width="12">
                                    <img src="Images/corner_boxleft.gif" border="0" width="12" height="24">
                                </td>
                                <td class="tableTitle" style="background-color: rgb(59, 143, 215);" colspan="2">
                                    <asp:literal id="ltPageHeading" runat="server"></asp:literal>
                                </td>
                                <td width="12">
                                    <img src="Images/corner_boxRight.gif" border="0" width="12" height="24">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr bgcolor="#ffffff">
                <td>&nbsp;
                </td>
            </tr>
            <tr bgcolor="#ffffff">
                <td height="17"></td>
            </tr>
            <tr bgcolor="#ffffff">
                <td>
                    <table class="" align="center" border="0" cellpadding="0" cellspacing="0" width="70%">
                        <tbody>
                            <tr>
                                <td colspan="2" class="RowHeader" align="center">
                                    <table style="background-color: rgb(59, 143, 215);" border="0" cellpadding="0" cellspacing="0"
                                        width="100%">
                                        <tbody>
                                            <tr style="background-color: rgb(59, 143, 215);">
                                                <td width="12">
                                                    <img alt="" src="Images/corner_boxleft.gif" border="0" width="12" height="24">
                                                </td>
                                                <td class="RowHeader" colspan="2" style="background-color: rgb(59, 143, 215);" align="center">Moolah Core
                                                </td>
                                                <td width="12">
                                                    <img alt="" src="Images/corner_boxRight.gif" border="0" width="12" height="24">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="0" align="center" width="100%">
                                    <div id="ctl00_cphAdminMaster_updRegister">
                                        <table class="TableBorder" align="center" bgcolor="#eeeeee" border="0" cellpadding="0" cellspacing="5" width="100%">
                                            <tbody>
                                                <tr bgcolor="#eeeeee">
                                                    <td colspan="2" height="20"></td>
                                                </tr>

                                                <tr>
                                                    <td align="left">
                                                        <b>Latest Year / Preivious Year</b>
                                                    </td>
                                                    <td align="left">
                                                        @Html.TextBoxFor(m => m.MoolahCore.LatestYear, new { @class = "des_input_in", placeholder = "Turnover " })
                                                    </td>
                                                    <td align="left">
                                                        @*@Html.DropDownListFor(m => m.LatestYearVerification, new SelectList(new List<object>
                                                            {
                                                                new {value = (int) VerificationStatus.Unverified, text = "UnVerified"},
                                                                new {value = (int) VerificationStatus.Verified, text = "Verified"}
                                                            },
                                                                                                                            "value",
                                                                                                                            "text", Model.Turnovers_LY_Verification), new { id = "Title", @class = "wish_list_in" })*@
                                                    </td>
                                                    <td align="left">
                                                        @Html.TextBoxFor(m => m.MoolahCore.PreviousYear, new { @class = "des_input_in", placeholder = "Turnover " })
                                                    </td>
                                                    <td align="left">
                                                        @*@Html.DropDownListFor(m => m.PreviousYearVerification, new SelectList(new List<object>
                                                            {
                                                                new {value = (int) VerificationStatus.Unverified, text = "UnVerified"},
                                                                new {value = (int) VerificationStatus.Verified, text = "Verified"}
                                                            },
                                                                                                                              "value",
                                                                                                                              "text", Model.PreviousYearVerification), new { id = "Title", @class = "wish_list_in" })*@
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="left">
                                                        <b>Turnover S$</b>
                                                    </td>
                                                    <td align="left">
                                                        @Html.TextBoxFor(m => m.MoolahCore.AnnualTurnOver, new { @class = "des_input_in", placeholder = "Turnover " })
                                                    </td>
                                                    <td>
                                                        @Html.DropDownListFor(m => m.MoolahCoreVerify.AnnualTurnOver_LY_Verified, new SelectList(new List<object>
                                                            {
                                                                new {value = (int) VerificationStatus.Unverified, text = "UnVerified"},
                                                                new {value = (int) VerificationStatus.Verified, text = "Verified"}
                                                            },
                                                                                                                               "value",
                                                                                                                               "text", Model.MoolahCoreVerify.AnnualTurnOver_LY_Verified), new { id = "Title", @class = "wish_list_in" })
                                                    </td>
                                                    <td align="left">
                                                        @Html.TextBoxFor(m => m.MoolahCore.AnnualTurnOverPy, new { @class = "des_input_in", placeholder = "Turnover " })
                                                    </td>
                                                    <td>
                                                        @Html.DropDownListFor(m => m.MoolahCoreVerify.AnnualTurnOver_PY_Verified, new SelectList(new List<object>
                                                            {
                                                                new {value = (int) VerificationStatus.Unverified, text = "UnVerified"},
                                                                new {value = (int) VerificationStatus.Verified, text = "Verified"}
                                                            },
                                                                                                                               "value",
                                                                                                                               "text", Model.MoolahCoreVerify.AnnualTurnOver_PY_Verified), new { id = "Title", @class = "wish_list_in" })
                                                    </td>
                                                    <td align="left"></td>
                                                </tr>
                                                <tr>
                                                    <td align="left">
                                                        <b>Profit Before Tax S$</b>
                                                    </td>
                                                    <td align="left">
                                                        @*@Html.TextBoxFor(m => m.NetprofitafterTax_LY, new { @class = "des_input_in", placeholder = "Profit Before Tax " })*@
                                                    </td>
                                                    <td>
                                                        @*@Html.DropDownListFor(m => m.NetprofitafterTax_LY_Verification, new SelectList(new List<object>
                                                            {
                                                                new {value = (int) VerificationStatus.Unverified, text = "UnVerified"},
                                                                new {value = (int) VerificationStatus.Verified, text = "Verified"}
                                                            },
                                                                                                                                       "value",
                                                                                                                                       "text", Model.NetprofitafterTax_LY_Verification), new { id = "Title", @class = "wish_list_in" })*@
                                                    </td>
                                                    <td align="left">
                                                        @*@Html.TextBoxFor(m => m.NetprofitafterTax_PY, new { @class = "des_input_in", placeholder = "Profit Before Tax " })*@
                                                    </td>
                                                    <td>
                                                        @*@Html.DropDownListFor(m => m.NetprofitafterTax_PY_Verification, new SelectList(new List<object>
                                                            {
                                                                new {value = (int) VerificationStatus.Unverified, text = "UnVerified"},
                                                                new {value = (int) VerificationStatus.Verified, text = "Verified"}
                                                            },
                                                                                                                                       "value",
                                                                                                                                       "text", Model.NetprofitafterTax_PY_Verification), new { id = "Title", @class = "wish_list_in" })*@
                                                    </td>
                                                    <td align="left"></td>
                                                </tr>
                                                <tr>
                                                    <td align="left">
                                                        <b>EBITDA S$</b>
                                                    </td>
                                                    <td align="left">
                                                        @*@Html.TextBoxFor(m => m.EBITDA_LY, new { @class = "des_input_in", placeholder = "EBITDA",onblur = "GetCurrentratio('TotalDebt_LY','EBITDA_LY','DebtEBITDARatio_LY')" })*@
                                                    </td>
                                                    <td>
                                                        @*@Html.DropDownListFor(m => m.EBITDA_LY_Verification, new SelectList(new List<object>
                                                            {
                                                                new {value = (int) VerificationStatus.Unverified, text = "UnVerified"},
                                                                new {value = (int) VerificationStatus.Verified, text = "Verified"}
                                                            },
                                                                                                                                       "value",
                                                                                                                                       "text", Model.EBITDA_LY_Verification), new { id = "Title", @class = "wish_list_in" })*@
                                                    </td>
                                                    <td align="left">
                                                        @*@Html.TextBoxFor(m => m.EBITDA_PY, new { @class = "des_input_in", placeholder = "EBITDA",onblur = "GetCurrentratio('TotalDebt_PY','EBITDA_PY','DebtEBITDARatio_PY')" })*@
                                                    </td>
                                                    <td>
                                                        @*@Html.DropDownListFor(m => m.EBITDA_PY_Verification, new SelectList(new List<object>
                                                            {
                                                                new {value = (int) VerificationStatus.Unverified, text = "UnVerified"},
                                                                new {value = (int) VerificationStatus.Verified, text = "Verified"}
                                                            },
                                                                                                                                       "value",
                                                                                                                                       "text", Model.EBITDA_PY_Verification), new { id = "Title", @class = "wish_list_in" })*@
                                                    </td>
                                                    <td align="left"></td>
                                                </tr>
                                                <tr>
                                                    <td align="left">
                                                        <b>Profit Before Interest and Tax S$</b>
                                                    </td>
                                                    <td align="left">
                                                        @*@Html.TextBoxFor(m => m.ProfitBeforIntAndTax_LY, new { @class = "des_input_in", placeholder = "Profit Before Interest and Tax", onblur = "GetCurrentratio('ProfitBeforIntAndTax_LY','InterestExpense_LY','InterestCoverageRatio_LY')" })*@
                                                    </td>
                                                    <td>
                                                        @*@Html.DropDownListFor(m => m.ProfitBeforIntAndTax_LY_Verification, new SelectList(new List<object>
                                                            {
                                                                new {value = (int) VerificationStatus.Unverified, text = "UnVerified"},
                                                                new {value = (int) VerificationStatus.Verified, text = "Verified"}
                                                            },
                                                                                                                                       "value",
                                                                                                                                       "text", Model.ProfitBeforIntAndTax_LY_Verification), new { id = "Title", @class = "wish_list_in" })*@
                                                    </td>
                                                    <td align="left">
                                                        @*@Html.TextBoxFor(m => m.ProfitBeforIntAndTax_PY, new { @class = "des_input_in", placeholder = "Profit Before Interest and Tax", onblur = "GetCurrentratio('ProfitBeforIntAndTax_PY','InterestExpense_PY','InterestCoverageRatio_PY')" })*@
                                                    </td>
                                                    <td>
                                                        @*@Html.DropDownListFor(m => m.ProfitBeforIntAndTax_PY_Verification, new SelectList(new List<object>
                                                            {
                                                                new {value = (int) VerificationStatus.Unverified, text = "UnVerified"},
                                                                new {value = (int) VerificationStatus.Verified, text = "Verified"}
                                                            },
                                                                                                                                       "value",
                                                                                                                                       "text", Model.ProfitBeforIntAndTax_PY_Verification), new { id = "Title", @class = "wish_list_in" })*@
                                                    </td>
                                                    <td align="left"></td>
                                                </tr>
                                                <tr>
                                                    <td align="left">
                                                        <b>Interest Expense S$</b>
                                                    </td>
                                                    <td align="left">
                                                        @*@Html.TextBoxFor(m => m.InterestExpense_LY, new { @class = "des_input_in", placeholder = "Interest Expense", onblur = "GetCurrentratio('ProfitBeforIntAndTax_LY','InterestExpense_LY','InterestCoverageRatio_LY')" })*@
                                                    </td>
                                                    <td>
                                                        @*@Html.DropDownListFor(m => m.InterestExpense_LY_Verification, new SelectList(new List<object>
                                                            {
                                                                new {value = (int) VerificationStatus.Unverified, text = "UnVerified"},
                                                                new {value = (int) VerificationStatus.Verified, text = "Verified"}
                                                            },
                                                                                                                                       "value",
                                                                                                                                       "text", Model.InterestExpense_LY_Verification), new { id = "Title", @class = "wish_list_in" })*@
                                                    </td>
                                                    <td align="left">
                                                        @*@Html.TextBoxFor(m => m.InterestExpense_PY, new { @class = "des_input_in", placeholder = "Interest Expense", onblur = "GetCurrentratio('ProfitBeforIntAndTax_PY','InterestExpense_PY','InterestCoverageRatio_PY')" })*@
                                                    </td>
                                                    <td>
                                                        @*@Html.DropDownListFor(m => m.InterestExpense_PY_Verification, new SelectList(new List<object>
                                                            {
                                                                new {value = (int) VerificationStatus.Unverified, text = "UnVerified"},
                                                                new {value = (int) VerificationStatus.Verified, text = "Verified"}
                                                            },
                                                                                                                                       "value",
                                                                                                                                       "text", Model.InterestExpense_PY_Verification), new { id = "Title", @class = "wish_list_in" })*@
                                                    </td>
                                                    <td align="left"></td>
                                                </tr>
                                                <tr>
                                                    <td align="left">
                                                        <b>Interest Coverage Ratio S$</b>
                                                    </td>
                                                    <td align="left">
                                                        @Html.TextBoxFor(m => m.MoolahCore.InterestCoverageRatio, new { @class = "des_input_in", @readonly = "readonly", placeholder = "Interest Coverage Ratio" })
                                                    </td>
                                                    <td>
                                                        @Html.DropDownListFor(m => m.MoolahCoreVerify.InterestCoverageRatio_LY_Verified, new SelectList(new List<object>
                                                            {
                                                                new {value = (int) VerificationStatus.Unverified, text = "UnVerified"},
                                                                new {value = (int) VerificationStatus.Verified, text = "Verified"}
                                                            },
                                                                                                                                       "value",
                                                                                                                                       "text", Model.MoolahCoreVerify.InterestCoverageRatio_LY_Verified), new { id = "Title", @class = "wish_list_in" })
                                                    </td>
                                                    <td align="left">
                                                        @Html.TextBoxFor(m => m.MoolahCore.InterestCoverageRatioPY, new { @class = "des_input_in", @readonly = "readonly", placeholder = "Interest Coverage Ratio" })
                                                    </td>
                                                    <td>
                                                        @Html.DropDownListFor(m => m.MoolahCoreVerify.InterestCoverageRatio_PY_Verified, new SelectList(new List<object>
                                                            {
                                                                new {value = (int) VerificationStatus.Unverified, text = "UnVerified"},
                                                                new {value = (int) VerificationStatus.Verified, text = "Verified"}
                                                            },
                                                                                                                                       "value",
                                                                                                                                       "text", Model.MoolahCoreVerify.InterestCoverageRatio_PY_Verified), new { id = "Title", @class = "wish_list_in" })
                                                    </td>
                                                    <td align="left"></td>
                                                </tr>
                                                <tr>
                                                    <td align="left">
                                                        <b>Current Assets S$</b>
                                                    </td>
                                                    <td align="left">
                                                        @*@Html.TextBoxFor(m => m.CurrentAssests_LY, new { @class = "des_input_in", @id = "CurrentAssests_LY", placeholder = "Current Assets ", onblur = "GetCurrentratio('CurrentAssests_LY','CurrentLiabilities_LY','CurrentRatio_LY')" })*@
                                                    </td>
                                                    <td>
                                                        @*@Html.DropDownListFor(m => m.CurrentAssests_LY_Verification, new SelectList(new List<object>
                                                            {
                                                                new {value = (int) VerificationStatus.Unverified, text = "UnVerified"},
                                                                new {value = (int) VerificationStatus.Verified, text = "Verified"}
                                                            },
                                                                                                                                    "value",
                                                                                                                                    "text", Model.CurrentAssests_LY_Verification), new { id = "Title", @class = "wish_list_in" })*@
                                                    </td>
                                                    <td align="left">
                                                        @*@Html.TextBoxFor(m => m.CurrentAssests_PY, new { @class = "des_input_in", @id = "CurrentAssests_PY", placeholder = "Current Assets ", onblur = "GetCurrentratio('CurrentAssests_PY','CurrentLiabilities_PY','CurrentRatio_PY')" })*@
                                                    </td>
                                                    <td>
                                                        @*@Html.DropDownListFor(m => m.CurrentAssests_PY_Verification, new SelectList(new List<object>
                                                            {
                                                                new {value = (int) VerificationStatus.Unverified, text = "UnVerified"},
                                                                new {value = (int) VerificationStatus.Verified, text = "Verified"}
                                                            },
                                                                                                                                    "value",
                                                                                                                                    "text", Model.CurrentAssests_PY_Verification), new { id = "Title", @class = "wish_list_in" })*@
                                                    </td>
                                                    <td align="left"></td>
                                                </tr>
                                                <tr>
                                                    <td align="left">
                                                        <b>Current Liabilities S$</b>
                                                    </td>
                                                    <td align="left">
                                                        @*@Html.TextBoxFor(m => m.CurrentLiabilities_LY, new { @class = "des_input_in", @id = "CurrentLiabilities_LY", onblur = "GetCurrentratio('CurrentAssests_LY','CurrentLiabilities_LY','CurrentRatio_LY')", placeholder = "Current Liabilities " })*@
                                                    </td>
                                                    <td>
                                                        @*@Html.DropDownListFor(m => m.CurrentLiabilities_LY_Verification, new SelectList(new List<object>
                                                            {
                                                                new {value = (int) VerificationStatus.Unverified, text = "UnVerified"},
                                                                new {value = (int) VerificationStatus.Verified, text = "Verified"}
                                                            },
                                                                                                                                        "value",
                                                                                                                                        "text", Model.CurrentLiabilities_LY_Verification), new { id = "Title", @class = "wish_list_in" })*@
                                                    </td>
                                                    <td align="left">
                                                        @*@Html.TextBoxFor(m => m.CurrentLiabilities_PY, new { @class = "des_input_in", @id = "CurrentLiabilities_PY", onblur = "GetCurrentratio('CurrentAssests_PY','CurrentLiabilities_PY','CurrentRatio_PY')", placeholder = "Current Liabilities " })*@
                                                    </td>
                                                    <td>
                                                        @*@Html.DropDownListFor(m => m.CurrentLiabilities_PY_Verification, new SelectList(new List<object>
                                                            {
                                                                new {value = (int) VerificationStatus.Unverified, text = "UnVerified"},
                                                                new {value = (int) VerificationStatus.Verified, text = "Verified"}
                                                            },
                                                                                                                                        "value",
                                                                                                                                        "text", Model.CurrentLiabilities_PY_Verification), new { id = "Title", @class = "wish_list_in" })*@
                                                    </td>
                                                    <td align="left"></td>
                                                </tr>
                                                <tr>
                                                    <td align="left">
                                                        <b>Current Ratio</b>
                                                    </td>
                                                    <td align="left">
                                                        @Html.TextBoxFor(m => m.MoolahCore.CurrentRatio, new { @class = "des_input_in", @id = "CurrentRatio_LY", @readonly = "readonly", placeholder = "Current Ratio " })
                                                    </td>
                                                    <td>
                                                        @Html.DropDownListFor(m => m.MoolahCoreVerify.CurrentRatio_LY_Verified, new SelectList(new List<object>
                                                            {
                                                                new {value = (int) VerificationStatus.Unverified, text = "UnVerified"},
                                                                new {value = (int) VerificationStatus.Verified, text = "Verified"}
                                                            },
                                                                                                                                  "value",
                                                                                                                                  "text", Model.MoolahCoreVerify.CurrentRatio_LY_Verified), new { id = "Title", @class = "wish_list_in" })
                                                    </td>
                                                    <td align="left">
                                                        @Html.TextBoxFor(m => m.MoolahCore.CurrentRatioPy, new { @class = "des_input_in", @id = "CurrentRatio_PY", @readonly = "readonly", placeholder = "Current Ratio " })
                                                    </td>
                                                    <td>
                                                        @Html.DropDownListFor(m => m.MoolahCoreVerify.CurrentRatio_PY_Verified, new SelectList(new List<object>
                                                            {
                                                                new {value = (int) VerificationStatus.Unverified, text = "UnVerified"},
                                                                new {value = (int) VerificationStatus.Verified, text = "Verified"}
                                                            },
                                                                                                                                  "value",
                                                                                                                                  "text", Model.MoolahCoreVerify.CurrentRatio_PY_Verified), new { id = "Title", @class = "wish_list_in" })
                                                    </td>
                                                    <td align="left"></td>
                                                </tr>
                                                <tr>
                                                    <td align="left">
                                                        <b>Total Shareholders Equity S$</b>
                                                    </td>
                                                    <td align="left">
                                                        @*@Html.TextBoxFor(m => m.TotalShareholdersequity_LY, new { @class = "des_input_in", @id = "TotalShareholdersequity_LY", onblur = "GetDebtEquity('TotalDebt_LY','TotalShareholdersequity_LY','Debt_Equity_LY')", placeholder = "Total Shareholders Equity " })*@
                                                    </td>
                                                    <td>
                                                        @*@Html.DropDownListFor(m => m.TotalShareholdersequity_LY_Verification, new SelectList(new List<object>
                                                            {
                                                                new {value = (int) VerificationStatus.Unverified, text = "UnVerified"},
                                                                new {value = (int) VerificationStatus.Verified, text = "Verified"}
                                                            },
                                                                                                                                             "value",
                                                                                                                                             "text", Model.TotalShareholdersequity_LY_Verification), new { id = "Title", @class = "wish_list_in" })*@
                                                    </td>
                                                    <td align="left">
                                                        @*@Html.TextBoxFor(m => m.TotalShareholdersequity_PY, new { @class = "des_input_in", @id = "TotalShareholdersequity_PY", onblur = "GetDebtEquity('TotalDebt_PY','TotalShareholdersequity_PY','Debt_Equity_PY')", placeholder = "Total Shareholders Equity " })*@
                                                    </td>
                                                    <td>
                                                        @*@Html.DropDownListFor(m => m.TotalShareholdersequity_PY_Verification, new SelectList(new List<object>
                                                            {
                                                                new {value = (int) VerificationStatus.Unverified, text = "UnVerified"},
                                                                new {value = (int) VerificationStatus.Verified, text = "Verified"}
                                                            },
                                                                                                                                             "value",
                                                                                                                                             "text", Model.TotalShareholdersequity_PY_Verification), new { id = "Title", @class = "wish_list_in" })*@
                                                    </td>
                                                    <td align="left"></td>
                                                </tr>
                                                <tr>
                                                    <td align="left">
                                                        <b>Total Debt S$</b>
                                                    </td>
                                                    <td align="left">
                                                        @*@Html.TextBoxFor(m => m.TotalDebt_LY, new { @class = "des_input_in", @id = "TotalDebt_LY",
                                                       onblur = "TotalDebtLYOnChange();", placeholder = "Total Debt " })*@
                                                    </td>
                                                    <td>
                                                        @*@Html.DropDownListFor(m => m.TotalDebt_LY_Verification, new SelectList(new List<object>
                                                            {
                                                                new {value = (int) VerificationStatus.Unverified, text = "UnVerified"},
                                                                new {value = (int) VerificationStatus.Verified, text = "Verified"}
                                                            },
                                                                                                                               "value",
                                                                                                                               "text", Model.TotalDebt_LY_Verification), new { id = "Title", @class = "wish_list_in" })*@
                                                    </td>
                                                    <td align="left">
                                                        @*@Html.TextBoxFor(m => m.TotalDebt_PY, new { @class = "des_input_in", @id = "TotalDebt_PY", 
                                                       onblur = "TotalDebtPYOnChange();", placeholder = "Total Debt " })*@
                                                    </td>
                                                    <td>
                                                        @*@Html.DropDownListFor(m => m.TotalDebt_PY_Verification, new SelectList(new List<object>
                                                            {
                                                                new {value = (int) VerificationStatus.Unverified, text = "UnVerified"},
                                                                new {value = (int) VerificationStatus.Verified, text = "Verified"}
                                                            },
                                                                                                                               "value",
                                                                                                                               "text", Model.TotalDebt_PY_Verification), new { id = "Title", @class = "wish_list_in" })*@
                                                    </td>
                                                    <td align="left"></td>
                                                </tr>
                                                <tr>
                                                    <td align="left">
                                                        <b>Debt/ Equity Ratio</b>
                                                    </td>
                                                    <td align="left">
                                                        @Html.TextBoxFor(m => m.MoolahCore.DebtEBITDARatio_LY, new { @class = "des_input_in", @id = "Debt_Equity_LY", @readonly = "readonly", placeholder = "Debt/ Equity " })
                                                    </td>
                                                    <td>
                                                        @Html.DropDownListFor(m => m.MoolahCoreVerify.DebtEBITDARatio_LY_Verification, new SelectList(new List<object>
                                                            {
                                                                new {value = (int) VerificationStatus.Unverified, text = "UnVerified"},
                                                                new {value = (int) VerificationStatus.Verified, text = "Verified"}
                                                            },
                                                                                                                                 "value",
                                                                                                                                 "text", Model.MoolahCoreVerify.DebtEBITDARatio_LY_Verification), new { id = "Title", @class = "wish_list_in" })
                                                    </td>
                                                    <td align="left">
                                                        @Html.TextBoxFor(m => m.MoolahCore.DebtEBITDARatio_PY, new { @class = "des_input_in", @id = "Debt_Equity_PY", @readonly = "readonly", placeholder = "Debt/ Equity " })
                                                    </td>
                                                    <td>
                                                        @Html.DropDownListFor(m => m.MoolahCoreVerify.DebtEBITDARatio_PY_Verification, new SelectList(new List<object>
                                                            {
                                                                new {value = (int) VerificationStatus.Unverified, text = "UnVerified"},
                                                                new {value = (int) VerificationStatus.Verified, text = "Verified"}
                                                            },
                                                                                                                                 "value",
                                                                                                                                 "text", Model.MoolahCoreVerify.DebtEBITDARatio_PY_Verification), new { id = "Title", @class = "wish_list_in" })
                                                    </td>
                                                    <td align="left"></td>
                                                </tr>
                                                <tr>
                                                    <td align="left">
                                                        <b>Debt/ EBITDA Ratio</b>
                                                    </td>
                                                    <td align="left">
                                                        @Html.TextBoxFor(m => m.MoolahCore.DebtEBITDARatio_LY, new { @class = "des_input_in", @id = "DebtEBITDARatio_LY", @readonly = "readonly", placeholder = "Debt/ EBITDA" })
                                                    </td>
                                                    <td>
                                                        @Html.DropDownListFor(m => m.MoolahCoreVerify.DebtEBITDARatio_LY_Verification, new SelectList(new List<object>
                                                            {
                                                                new {value = (int) VerificationStatus.Unverified, text = "UnVerified"},
                                                                new {value = (int) VerificationStatus.Verified, text = "Verified"}
                                                            },
                                                                                                                                 "value",
                                                                                                                                 "text", Model.MoolahCoreVerify.DebtEBITDARatio_LY_Verification), new { id = "Title", @class = "wish_list_in" })
                                                    </td>
                                                    <td align="left">
                                                        @Html.TextBoxFor(m => m.MoolahCore.DebtEBITDARatio_PY, new { @class = "des_input_in", @id = "DebtEBITDARatio_PY", @readonly = "readonly", placeholder = "Debt/ EBITDA" })
                                                    </td>
                                                    <td>
                                                        @Html.DropDownListFor(m => m.MoolahCoreVerify.DebtEBITDARatio_PY_Verification, new SelectList(new List<object>
                                                            {
                                                                new {value = (int) VerificationStatus.Unverified, text = "UnVerified"},
                                                                new {value = (int) VerificationStatus.Verified, text = "Verified"}
                                                            },
                                                                                                                                 "value",
                                                                                                                                 "text", Model.MoolahCoreVerify.DebtEBITDARatio_PY_Verification), new { id = "Title", @class = "wish_list_in" })
                                                    </td>
                                                    <td align="left"></td>
                                                </tr>
                                                <tr>
                                                    <td align="left">
                                                        <b>Cash Flow From Operations</b>
                                                    </td>
                                                    <td align="left">
                                                        @*@Html.TextBoxFor(m => m.CashFlowfromOperations_LY, new { @class = "des_input_in", placeholder = "Cash Flow From Operations" })*@
                                                    </td>
                                                    <td>
                                                        @*@Html.DropDownListFor(m => m.CashFlowfromOperations_LY_Verification, new SelectList(new List<object>
                                                            {
                                                                new {value = (int) VerificationStatus.Unverified, text = "UnVerified"},
                                                                new {value = (int) VerificationStatus.Verified, text = "Verified"}
                                                            },
                                                                                                                                       "value",
                                                                                                                                       "text", Model.NetprofitafterTax_LY_Verification), new { id = "Title", @class = "wish_list_in" })*@
                                                    </td>
                                                    <td align="left">
                                                        @*@Html.TextBoxFor(m => m.CashFlowfromOperations_PY, new { @class = "des_input_in", placeholder = "Cash Flow From Operations" })*@
                                                    </td>
                                                    <td>
                                                        @*@Html.DropDownListFor(m => m.CashFlowfromOperations_PY_Verification, new SelectList(new List<object>
                                                            {
                                                                new {value = (int) VerificationStatus.Unverified, text = "UnVerified"},
                                                                new {value = (int) VerificationStatus.Verified, text = "Verified"}
                                                            },
                                                                                                                                       "value",
                                                                                                                                       "text", Model.NetprofitafterTax_PY_Verification), new { id = "Title", @class = "wish_list_in" })*@
                                                    </td>
                                                    <td align="left"></td>
                                                </tr>
                                                <tr>
                                                    <td align="left">
                                                        <b>Average Cash Balance(3 Months)</b>
                                                    </td>
                                                    <td align="left">
                                                        @Html.TextBoxFor(m => m.MoolahCore.AverageCashBalance, new { @class = "des_input_in", @id = "AvgThreeMntCashBalBankAcc_LY", placeholder = "Cash Balance", data_val = false })
                                                    </td>
                                                    <td>
                                                        @Html.DropDownListFor(m => m.MoolahCoreVerify.AverageCachBalance_LY_Verified, new SelectList(new List<object>
                                                            {
                                                                new {value = (int) VerificationStatus.Unverified, text = "UnVerified"},
                                                                new {value = (int) VerificationStatus.Verified, text = "Verified"}
                                                            },
                                                                                                                                               "value",
                                                                                                                                               "text", Model.MoolahCoreVerify.AverageCachBalance_LY_Verified), new { id = "Title", @class = "wish_list_in" })
                                                    </td>
                                                    <td align="left"></td>
                                                    <td></td>
                                                    <td align="left"></td>
                                                </tr>
                                                <tr>
                                                    <td align="left">
                                                        <b>Outstanding Litigation </b>
                                                    </td>
                                                    <td align="left">
                                                        @Html.DropDownListFor(m => m.MoolahCore.IsOutstandingLitigation, new SelectList(new List<Object>
                                                            {
                                                                new {value = "false", text = "No"},
                                                                new {value = "true", text = "Yes"}

                                                            },
                                                                                                                             "value",
                                                                                                                             "text",
                                                                                                                             Model.MoolahCore.IsOutstandingLitigation), new { id = "drpIslegitatins", @class = "des_new_list", onchange = "getLetigationdivHide()" })
                                                    </td>
                                                    <td>
                                                        @*@Html.DropDownListFor(m => m.IsoutstandingLitigation_Verification, new SelectList(new List<object>
                                                            {
                                                                new {value = (int) VerificationStatus.Unverified, text = "UnVerified"},
                                                                new {value = (int) VerificationStatus.Verified, text = "Verified"}
                                                            },
                                                                                                                                          "value",
                                                                                                                                          "text", Model.IsoutstandingLitigation_Verification), new { id = "Title", @class = "wish_list_in" })*@
                                                    </td>
                                                    <td align="left"></td>
                                                    <td align="left"></td>
                                                </tr>
                                                <tr>
                                                    <td align="left">
                                                        <b>Financial Statement Submitted </b>
                                                    </td>
                                                    <td align="left">
                                                        @*@Html.DropDownListFor(m => m.FinancialStatementSubmitted, new SelectList(new List<Object>
                                                            {
                                                                new {value = false, text = "No"},
                                                                new {value = true, text = "Yes"}

                                                            },
                                                                                                                                 "value",
                                                                                                                                 "text",
                                                                                                                                 Model.FinancialStatementSubmitted), new { id = "drpFinancialStatementSubmitted", @class = "des_new_list" })*@

                                                    </td>
                                                    <td></td>
                                                    <td align="left">
                                                        @*@Html.DropDownListFor(m => m.FinancialStatementSubmitted_PY, new SelectList(new List<Object>
                                                            {
                                                                new {value = false, text = "No"},
                                                                new {value = true, text = "Yes"}

                                                            },
                                                                                                                                    "value",
                                                                                                                                    "text",
                                                                                                                                    Model.FinancialStatementSubmitted_PY), new { id = "drpFinancialStatementSubmitted", @class = "des_new_list" })*@

                                                    </td>
                                                    <td align="left"></td>
                                                </tr>
                                                <tr>
                                                    <td align="left">
                                                        <b>Audited </b>
                                                    </td>
                                                    <td align="left">
                                                        @*@Html.DropDownListFor(m => m.Audited, new SelectList(new List<Object>
                                                            {
                                                                new {value = false, text = "No"},
                                                                new {value = true, text = "Yes"}

                                                            },
                                                                                                             "value",
                                                                                                             "text",
                                                                                                             Model.Audited), new { id = "drpAudited", @class = "des_new_list" })*@
                                                    </td>
                                                    <td></td>
                                                    <td>
                                                        @*@Html.DropDownListFor(m => m.Audited_PY_Verification, new SelectList(new List<Object>
                                                            {
                                                                new {value = false, text = "No"},
                                                                new {value = true, text = "Yes"}

                                                            },
                                                                                                                             "value",
                                                                                                                             "text",
                                                                                                                             Model.Audited_PY_Verification), new { id = "drpAudited", @class = "des_new_list" })*@
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="left">
                                                        <b>Financial Related Search Count in The Last 6 Months </b>
                                                    </td>
                                                    <td align="left">
                                                        @*@Html.DropDownListFor(m => m.NumberOfCreditEnquires, new SelectList(new List<object>
                                                            {
                                                                new {value = "NA", text = "NA"},
                                                                new {value = "0", text = "0"},
                                                                new {value = "1-5", text = "1-5"},
                                                                new {value = "6-10", text = "6-10"},
                                                                new {value = ">10", text = ">10"},
                                                            },
                                                                                                                            "value",
                                                                                                                            "text", Model.NumberOfCreditEnquires), new { id = "Title", @class = "wish_list_in" })*@
                                                    </td>
                                                    <td>
                                                        @*@Html.DropDownListFor(m => m.NumberOfCreditEnquires_Verification, new SelectList(new List<object>
                                                            {
                                                                new {value = (int) VerificationStatus.Unverified, text = "UnVerified"},
                                                                new {value = (int) VerificationStatus.Verified, text = "Verified"}
                                                            },
                                                                                                                                         "value",
                                                                                                                                         "text", Model.NumberOfCreditEnquires_Verification), new { id = "Title", @class = "wish_list_in" })*@
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="left">
                                                        <b>DP Credit Rating </b>
                                                    </td>

                                                    <td align="left">
                                                        @Html.DropDownListFor(m => m.MoolahCore.DPPaymentGrade, new SelectList(new List<object>
                                                            {
                                                                new {value = (int) DPCreditPaymentGrade.NA, text = "NA"},
                                                                new {value = (int) DPCreditPaymentGrade.DP1, text = "DP1"},
                                                                new {value = (int) DPCreditPaymentGrade.DP2, text = "DP2"},
                                                                new {value = (int) DPCreditPaymentGrade.DP3Plus, text = "DP3+"},
                                                                new {value = (int) DPCreditPaymentGrade.DP3, text = "DP3"},
                                                                new {value = (int) DPCreditPaymentGrade.DP4Plus, text = "DP4+"},
                                                                new {value = (int) DPCreditPaymentGrade.DP4, text = "DP4"},
                                                                new {value = (int) DPCreditPaymentGrade.DP4Minus, text = "DP4-"},
                                                                new {value = (int) DPCreditPaymentGrade.DP5Plus, text = "DP5+"},
                                                                new {value = (int) DPCreditPaymentGrade.DP5, text = "DP5"},
                                                                new {value = (int) DPCreditPaymentGrade.DP5Minus, text = "DP5-"},
                                                                new {value = (int) DPCreditPaymentGrade.DP6Plus, text = "DP6+"},
                                                                new {value = (int) DPCreditPaymentGrade.DP6, text = "DP6"},
                                                                new {value = (int) DPCreditPaymentGrade.DP6Minus, text = "DP6-"},
                                                                new {value = (int) DPCreditPaymentGrade.DP7Plus, text = "DP7+"},
                                                                new {value = (int) DPCreditPaymentGrade.DP7, text = "DP7"},
                                                                new {value = (int) DPCreditPaymentGrade.DP7Minus, text = "DP7-"},
                                                                new {value = (int) DPCreditPaymentGrade.DP8Plus, text = "DP8+"},
                                                                new {value = (int) DPCreditPaymentGrade.DP8, text = "DP8"},
                                                            },
                                                                                                                          "value",
                                                                                                                          "text", Model.MoolahCore.DPPaymentGrade), new { id = "Title", @class = "wish_list_in" })

                                                    </td>
                                                    <td>
                                                        @Html.DropDownListFor(m => m.MoolahCoreVerify.DPPaymentGradeVerified, new SelectList(new List<object>
                                                            {
                                                                new {value = (int) VerificationStatus.Unverified, text = "UnVerified"},
                                                                new {value = (int) VerificationStatus.Verified, text = "Verified"}
                                                            },
                                                                                                                                  "value",
                                                                                                                                  "text", Model.MoolahCoreVerify.DPPaymentGradeVerified), new { id = "Title", @class = "wish_list_in" })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td align="left">
                                                        <input type="submit" onclick=" SaveMoolahCoreVerfication " value="Submit" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td align="left">
                                                        <asp:image id="imgUser" runat="server" width="117px" height="116px" />
                                                    </td>
                                                </tr>
                                                <tr bgcolor="#eeeeee">
                                                    <td colspan="2" height="20"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr height="1">
                                <td colspan="2" class="formfooter" align="left"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr bgcolor="#ffffff">
                <td>&nbsp;
                </td>
            </tr>
            <tr bgcolor="#ffffff">
                <td>
                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tbody>
                            <tr>
                                <td>&nbsp;
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr bgcolor="#ffffff">
                <td>&nbsp;
                </td>
            </tr>
        </tbody>
    </table>
}