﻿@using MoolahConnect.Util.ExtensionMethods
@model  IEnumerable<MoolahConnectnew.ViewModels.Admin.LoanInvestorViewModel>

<div id="divErrorPayment" class="alert alert-danger"></div>
<table width="100%" align="left" border="0" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td>
                <div style="margin-bottom: 5px; text-align: left">
                    <tr class="bg_col">
                        <th class="bdr_bottom">No&nbsp;</th>
                        <th class="bdr_bottom">Account Id&nbsp;</th>
                        <th class="bdr_bottom">Full Name&nbsp;</th>
                        <th class="bdr_bottom">Investment Amount&nbsp;</th>
                        <th class="bdr_bottom">Repayment Amount&nbsp;</th>
                    </tr>
                </div>
                <tbody>
                    @if (Model != null)
                    {
                        int index = 1;

                        foreach (var item in Model)
                        {
                        <tr>
                            <td>@index</td>
                            <td>@item.AccountId</td>
                            <td>@item.FullName</td>
                            <td>@item.Amount.ToCurrency()</td>
                            <td>@item.RepaymentAmount.ToCurrency()</td>
                        </tr>
                            index++;
                        }
                    }
                </tbody>
</table>
<div style="height: 80px;">
    &nbsp;
</div>
<table>
    <tr>
        <td>Loan Request ID </td>
        <td>
            <input type="text" value="@ViewBag.RequestId" readonly="true" class="wish_input" />
        </td>
        <td>Repayment Due Date</td>
        <td>
            <input type="text" value="@ViewBag.RepaymentDate" readonly="true" class="wish_input" />
        </td>
    </tr>
    <tr>
        <td>Repayment Amount </td>
        <td>
            <input type="text" value="@ViewBag.RepaymentAmount" readonly="true" class="wish_input" />
        </td>
        <td>Paid Amount</td>
        <td>
            <input type="text" value="@ViewBag.PaidAmount" readonly="true" class="wish_input" />
        </td>
    </tr>
    <tr>
        <td>Accrued Interest </td>
        <td>
            <input type="text" id="txtAccrued" value="@ViewBag.Accrued" readonly="true" class="wish_input" />
        </td>
        <td>Late Fees</td>
        <td>
            <input type="text" id="txtLateFees" value="@ViewBag.LateFees" readonly="true" class="wish_input" />
        </td>
    </tr>
    <tr>
        <td>Repayment outstanding Amount</td>
        <td>
            <input type="text" value="@ViewBag.RepOutstandingAmount" readonly="true" class="wish_input" />
        </td>
        <td>Outstanding Amount</td>
        <td>
            <input type="text" id="txtOutstanding" value="@ViewBag.OutstandingAmount" readonly="true" class="wish_input" />
        </td>
    </tr>
    <tr>
        <td>Amount </td>
        <td>
            <input type="text" id="txtPaidAmount" class="wish_input" /></td>
        <td>Payment Date</td>
        <td>
            <input type="text" id="datePayment" onchange="ChangePaidDate();" class="wish_input" />
        </td>
    </tr>
    <tr>
        <td>Admin / Password</td>
        <td colspan="3">
            <select id="adminUserPayment" class="wish_list_in" style="width: 200px !important">
                @foreach (var user in ViewBag.AdminUsers)
                {
                    <option value="@user">@user</option>
                }
            </select>
            <input type="password" id="passPayment" class="wish_input" />
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <input type="checkbox" class="cb-lp" id="cbRepPaid" />
            &nbsp Repayment
            &nbsp
            &nbsp
            <input type="checkbox" class="cb-lp" id="cbPartial" />
            &nbsp Partial Payment
            &nbsp
            &nbsp
            <input type="checkbox" class="cb-lp" id="cbAccruedPaid" />
            &nbsp Accrued Interest
            &nbsp
            &nbsp
            <input type="checkbox" class="cb-lp" id="cbLateFeesPaid" />
            &nbsp Late Fees
            &nbsp
            &nbsp
        </td>
    </tr>
</table>

<script type="text/javascript">

    $(document).ready(function () {
        $('#divErrorPayment').hide();
        $("#datePayment").datepicker({dateFormat: 'dd\/mm\/yy' });
    });

    function btnLoanPaymentSubmitClicked() {
        $('#mask').showLoading();

        var atleastOnePayTermChecked = false;
        var paymentTermsCB = $('.cb-lp').each(function () {
            if ($(this).is(':checked')) {
                atleastOnePayTermChecked = true;
            }
        });

        if (atleastOnePayTermChecked == false) {
            $('#mask').hideLoading();
            $('#divErrorPayment').html("Please select at least one of the payment categories.");
            $('#divErrorPayment').show();
            return;
        }

        $.getJSON("/Admin/AddLoanPayment", {
            requestId: '@ViewBag.RequestId',
            repaymentId: '@ViewBag.RepaymentId',
            date: $('#datePayment').val(),
            repaymentAmount: '@ViewBag.RepaymentAmount',
            amount: $('#txtPaidAmount').val(),
            adminUsername: $('#adminUserPayment').val(),
            adminPassword: $('#passPayment').val(),
            repaymentPaid: $('#cbRepPaid').is(':checked'),
            accruedPaid: $('#cbAccruedPaid').is(':checked'),
            lateFeesPaid: $('#cbLateFeesPaid').is(':checked'),
            accrued: '@ViewBag.Accrued',
            lateFees: '@ViewBag.LateFees',
            paidAmount: '@ViewBag.PaidAmount'
        }
            , function (data) {
                if (data.Status == "Succeed") {
                    document.location.href = "/Admin/AcceptedLoans?tab=3";
                }
                else {
                    $('#mask').hideLoading();
                    $('#divErrorPayment').html(data.Error);
                    $('#divErrorPayment').show();
                }
            });
    }

    function ChangePaidDate() {
        $.getJSON("/Admin/CalculateLateFeesByDate", {
            repaymentID: '@ViewBag.RepaymentId',
             date: $('#datePayment').val(),
             repaymentsOutstanding: '@ViewBag.RepaymentsOustanding',
             paidAmount: '@ViewBag.PaidAmount'
         }
            , function (data) {
                $('#txtAccrued').val(data.Accrued);
                $('#txtLateFees').val(data.LateFees);
                $('#txtOutstanding').val(data.Outstanding);
            });
    }
</script>
