﻿@using MoolahConnect.Util.Enums

@MoolahConnectHelper.UploadRegistrationDocuments("proLoanCont", "Issuer contract to sign", ViewBag.Username, FileType.IssuerLoanContract.ToString(),
"false", ViewBag.RequestId,"false",true)
<br />
@MoolahConnectHelper.UploadRegistrationDocuments("proGuarCont", "Gurantor contract to sign", ViewBag.Username, FileType.GuarantorContract.ToString(),
"false", ViewBag.RequestId,"false",true)
<br />
@MoolahConnectHelper.UploadRegistrationDocuments("finalLoanCont", "Final issuer contract", ViewBag.Username, FileType.FinalIssuerLoanContract.ToString(),
"false", ViewBag.RequestId,"false")
<br />
@MoolahConnectHelper.UploadRegistrationDocuments("finalGuarCont", "Final guarantor contract", ViewBag.Username, FileType.FinalGuarantorContract.ToString(),
"false", ViewBag.RequestId,"false")