﻿<div id="divErrorPayment" class="alert alert-danger"></div>
<table>
    <tr>
        <td>
            <select id="adminUserPayment" class="wish_list_in" style="width: 200px !important">
                @foreach (var user in ViewBag.AdminUsers)
                {
                    <option value="@user">@user</option>
                }
            </select>
        </td>
        <td>&nbsp&nbsp</td>
        <td>
            <input type="password" id="passPayment" class="wish_input" />
        </td>
    </tr>
    <tr>
        <td style="text-align:right" >Status
        </td>
        <td>&nbsp&nbsp</td>
        <td>
            <b>@ViewBag.Status</b>
        </td>
    </tr>
    @if (ViewBag.Status == "Rejected")
    {
    <tr>
        <td style="text-align:right" > Reason </td>
        <td>&nbsp&nbsp</td>
        <td>
            <textarea rows="3" id="txtReason"></textarea>
        </td>
    </tr>    
    }
</table>
<script type="text/javascript">

    $(document).ready(function () {
        $('#divErrorPayment').hide();
    });

    function UpdateWithdraw() {

        $('#mask').showLoading();
        $.getJSON("/Admin/UpdateWithdrawStatus", {
            WithdrawID: '@ViewBag.WithdrawID',
            Status: '@ViewBag.Status',
            Comments: $('#txtReason').val(),
            adminUsername: $('#adminUserPayment').val(),
            adminPassword: $('#passPayment').val()
        }, function (data) {
            if (data.Status == "Succeed") {
                location.reload();
            }
            else {
                $('#mask').hideLoading();
                $('#divErrorPayment').html(data.Error);
                $('#divErrorPayment').show();
            }
        });
    }

</script>
