﻿@using MoolahConnect.Util.ExtensionMethods

@model MoolahConnectClassLibrary.Models.ViewModels.Admin.Withdrawal

<div id="backgroundPopup" class="molahcoreperipopup"></div>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="98%">
    <tbody>
        <tr style="background-color: rgb(223, 223, 223);">
            <td>
                <br>
            </td>
        </tr>
        <tr>
            <td>
                <table bgcolor="#860509" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                        <tr style="background-color: rgb(59, 143, 215);">
                            <td width="12">
                                <img src="Images/corner_boxleft.gif" border="0" width="12" height="24">
                            </td>
                            <td class="tableTitle" style="background-color: rgb(59, 143, 215);" colspan="2">
                                <asp:literal id="ltPageHeading" runat="server"></asp:literal>
                            </td>
                            <td width="12">
                                <img src="Images/corner_boxRight.gif" border="0" width="12" height="24">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr bgcolor="#ffffff">
            <td>&nbsp;
            </td>
        </tr>
        <tr bgcolor="#ffffff">
            <td height="17"></td>
        </tr>
        <tr bgcolor="#ffffff">
            <td>
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="95%">
                    <tbody>
                        <tr>
                            <td>&nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table class="" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td class="RowHeader" align="center" width="99%">
                                                <table style="background-color: rgb(59, 143, 215);" border="0" cellpadding="0" cellspacing="0"
                                                    width="100%">
                                                    <tbody>
                                                        <tr style="background-color: rgb(59, 143, 215);">
                                                            <td width="12">
                                                                <img src="Images/corner_boxleft.gif" border="0" width="12" height="24">
                                                            </td>
                                                            <td class="RowHeader" colspan="2" style="background-color: rgb(59, 143, 215);" align="center">Transfer Request(s)
                                                            </td>
                                                            <td width="12">
                                                                <img src="Images/corner_boxRight.gif" border="0" width="12" height="24">
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" style="margin: 0px 0px 0px 3px;" align="center">
                                                <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <div style="margin-left: 2px; text-align: center">
                                                                    <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>
                                                                                    <div style="margin-left: 2px; text-align: center">
                                                                                    <tr class="bg_col">

                                                                                        <th align="left" class="bdr_bottom bdr_left">Date of Request</th>
                                                                                        <th align="left" class="bdr_bottom">Transaction Reference</th>
                                                                                        <th align="left" class="bdr_bottom">Account NO.</th>
                                                                                        <th align="left" class="bdr_bottom">Full Name</th>
                                                                                        <th align="left" class="bdr_bottom">Bank Name</th>
                                                                                        <th align="left" class="bdr_bottom">Bank Account No.</th>
                                                                                        <th align="left" class="bdr_bottom">Current Balance</th>
                                                                                        <th align="left" class="bdr_bottom">Amount to transfer</th>
                                                                                        <th class="bdr_bottom">Balance after transfer  </th>
                                                                                        <th class="bdr_bottom">Admin Approval</th>
                                                                                    </tr>
                                                                            <tbody id="tbAllocateLoan">
                                                                                @if (Model.ModelWithdrawalList.Count > 0)
                                                                                {
                                                                                    foreach (var item in Model.ModelWithdrawalList)
                                                                                    {
                                                                                        if (item.Status == "Pending")
                                                                                        {
                                                                                    <tr>

                                                                                        <td align="left" class="bdr_left"><a>@item.WithdrawDate.ToDateTime()</a></td>
                                                                                        <td align="left" class="bdr_left"><a>@item.TransactionReference</a></td>
                                                                                        <td align="left">@item.AccountNumber </td>
                                                                                        <td align="left">@item.FullName</td>
                                                                                        <td align="left">@item.BankName</td>
                                                                                        <td align="left">@item.BankAccountNUmber</td>
                                                                                        <td align="centre">
                                                                                            @item.CurrentBalance.ToCurrency()
                                                                                        </td>
                                                                                        <td align="left">@item.AmounttoWithdraw.ToCurrency()</td>
                                                                                        <td align="centre">
                                                                                            @item.BalanceAfterWithdrawl.ToCurrency()</td>
                                                                                        <td>
                                                                                            <select onchange="LoadPopups(@item.WitdrawID, this.value)" class="wish_list_in" >
                                                                                                @if (item.Status == "Pending")
                                                                                                {
                                                                                                    <option value="Pending" selected="selected">Pending</option>
                                                                                                }
                                                                                                else
                                                                                                {
                                                                                                    <option value="Pending">Pending</option>
                    
                                                                                                }
                                                                                                @if (item.Status == "Rejected")
                                                                                                {
                                                                                                    <option value="Rejected" selected="selected">Rejected</option>
                                                                                                }
                                                                                                else
                                                                                                {
                                                                                                    <option value="Rejected">Rejected</option>
                                                                                                }

                                                                                                @if (item.Status == "Approved")
                                                                                                {
                                                                                                    <option value="Approved" selected="selected">Approved</option>
                                                                                                }
                                                                                                else
                                                                                                {
                                                                                                    <option value="Approved">Approved</option>
                                                                                                }



                                                                                            </select>
                                                                                        </td>









                                                                                    </tr>                                                                                    
                                                                                        }
                                                                                    }
                                                                                }
                                                                                else
                                                                                {
                           
                                                                                    <tr>
                                                                                        <td colspan="8">No Request Found or Time expires for your request(s).
                                                                                        </td>
                                                                                    </tr>
                              
                                                                                }
                                                                            </tbody>
                                                                    </table>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="5"></td>
                                        </tr>
                                        <tr>
                                            <td align="center" height="20">&nbsp;
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" height="5"></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>

<div class="modal fade" id="modelUpdateWithdraw" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Update Withdrawal Request</h4>
            </div>
            <div class="modal-body">
                <div id="modelUpdateWithdrawContent">
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnUpdateWithdraw" class="btn btn-success" type="button" onclick="UpdateWithdraw();" data-bb-handler="success">Submit</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script type="text/javascript">
    function LoadPopups(id, status) {
        if (status != 'Pending') {
            $('#modelUpdateWithdrawContent').empty();
            $('#modelUpdateWithdrawContent').load("/Admin/_UpdateWithdraw?withdrawID=" + id + "&status=" + status);
            jQuery.noConflict();
            $('#modelUpdateWithdraw').modal();
        }
    }
</script>

