﻿@using MoolahConnect.Util.Enums
@model MoolahConnectClassLibrary.Models.ViewModels.Admin.AcceptedLoan
@{
    Layout = null;
}

<style>
    #loanInfo div {
        float: left;
        min-width: 225px;
    }
</style>

<div id="loanInfo">
    <div>
        Date and Time
    </div>
    <div>
        @Model.AcceptedDate.ToString("dd/MM/yyy HH:mm")
    </div>
    <div class="clear"></div>
    <div>
        Loan Ref
    </div>
    <div>
        @Model.LoanRefNumber
    </div>
    <div class="clear"></div>
    <div>
        Account Number
    </div>
    <div>
        @Model.AccountNumber
    </div>
    <div class="clear"></div>
    <div>
        Company Name
    </div>
    <div>
        @Model.CompanyName
    </div>
    <div class="clear"></div>
    <div>
        Net Amount after Fees
    </div>
    <div>
        @Model.AmountTransfered
    </div>
    <div class="clear"></div>
    <div>
        Loan Rate
    </div>
    <div>
        @Model.Rate %
    </div>
    <div class="clear"></div>
    <div>
        Bank Name
    </div>
    <div>
        @Model.BankName
    </div>
    <div class="clear"></div>
    <div>
        Bank Account Number
    </div>
    <div>
        @Model.BankAccountNumber
    </div>
    <div class="clear"></div>
    <div>
        Value Date
    </div>
    <div>
        @Model.FundTransferDate.Value.ToString("dd/MM/yyy")
    </div>
    @if (Model.Status == LoanRequestStatus.FundApproved.ToString())
    {
    <div class="clear" />
    <div>
        <input type="checkbox" id="cbGuar" />
        Uploaded signed gurantor agreement
    </div>
    <div>
        <input type="checkbox" id="cbIssuer" />
        Uploaded signed issuer agreement
    </div>
    }
    <div class="clear" />
    <div>
        <select id="adminUser" >
            @foreach (var user in ViewBag.AdminUsers)
            {
                <option>@user</option>
            }
        </select>
    </div>
    <div>
        Password &nbsp;
        <input type="password" id="pass" />
    </div>
    <br />
    @if (Model.Status == LoanRequestStatus.FundRejected.ToString())
    {
        <div class="clear"></div>
        <div>
            Reson for Rejection
        </div>
        <div>
            <input type="text" id="txtReson" class="des_tarea" />
        </div>
    }
</div>
