﻿@using System.Globalization
@using MoolahConnect.Util.ExtensionMethods

@model MoolahConnectClassLibrary.Models.ViewModels.Admin.AcceptedLoanWrapper
@{
    Layout = null;
}
@Styles.Render("~/Content/css/bootstrap.min.css")
@Scripts.Render("~/bundles/loading")

<style>
    .hdr {
        background-color: #1E90FF;
    }

    .tblData tr td {
        padding: 4px;
    }

    .hdr td {
        color: #ffffff;
    }

    .tblData {
        border: 1px #000000;
    }

    #opSec div {
        float: left;
    }

    .wish_input {
        width: 100px !important;
    }

    .wish_list_in {
        width: 100px !important;
    }
</style>

<table class="tblData" cellspacing="0" align="center">
    <tr class="hdr">
        <td>Date and Time
        </td>
        <td>Loan Ref No
        </td>
        <td>Account Number
        </td>
        <td>Company Name
        </td>
        <td>Tenor (Mths)
        </td>
        <td>Loan Amount
        </td>
        <td>MoolahFees
        </td>
        <td>Net Amount after fees
        </td>
        <td>Date
        </td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model.Loans)
        {
        <tr>
            <td>
                @item.AcceptedDate.ToString("dd/MM/yyy HH:mm")
            </td>
            <td>
                @Html.ActionLink(item.LoanRefNumber.ToString(), "BorrowerNoteDetails", "Note", new { noteRequestID = item.LoanRefNumber }, null)
            </td>
            <td>
                @item.AccountNumber
            </td>
            <td>
                @item.CompanyName
            </td>
            <td>
                @item.Tenor
            </td>
            <td>
                @item.LoanAmount.ToString("N", CultureInfo.InvariantCulture)
            </td>
            <td>
                @{ var f = "mf_" + item.LoanRefNumber; }
                <input type="text" id="@f" value="@item.MoolahFees" class="wish_input"/>
            </td>
            <td>
                @item.AmountTransfered.ToString("N", CultureInfo.InvariantCulture)
            </td>
            <td>
                @{ var d = "dt_" + item.LoanRefNumber; }
                <input type="text" class="wish_input datepicker" id="@d" value="@Convert.ToDateTime(item.AcceptedDate).ToString("dd MMM yyyy")" />&nbsp;
            </td>
            <td>
                <a href="Javascript:ShowLoanDocuments(@item.LoanRefNumber,'@item.Username')">Docs</a>
            </td>
            <td>
                @{ var e = "sl_" + item.LoanRefNumber; }
                <select id="@e" class="wish_list_in">
                    <option value="Approve">Approve</option>
                    <option value="Reject">Reject</option>
                </select>&nbsp;
            </td>
            <td>
                <input type="button" value="Submit" id="btnSubmit" onclick="@("doSubmit('" + item.LoanRefNumber + "')")" />
            </td>
        </tr>
        }
    }
</table>

<script type="text/javascript">
    $(function () {
        $(".datepicker").datepicker({
            changeMonth: true, changeYear: true, yearRange: 'c-100:c+5', dateFormat: 'd M yy'
        });
    });

    function doSubmit(refId) {
        var mf = $("#mf_" + refId).val();
        var dt = $("#dt_" + refId).val();
        var st = $("#sl_" + refId).val();

        $.ajax({
            url: '@Url.Action("AcceptedLoansPendingTransfer", "Admin")',
            type: "GET",
            async: true,
            dataType: "html",
            data: { id: refId, transferDate: dt, moolahFee: mf, status: st },
            success: function (data) {
                bootbox.dialog({
                    message: data,
                    title: "Update Request",
                    buttons: {
                        success: {
                            label: "Submit",
                            className: "btn-success",
                            callback: function () {

                                if (st == "Approve" && ($('#cbGuar').is(':checked') == false || $('#cbIssuer').is(':checked') == false)) {
                                    bootbox.alert("Please upload signed documents and tick checkboxes.");

                                }
                                else {
                                    var re = $('#txtReson').val();
                                    var admin = $('#adminUser').val();
                                    var pass = $('#pass').val();
                                    $('#mask').showLoading();
                                    $.ajax({
                                        url: '@Url.Action("ValidateAdminAccount", "Admin")',
                                        type: "GET",
                                        async: true,
                                        dataType: "html",
                                        data: { username: admin, password: pass },
                                        success: function (isAuth) {
                                            if (isAuth == 'true') {
                                                $.ajax({
                                                    url: '@Url.Action("AcceptedLoansPendingTransferSubmit", "Admin")',
                                                    type: "POST",
                                                    async: true,
                                                    dataType: "html",
                                                    data: { id: refId, transferDate: dt, moolahFee: mf, status: st, reson: re, adminUser: admin },
                                                    success: function () {
                                                        $('#mask').hideLoading();
                                                        location.reload(true);
                                                    },
                                                    error: function (msg) {
                                                        $('#mask').hideLoading();
                                                        alert(msg);
                                                    }
                                                });
                                            } else {
                                                $('#mask').hideLoading();
                                                bootbox.alert("Invalid password for the admin " + admin + ". Please check again your password.");
                                            }
                                        },
                                        error: function (msg) {
                                            alert(msg);
                                        }
                                    });
                                }
                            }
                        }
                    }
                });
            },
            error: function (data) {
            }
        });
    }
</script>
