﻿@using System.Globalization
@model MoolahConnectClassLibrary.Models.ViewModels.Admin.AcceptedLoanWrapper
@{
    Layout = null;
}
<style>
    .bg_col
    {
        background-color: #1E90FF;
        color: #ffffff;
    }

        .bg_col th
        {
            padding-top: 5px;
            padding-bottom: 5px;
        }
</style>

<div style="margin-top: 15px">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
            <tr>
                <td>
                    <table class="" align="center" border="0" cellpadding="0" cellspacing="0" width="100% !important">
                        <tbody>
                            <tr>
                                <td colspan="2" style="margin: 0px 0px 0px 3px;" align="center">
                                    <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div style="margin-left: 2px; text-align: left">
                                                        <table width="100%" align="left" border="0" cellpadding="0" cellspacing="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <div style="margin-bottom: 5px; text-align: left">
                                                                            <tr class="bg_col">
                                                                                <th class="bdr_bottom">Accepted Date&nbsp;</th>
                                                                                <th class="bdr_bottom">Ref Number&nbsp;</th>
                                                                                <th class="bdr_bottom">Acc Number&nbsp;</th>
                                                                                <th class="bdr_bottom">Company Name&nbsp;</th>
                                                                                <th class="bdr_bottom">Tenor(Mts)&nbsp;</th>
                                                                                <th class="bdr_bottom">Loan Amount&nbsp;</th>
                                                                                <th class="bdr_bottom">Moolah Fees&nbsp;</th>
                                                                                <th class="bdr_bottom">Transfered Amount&nbsp;</th>
                                                                                <th class="bdr_bottom">Bank Name&nbsp;</th>
                                                                                <th class="bdr_bottom">Bank Account&nbsp;</th>
                                                                                <th class="bdr_bottom">Transfer Date&nbsp;</th>
                                                                                <th class="bdr_bottom">Status&nbsp;</th>
                                                                                <th>Docs&nbsp</th>
                                                                                <th class="bdr_bottom">Comments&nbsp;</th>
                                                                                <th class="bdr_bottom">AdminId&nbsp;</th>
                                                                            </tr>
                                                                        </div>
                                                                        <tbody id="tbAllocateLoan">
                                                                            @if (Model != null)
                                                                            {
                                                                                foreach (var item in Model.Loans)
                                                                                {
                                                                                <tr>
                                                                                    <td>
                                                                                        @item.AcceptedDate.ToString("dd/MM/yyy HH:mm") &nbsp;
                                                                                    </td>
                                                                                    <td>
                                                                                        @Html.ActionLink(item.LoanRefNumber.ToString(), "BorrowerNoteDetails", "Note", new { noteRequestID = item.LoanRefNumber }, null) &nbsp;
                                                                                    </td>
                                                                                    <td>
                                                                                        @item.AccountNumber &nbsp;
                                                                                    </td>
                                                                                    <td>
                                                                                        @item.CompanyName &nbsp;
                                                                                    </td>
                                                                                    <td>
                                                                                        @item.Tenor &nbsp;
                                                                                    </td>
                                                                                    <td>
                                                                                        @item.LoanAmount.ToString("N", CultureInfo.InvariantCulture) &nbsp;
                                                                                    </td>
                                                                                    <td>
                                                                                        @item.MoolahFees.ToString("N", CultureInfo.InvariantCulture) &nbsp;
                                                                                    </td>
                                                                                    <td>
                                                                                        @item.AmountTransfered.ToString("N", CultureInfo.InvariantCulture) &nbsp;
                                                                                    </td>
                                                                                    <td>
                                                                                        @item.BankName &nbsp;
                                                                                    </td>
                                                                                    <td>
                                                                                        @item.BankAccountNumber&nbsp;
                                                                                    </td>
                                                                                    <td>
                                                                                        @if (item.FundTransferDate != null)
                                                                                        {
                                                                                            @item.FundTransferDate.Value.ToString("dd/MM/yyy")
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <span>N/A</span>
                                                                                        }&nbsp;
                                                                                    </td>
                                                                                    <td>
                                                                                        @if (item.Status == "FundRejected")
                                                                                        {
                                                                                            <span>Loan Cancelled</span>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            @item.Status
                                                                                        }
                                                                                        &nbsp;
                                                                                    </td>
                                                                                    <td>
                                                                                        <a href="Javascript:ShowLoanDocuments(@item.LoanRefNumber,'@item.Username')">Docs</a>
                                                                                    </td>
                                                                                    <td>
                                                                                        @item.Comments &nbsp;
                                                                                    </td>
                                                                                    <td>
                                                                                        @item.AdminId &nbsp;
                                                                                    </td>
                                                                                </tr>
                                                                                }
                                                                            }
                                                                            else
                                                                            {
                                                                                <tr>
                                                                                    <td colspan="15">No records found.
                                                                                    </td>
                                                                                </tr>
                                                                            }
                                                                        </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </td>
                            </tr>
                            <tr>
                                <td height="5"></td>
                            </tr>
                            <tr>
                                <td align="center" height="20">&nbsp;
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2" height="5"></td>
            </tr>
        </tbody>
    </table>
</div>
