﻿@model MoolahConnectClassLibrary.Models.ViewModels.Admin.AcceptedLoanWrapper
@{
    ViewBag.Title = "AcceptedLoans";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Accepted Loans Pending for Fund Transfer</a></li>
    <li><a href="#tabs-2">Accepted Loans History</a></li>
    <li><a href="#tabs-3">Outstanding Loans</a></li>
      <li><a href="#tabs-4">Repayments</a></li>
      <li><a href="#tabs-5">Late Fees</a></li>
      <li><a href="#tabs-6">Loan Payments</a></li>
      <li><a href="#tabs-7">Account Adjustments</a></li>
      <li><a href="#tabs-8">Matured Loans</a></li>
  </ul>
  <div id="tabs-1">
    @Html.Partial("AcceptedLoansPending", Model)
  </div>
    <div id="tabs-2" style="width: 100% !important; padding-left:2px !important;padding-right:2px !important;">
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
            <tbody>
                <tr>
                    <td>
                        <select id="Term">
                            <option value="-1" selected="selected">All</option>
                            <option value="1">Current Month</option>
                            <option value="3">Last 3 Months</option>
                            <option value="6">Last 6 Months</option>
                            <option value="9">Last 9 Months</option>
                            <option value="12">Last 12 Months</option>
                        </select>
                        &nbsp;<button id="btnSearch" value="Search">Search</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label id="loanData"></label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
  <div id="tabs-3">
  </div>
    <div id="tabs-4">
    
  </div>
    <div id="tabs-5">
    
  </div>
    <div id="tabs-6">
    
  </div>
    <div id="tabs-7">
        </div>
    <div id="tabs-8">
    
  </div>

</div>

<div class="modal fade" id="modelLoanDocs" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modelValidatePWLabel">Loan Documents</h4>
            </div>
            <div id="logo-image-ex" class="modal-body">
                <div id="modelLoanDocsContent">
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnRepDetSubmit" class="btn btn-success" type="button" data-dismiss="modal">Ok</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script type="text/ecmascript">       

        $(document).ready(function () {

            $("#tabs").tabs();

            var selectedTab = getParameterByName('tab');
            $("#tabs").tabs("option", "active", selectedTab);

        DoSearch();

        $('#tabs-3').load("/Admin/OutstandingLoans?timePeriod=0");
        $('#tabs-4').load("/Admin/OutstandingRepayments?timePeriod=0");
        $('#tabs-5').load("/Admin/LateRepayments?timePeriod=0");
        $('#tabs-6').load("/Admin/_LoanPayments?timePeriod=0");
        $('#tabs-7').load("/Admin/_AccountAdjustment?timePeriod=0");

    });
    
        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
            return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }


    $('#btnSearch').click(function () {
        DoSearch();
    });
    
    function DoSearch(){
        var trm = $('#Term').val();
        $.ajax({
            url: '@Url.Action("AcceptedLoansHistory", "Admin")',
            type: "POST",
            async: true,
            dataType: "html",
            data: "term=" + trm,
            success: function (data) {
                $('#loanData').empty().html(data);
            },
            error: function (data) {
            }
        });
    };

    function ShowLoanDocuments(loanId, username) {
        $('#modelLoanDocsContent').empty();
        $('#modelLoanDocsContent').load("/Admin/_LoanDocuments?requestID=" + loanId + "&username=" + ToQueryStringValue(username));
        $('#modelLoanDocs').modal();
    }
</script>