﻿
@model IEnumerable<MoolahConnectClassLibrary.Models.ViewModels.AuditLog>

@{
    ViewBag.Title = "AuditLogs";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
        <tr style="background-color: rgb(223, 223, 223);">
            <td>
                <br>
            </td>
        </tr>
        <tr>
            <td>
                <table bgcolor="#860509" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                        <tr style="background-color: rgb(59, 143, 215);">
                            <td width="12">
                                <img src="Images/corner_boxleft.gif" border="0" width="12" height="24">
                            </td>
                            <td class="tableTitle" style="background-color: rgb(59, 143, 215);" colspan="2">
                                <asp:literal id="ltPageHeading" runat="server"></asp:literal>
                            </td>
                            <td width="12">
                                <img src="Images/corner_boxRight.gif" border="0" width="12" height="24">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr bgcolor="#ffffff">
            <td>&nbsp;
            </td>
        </tr>
        <tr bgcolor="#ffffff">
            <td height="17"></td>
        </tr>
        <tr bgcolor="#ffffff">
            <td>
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="99%">
                    <tbody>
                        <tr>
                            <td>&nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table class="" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td class="RowHeader" align="center" width="99%">
                                                <table style="background-color: rgb(59, 143, 215);" border="0" cellpadding="0" cellspacing="0"
                                                    width="100%">
                                                    <tbody>
                                                        <tr style="background-color: rgb(59, 143, 215);">
                                                            <td width="12">
                                                                <img src="Images/corner_boxleft.gif" border="0" width="12" height="24">
                                                            </td>
                                                            <td class="RowHeader" colspan="2" style="background-color: rgb(59, 143, 215);" align="center">Action Logs
                                                            </td>
                                                            <td width="12">
                                                                <img src="Images/corner_boxRight.gif" border="0" width="12" height="24">
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" style="margin: 0px 0px 0px 3px;" align="center">
                                                <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <div style="margin-left: 2px; text-align: left">
                                                                    <table width="100%" align="left" border="0" cellpadding="0" cellspacing="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>
                                                                                    <div style="margin-left: 2px; text-align: left">
                                                                                        <tr class="bg_col">
                                                                                            <th class="bdr_bottom">Reference</th>
                                                                                            <th class="bdr_bottom">Message</th>
                                                                                            <th class="bdr_bottom">Field Name</th>
                                                                                            <th class="bdr_bottom">Old Value</th>
                                                                                            <th class="bdr_bottom">New Value</th>
                                                                                            <th class="bdr_bottom">Request ID</th>
                                                                                            <th class="bdr_bottom">Username</th>
                                                                                            <th class="bdr_bottom">Username</th>
                                                                                            <th class="bdr_bottom">Timestamp</th>
                                                                                        </tr>
                                                                                    </div>
                                                                                    <tbody id="tbAllocateLoan">
                                                                                        @if (Model != null)
                                                                                        {
                                                                                            foreach (var item in Model)
                                                                                            {
                                                                                            <tr>
                                                                                                <td>
                                                                                                    @item.Reference &nbsp;
                                                                                                </td>
                                                                                                <td>
                                                                                                    @ShortContent(item.Message)
                                                                                                </td>
                                                                                                <td>
                                                                                                    @ShortContent(item.FieldName)
                                                                                                </td>
                                                                                                <td>
                                                                                                    @ShortContent(item.OldValue)
                                                                                                </td>
                                                                                                <td>
                                                                                                    @ShortContent(item.NewValue)
                                                                                                </td>
                                                                                                <td>
                                                                                                    @item.RequestId &nbsp;
                                                                                                </td>
                                                                                                <td>
                                                                                                    @ShortContent(item.AccountId)
                                                                                                </td>
                                                                                                <td>
                                                                                                    @ShortContent(item.Username)
                                                                                                </td>
                                                                                                <td>
                                                                                                    @item.TimeStamp.ToString("MMM d, yyyy HH:mm:ss")
                                                                                                </td>
                                                                                            </tr>
                                                                                            }
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <tr>
                                                                                                <td colspan="15">No log records found.
                                                                                                </td>
                                                                                            </tr>
                                                                                        }
                                                                                    </tbody>
                                                                    </table>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="5"></td>
                                        </tr>
                                        <tr>
                                            <td align="center" height="20">&nbsp;
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" height="5"></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
@helper ShortContent(string content){
    if (!string.IsNullOrEmpty(content))
    {
        if (content.Length > 21)
        {
            <div title="@content">
                @content.Substring(0, 20) ... &nbsp;
            </div>
        }
        else
        {
            <div>
                @content &nbsp;
            </div>
        }
    }
}