﻿@model MoolahConnectClassLibrary.Models.tbl_SecurityQuestions

@{
    ViewBag.Title = "EditQuestions";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm("UpdateSecurityQuestionbyID", "Admin", FormMethod.Post, new { id = "UpdateSecurityQuestionbyID" }))
{
 
    @Html.ValidationSummary(true)
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="70%">
        <tbody>
            <tr style="background-color: rgb(223, 223, 223);">
                <td>
                    <br />
                </td>
            </tr>
            <tr>
                <td>
                    <table bgcolor="#860509" border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tbody>
                            <tr style="background-color: rgb(59, 143, 215);">
                                <td width="12">
                                    <img src="Images/corner_boxleft.gif" border="0" width="12" height="24">
                                </td>
                                <td class="tableTitle" style="background-color: rgb(59, 143, 215);" colspan="2">
                                    <asp:literal id="ltPageHeading" runat="server"></asp:literal>
                                </td>
                                <td width="12">
                                    <img src="Images/corner_boxRight.gif" border="0" width="12" height="24">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr bgcolor="#ffffff">
                <td>&nbsp;
                </td>
            </tr>
            <tr bgcolor="#ffffff">
                <td height="17"></td>
            </tr>
            <tr bgcolor="#ffffff">
                <td>
                    <table class="" align="center" border="0" cellpadding="0" cellspacing="0" width="70%">
                        <tbody>
                            <tr>
                                <td colspan="2" class="RowHeader" align="center">
                                    <table style="background-color: rgb(59, 143, 215);" border="0" cellpadding="0" cellspacing="0"
                                        width="100%">
                                        <tbody>
                                            <tr style="background-color: rgb(59, 143, 215);">
                                                <td width="12">
                                                    <img alt="" src="Images/corner_boxleft.gif" border="0" width="12" height="24">
                                                </td>
                                                <td class="RowHeader" colspan="2" style="background-color: rgb(59, 143, 215);" align="center">Usre Detail for verification
                                                </td>
                                                <td width="12">
                                                    <img alt="" src="Images/corner_boxRight.gif" border="0" width="12" height="24">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="0" align="center" width="100%">
                                    <div id="ctl00_cphAdminMaster_updRegister">
                                        <table class="TableBorder" align="center" bgcolor="#eeeeee" border="0" cellpadding="0" cellspacing="5" width="100%">
                                            <tbody>
                                                <tr bgcolor="#eeeeee">
                                                    <td colspan="2" height="20"></td>
                                                </tr>
                                                <tr>
                                                    <td align="left">
                                                        <b>Question :* </b>
                                                    </td>
                                                    <td align="left">
                                                        @Html.TextAreaFor(m=>m.QuestionName)
                                                        @Html.ValidationMessageFor(m=>m.QuestionName)
                                                    </td>
                                                </tr>




                                                @Html.HiddenFor(m => m.QuestionId);

                                                <tr>
                                                    <td></td>
                                                    <td align="left">
                                                        <input type="submit" onclick="UpdateSecurityQuestionbyID" value="Submit" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td align="left">
                                                        <asp:image id="imgUser" runat="server" width="117px" height="116px" />
                                                    </td>
                                                </tr>
                                                <tr bgcolor="#eeeeee">
                                                    <td colspan="2" height="20"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr height="1">
                                <td colspan="2" class="formfooter" align="left"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr bgcolor="#ffffff">
                <td>&nbsp;
                </td>
            </tr>
            <tr bgcolor="#ffffff">
                <td>
                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tbody>
                            <tr>
                                <td>&nbsp;
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr bgcolor="#ffffff">
                <td>&nbsp;
                </td>
            </tr>
        </tbody>
    </table>

}