﻿@{
    
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />

<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript">
    $(function () {
        $(".datepicker").datepicker();
    });

    var EmiAmount = "";

    function GetEMIAmountbyLoanReference() {
        if ($("#txtLoanReference").val() != "") {

            $.ajax({
                url: "/Admin/GetEMIbyLoanReference",
                type: "POST",
                dataType: "json",
                contentType: 'application/json',
                data: "{LoanReference:'" + $("#txtLoanReference").val() + "'}",
                success: function (msg) {
                    {

                        $("#txtLoanAmount").val(msg);
                        EmiAmount = msg;

                    }


                }
            });
        }
        else {
            alert('Please enter loan referene');
        }
        return false;

    }

    function ChangeEmiAmountbyNumberofEmi() {
        var totalamount = parseFloat(EmiAmount) * parseFloat($('#number').val());

        $("#txtLoanAmount").val(totalamount);
        return false;

    }



    function SaveRepaymentDetails() {
        if ($("#txtLoanReference").val() != "") {

            $.ajax({
                url: "/Admin/SaveRepaymentDetail",
                type: "POST",
                dataType: "json",
                contentType: 'application/json',
                data: "{LoanReference:'" + $("#txtLoanReference").val() + "',PayedOn:'" + $("#txtPayedOn").val() + "'}",
                success: function (msg) {
                    {

                        alert(msg);
                    }


                }
            });

        }

        return false;
    }



</script>

<table align="center" border="0" cellpadding="0" cellspacing="0" width="70%">
    <tbody>
        <tr style="background-color: rgb(223, 223, 223);">
            <td>
                <br />
            </td>
        </tr>
        <tr>
            <td>
                <table bgcolor="#860509" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                        <tr style="background-color: rgb(59, 143, 215);">
                            <td width="12">
                                <img src="Images/corner_boxleft.gif" border="0" width="12" height="24">
                            </td>
                            <td class="tableTitle" style="background-color: rgb(59, 143, 215);" colspan="2">
                                <asp:literal id="ltPageHeading" runat="server"></asp:literal>
                            </td>
                            <td width="12">
                                <img src="Images/corner_boxRight.gif" border="0" width="12" height="24">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr bgcolor="#ffffff">
            <td>&nbsp;
            </td>
        </tr>
        <tr bgcolor="#ffffff">
            <td height="17"></td>
        </tr>
        <tr bgcolor="#ffffff">
            <td>
                <table class="" align="center" border="0" cellpadding="0" cellspacing="0" width="70%">
                    <tbody>
                        <tr>
                            <td colspan="2" class="RowHeader" align="center">
                                <table style="background-color: rgb(59, 143, 215);" border="0" cellpadding="0" cellspacing="0"
                                    width="100%">
                                    <tbody>
                                        <tr style="background-color: rgb(59, 143, 215);">
                                            <td width="12">
                                                <img alt="" src="Images/corner_boxleft.gif" border="0" width="12" height="24">
                                            </td>
                                            <td class="RowHeader" colspan="2" style="background-color: rgb(59, 143, 215);" align="center">Repayment Allocation
                                            </td>
                                            <td width="12">
                                                <img alt="" src="Images/corner_boxRight.gif" border="0" width="12" height="24">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="0" align="center" width="100%">
                                <div id="ctl00_cphAdminMaster_updRegister">
                                    <table class="TableBorder" align="center" bgcolor="#eeeeee" border="0" cellpadding="0" cellspacing="5" width="100%">
                                        <tbody>

                                            <tr>
                                                <td colspan="0" align="center" width="100%">
                                                    <div id="ctl00_cphAdminMaster_updRegister">
                                                        <table class="TableBorder" align="center" bgcolor="#eeeeee" border="0" cellpadding="0" cellspacing="5" width="100%">
                                                            <tbody>

                                                                <tr>
                                                                    <td align="left">
                                                                        <b>Loan Reference: </b>
                                                                    </td>
                                                                    <td align="left">

                                                                        <input type="text" onblur="GetEMIAmountbyLoanReference()" id="txtLoanReference" placeholder="Loan Reference" class="wish_input" />
                                                                    </td>

                                                                </tr>
                                                                <tr>
                                                                    <td align="left">
                                                                        <b>EMI Amount: </b>
                                                                    </td>
                                                                    <td align="left">
                                                                        <input type="text"  id="txtLoanAmount", placeholder = "Amount" class = "wish_input adminalert" />
                                                                    </td>
                                                                </tr>

                                                                <tr>
                                                                    <td align="left">
                                                                        <b>Repayment for month of: </b>
                                                                    </td>
                                                                    <td align="left">

                                                                        <input type="text" id="txtPayedOn" placeholder="Emi for month of" class="wish_input datepicker" />
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td align="left">
                                                                        <a style="cursor: pointer" onclick="SaveRepaymentDetails()">Submit</a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td align="left">
                                                                        <asp:image id="imgUser" runat="server" width="117px" height="116px" />
                                                                    </td>
                                                                </tr>
                                                                <tr bgcolor="#eeeeee">
                                                                    <td colspan="2" height="20"></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr height="1">
                                                <td colspan="2" class="formfooter" align="left"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                            </td>
                        </tr>
                        <tr bgcolor="#ffffff">
                            <td>&nbsp;
                            </td>
                        </tr>
                        <tr bgcolor="#ffffff">
                            <td>
                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td>&nbsp;
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr bgcolor="#ffffff">
                            <td>&nbsp;
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
