﻿@using MoolahConnect.Util.ExtensionMethods
@using MoolahConnect.Util
@using MoolahConnect.Util.Enums
@model MoolahConnectClassLibrary.Models.ViewModels.Admin.AdminLoanList

@Styles.Render("~/Content/css/bootstrap.min.css")

@{
    ViewBag.Title = "GetAllLoanList";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<table align="center" border="0" cellpadding="0" cellspacing="0" width="98%">
    <tbody>
        <tr style="background-color: rgb(223, 223, 223);">
            <td>
                <br>
            </td>
        </tr>
        <tr>
            <td>
                <table bgcolor="#860509" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                        <tr style="background-color: rgb(59, 143, 215);">
                            <td width="12">
                                <img src="Images/corner_boxleft.gif" border="0" width="12" height="24">
                            </td>
                            <td class="tableTitle" style="background-color: rgb(59, 143, 215);" colspan="2">
                                <asp:literal id="ltPageHeading" runat="server"></asp:literal>
                            </td>
                            <td width="12">
                                <img src="Images/corner_boxRight.gif" border="0" width="12" height="24">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr bgcolor="#ffffff">
            <td>&nbsp;
            </td>
        </tr>
        <tr bgcolor="#ffffff">
            <td height="17"></td>
        </tr>
        <tr bgcolor="#ffffff">
            <td>
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="95%">
                    <tbody>
                        <tr>
                            <td>&nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table class="" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td class="RowHeader" align="center" width="99%">
                                                <table style="background-color: rgb(59, 143, 215);" border="0" cellpadding="0" cellspacing="0"
                                                    width="100%">
                                                    <tbody>
                                                        <tr style="background-color: rgb(59, 143, 215);">
                                                            <td width="12">
                                                                <img src="Images/corner_boxleft.gif" border="0" width="12" height="24">
                                                            </td>
                                                            <td class="RowHeader" colspan="2" style="background-color: rgb(59, 143, 215);" align="center">Loan List
                                                            </td>
                                                            <td width="12">
                                                                <img src="Images/corner_boxRight.gif" border="0" width="12" height="24">
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" style="margin: 0px 0px 0px 3px;" align="center">
                                                <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <div style="margin-left: 2px; text-align: center">
                                                                    <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>
                                                                                    <div style="margin-left: 2px; text-align: center">
                                                                                    <tr class="bg_col">
                                                                                        <th class="bdr_bottom bdr_left">Request ID</th>
                                                                                        <th class="bdr_bottom">Date Created</th>
                                                                                        <th class="bdr_bottom">Account Number</th>
                                                                                        <th class="bdr_bottom">Company Name</th>
                                                                                        <th class="bdr_bottom">UserName</th>
                                                                                        <th class="bdr_bottom">Amount</th>
                                                                                        <th class="bdr_bottom">Submitted</th>
                                                                                        <th class="bdr_bottom">Is Approved</th>
                                                                                        <th class="bdr_bottom">Status</th>
                                                                                        <th class="bdr_bottom">Time Left</th>

                                                                                        <th class="bdr_bottom">Detail</th>
                                                                                        <th class="bdr_bottom">Expire</th>
                                                                                    </tr>
                                                                            <tbody id="tbAllocateLoan">
                                                                                @if (Model.LoanListForAdmin.Count != null && Model.LoanListForAdmin.Count > 0)
                                                                                {
                                                                                    foreach (var item in Model.LoanListForAdmin)
                                                                                    {
                                                                                   
                                                                                    <tr>
                                                                                        <td>@Html.ActionLink(item.RequestID.ToString(), "BorrowerNoteDetails", "Note", new { noteRequestID = item.RequestID }, null)</td>
                                                                                        <td><a>@item.DateCreated.ToDateTime()</a></td>
                                                                                        <td><a>@item.AccountNumber</a></td>
                                                                                        <td><a>@item.CompanyName</a></td>
                                                                                        <td><a>@item.UserName</a></td>
                                                                                        <td><a>S$ @item.Amount</a></td>
                                                                                        <td>@item.Submitted</td>
                                                                                        <td>@item.IsApproved </td>
                                                                                        <td>@CommonMethods.GetLoanStatus((PreliminaryLoanRequestStatus)item.PreliminaryStatus,
                                                                                        (LoanRequestStatus)item.Status) </td>
                                                                                        <td>
                                                                                            @if (item.PreliminaryStatus == (int)PreliminaryLoanRequestStatus.DraftPublished
                                                                                                || item.PreliminaryStatus == (int)PreliminaryLoanRequestStatus.DraftApproved)
                                                                                            {
                                                                                                @item.TimeLeft.ToDateTime()
                                                                                            }
                                                                                            else
                                                                                            {
                                                                                                @:NA
                                                                                            }

                                                                                        </td>

                                                                                        <td>@Html.ActionLink("View Detail", "LoanDetail", new { LoanRequestID = item.RequestID })</td>
                                                                                        <td>
                                                                                            @if (item.Status == (int)LoanRequestStatus.InProgress && item.PreliminaryStatus == (int)PreliminaryLoanRequestStatus.DraftPublished)
                                                                                            {
                                                                                                <a href="Javascript:ExpireLoanModel(@item.RequestID)">Expire</a>    
                                                                                            }
                                                                                        </td>
                                                                                    </tr>                                                                                    
                                                                                    }
                                                                                }
                                                                                else
                                                                                {
                           
                                                                                    <tr>
                                                                                        <td colspan="8">No Request Found or Time expires for your request(s).
                                                                                        </td>
                                                                                    </tr>
                              
                                                                                }
                                                                            </tbody>
                                                                    </table>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="5"></td>
                                        </tr>
                                        <tr>
                                            <td align="center" height="20">&nbsp;
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" height="5"></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>

<div class="modal fade" id="modelExpireRequest" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Expire Request</h4>
            </div>
            <div class="modal-body">
                <div id="modelmodelExpireRequestContent">
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnExpireRequest" onclick="ExpireLoan();" class="btn btn-success" type="button" data-bb-handler="success">Submit</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script type="text/javascript">

    $(document).ready(function () {

    });

    function ExpireLoanModel(requestID) {
        $('#modelmodelExpireRequestContent').empty();
        $('#modelmodelExpireRequestContent').load("/Admin/_ExpireRequest?requestID=" + requestID);
        $('#modelExpireRequest').modal();
    }
</script>
