﻿@model MoolahConnectnew.ViewModels.Admin.UsersSummaryViewModel

@{
    ViewBag.Title = "Index";
}

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
 <table align="center" border="0" cellpadding="0" cellspacing="0" width="95%">
        <tr style="background-color: rgb(223, 223, 223);">
            <td>
                <br>
            </td>
        </tr>
        <tr>
            <td>
                <table bgcolor="#860509" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                        <tr style="background-color: rgb(59, 143, 215);">
                            <td width="12">
                                <img src="@Url.Content("~/Content/Admin/images/corner_boxleft.gif")" border="0" width="12" height="24">
                            </td>
                            <td class="tableTitle" style="background-color: rgb(59, 143, 215);" colspan="2">
                                MoolahSense
                            </td>
                            <td width="12">
                                <img src="@Url.Content("~/Content/Admin/images/corner_boxRight.gif")" border="0" width="12" height="24">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr bgcolor="#ffffff">
            <td>
                &nbsp;
            </td>
        </tr>
        <tr bgcolor="#ffffff">
            <td>
                <span id="ctl00_ContentPlaceHolder1_lblWelcm" class="TextLabelwelcome" style="color: Black;">
                    Welcome:</span> <span id="ctl00_ContentPlaceHolder1_lblLoginname" class="TextLabellogin"
                        style="color: Black;">Admin</span>
            </td>
        </tr>
        <tr bgcolor="#ffffff">
            <td>
                <span id="ctl00_ContentPlaceHolder1_lblLogin" class="TextLabelwelcome" style="color: Black;">
                    You Are Login At:</span> <span id="ctl00_ContentPlaceHolder1_lblloginTime" class="TextLabellogin"
                        style="color: rgb(82, 82, 82);">@DateTime.UtcNow</span>
            </td>
        </tr>
        <tr bgcolor="#ffffff">
            <td>
                &nbsp;
            </td>
        </tr>
        <tr bgcolor="#ffffff">
            <td>
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                        <tr>
                            <td>
                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="96%">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <table style="border: 1px solid rgb(153, 153, 153);" align="center" bgcolor="#fffff"
                                                    cellpadding="0" cellspacing="0" width="96%">
                                                    <tbody>
                                                        <tr>
                                                            <td colspan="4" class="AdminPageHeading1" style="background-color: rgb(59, 143, 215);"
                                                                height="10px">
                                                                <span class="">Dash Board - MoolahConnect</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="right" valign="top" width="50%">
                                                                <table style="width: 100%; height: 220px;" border="0" cellpadding="1" cellspacing="1"
                                                                    width="82%">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td colspan="2" class="AdminPageHeading" valign="middle">
                                                                            </td>
                                                                        </tr>
                                                                        <tr bgcolor="#eeeeee">
                                                                            <td valign="middle" width="84%">
                                                                                <span class="TextLabelMainpage">Total number of Users</span>
                                                                            </td>
                                                                            <td align="center" valign="middle" width="16%">
                                                                                <span>@Model.TotalUsers</span>
                                                                            </td>
                                                                        </tr>
                                                                        <tr bgcolor="#e0e0e0">
                                                                            <td valign="middle">
                                                                                <span class="TextLabelMainpage">Total number of Borrower</span>
                                                                            </td>
                                                                            <td align="center" valign="middle">
                                                                          <span>@Model.TotalBorrower</span>
                                                                            </td>
                                                                        </tr>
                                                                      <tr bgcolor="#eeeeee">
                                                                            <td valign="middle" width="84%">
                                                                                <span class="TextLabelMainpage">Total number of Investor</span>
                                                                            </td>
                                                                            <td align="center" valign="middle" width="16%">
                                                                            <span>@Model.TotalInvestors</span>
                                                                            </td>
                                                                        </tr>
                                                                       
                                                                       
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td align="center" valign="top">
                                                                <table cellpadding="0" cellspacing="1" width="100%" height="110">
                                                                    <tbody>
                                                                        <tr bgcolor="#ffffff">
                                                                            <td class="my_icon" onmouseover="" onmousedown="" onmouseout="" align="center" valign="middle"
                                                                                width="13%" height="100">
                                                                                <a style="text-decoration: none;" href="ManageVideos.aspx">
                                                                                    <img src="@Url.Content("~/Content/Admin/images/users.png")" width="100px" height="100px" onmouseover="this.className = 'pressDown'" onmouseout="this.className = 'pressNo'"
                                                                                        alt="image" class="pressNo" border="0"><br>
                                                                                    Users</a>
                                                                            </td>
                                                                            <td class="my_icon" onmouseover="" onmousedown="" onmouseout="" align="center" valign="middle"
                                                                                width="13%" height="100">
                                                                                <a style="text-decoration: none;" href="ManageBlog.aspx">
                                                                                    <img height="80px" width="80px" src="@Url.Content("~/Content/Admin/images/borrower_icon1.png")" onmouseover="this.className = 'pressDown'" onmouseout="this.className = 'pressNo'"
                                                                                        alt="image" class="pressNo" border="0"><br>
                                                                                    Borrower</a>
                                                                            </td>
                                                                            <td class="my_icon" onmouseover="" onmousedown="" onmouseout="" align="center" valign="middle"
                                                                                width="13%" height="100">
                                                                                <a style="text-decoration: none;" href="ManageArticles.aspx">
                                                                                    <img src="@Url.Content("~/Content/Admin/images/Asset Allocation.gif")" onmouseover="this.className='pressDown'" onmouseout="this.className = 'pressNo'"
                                                                                        alt="image" class="pressNo" border="0"><br>
                                                                                    Investors</a>
                                                                            </td>
                                                                           <td class="my_icon" onmouseover="" onmousedown="" onmouseout="" align="center" valign="middle"
                                                                                width="13%" height="100">
                                                                                <a style="text-decoration: none;" href="http://marcuniversity.com/admin/AdminArea/AdminListMemberCourses.aspx">
                                                                                    <img src="@Url.Content("~/Content/Admin/images/loan.jpg")" onmouseover="this.className = 'pressDown'" onmouseout="this.className = 'pressNo'"
                                                                                        alt="image" class="pressNo" border="0"><br>
                                                                                    Loan Request</a>
                                                                            </td>
                                                                        </tr>
                                                              
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="4" class="AdminPageHeading1" style="background-color: rgb(59, 143, 215);"
                                                                height="6px">
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr bgcolor="#ffffff">
            <td>
                &nbsp;
            </td>
        </tr>
    </table>
