﻿@using MoolahConnect.Util.ExtensionMethods;
@model  IEnumerable<MoolahConnectnew.ViewModels.Admin.LoanInvestorViewModel>

@*<div id="divError" class="alert alert-danger"></div>*@
<table width="100%" align="left" border="0" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td>
                <div style="margin-bottom: 5px; text-align: left">
                    <tr class="bg_col">
                        <th class="bdr_bottom">No&nbsp;</th>
                        <th class="bdr_bottom">Account Id&nbsp;</th>
                        <th class="bdr_bottom">Display Name&nbsp;</th>
                        <th class="bdr_bottom">Accured Interest for Late Payments&nbsp;</th>
                    </tr>
                </div>
                <tbody>
                    @if (Model != null)
                    {
                        int index = 1;

                        foreach (var item in Model)
                        {
                        <tr>
                            <td>@index</td>
                            <td>@item.AccountId</td>
                            <td>@item.DisplayName</td>
                            <td>@item.LatePayment.ToCurrency()</td>
                        </tr>
                            index++;
                        }
                    }
                </tbody>
</table>
<br />
<br />
<div style="height: 100px;">
    &nbsp;
</div>
@*<table>
    <tr>
        <td>
            <select id="adminUserLateRep" class="wish_list_in" style="width: 200px !important">
                @foreach (var user in ViewBag.AdminUsers)
                {
                    <option value="@user">@user</option>
                }
            </select>

        </td>
        <td>&nbsp;Password &nbsp;
        </td>
        <td>
            <input type="password" id="passLateRep" class="wish_input" />
        </td>
    </tr>
    <tr>
        <td>
            <select id="statusLateRep" class="wish_list_in">
                <option value="1">Paid</option>
                <option value="3">Default</option>
            </select>
        </td>
        <td>&nbsp;Date &nbsp;
        </td>
        <td>
            <input type="text" class="wish_input" id="dateLateRepPaid">
        </td>
    </tr>
    <tr>
        <td></td>
        <td>&nbsp;Comments &nbsp;
        </td>
        <td>
            <textarea id="txtCommentLateRep">
            </textarea>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input type="checkbox" id="cbPaidMoolahFees" />
            &nbsp Moolah Fees
        </td>
    </tr>
</table>*@


<script type="text/javascript">

    $(document).ready(function () {
        $('#divError').hide();
        $("#dateLateRepPaid").datepicker({ maxDate: 0, dateFormat: 'mm\/dd\/yy' });
    });

    function btnLateRepDetSubmit_Clicked() {
        @* $.getJSON("/Admin/UpdateLateRepaymentDetails", {
            requestId: '@ViewBag.RequestId',
            latePayment: '@ViewBag.LatePayment',
            status: $('#statusLateRep').val(),
            adminUsername: $('#adminUserLateRep').val(),
            adminPassword: $('#passLateRep').val(),
            comment: $('#txtCommentLateRep').val(),
            date: $('#dateLateRepPaid').val(),
            moolahFees: $('#cbPaidMoolahFees').is(':checked')
        }
            , function (data) {
                if (data.Status == "Succeed") {
                    document.location.href = "/Admin/AcceptedLoans?tab=4";
                }
                else {
                    $('#divError').html(data.Error);
                    $('#divError').show();
                }
            });*@
        $('#modelLateInvestorDetails').model().hide();
    }

</script>
