﻿@model MoolahConnectnew.ViewModels.LoanDetailsViewModel

@{
    ViewBag.Title = "LoanDetail";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@Styles.Render("~/Content/css/bootstrap.min.css")
@Styles.Render("~/Content/css/bootstrap.css")
  <script>
  $(function() {
      $("#tabs").tabs();
  });

  $(document).ready(function () {
      var chk = $('#hdnApprovechk').val();
      
      if (chk == "Approved") {
          $('#FinalApprovalofLoanRequest').hide();
          $('#dvStatus').html('This loan is already Approved / Complete/ In Progress');
      }
      else {
          
      }
  });
  </script>
<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Description</a></li>
    <li><a href="#tabs-2">MoolahCore</a></li>
      <li><a href="#tabs-3">MoolahPeri</a></li>
      <li><a href="#tabs-4">Repayment</a></li>
  </ul>
  <div id="tabs-1">
    @*@Html.Partial("_LoanRequestdescriptionedit", Model.Loan)*@
  </div>
  <div id="tabs-2">
     @Html.Partial("_LoanRequestMoolahCoreEdit", Model.MoolahCore)
  </div>
    <div id="tabs-3">
        @Html.Partial("_LoanRequestmoolahPeriEdit", Model.MoolahPeri)
    </div>
    <div id="tabs-4">
        @Html.Partial("Repayment", Model.RepaymentMessages)
    </div>
</div>
        