﻿@using MoolahConnect.Util.ExtensionMethods
@using MoolahConnect.Util.Enums
@using MoolahConnectnew
@model MoolahConnectClassLibrary.Models.ViewModels.InvestorLoanOffer
@{
    ViewBag.Title = "LoanSummary";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var loan = (MoolahConnectnew.ViewModels.LoanRequestViewModel)ViewData["Loan"];
    var acc = (MoolahConnectnew.ViewModels.AccountViewModel)ViewData["Account"];
}
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link rel="stylesheet" href="http://jqueryui.com/jquery-wp-content/themes/jqueryui.com/style.css" />


<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script>
    google.load("visualization", "1", { packages: ["corechart"] });
    google.setOnLoadCallback(drawCharts);

    $(function () {

        var perc = parseFloat($('#LoanFundedPercentage').val());
        $("#progressbar").progressbar({
            value: perc
        });
    });

    $(".number").keypress(function (e) {
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {

            return false;
        }
    });
    $(".numberwithDot").keypress(function (e) {
        if (e.which != 8 && e.which != 0 && e.which != 46 && e.which(e.which < 48 || e.which > 57)) {

            return false;
        }
    });
    $(document).ready(function () {
        $(".formatCurrency").formatCurrency();
    })

    function drawCharts() {
        loadMoolahCorePieChart();
        loadMoolahPeriPieChart();
    }

    function loadMoolahCorePieChart() {
        $.getJSON("/Loan/GetMoolahCoreIndicatorData", { requestId: '@ViewBag.LoanRequestId' }, function (ret) {
            if (ret.status == 'success') {
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Indicator');
                data.addColumn('number', 'Value');

                var values = [];
                var colorsArray = [];

                data.addRows([
                    ['Profitability', { 'v': 1, 'f': '' }],
                    ['Cash flow positive', { 'v': 1, 'f': '' }],
                    ['Debt/Equity Ratio less than 1.66', { 'v': 1, 'f': '' }],
                    ['Current Ratio more than 1.4', { 'v': 1, 'f': '' }],
                    ['Annual Turnover more than $ 100,000', { 'v': 1, 'f': '' }],
                    ['DP payment grade equal to or higher than Fair', { 'v': 1, 'f': '' }],
                    ['Equal to or more than 2 years in business', { 'v': 1, 'f': '' }],
                ]);

                var model = ret.data;
                var modelVerify = ret.dataVerify;

                colorsArray.push(AddMoolahCoreColor(model.Profitability, modelVerify.ProfitabilityVerified));
                colorsArray.push(AddMoolahCoreColor(model.CashFlowPositive, modelVerify.CashFlowPositiveVerified));
                colorsArray.push(AddMoolahCoreColor(model.DebtEquity < 1.66, modelVerify.DebtEquityVerified));
                colorsArray.push(AddMoolahCoreColor(model.CurrentRatio > 1.4, modelVerify.CurrentRatioVerified));
                colorsArray.push(AddMoolahCoreColor(model.AnnualTurnOver > 100000, modelVerify.AnnualTurnOverVerified));
                colorsArray.push(AddMoolahCoreColor(model.DPPaymentGrade >= 4, modelVerify.DPPaymentGradeVerified));
                colorsArray.push(AddMoolahCoreColor(model.MoreThanOTEqual2YearsInBusiness, true));

                var options = {
                    colors: colorsArray,
                    pieHole: 0.4,
                    tooltip: { isHtml: true },
                    legend: 'none',
                    chartArea: { 'width': '100%', 'height': '100%' },
                    pieSliceText: 'none',
                    tooltip: { text: 'value' }
                };

                var chart = new google.visualization.PieChart(document.getElementById('piechart'));
                chart.draw(data, options);
            }
        });
    }

    function loadMoolahPeriPieChart() {

        $.getJSON("/Loan/GetMoolahPeriIndicatorData", { requestId: '@ViewBag.LoanRequestId' }, function (ret) {
            if (ret.status == 'success') {
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Indicator');
                data.addColumn('number', 'Value');

                var values = [];
                var colorsArray = [];

                data.addRows([
                    ['Business awards', { 'v': 1, 'f': '' }],
                    ['Accreditation', { 'v': 1, 'f': '' }],
                    ['Trade association', { 'v': 1, 'f': '' }],
                    ['Community initiatives', { 'v': 1, 'f': '' }],
                    ['Socail media footprint', { 'v': 1, 'f': '' }],
                    ['Biodata of key personnel', { 'v': 1, 'f': '' }],
                    ['Response to questions', { 'v': 1, 'f': '' }],
                ]);

                var model = ret.data;
                var modelVerify = ret.dataVerify;

                colorsArray.push(AddMoolahPeriColor(model.BusinessAwards != null && model.BusinessAwards.trim() != '', modelVerify.BusinessAwardsVerified));
                colorsArray.push(AddMoolahPeriColor(model.Accreditation != null && model.Accreditation.trim() != '', modelVerify.AccreditationVerified));
                colorsArray.push(AddMoolahPeriColor(model.TradeAssociation != null && model.TradeAssociation.trim() != '', modelVerify.TradeAssociationVerified));
                colorsArray.push(AddMoolahPeriColor(model.CommunityInitiatives != null && model.CommunityInitiatives.trim() != '', modelVerify.CommunityInitiativesVerified));
                colorsArray.push(AddMoolahPeriColor(model.SocialMediaFootprint != null && model.SocialMediaFootprint.trim() != '', modelVerify.SocialMediaFootprintVerified));
                colorsArray.push(AddMoolahPeriColor(model.BiodataOfKeyPersonnel != null && model.BiodataOfKeyPersonnel.trim() != '', modelVerify.BiodataOfKeyPersonnelVerified));
                colorsArray.push(AddMoolahPeriColor(model.ResponseToQuestions != null && model.ResponseToQuestions.trim() != '', true));

                var options = {
                    colors: colorsArray,
                    pieHole: 0.4,
                    tooltip: { isHtml: true },
                    legend: 'none',
                    chartArea: { 'width': '100%', 'height': '100%' },
                    pieSliceText: 'none',
                    tooltip: { text: 'value' }
                };

                var chart = new google.visualization.PieChart(document.getElementById('piechart1'));
                chart.draw(data, options);
            }
        });
    }

    function AddMoolahCoreColor(yes, verified) {
        if (yes) {
            if (verified)
                return '#3BB54A';
            else
                return '#95C83C';
        }
        else {
            if (verified)
                return '#828282';
            else
                return '#BFBFBF';
        }
    }

    function AddMoolahPeriColor(yes, verified) {
        if (yes) {
            if (verified)
                return '#F7971D';
            else
                return '#FECA0A';
        }
        else {
            if (verified)
                return '#828282';
            else
                return '#BFBFBF';
        }
    }

</script>

@Html.HiddenFor(m => m.LoanOffers.LoanRequestID, new { @id = "hdnLoanRequest" })
@Html.HiddenFor(m => m.LoanRequest.Term, new { @id = "hdnTerm" })
@Html.HiddenFor(m => m.LoanOffers.LoanStatus, new { @id = "hdnLoanStatus" })
@Html.HiddenFor(m => m.AccountDetails.BussinessName, new { @id = "hdnBussinessName" })

<div style="background-color: #fff; padding: 10px;">
    <h3 style="background-color: #3B8FD7; color: #fff; padding: 3px; text-align: center; margin: 0">Summary</h3>
    <div id="wish">
        <div class="clear">
            <div class="clearfix" style="float: left;">
                <div class="loan_wish">
                    <div id="backgroundPopup" class="molahcoreperipopup"></div>
                    @if (String.IsNullOrEmpty(Model.LogoImage))
                    {
                        <img src="@Url.Content("~/Content/Images/loan_user.png")" />
                    }
                    else
                    {
                        <img src="@Url.Content("~/Content/Uploads/Userdocuments/" + Model.LogoImage)" />
                    }

                </div>
                <div class="br_profile_main">
                    <div class="br_profile">
                        <div class="profile_txt_in">
                            <div class="profile_txt"><span style="font-weight: bold">Business Name:</span></div>
                            <div class="profile_txt_val"><span id="spName">@Model.AccountDetails.BussinessName</span></div>
                        </div>
                        <div class="profile_txt_in">
                            <div class="profile_txt"><span style="font-weight: bold">Business Registration Number:</span></div>
                            <div class="profile_txt_val">@Model.AccountDetails.BussinessRegistrationNUmber</div>
                        </div>
                        <div class="profile_txt_in">
                            <div class="profile_txt"><span style="font-weight: bold">Business Organisation:</span></div>
                            <div class="profile_txt_val">@Model.AccountDetails.BussinessOrganisation</div>
                        </div>
                        <div class="profile_txt_in">
                            <div class="profile_txt"><span style="font-weight: bold">Nature of Business:</span></div>
                            <div class="profile_txt_val">@Model.AccountDetails.NatureofBussiness</div>
                        </div>
                        <div class="profile_txt_in">
                            <div class="profile_txt"><span style="font-weight: bold">Date of Incorporation:</span></div>
                            <div class="profile_txt_val">@Model.AccountDetails.DateofIncorporation</div>
                        </div>
                        <div class="profile_txt_in">
                            <div class="profile_txt"><span style="font-weight: bold">Paid Up Capital:</span></div>
                            <div class="profile_txt_val">@(acc.PaidUpCapital.ToCurrency())</div>
                        </div>
                    </div>
                </div>
                <div style="clear: both; float: left; margin-top: 19px">
                    <p style="margin-left: 0"><b>Detailed Company Profile</b></p>
                    <textarea style="width: 470px;height:100px" readonly="true">@loan.DetailedCompanyProfile</textarea>
                </div>
            </div>
            <div class="profile_rgt">
                <div class="profile_rgt_inner">
                    <div class="ind_tbl sum-graph-tbl">
                        <div class="ind_row">
                            <div class="ind_col ">
                                <p class="ind_title">
                                    MoolahCore
                                <img src="~/Content/images/MoolahIndicator/QuestionMark.jpg" class="help_img" title="<Chart description goes here>" />
                                </p>
                            </div>
                            <div class="ind_col">
                                <p class="ind_title">
                                    MoolahPeri &nbsp;
                                <img src="~/Content/images/MoolahIndicator/QuestionMark.jpg" class="help_img" title="<Chart description goes here>" />
                                </p>
                            </div>
                        </div>
                        <div class="ind_row">
                            <div class="ind_col">
                                &nbsp;
                            <div id="piechart">
                            </div>
                            </div>
                            <div class="ind_col">
                                &nbsp;
                            <div id="piechart1">
                            </div>
                            </div>
                        </div>
                        <div class="ind_row">
                            <div class="ind_col">
                                <div class="ind_tbl lgd_main">
                                    <div class="ind_row">
                                        <div class="lgd_col">
                                            <img class="lgd_img" src="~/Content/images/MoolahIndicator/DarkGreen.png" />
                                        </div>
                                        <div class="lgd_col">Indicator = Yes - Verified</div>
                                    </div>
                                    <div class="ind_row">
                                        <div class="lgd_col">
                                            <img class="lgd_img" src="~/Content/images/MoolahIndicator/LightGreen.png" />
                                        </div>
                                        <div class="lgd_col">Indicator = Yes - Unverified</div>
                                    </div>
                                    <div class="ind_row">
                                        <div class="lgd_col">
                                            <img class="lgd_img" src="~/Content/images/MoolahIndicator/DarkGrey.png" />
                                        </div>
                                        <div class="lgd_col">Indicator = No - Verified</div>
                                    </div>
                                    <div class="ind_row">
                                        <div class="lgd_col">
                                            <img class="lgd_img" src="~/Content/images/MoolahIndicator/LightGrey.png" />
                                        </div>
                                        <div class="lgd_col">Indicator = No - Unverified</div>
                                    </div>
                                </div>
                            </div>
                            <div class="ind_col">
                                <div class="ind_tbl lgd_main_mp">
                                    <div class="ind_row">
                                        <div class="lgd_col">
                                            <img class="lgd_img" src="~/Content/images/MoolahIndicator/DarkOrange.png" />
                                        </div>
                                        <div class="lgd_col">Indicator = Disclosed  - Verified</div>
                                    </div>
                                    <div class="ind_row">
                                        <div class="lgd_col">
                                            <img class="lgd_img" src="~/Content/images/MoolahIndicator/LightOrnage.png" />
                                        </div>
                                        <div class="lgd_col">Indicator = Disclosed  - Unverified</div>
                                    </div>
                                    <div class="ind_row">
                                        <div class="lgd_col">
                                            <img class="lgd_img" src="~/Content/images/MoolahIndicator/DarkGrey.png" />
                                        </div>
                                        <div class="lgd_col">Indicator = Undisclosed - Verified</div>
                                    </div>
                                    <div class="ind_row">
                                        <div class="lgd_col">
                                            <img class="lgd_img" src="~/Content/images/MoolahIndicator/LightGrey.png" />
                                        </div>
                                        <div class="lgd_col">Indicator = Undisclosed - Unverified</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="prof_summary">

            <div class="loan_sum">
                <p class="funding_sum_title">Summary </p>
                <div class="loan_inner">
                    <div class="profile_txt_in">
                        <div class="profile_txt"><span style="font-weight: bold">Loan amount :</span> @Model.LoanRequest.Amount.ToCurrency()</div>
                    </div>
                    <div class="profile_txt_in">
                        <div class="profile_txt"><span style="font-weight: bold">Target rate :</span> @Model.LoanRequest.EIR %</div>
                    </div>
                    <div class="profile_txt_in">
                        <div class="profile_txt"><span style="font-weight: bold">Tenor :</span> @Model.LoanRequest.Term M  </div>
                    </div>
                    <div class="profile_txt_in">
                        <div class="profile_txt"><span style="font-weight: bold">Loan Purpose :</span> @Model.LoanRequest.LoanPurpose</div>
                    </div>
                </div>
                <div class="clear" style="height: 12px"></div>
                <p>MoolahSense History</p>
                <div class="loan_inner">
                    <div class="profile_txt_in">
                        <div class="profile_txt"><span style="font-weight: bold">Loan requested:</span> @Model.LoanRequest.LoanRequested</div>
                    </div>
                    <div class="profile_txt_in">
                        <div class="profile_txt"><span style="font-weight: bold">Loan funded</span> : @Model.LoanRequest.LoanFunded.ToCurrency()</div>
                    </div>
                    <div class="profile_txt_in">
                        <div class="profile_txt"><span style="font-weight: bold">Loan amount</span> : @Model.LoanRequest.LoanAmount.ToCurrency()</div>
                    </div>
                    <div class="profile_txt_in">
                        @*<div class="profile_txt_in"><span style="font-weight: bold">Outstanding amount</span> : @Math.Round(Convert.ToDecimal(Model.LoanRequest.OutstandingAmount), 2)</div>*@
                        <div class="profile_txt_in"><span style="font-weight: bold">Outstanding amount</span> : @Model.LoanRequest.OutstandingAmount.ToCurrency()</div>
                    </div>

                </div>
            </div>
            <div class="fund_sum">
                <p>Funding Summary</p>
                <div class="fund_sum_inner">
                    <div class="prof_summary">
                        <div class="profile_txt_inner">

                            <div id="progressbar"></div>
                        </div>
                        @Html.HiddenFor(model => model.LoanOffers.LoanFunded, new { @id = "LoanFundedPercentage" })
                        <div class="profile_txt_new" style="width: 150px;">[@Model.LoanOffers.LoanFunded ] % funded</div>
                    </div>
                    <div class="prof_summary">
                        <div class="profile_txt_inner">No. of Unique Bidders:</div>
                        <div class="profile_txt_new">[@Model.LoanOffers.UniqueBidders ]</div>
                    </div>
                    <div class="prof_summary">
                        <div class="profile_txt_inner">Highest Rate From Qualified Bids  : </div>
                        <div class="profile_txt_new">[@Model.LoanOffers.Highestrate ]</div>
                    </div>
                    <div class="prof_summary">
                        <div class="profile_txt_inner">Lowest Rate From Qualified Bids : </div>
                        <div class="profile_txt_new">[ @Model.LoanOffers.Lowestrate ]</div>
                    </div>
                    <div class="prof_summary">
                        <div class="profile_txt_inner">Weighted average Rate of Qualified Bids :</div>
                        <div class="profile_txt_new">[@Model.LoanOffers.Averagerate ]</div>
                    </div>
                    <div class="prof_summary">
                        <div class="profile_txt_inner">Time Left</div>
                        <div class="profile_txt_new" style="width: 105px;">[@Model.LoanOffers.days] d [ @Model.LoanOffers.Hours] h [ @Model.LoanOffers.minutest] m</div>
                    </div>
                </div>
                <div class="loanoffers" style="height: 110px; overflow-y: scroll; width: 770px;">
                    <table>

                        <tr>
                            <th style="width: 1%;">Date</th>
                            <th style="width: 1%;">Investor</th>
                            <th style="width: 1%;">Amount</th>
                            @if (Model.LoanOffers.LoanStatus > 1)
                            {<th style="width: 1%;">Amount Allocated</th> }
                            <th style="width: 1%;">Rate</th>

                        </tr>
                        @if (Model.offersbyInvesotr != null && Model.offersbyInvesotr.Count > 0)
                        {


                            foreach (var item in Model.offersbyInvesotr)
                            {
                            <tr>

                                <td style="text-align: center;">@item.OfferDate.ToDateTime()</td>
                                <td style="text-align: center;">&nbsp; @item.UserName </td>
                                <td style="text-align: center;" class="formatCurrency">@item.Amount.ToCurrency()</td>
                                @if (Model.LoanOffers.LoanStatus > 1)
                                {<td style="text-align: center;" class="formatCurrency">@item.AcceptedAmount.ToCurrency()</td>}
                                <td style="text-align: center;">@item.OfferRate %</td>
                            </tr>
                            }

                        }
                        else
                        {
                            <tr>
                                <td colspan="3">No offers found yet.</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

