﻿@using MoolahConnectnew.ViewModels.Admin
@{
    ViewBag.Title = "ManuallyTransferFunds";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@model FundsTransferViewModel

@using (Html.BeginForm("ManuallyTransferFunds", "Admin", FormMethod.Post))
{
    <table>
        <tr>
            <td>@Html.LabelFor(m => m.Username)</td>
            <td>@Html.TextBoxFor(m => m.Username)</td>
            <td>@Html.ValidationMessageFor(m => m.Username)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Description)</td>
            <td>@Html.TextAreaFor(m => m.Description)</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>@Html.DropDownListFor(m => m.IsDebit,
    new List<SelectListItem>() { 
        new SelectListItem(){Text = "Debit",Value = "true",Selected = true},
    new SelectListItem(){Text = "Credit",Value = "false"}})</td>
            <td></td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Amount)</td>
            <td>@Html.TextBoxFor(m => m.Amount)</td>
            <td>@Html.ValidationMessageFor(m => m.Amount)</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Submit" /></td>
            <td style="color:red">@ViewData["Error"]</td>
        </tr>
    </table>
}
<div>
</div>
