﻿@using MoolahConnect.Util.ExtensionMethods
@using MoolahConnect.Util.Enums
@model MoolahConnectnew.ViewModels.LoanRequestBoardViewModel
@{
    ViewBag.Title = "MoolahBoard";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div style="background-color: #fff; padding: 10px;">
    <h3 style="background-color: #3B8FD7; color: #fff; padding: 3px; text-align: center; margin: 0">MoolahBoard</h3>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="text-align: center">
        <thead>
            <tr style="padding: 3px;">
                <th style="padding: 3px">Company name </th>
                <th>Purpose  </th>
                <th>Amount </th>
                <th>Tenor</th>
                <th>Target Rate</th>
                <th>Time Left</th>
                <th>% Funded</th>
                <th>Detail</th>
            </tr>
        </thead>
        <tbody>

            @if (Model.LoanRequestViewModels != null && Model.LoanRequestViewModels.Count > 0)
            {
                foreach (var item in Model.LoanRequestViewModels)
                {      
                <tr>
                    <td style="padding: 3px">@item.CompanyName</td>
                    <td><span>

                        @if (Request.IsAuthenticated)
                        {
                            @Html.ActionLink(item.LoanPurpose, "BorrowerNoteDetails", "Note", new { noteRequestID = item.RequestId }, null)
                        }
                        else
                        {
                            <a style="cursor: pointer;" onclick="loadPopup('LoginInformation', 'bg');">@item.Reference</a>
                        }
                        <br />
                        @item.RegisteredAddress</span></td>

                    <td>@item.Amount.ToCurrency()</td>
                    <td>@item.Term Months</td>
                    <td>@item.Rate %</td>
                    <td>
                        @if (item.PreliminaryStatus == (int)PreliminaryLoanRequestStatus.DraftPublished)
                        {
                            @:[@item.Days]<span> d</span> [@item.Hours] <span>h</span> [@item.Minutes] <span>m</span>
                    	}
                        else
                        {
                            @:NA
                        }

                    </td>
                    <td>
                        @item.Funded %</td>
                    <td><a href="@Url.Action("BorrowerNoteDetails","Note", new { noteRequestID = item.RequestId })">Detail</a></td>

                </tr>      
                }
            }
        </tbody>
    </table>
</div>
<script>

    $(document).ready(function () {
        $(".formatCurrency").formatCurrency();
    })
</script>
