﻿@using System.Globalization
@using MoolahConnect.Util.ExtensionMethods
@model  IEnumerable<MoolahConnectnew.ViewModels.Borrower.LoanViewModel>
@{
    Layout = null;
}

<style>
    .bg_col
    {
        background-color: #1E90FF;
        color: #ffffff;
    }

        .bg_col th
        {
            padding-top: 5px;
            padding-bottom: 5px;
        }
</style>
<div style="display: none">
    <div id="repaymentSchedule">
    </div>
</div>
<div id="content">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
            <tr>
                <td>
                    <select id="TermOut">
                        <option value="0" selected="selected">All</option>
                        <option value="1">Current Month</option>
                        <option value="2">Last 3 Months</option>
                        <option value="3">Last 6 Months</option>
                        <option value="4">Last 9 Months</option>
                        <option value="5">Last 12 Months</option>
                    </select>
                    &nbsp;
                <button id="btnSearchOut" value="Search">Search</button>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="margin-top: 15px">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                                <tr>
                                    <td>
                                        <table class="" align="center" border="0" cellpadding="0" cellspacing="0" width="100% !important">
                                            <tbody>
                                                <tr>
                                                    <td colspan="2" style="margin: 0px 0px 0px 3px;" align="center">
                                                        <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <div style="margin-left: 2px; text-align: left">
                                                                            <table width="100%" align="left" border="0" cellpadding="0" cellspacing="0">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td>
                                                                                            <div style="margin-bottom: 5px; text-align: left">
                                                                                                <tr class="bg_col">
                                                                                                    <th class="bdr_bottom">Loan Ref No&nbsp;</th>
                                                                                                    <th class="bdr_bottom">Account No&nbsp;</th>
                                                                                                    <th class="bdr_bottom">Company Name&nbsp;</th>
                                                                                                    <th class="bdr_bottom">Start Date&nbsp;</th>
                                                                                                    <th class="bdr_bottom">End Date&nbsp;</th>
                                                                                                    <th class="bdr_bottom">Loan Amount&nbsp;</th>
                                                                                                    <th class="bdr_bottom">Rate&nbsp;</th>
                                                                                                    <th class="bdr_bottom">Mths Till Maturity&nbsp;</th>
                                                                                                    <th class="bdr_bottom">Total Amount Paid&nbsp;</th>
                                                                                                    <th class="bdr_bottom">Total Interest Paid&nbsp;</th>
                                                                                                    <th class="bdr_bottom">Repayment Schedule&nbsp;</th>
                                                                                                </tr>
                                                                                            </div>
                                                                                            <tbody id="tbAllocateLoan">
                                                                                                @if (Model != null)
                                                                                                {
                                                                                                    foreach (var item in Model)
                                                                                                    {
                                                                                                    <tr>
                                                                                                        <td>
                                                                                                            @Html.ActionLink(item.RequestId.ToString(), "BorrowerNoteDetails", "Note", new { noteRequestID = item.RequestId }, null)
                                                                                                        </td>
                                                                                                        <td>
                                                                                                            @item.AccountNumber &nbsp;
                                                                                                        </td>
                                                                                                        <td>
                                                                                                            @item.CompanyName &nbsp;
                                                                                                        </td>
                                                                                                        <td>
                                                                                                            @item.StartDate.ToDate() &nbsp;
                                                                                                        </td>
                                                                                                        <td>
                                                                                                            @item.MaturityDate.ToDate() &nbsp;
                                                                                                        </td>
                                                                                                        <td>
                                                                                                            @item.Amount.ToString("N", CultureInfo.InvariantCulture) &nbsp;
                                                                                                        </td>
                                                                                                        <td>
                                                                                                            @item.Rate &nbsp;
                                                                                                        </td>
                                                                                                        <td>
                                                                                                            @item.MonthsTillMaturity &nbsp;
                                                                                                        </td>
                                                                                                        <td>
                                                                                                            @item.AmountPaidTillDate.ToString("N", CultureInfo.InvariantCulture) &nbsp;
                                                                                                        </td>
                                                                                                        <td>
                                                                                                            @item.InterestPaidTillDate.ToString("N", CultureInfo.InvariantCulture) &nbsp;
                                                                                                        </td>
                                                                                                        <td>
                                                                                                            <a href="Javascript:DisplayRepaymentSchedule(@item.RequestId, @item.Amount,@item.Rate,@item.Tenor,'@item.StartDate.ToShortDateString()');">Details</a>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    }
                                                                                                }
                                                                                                else
                                                                                                {
                                                                                                    <tr>
                                                                                                        <td colspan="15">No records found.
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                }
                                                                                            </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td height="5"></td>
                                                </tr>
                                                <tr>
                                                    <td align="center" height="20">&nbsp;
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" height="5"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        var selectedTerm = "@ViewData["TimePeriod"]";
        if (selectedTerm != undefined || selectedTerm != '') {
            $('#TermOut').val(selectedTerm);
        }

        $('#btnSearchOut').click(function () {
            var term = $('#TermOut').val();
            $('#content').empty();
            $('#content').load("/Admin/OutstandingLoans?timePeriod=" + term);
        });

    });

    function DisplayRepaymentSchedule(requestId, amount, rate, term, startDate) {
        $('#repaymentSchedule').empty();
        $('#repaymentSchedule').load("/Shared/_RepaymentSchedule?requestID=" + requestId + "&amount=" + amount + "&rate=" +
            rate + "&term=" + term + "&startDate=" + startDate, function () {
                var content = $('#repaymentSchedule').html();
                bootbox.alert(content).addClass("bootbox-largeWidth").find("modal-dialog").addClass("bootbox-model-largeHeight");
            });

    }
</script>
