﻿@using MoolahConnect.Util.ExtensionMethods;

<div id="divError" class="alert alert-danger"></div>
<table>
    <tr>
        <td>Admin</td>
        <td>
            <select id="adminUserRep" class="wish_list_in" style="width: 200px !important">
                @foreach (var user in ViewBag.AdminUsers)
                {
                    <option value="@user">@user</option>
                }
            </select>

        </td>
    </tr>
    <tr>
        <td>&nbsp;Password &nbsp;
        </td>
        <td>
            <input type="password" id="passRep" class="wish_input" />
        </td>
    </tr>
    <tr>
        <td>Status
        </td>
        <td>
            <select id="statusRep" class="wish_list_in">
                <option value="2">Late</option>
                <option value="3">Default</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>&nbsp;Date &nbsp;
        </td>
        <td>
            <input type="text" class="wish_input" id="dateRepPaid">
        </td>
    </tr>
    <tr>
        <td>&nbsp;Comments &nbsp;
        </td>
        <td>
            <textarea id="txtComment">
            </textarea>
        </td>
    </tr>
</table>


<script type="text/javascript">

    $(document).ready(function () {
        $('#divError').hide();
        $("#dateRepPaid").datepicker({ maxDate: 0, dateFormat: 'mm\/dd\/yy' });
    });

    function btnRepDetSubmit_Clicked() {

        $.getJSON("/Admin/UpdateRepaymentDetails", {
            requestId: '@ViewBag.RequestId',
            repaymentId: '@ViewBag.repaymentId',
            status: $('#statusRep').val(),
            adminUsername: $('#adminUserRep').val(),
            adminPassword: $('#passRep').val(),
            comment: $('#txtComment').val(),
            date: $('#dateRepPaid').val(),
        }
            , function (data) {
                if (data.Status == "Succeed") {
                    document.location.href = "/Admin/AcceptedLoans?tab=3";
                }
                else {
                    $('#divError').html(data.Error);
                    $('#divError').show();
                }
            });
    }

</script>
