﻿@using System.Globalization
@using MoolahConnect.Util.ExtensionMethods
@using MoolahConnect.Util.Enums
@model  IEnumerable<MoolahConnectnew.ViewModels.LoanRepaymentViewModel>
@{
    Layout = null;
}

<style>
    .bg_col {
        background-color: #1E90FF;
        color: #ffffff;
    }

        .bg_col th {
            padding-top: 5px;
            padding-bottom: 5px;
        }
</style>
<div id="contentRep">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
            <tr>
                <td>
                    <select id="TermRep">
                        <option value="0" selected="selected">All</option>
                        <option value="1">Current Month</option>
                        <option value="2">Last 3 Months</option>
                        <option value="3">Last 6 Months</option>
                        <option value="4">Last 9 Months</option>
                        <option value="5">Last 12 Months</option>
                    </select>
                    &nbsp;
                <button id="btnSearchRep" value="Search">Search</button>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="margin-top: 15px">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                                <tr>
                                    <td>
                                        <table class="" align="center" border="0" cellpadding="0" cellspacing="0" width="100% !important">
                                            <tbody>
                                                <tr>
                                                    <td colspan="2" style="margin: 0px 0px 0px 3px;" align="center">
                                                        <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <div style="margin-left: 2px; text-align: left">
                                                                            <table width="100%" align="left" border="0" cellpadding="0" cellspacing="0">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td>
                                                                                            <div style="margin-bottom: 5px; text-align: left">
                                                                                                <tr class="bg_col">
                                                                                                    <th class="bdr_bottom">Loan Ref No&nbsp;</th>
                                                                                                    <th class="bdr_bottom">Account No&nbsp;</th>
                                                                                                    @*<th class="bdr_bottom">Company Name&nbsp;</th>
                                                                                                    <th class="bdr_bottom">Start Date&nbsp;</th>
                                                                                                    <th class="bdr_bottom">End Date&nbsp;</th>*@
                                                                                                    <th class="bdr_bottom">Loan Amount&nbsp;</th>
                                                                                                    <th class="bdr_bottom">Rate&nbsp;</th>
                                                                                                    @*<th class="bdr_bottom">Mths Till Maturity&nbsp;</th>*@
                                                                                                    <th class="bdr_bottom">Rep Date&nbsp;</th>
                                                                                                    <th class="bdr_bottom">Days(s) Late&nbsp;</th>
                                                                                                    @*<th class="bdr_bottom">Comments&nbsp;</th>*@
                                                                                                    <th class="bdr_bottom">Rep Amount&nbsp;</th>
                                                                                                    <th class="bdr_bottom">Status&nbsp;</th>
                                                                                                    <th>Accrued Interest</th>
                                                                                                    <th>Late Fees</th>                                                                                                    
                                                                                                    <th>Paid Amount</th>
                                                                                                    <th class="bdr_bottom"></th>
                                                                                                    <th></th>
                                                                                                </tr>
                                                                                            </div>
                                                                                            <tbody id="tbAllocateLoan">
                                                                                                @if (Model != null)
                                                                                                {
                                                                                                    foreach (var item in Model)
                                                                                                    {
                                                                                                    <tr>
                                                                                                        <td>
                                                                                                            @Html.ActionLink(item.LoanId.ToString(), "BorrowerNoteDetails", "Note", new { noteRequestID = item.LoanId }, null)
                                                                                                        </td>
                                                                                                        <td>
                                                                                                            @item.AccountNumber &nbsp;
                                                                                                        </td>
                                                                                                        @*<td>
                                                                                                            @item.CompanyName &nbsp;
                                                                                                        </td>
                                                                                                        <td>
                                                                                                            @item.StartDate.ToDate() &nbsp;
                                                                                                        </td>
                                                                                                        <td>
                                                                                                            @item.EndDate.ToDate() &nbsp;
                                                                                                        </td>*@
                                                                                                        <td>
                                                                                                            @item.Amount.ToString("N", CultureInfo.InvariantCulture) &nbsp;
                                                                                                        </td>
                                                                                                        <td>
                                                                                                            @item.Rate &nbsp;
                                                                                                        </td>
                                                                                                        @*<td>
                                                                                                            @item.MonthsTillMaturity &nbsp;
                                                                                                        </td>*@
                                                                                                        <td>
                                                                                                            @item.RepaymentDate.ToDate() &nbsp;
                                                                                                        </td>
                                                                                                        <td>
                                                                                                            @item.LateDaysCount &nbsp;
                                                                                                        </td>
                                                                                                        @*<td>
                                                                                                            @item.Comment &nbsp;
                                                                                                        </td>*@
                                                                                                        <td>
                                                                                                            @item.MonthlyRepayment.ToString("N", CultureInfo.InvariantCulture) &nbsp;
                                                                                                        </td>
                                                                                                        <td>
                                                                                                            @item.Status &nbsp;
                                                                                                        </td>
                                                                                                        <td>
                                                                                                            @if(item.AccuredInterest != 0)
	                                                                                                        {
                                                                                                              <input type="checkbox" checked="@item.AccuredInterestPaid" disabled="true" />
                                                                                                            }
                                                                                                            @item.AccuredInterest.ToCurrency()</td>
                                                                                                        <td>
                                                                                                            @if (@item.LateFees != 0)
                                                                                                            {
                                                                                                                <input type="checkbox" checked="@item.LateFeesPaid" disabled="true"/>
                                                                                                            }
                                                                                                            @item.LateFees.ToCurrency()</td>
                                                                                                        <td>@item.Paidamount</td>
                                                                                                        <td>
                                                                                                            @if (item.StatusRef != (int)RepaymentPayStatus.Paid)
                                                                                                            {
                                                                                                                <a href="Javascript:InvestorDetails('@item.LoanId','@item.RepaymentId');">Late / Default</a>@:&nbsp;
                                                                                                            }
                                                                                                        </td>
                                                                                                        <td>
                                                                                                            @if (item.StatusRef != (int)RepaymentPayStatus.Paid)
                                                                                                            {
                                                                                                                <a href="Javascript:LoanPayment('@item.LoanId','@item.RepaymentId','@item.RepaymentDate.ToShortDateString()','@item.MonthlyRepayment','@item.Paidamount','@item.AccuredInterest','@item.LateFees','@item.TotalOutstandingRepayments');">Pay</a>@:&nbsp;
                                                                                                            }
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    }
                                                                                                }
                                                                                                else
                                                                                                {
                                                                                                    <tr>
                                                                                                        <td colspan="16">No records found.
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                }
                                                                                            </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td height="5"></td>
                                                </tr>
                                                <tr>
                                                    <td align="center" height="20">&nbsp;
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" height="5"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" id="modelInvestorDetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modelValidatePWLabel">Change Status</h4>
            </div>
            <div id="logo-image-ex" class="modal-body">
                <div id="modelContent">
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnRepDetSubmit" class="btn btn-success" type="button" onclick="btnRepDetSubmit_Clicked();" data-bb-handler="success">Submit</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modelLoanPayment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Loan Payment</h4>
            </div>
            <div class="modal-body">
                <div id="modelLoanPaymentContent">
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnLoanPaymentSubmit" class="btn btn-success" type="button" onclick="btnLoanPaymentSubmitClicked();" data-bb-handler="success">Submit</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script type="text/javascript">

    $(document).ready(function () {

        var selectedTerm = "@ViewData["TimePeriod"]";
        if (selectedTerm != undefined || selectedTerm != '') {
            $('#TermRep').val(selectedTerm);
        }

        $('#btnSearchRep').click(function () {
            var term = $('#TermRep').val();
            $('#contentRep').empty();
            $('#contentRep').load("/Admin/OutstandingRepayments?timePeriod=" + term);
        });

    });

    function InvestorDetails(loanId, repId) {
        $('#modelContent').empty();
        $('#modelContent').load("/Admin/OutstandingRepaymentDetails?requestId=" + loanId + "&repaymentId=" + repId);
        $('#modelInvestorDetails').modal();
    }

    function LoanPayment(loanId, repId, date, repAmount, paidAmount, accrued, lateFees, repOut) {
        $('#modelLoanPaymentContent').empty();
        $('#modelLoanPaymentContent').load("/Admin/_LoanPayment?requestId=" + loanId + "&repaymentId=" + repId
            + "&repaymentDate=" + date + "&repaymentAmout=" + repAmount + "&paidAmount=" + paidAmount + "&accrued=" +
            accrued + "&LateFees=" + lateFees + "&repaymentOutstanding=" + repOut);
        $('#modelLoanPayment').modal();
    }
</script>
