﻿@{
    ViewBag.Title = "ReconcileAccount";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Reconcile</h2>
<div style="padding: 10px;">
    <div class="daterange_div">
    From :
    <input type="text" id="fromDatePickerName">
        To :
    <input type="text" id="toDatePickerName">
        <a href="Javascript:Generate($('#fromDatePickerName').val(),$('#toDatePickerName').val());">
            <input type="button" class="btn btn-primary" value="Generate" /></a>
    </div>
    <br />
    <br />
</div>
<br />
<h2>Internal Accounts</h2>
<div style="padding: 10px;">
    <div class="daterange_div">
    From :
    <input type="text" id="dateFromInteralAcc">
        To :
    <input type="text" id="dateToInternalAcc">
        <a href="Javascript:GenerateInternalAccountsStatment($('#dateFromInteralAcc').val(),$('#dateToInternalAcc').val());">
            <input type="button" class="btn btn-primary" value="Generate" /></a>
    </div>
    <br />
    <br />
</div>
<br />
<h2>Investor and borrower</h2>
<div style="padding: 10px;">
     <a href="Javascript:DownloanInvestors()">
                <input type="button" class="btn btn-primary" value="Download Investor List" /></a>
         &nbsp <input type="checkbox" id="hasBalance" /> Has Acount Balance
</div>

<h2>Matched loan investor details</h2>
<div style="padding: 10px;">
    <span>
    Note ID : <input type="text" id="txtRequestID" />
        &nbsp&nbsp
     <a href="Javascript:GenerateAcceptedInvestorDetails()">
                <input type="button" class="btn btn-primary" value="Download Accepted Offers" />
        
    </a>
        &nbsp&nbsp&nbsp&nbsp
    <a href="Javascript:GenerateRejectedInvestorDetails()">
                <input type="button" class="btn btn-primary" value="Download Rejected Offers" />
        
    </a>
        </span>
</div>

<h2>Loan Investors with Knowledge Assesment Details</h2>
<div style="padding: 10px;">
     Note ID : <input type="text" id="txtKARequestID" />
        &nbsp&nbsp
     <a href="Javascript:GenerateLoanInvestorsWithKADetails()">
                <input type="button" class="btn btn-primary" value="Download" />
        
    </a>
</div>

<h2>Loan Offers and Withdrawal List</h2>
<div style="padding: 10px;">
    Loan Request Id: <input type="text" id="txtloanRequestID" />
    &nbsp&nbsp
    <a href="Javascript:downloadOfferAndWithdrawalList()">
        <input type="button" class="btn btn-primary" value="Download" />

    </a>
</div>

<script>

    $(function () {
        $("#fromDatePickerName").datepicker({ maxDate: 0, dateFormat: 'dd\/mm\/yy' });
        $("#toDatePickerName").datepicker({ maxDate: 0, dateFormat: 'dd\/mm\/yy' });

        $("#dateFromInteralAcc").datepicker({ maxDate: 0, dateFormat: 'dd\/mm\/yy' });
        $("#dateToInternalAcc").datepicker({ maxDate: 0, dateFormat: 'dd\/mm\/yy' });
    });

    function DownloanInvestors() {
        window.location = "/Admin/DownloadInvestors?hasBalance=" + $('#hasBalance').is(':checked');
    }

    function Generate(from, to) {
        window.location = "/Admin/DownloadFile?from=" + from + "&to=" + to;
    }

    function GenerateInternalAccountsStatment(from, to) {
        window.location = "/Admin/DownloadInternalAccountStatement?from=" + from + "&to=" + to;
    }
  function downloadOfferAndWithdrawalList() {
      var requestID = $('#txtloanRequestID').val();

      if (requestID == null || requestID == '') {
          alert("Please enter the requestID");
          return;
      }

      window.location = "/Admin/DownloadOffersAndWithdrawal?requestID=" + requestID;

  }
    function GenerateAcceptedInvestorDetails() {

        var requestID = $('#txtRequestID').val();

        if (requestID == null || requestID == '') {
            alert("Please enter the requestID");
            return;
        }

        window.location = "/Admin/DownloadAcceptedOffers?requestID=" + requestID;
    }

    function GenerateRejectedInvestorDetails() {

        var requestID = $('#txtRequestID').val();

        if (requestID == null || requestID == '') {
            alert("Please enter the requestID");
            return;
        }

        window.location = "/Admin/DownloadRejectedOffers?requestID=" + requestID;
    }

    function GenerateLoanInvestorsWithKADetails() {

        var requestID = $('#txtKARequestID').val();

        if (requestID == null || requestID == '') {
            alert("Please enter the requestID");
            return;
        }

        window.location = "/Admin/GenerateLoanInvestorsWithKADetails?requestID=" + requestID;
    }

</script>
