﻿@model IEnumerable<MoolahConnectnew.ViewModels.Loan.RepaymentMessageViewModel>
<style>
    .table-repayment {
        background-color: transparent;
        text-shadow: none;
        color: #5c5b53;
        font-family: "Roboto";
        font-size: 13px;
        font-weight: 500;
    }

    .table-repayment thead td {
        font-weight: 600;
        padding: 6px;
    }

    .table-repayment tbody td {
        padding: 4px;
    }

    .redelete {
        margin-left: 8px;
    }
</style>
<div style="height: 500px">
    <div id="ctl00_cphAdminMaster_updRegister">
        <table class="TableBorder" align="center" bgcolor="#eeeeee" border="0" cellpadding="0" cellspacing="5" width="100%">
            <tbody>
                <tr bgcolor="#eeeeee">
                    <td colspan="2" height="20"></td>
                </tr>
                <tr>
                    <td align="left">
                        <b>Message</b>
                    </td>
                    <td align="left">
                        <textarea class="wid-300" id="txtrepaymentMessage"></textarea>
                    </td>
                </tr>
                <tr>
                    <td align="left"></td>
                    <td align="left">
                        <input type="button" class="btn-repayment" value="Save" />
                    </td>

                </tr>
            </tbody>
        </table>
        <div style="width: 100%; height: 300px;overflow:auto;overflow-x: hidden">
            <table class="table table-bordered table-repayment">
                <thead>
                    <tr>
                        <td>Message</td>
                        <td>Created Date</td>
                        <td style="width: 130px"></td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    var $tableRepayment = $(".table-repayment tbody");
    var $repaymenttxt = $("#txtrepaymentMessage");
    var RepaymentMessages = [];
    RepaymentMessages = @Html.Raw(Json.Encode(Model));
    var SelectedRepayment = null;
    if (RepaymentMessages == null) {
        RepaymentMessages = [];
    }
    $(function() {
        $(".btn-repayment").on("click", function() {
            if (SelectedRepayment == null) {
                addNewMessage();

            } else {
                SelectedRepayment.Message = $repaymenttxt.val();
                SaveRepayment(SelectedRepayment,function()
                {
                    updateRepaymentTable();
                    clearRepayament();
                });
            }

        });
        $(document).on("click", ".reedit", function()
        {
            _id = $(this).parent().parent().attr("data-id");
            SelectedRepayment = getRepaymentMessage(eval(_id));
            $repaymenttxt.val(SelectedRepayment.Message);
        });
        $(document).on("click", ".redelete", function () {
            _id = $(this).parent().parent().attr("data-id");

            deleteRepaymentMessage(eval(_id));

        });
        resetRepaymentIds();
        updateRepaymentTable();
    });
    function clearRepayament() {
        $repaymenttxt.val("");
        $repaymenttxt.focus();
        SelectedRepayment = null;
    }
    function SaveRepayment(repaymentMessage,callback) {

        $.post('@Url.Content("SaveRepaymentMessage")', repaymentMessage,function(data,status) {
            if (data.Status == "Succeed") {
                callback(data.RepaymentMessage);
            } else {
                bootbox.alert("Error occure when saving data");
            }
        }).done(function() {

        }).fail(function() {

        });

    }
    function addNewMessage() {
        var RepaymentMessage = {
            id: 0,
            Message: $repaymenttxt.val(),
            RowIndex: getNextMessageId(),
            CreatedDateTime: null,
            State:'New'
        };

        SaveRepayment(RepaymentMessage,function(savedMessage) {

            RepaymentMessage.id = savedMessage.Id;
            RepaymentMessage.CreatedDateTime = savedMessage.CreatedDateTime;
            RepaymentMessages.splice(0,0,RepaymentMessage);
            resetRepaymentIds();
            updateRepaymentTable();
            clearRepayament();
        });

    }
    function deleteRepaymentMessage(messageId) {
        bootbox.confirm("Selected Repayment Message will be deleted", function(result) {
            if (result) {
                _payment = getRepaymentMessage(messageId);
                if(_payment != null) {
                    _payment.State = "Delete";
                    SaveRepayment(_payment,function()
                    {
                        resetRepaymentIds();
                        updateRepaymentTable();
                        clearRepayament();
                    });

                }
            }
        });


    }
    function resetRepaymentIds() {
        var index = 1;
        RepaymentMessages.forEach(function (item, e) {
            item.RowIndex = index;
            index++;
        });
    }
    function getRepaymentMessage(messageId) {
        var repaymentMessage = null;
        RepaymentMessages.forEach(function (item, e) {
            if (item.RowIndex == messageId) {
                repaymentMessage = item;

            }
        });
        return repaymentMessage;
    }
    function updateRepaymentTable() {

        $tableRepayment.empty();
        RepaymentMessages.forEach(function (item, a) {
            if (item.State != "Delete"){
                var row = $("<tr data-id='" + item.RowIndex + "'></tr>");
                row.append(CreateCel(item.Message));
                row.append(CreateCel(item.CreatedDateTime));
                row.append(CreateActionCel("reedit","redelete"));
                $tableRepayment.append(row);
            }
        });
        //$hpersonGuarantee.val(JSON.stringify(PersonGuarantees));
    }
    function getNextMessageId() {
        if (RepaymentMessages.length == 0) return 1;
        return RepaymentMessages[RepaymentMessages.length - 1].id + 1;
    }


</script>