﻿@{
    ViewBag.Title = "TransactionSucceeded";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center;color:green">Transaction Succeeded</h2>
<span style="padding-left: 600px;"><a href="@Url.Action("ManuallyTransferFunds")">Go back for another transfer</a></span>
