﻿@using MoolahConnect.Util.ExtensionMethods
@model MoolahConnectClassLibrary.Models.ViewModels.AdminUsersList

@Styles.Render("~/Content/css/bootstrap.min.css")
@Styles.Render("~/Content/css/simplePagination.css")
@Scripts.Render("~/Scripts/jquery.simplePagination.js")
@{
    ViewBag.Title = "UserList";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div id="backgroundPopup" class="molahcoreperipopup"></div>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="98%">
    <tbody>
        <tr style="background-color: rgb(223, 223, 223);">
            <td>
                <br>
            </td>
        </tr>
        <tr>
            <td>
                <table bgcolor="#860509" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                        <tr style="background-color: rgb(59, 143, 215);">
                            <td width="12">
                                <img src="Images/corner_boxleft.gif" border="0" width="12" height="24">
                            </td>
                            <td class="tableTitle" style="background-color: rgb(59, 143, 215);" colspan="2">
                                <asp:literal id="ltPageHeading" runat="server"></asp:literal>
                            </td>
                            <td width="12">
                                <img src="Images/corner_boxRight.gif" border="0" width="12" height="24">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>

        <tr bgcolor="#ffffff">
            <td>
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="98%">
                    <tbody>
                        <tr style="height: 80px">
                            <td>
                                <div class="form-inline">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <label class="sr-only" for="txtusername">User Name</label>
                                            <input type="text" class="form-control " id="txtusername">
                                            <label class="sr-only" for="txtdisplayname">Display Name</label>
                                            <input type="text" class="form-control" id="txtdisplayname">
                                            <label class="sr-only" for="txtfullname">Full Name</label>
                                            <input type="text" class="form-control" id="txtfullname">
                                            <label class="sr-only" for="txtbusinessname">Business Name</label>
                                            <input type="text" class="form-control" id="txtbusinessname">

                                        </div>
                                      <div class="input-group" style="margin-top: 4px">
                                            <label class="sr-only" for="txtnric">NRIC\FIN&nbsp;&nbsp;&nbsp;</label>
                                            <input type="text" class="form-control" id="txtnric">
                                            <input type="button" class="btn btn-primary search" value="Search" />
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table class="" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td class="RowHeader" align="center" width="99%">
                                                <table style="background-color: rgb(59, 143, 215);" border="0" cellpadding="0" cellspacing="0"
                                                       width="100%">
                                                    <tbody>
                                                        <tr style="background-color: rgb(59, 143, 215);">
                                                            <td width="12">
                                                                <img src="Images/corner_boxleft.gif" border="0" width="12" height="24">
                                                            </td>
                                                            <td class="RowHeader" colspan="2" style="background-color: rgb(59, 143, 215);" align="center">
                                                                Users List
                                                            </td>
                                                            <td width="12">
                                                                <img src="Images/corner_boxRight.gif" border="0" width="12" height="24">
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" style="margin: 0px 0px 0px 3px;" align="center">
                                                <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <div style="margin-left: 2px; text-align: left">
                                                                    <table width="100%" align="left" border="0" cellpadding="0" cellspacing="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>
                                                                                    <div style="margin-left: 2px; text-align: left">
                                                                            <tr class="bg_col">
                                                                                <th class="bdr_bottom" style="width: 150px;">Created Date</th>
                                                                                <th class="bdr_bottom">UserName</th>
                                                                                <th class="bdr_bottom">Full Name</th>
                                                                                <th class="bdr_bottom">Display Name</th>
                                                                                <th class="bdr_bottom">NRIC/FIN</th>
                                                                                <th class="bdr_bottom">Business Name</th>
                                                                                <th class="bdr_bottom">User Role </th>
                                                                                <th class="bdr_bottom">Type</th>
                                                                                <th class="bdr_bottom">Account No</th>
                                                                                <th class="bdr_bottom">Verification</th>
                                                                                <th class="bdr_bottom">Locked</th>
                                                                                <th class="bdr_bottom">Submitted</th>
                                                                                <th class="bdr_bottom">Available Balance</th>
                                                                                <th class="bdr_bottom">Add Balance</th>
                                                                                <th class="bdr_bottom">FundTransfer</th>
                                                                                <th class="bdr_bottom">Verification</th>
                                                                                <th class="bdr_bottom">Dig Signature</th>
                                                                            </tr>
                                                                        <tbody id="tbAllocateLoan">
                                                                            @if (Model.UserListAdmin.Count > 0)
                                                                            {
                                                                                foreach (var item in Model.UserListAdmin)
                                                                                {

                                                                                    <tr>
                                                                                        <td align="left">@item.CreatedDate.ToDateTime() </td>
                                                                                        <td align="left"><a>@item.UserName</a></td>
                                                                                        <td align="left"><a>@item.FullName</a></td>
                                                                                        <td align="left">@item.DisplayName </td>
                                                                                        <td align="left">@item.NRIC </td>
                                                                                        <td align="left">@item.BusinessName </td>
                                                                                        <td align="left">@item.UserRole </td>
                                                                                        <td align="left">@item.UserType </td>
                                                                                        <td align="left">@item.AccountNo</td>
                                                                                        @if (item.AdminVerification == null)
                                                                                        {
                                                                                            <td align="left">Pending</td>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <td align="left">@item.AdminVerification</td>
                                                                                        }
                                                                                        <td align="left">
                                                                                            @if (item.IsLocked)
                                                                                            {
                                                                                                @:Yes
                                                                                            }
                                                                                            else
                                                                                            {
                                                                                                @:No
                                                                                            }
                                                                                        </td>
                                                                                        <td align="left">@item.IsSubmitted</td>
                                                                                        <td align="left">@item.AvailableBalance</td>

                                                                                        @if (item.UserRole != "Admin")
                                                                                        {
                                                                                            <td><a onclick="ShowAddBalancePopup(@item.UserID)" title="click to Add Balance" style="cursor:pointer">Add Balance</a></td>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <td>-</td>
                                                                                        }
                                                                                        <td><a onclick="ShowFundTransferPopup(@item.UserID)" title="click to Fund Transfer" style="cursor:pointer">Transfer</a></td>
                                                                                        <td>@Html.ActionLink("Edit", "Userverification", new { role = item.UserRole, Userid = item.UserID })</td>
                                                                                        <td align="left">
                                                                                            @if (item.DigitalSignature != null)
                                                                                            {
                                                                                                <a href="Javascript:alert('@item.DigitalSignature');">Show </a>
                                                                                            }
                                                                                        </td>


                                                                                    </tr>
                                                                                }
                                                                            }
                                                                            else
                                                                            {

                                                                                <tr>
                                                                                    <td colspan="15">
                                                                                        No Request Found or Time expires for your request(s).
                                                                                    </td>
                                                                                </tr>

                                                                            }
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="5"></td>
                                        </tr>
                                        <tr>
                                            <td align="center" height="20">
                                                &nbsp;
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" height="5"></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<br />
<div style="width: 100%">
    <div class="offset5">
        <div id="Paginationdiv"></div>
    </div>


</div>
@*<div class="payment" style="display: none" id="dvEditRate">
        <h4>Add Balance</h4>
        <div class="clear"></div>
        <div class="close_btn">
            <a onclick="javascript:disablePopupLoan('dvEditRate','molahcoreperipopup');">
                <img width="14" height="14" alt="#" src="~/Content/images/close_btn.png"></a>
        </div>
        <div class="payment_in">
            <div class="fl">
                Amount :
                <input id="txtBalance" type="text" placeholder="XX.XX" />
                <div class="clear"></div>

                <input type="button" style="margin-left: 120px; margin-top: 8px; margin-bottom: 2px; color: #71528D" onclick="AddBalance(document.getElementById('txtBalance').value)" value="Submit" />

            </div>

        </div>

    </div>*@

<div class="modal fade" id="modelAddBalance" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add Balance</h4>
            </div>
            <div class="modal-body">
                <div id="modelmodelAddBalanceContent">
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnAddBalance" class="btn btn-success" type="button" onclick="AddBalance(addBalanceModelCallback);" data-bb-handler="success">Submit</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modelFundTransfer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Fund Transfer</h4>
            </div>
            <div class="modal-body">
                <div id="modelmodelFundTransferContent">
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnFundTransfer" class="btn btn-success" type="button" onclick="FundTransfer(FundTransferCallBack);" data-bb-handler="success">Submit</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script type="text/javascript">
    var $userName = $("#txtusername");
    var $displayName = $("#txtdisplayname");
    var $businessName = $("#txtbusinessname");
    var $nric = $("#txtnric");
    var $fullName = $("#txtfullname");
    $(function() {


        $userName.bind("keypress", keypressSearch);
        $displayName.bind("keypress", keypressSearch);
        $businessName.bind("keypress", keypressSearch);
        $nric.bind("keypress", keypressSearch);
        $fullName.bind("keypress", keypressSearch);

        $(".search").bind("click", function() {
            currentPageNo = 0;
            getUsers(role, currentPageNo, $userName.val(), $displayName.val(), $businessName.val(), $nric.val(),$fullName.val());
            paginationCleanUp();

        });
        $("#Paginationdiv").pagination({
            items: @ViewBag.TotalPages,
            itemsOnPage: @ViewBag.PageSize,
            cssStyle: 'light-theme',
            onPageClick: PageClickEvent

        });
    });
    function keypressSearch(e) {

        if (e.keyCode == 13) {
            currentPageNo = 0;

            getUsers(role, currentPageNo, $userName.val(), $displayName.val(), $businessName.val(), $nric.val(),$fullName.val());
            paginationCleanUp();
        }
    }
    function ShowAddBalancePopup(UserID) {

        $('#modelmodelAddBalanceContent').empty();
        $('#modelmodelAddBalanceContent').load("/Admin/_AddBalance?UserID=" + UserID);
        $('#modelAddBalance').modal();

    }

    function ShowFundTransferPopup(UserID) {

        $('#modelmodelFundTransferContent').empty();
        $('#modelmodelFundTransferContent').load("/Admin/_FundTransfer?UserID=" + UserID);
        $('#modelFundTransfer').modal();

    }

    var currentPageNo = 0;
    var pageSize=  @ViewBag.PageSize;
    var role = '@Request.QueryString["role"]';
    function PageClickEvent(pageNumber, eve) {

        currentPageNo = pageNumber - 1;
        getUsers(role,currentPageNo,$userName.val(),$displayName.val(),$businessName.val(),$nric.val(),$fullName.val());
    }

    function paginationCleanUp() {
        $("#Paginationdiv").pagination('drawPage', 1);

    }


    function getUsers(role,currentPage,username,displayname,bussinessname,nric,fullname) {

        var editLink = '@Html.ActionLink("Edit", "Userverification")';
        var url = '@Url.Action("GetUserList")' + '?role='+role+'&currentPage=' + currentPage +"&userName="+encodeURIComponent(username)+
            "&displayName="+encodeURIComponent(displayname)+"&bussinessName="+encodeURIComponent(bussinessname)+"&nric="+encodeURIComponent(nric)+"&fullName="+encodeURIComponent(fullname);

        $('#mask').showLoading();
        $.getJSON(url, function(data) {

            var table = $("#tbAllocateLoan").empty();
            var recount = 0;
            if (data.length > 0)
                recount = data[0].RecordCount;

            $("#Paginationdiv").pagination('updateItems', recount);
            data.forEach(function(index, a) {

                var href = $(editLink).attr("href");
                href = href + "?role=" + role + "&Userid=" + index.UserID;
                var row = $("<tr></tr>");
                row.append(getTdValue(index.CreatedDate));
                row.append(getTdValue(index.UserName));
                row.append(getTdValue(index.FullName));
                row.append(getTdValue(index.DisplayName));
                row.append(getTdValue(index.NRIC));
                row.append(getTdValue(index.BusinessName));
                row.append(getTdValue(index.UserRole));
                row.append(getTdValue(index.UserType));
                row.append(getTdValue(index.AccountNo));
                row.append(getTdValue(index.AdminVerification == null ? "Pending" : index.AdminVerification));
                row.append(getTdValue(index.IsLocked == true ? "Yes" : "No"));
                row.append(getTdValue(index.IsSubmitted));
                row.append(getTdValue(index.AvailableBalance == null ? "" : index.AvailableBalance));

                if (index.UserRole != "Admin") {
                    row.append(getTdValue("<a onclick = 'ShowAddBalancePopup(" + index.UserID + ");' title='click to Add Balance' style='cursor:pointer'>Add Balance</a>"));
                } else {
                    row.append(getTdValue("-"));
                }
                row.append(getTdValue("<a onclick = 'ShowFundTransferPopup(" + index.UserID + ");' title='click to Fund Transfer' style='cursor:pointer'>Fund Transfer</a>"));
                row.append(getTdValue("<a href = '" + href + "'>Edit</a>"));
                row.append(getTdValue(index.DigitalSignature != null ? "<a href='Javascript:alert(\"" + index.DigitalSignature + "\");'>Show </a>" : ""));

                table.append(row);
            });

        }).fail(function() {
            $('#mask').hideLoading();
            alert("The request did not complete sucessfully!");
        }).done(function() {
            $('#mask').hideLoading();
        });
    }
    function getTdValue(val) {
        return $("<td align='left'>" + val + "</td>");
    }

    function FundTransferCallBack() {
        $('#modelFundTransfer').modal("hide");
        bootbox.alert("Transaction Successful!", function() {
            getUsers(role, currentPageNo, $userName.val(),$displayName.val(),$businessName.val(),$nric.val(),$fullName.val());
        });
        
    }

    function addBalanceModelCallback() {
        $('#modelAddBalance').modal("hide");
        bootbox.alert("Successfully added the balance.", function() {
            getUsers(role, currentPageNo, $userName.val(),$displayName.val(),$businessName.val(),$nric.val(),$fullName.val());
        });
    }
</script>
