﻿@model MoolahConnectClassLibrary.Models.ViewModels.Admin.BorrowerAccounts
@{
    ViewBag.Title = "UserVerification";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using MoolahConnectnew
@Html.Flash()

<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css" />
<script type="text/javascript">
    $(function() {
        $("#tabs").tabs();
    });
    
    $(document).ready(function() {
        if ($("#AccType").val() != "Investor") {
            $("#knAssesment").hide();
            $("#tabs-2").hide();
        }
        if ('@Session["step"]' == '2') {
            $("#tabs").tabs({ active: 1 });
        } else {
            $("#tabs").tabs({ active: 0 });
        }
    });
    
    function disalbleotheroption(){

        if ($('.NA').is(':checked')) {
            $('.d').attr('disabled', 'disabled');
            $('.d').removeAttr('checked');
        } else {
            $('.d').removeAttr('disabled');
        }
    }

</script>

@Html.HiddenFor(m => m.AccountDetails.AccountType, new { id = "AccType" })
<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Account Details</a></li>
        <li id="knAssesment"><a href="#tabs-2">Questionnaire</a></li>
    </ul>
    <div id="tabs-1">
        @Html.Partial("_UserVerification", Model.AccountDetails);
    </div>
    <div id="tabs-2">
        @Html.Partial("_InvestorKnowledgeAssessment", Model.Knowledgeassessment)
    </div>
</div>
