﻿@model MoolahConnectClassLibrary.Models.ViewModels.Admin.Withdrawal

@Styles.Render("~/Content/css/bootstrap.min.css")

@{
    ViewBag.Title = "Withdraw";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="~/Scripts/Customjs/CustomMethod.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css" />
<script>
    $(function () {
        $("#tabs").tabs();


    });

    $(document).ready(function () {
        var chk = $('#hdnApprovechk').val();

        if (chk == "Approved") {
            $('#FinalApprovalofLoanRequest').hide();
            $('#dvStatus').html('This loan is already Approved / Complete/ In Progress')
        }
        else {

        }
    });




</script>


<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Transfer Requests Pending Approval</a></li>
        <li><a href="#tabs-2">Approved Transfers</a></li>

    </ul>
    <div id="tabs-1">
        @Html.Partial("_WithdrawlRequestPendingApproval", Model)
        

    </div>
    <div id="tabs-2">
        @Html.Partial("_ApprovedWithdrawls", Model)
    </div>

</div>
