﻿#wish {
    width: 1060px;
    height: auto;
    float: left;
    padding: 20px;
    margin: 15px 0 20px 115px;
    background: #fff;
    border: solid 1px #bbb9af;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
}

.clear {
    clear: both;
    height: 0px;
}

.loan_wish{ width:130px; height:auto; float:left;}
.loan_wish h5{ color:#1e1e1e; text-transform:uppercase; font-size:14px; padding:0; margin:0 0 12px 0;}
.loan_wish img{ padding:7px; border:1px solid #bebebe;}

#backgroundPopup { 
	z-index:1;
	position: fixed;
	display:none;
	height:100%;
	width:100%;
	background:#000000;	
	top:0px;  
	left:0px;
}

.loan_wish{ width:130px; height:auto; float:left;}
.loan_wish h5{ color:#1e1e1e; text-transform:uppercase; font-size:14px; padding:0; margin:0 0 12px 0;}
.loan_wish img{ padding:7px; border:1px solid #bebebe;}
.br_profile_main{ width:340px; height:auto; float:left; margin:0 0 0 10px;}
.br_profile_main p{ font-size:13px; color:#5c5b53; margin:0 0 12px 8px; font-family:Arial, Helvetica, sans-serif;}
.br_profile{ width:320px;height:auto; float:left; background:#f3f1e5; border:1px solid #bebebe; padding:12px 10px;}
.profile_txt_in{ width:100%; height:auto; float:left; padding:0 0 8px 0;}
.profile_txt{ height:auto; float:left; font-size:12px; color:#5c5b53; margin:0 3px 0 0;}
.profile_txt_val{ /*width:85px;*/ height:auto; float:left; font-size:12px; color:#5c5b53; margin:0 3px 0 0;}
.profile_txt_one{ width:95px; height:auto; float:left; font-size:12px; color:#5c5b53; margin:0 3px 0 0;}
.profile_txt_new{ width:80px; height:auto; float:left; font-size:12px; color:#5c5b53; margin:0 3px 0 0;}
.profile_rgt{ width:542px; height:auto; float:left; margin:0 0 0 8px;}
.profile_rgt p{ width:200px; height:auto; float:left; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#5c5b53;}
.profile_rgt_inner{ width:537px; height:auto; float:left; border:1px solid #bebebe; padding:6px; margin:0;}
.prof_in{ width:166px; height:auto; float:left; border:1px solid #bebebe; padding:8px; margin:0 9px 0 0;}
.prof_in ul{ padding:0; margin:0;}
.prof_in ul li{ display:list-item; list-style:none; margin:0 0 4px 0; font-size:12px; color:#5c5b53; font-family:Arial, Helvetica, sans-serif; }
.prof_in ul li img{ float:left; margin:2px 5px 0 0;}
.prof_graph{ width:141px; height:auto; float:left; text-align:center; margin:10px 0 0 0;}
.prof_summary{ width:100%; height:auto; float:left; margin:12px 0 0 0;}
.loan_sum{ width:210px; height:auto; float:left;}
.loan_sum p{ text-align:center; font-size:13px; font-family:Arial, Helvetica, sans-serif; margin:0 0 8px 0;}
.loan_inner{ width:230px; height:auto; float:left; border:1px solid #bebebe; padding:23px 10px; margin:0 0 15px 0;}
.loan_inner p{ text-align:left; font-size:13px; color:#5c5b53; font-family:Arial, Helvetica, sans-serif; margin:0 0 8px 0;}
.fund_sum{ width:308px; height:auto; float:left; margin:0 0 0 15px;}
.fund_sum p{ text-align:center; font-size:13px; font-family:Arial, Helvetica, sans-serif; margin:0 0 8px 0;}
.fund_sum_inner{ width:400px; height:auto; float:left; border:1px solid #bebebe; padding:12px 10px; margin:0 0 15px 40px;}
.profile_txt_inner{ width:315px; height:auto; float:left; font-size:12px; color:#5c5b53; margin:0 3px 0 0;font-weight:bold;}
.profile_tarea{ width:294px; height:109px; float:left; padding:5px; font-size:12px; color:#5c5b53; margin:0 3px 0 0; color:#3b578b; font-family:Arial, Helvetica, sans-serif; font-size:13px; overflow-y:scroll; border-radius:0px; -moz-border-radius:0px; -ms-border-radius:0px; -o-border-radius:0px; -webkit-border-radius:0px; -khtml-border-radius:0px;}
.graph_rgt{ width:340px; height:auto; float:right; margin:5px 0 0 0 ;}
.inner_new{ width:100%; height:auto; float:left; padding:0 0 5px 0}
.graph_txt{ width:88px; height:auto; float:left; font-size:12px; color:#5c5b53; margin:3px 3px 0 0;}
.graph_list{ width:208px; height:28px; float:left; background:url(../Content/images/graph_list.jpg) repeat-x; border:1px solid #bebebe; font-size:13px; color:#5c5b53; font-family:Arial, Helvetica, sans-serif; border-radius:3px; padding:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px; -khtml-border-radius:3px;}
.graph_input{ width:198px; height:25px; float:left; background:url(../Content/images/graph_list.jpg) repeat-x; border:1px solid #bebebe; font-size:13px; color:#5c5b53; font-family:Arial, Helvetica, sans-serif; border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px; -khtml-border-radius:3px; padding:0 5px;}
.inner_new img{ float:right; margin:4px 0 0 0;}
.graph_inner{ width:312px; height:auto; float:left; background:#ffffff; border:1px solid #bebebe; padding:15px; margin:15px 0;}
.graph_inner p{ color:#5c5b53; line-height:30px; font-size:13px; font-family:Arial, Helvetica, sans-serif;}
.graph_inner p span{ color:#3c588b;}
.repay_ment{ width:100%; height:auto; float:left;}
.repay_ment p{ text-align:center; font-size:13px; color:#3b578b; font-family:Arial, Helvetica, sans-serif;}
.repay_ment_txt{ width:86px; height:auto; float:left; font-size:12px; color:#5c5b53; margin:3px 0 0 0; text-align:right;}
.graph_input_small{ width:198px; height:25px; float:left; background:url(../Content/images/graph_list.jpg) repeat-x; border:1px solid #bebebe; font-size:13px; color:#5c5b53; font-family:Arial, Helvetica, sans-serif; border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px; -khtml-border-radius:3px; padding:0 5px; margin:0 0 0 7px;}
.graph_btn{border:1px solid #65676b; border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px; -o-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px; width:auto; height:30px;  font-size:14px; color:#ffffff; font-weight:bold; cursor:pointer; background: #3c3f42; padding:4px 7px; margin:0 8px 0 0; 
background: #5a5b63; display:inline-block; 
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVhNWI2MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwYzBkMGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #5a5b63 0%, #0c0d0d 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5a5b63), color-stop(100%,#0c0d0d));
background: -webkit-linear-gradient(top, #5a5b63 0%,#0c0d0d 100%); 
background: -o-linear-gradient(top, #5a5b63 0%,#0c0d0d 100%); 
background: -ms-linear-gradient(top, #5a5b63 0%,#0c0d0d 100%); 
background: linear-gradient(to bottom, #5a5b63 0%,#0c0d0d 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a5b63', endColorstr='#0c0d0d',GradientType=0 );  }

.graph_btn:hover{background: #0c0d0d; 
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBjMGQwZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1YTViNjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #0c0d0d 0%, #5a5b63 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0c0d0d), color-stop(100%,#5a5b63)); 
background: -webkit-linear-gradient(top, #0c0d0d 0%,#5a5b63 100%); 
background: -o-linear-gradient(top, #0c0d0d 0%,#5a5b63 100%); 
background: -ms-linear-gradient(top, #0c0d0d 0%,#5a5b63 100%);
background: linear-gradient(to bottom, #0c0d0d 0%,#5a5b63 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c0d0d', endColorstr='#5a5b63',GradientType=0 ); }
.rgt_set{ width:100%; height:auto; float:right; margin:12px 105px 0 0; text-align:right;}

.loanoffers{
width: 284px;
height: auto;
float: left;
border: 1px solid #bebebe;
padding: 12px 10px;
margin: 150px 0 15px 0;

height: auto;
float: left;
font-size: 12px;
color: #5c5b53;
margin: 0 3px 0 40px;
}

.request_upload_div
{
    width: 75%;
    padding-bottom:1%;
    border-bottom: 1px solid #BBB9AF;
}