.body
{
    
    : open_sansregular;
    Background-Color: #7b79ad;
    margin: 0px;
}

.Button
{
    font-family: open_sansregular;
    font-size: 12px;
    font-weight: normal;
    color: #FFFFFF;
    width: 105px;
    background-color: #062264;
    border: solid 1px #cfcfcf;
}

.TextBox
{
    font-family: open_sansregular;
    FONT-SIZE: 12px;
    border: solid 1px #e4e4e4;
}

.RequiredField
{
    COLOR: RED;
    font-family: open_sansregular;
    FONT-SIZE: 7pt;
    FONT-WEIGHT: normal;
}



.textBox
{
    border: 1px solid #CFCFCF;
    font-family: open_sansregular;
    font-size: 11px;
    color: #666666;
    margin-left: 4px;
}




.logmaintext
{
    PADDING-BOTTOM: 10px;
    COLOR: #800000;
    font-size: 15pt;
    font-family: open_sansregular;
}



.user_name
{
    font-family: open_sansregular;
    font-size: 12px;
    font-weight: bold;
    color: #000;
    padding-right: 5px;
}

.user_password
{
    font-family: open_sansregular;
    font-size: 12px;
    font-weight: bold;
    color: #000;
    padding-left: 10px;
}

.request_upload_div
{
    width: 75%;
    padding-bottom:1%;
    border-bottom: 1px solid #BBB9AF;
}
