.body
{
	Background-Color:#7b79ad; margin :0px;
	
	}


.Grid_HeaderStyle
{
	
	Color:#000000;
	Background-Color:#E2E2E2;
	font-family:Arial, sans-serif; 
	Font-Weight:Bold; 
	Font-Size:12px; 
	text-align:center;
	
}
/*Changed 22april*/
.Grid_HeaderStylewatchlist
{
	
	Color:#000000;
	Background-Color:#E2E2E2;
	font-family:Arial, sans-serif; 
	Font-Weight:Bold; 
	Font-Size:11px; 
	
	
}
/* AUTOCOMPLETE 
.AutoComplete_List{background-color: #FFF; margin: 0px!important; border: 1px solid #999; cursor: pointer; overflow: auto; text-align: left; list-style-type: none; max-height: 200px;}
.AutoComplete_ListItem{color: #666; padding: 1px; border-bottom: 1px solid #ddd}
.AutoComplete_ListItemHilite{color: #000; padding: 1px; border-bottom: 1px solid #ddd;}
.AutoComplete_ListItemHiliteText{ font-weight:bolder; text-decoration:underline; font-size:11px }
*/
.Grid_ItemStyle      
{	
	
	font-family:Arial, sans-serif;
	Font-Weight: normal;
	Font-Size:12px;
	Height:25px;
	Background-Color:#E9E9E9;
	text-align:center;
}

.DropDownList
{
	color:#000000;
	font-size:8pt;
	font-family:Arial, sans-serif;
	letter-spacing:0px;
	font-weight:normal;
	border:solid 1px #e4e4e4 
	
}
.SimpleText
{
	font-family:Arial, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:black;
}

.Text
{
	color:#000000;
	font-size:8pt;
	font-family:Arial, sans-serif;
	letter-spacing:0px
}

.Message
{
	background-color:#FFFFFF;
	color:RED;

	FONT-WEIGHT:BOLD;
	font-family:Arial, sans-serif;
	font-size:9pt;
	font-weight:bold;
	
}
.Messageforpoll
{
	background-color:#FFFFFF;
	color:RED;

	FONT-WEIGHT:BOLD;
	font-family:Arial, sans-serif;
	font-size:9pt;
	font-weight:bold;
	background:transparent;
	 padding-left:20px;
	
}
.DateAndDollarLabel
{
    COLOR:#FFFFFF;
    font-family:Arial, sans-serif;
    FONT-SIZE: 7pt;
    FONT-WEIGHT: normal
}
.HEADING
{
	color:#485D70;
	font-weight:bold;
	font-size:10pt;
	font-family:Arial, sans-serif;
	letter-spacing:0px
}
.TextLabel
{
	font-family:Arial, sans-serif;
	font-size:12px;	
	color:#424242;
}
.TextLabelReply
{
	font-family:Arial, sans-serif;
	font-size:12px;	
	color:#333333;
}
/* changed */
.TextLabel5
{
	font-family:Arial, sans-serif;
	font-size:12px;	
	color:#000000;

}


.TextLabellogin
{
	font-family:Arial, sans-serif;
	font-size:14px;	
	font-weight:bold;
	color:#7A0205;
}

.LightTextLabel
{
	font-family:Arial, sans-serif;
	font-size:12px;
	color:#7A0205;
}

.SignatureLabel
{
	font-family:Arial, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#7F2072;
}

.RowHeader
{
	font-family:Arial, sans-serif;
	font-size:13px;
	font-weight:bold;
	color:#FFFFFF;
	height:19px;
	margin:0px;
	

}
.RowHeaderresponse
{
	font-family:Arial, sans-serif;
	font-size:15px;
	font-weight:bolder;
	color:#7A0205;
	background-color:#BFBFBF;
}

.formfooter
{
	font-family:Arial, sans-serif;
	font-size:13px;
	font-weight:bold;
	color:#FFFFFF;
	background-color:#e4e4e4;
}


.TableBorder
{
	border-color :#485D70;
	border-style :solid; 
	border-width :1px; 
}

.Button
{
	font-family:Arial, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#FFFFFF;
	width:105px;  
	background-color:#464646;
	border:solid 1px #cfcfcf;
	}

.MsgTextBox
{
	font-family:Arial, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:red;
	width:500px;  
	
	text-align:center;
	border-style:none;
	 
}

.MsgTextBox_L
{
	font-family:Arial, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:red;
	width:500px;  
	background-color:white;	
	text-align:center;	
	border-style:none;	
}

.TextBox
{
    font-family:Arial, sans-serif;
    FONT-SIZE: 12px;
    border:solid 1px #e4e4e4 
}

.TextAreaBox
{
    font-family:Arial, sans-serif;
    FONT-SIZE: 12px;
    TEXT-TRANSFORM: Capitalize;
    WIDTH: 330px;
}

SELECT.ComboBox
{
    font-family:Arial, sans-serif;
    FONT-SIZE: 12px;
    TEXT-TRANSFORM: uppercase;
    TEXT-ALIGN:center;
}

.DateLabel
{
	font-family:Arial, sans-serif;
	font-size:9px;
	font-weight: lighter;
	color:#217d63;
}



.RedLabel
{
    COLOR: red;
    font-family:Arial, sans-serif;
    FONT-SIZE: 10px;
    FONT-WEIGHT: bold
}

.QuoteMessage
{
    COLOR: #9a0000;
    font-family:Arial, sans-serif;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold
}

.RequiredField
{
    COLOR: RED;
    font-family:Arial, sans-serif;
    FONT-SIZE: 7pt;
    FONT-WEIGHT: normal
}

.HiddenClass{
	display:none;
}

.HiddenTextBox
{
	background-color :White;
	border :none;
	color :White ;
}
.textBox
{
	border: 1px solid #CFCFCF;
	font-family:Arial, sans-serif; 
		font-size:11px; 
		color:#666666; 
		margin-left: 4px;
}	
	
.imagebtm
{
	margin-bottom:10px;
	text-align:center;
}

.TextLabel2
{
	font-family:Arial, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: black;
	text-decoration: underline;
}
.logmaintext
{
	PADDING-BOTTOM: 10px; COLOR: #7A0205;font-size:15pt;
}
.logsmalltext
{
	FONT-SIZE: 11px;
	}

.TextLabelMainpage
{
	font-family:Arial, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#000000;
	margin-left :10px;
}
.TextLabelwelcome
{
	font-family:Arial, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#048F9E;
	margin-left :55px;
}

.LinkMainPage
{
	color:#7A0205;
	font-weight:bold;
	text-decoration:none;
	
	
}
.LinkMainPage:hover
{
 	
}
.AdminPageHeading
{
	
	background-color:#afafaf;
	color:White;font-weight:bold;
	text-align:center;
	height:18px;
}
.AdminPageHeading1
{
	
	background-color:#048F9E;
	color:White;font-weight:bold;
	text-align:left;
	height:18px;
	padding-left:10px;
}
.GridItemStyle
{
	padding-left:7px;
	text-align:center;
	
}
.Gridlistdrinkheader
{
	padding-left:7px;
	text-align :left ;
	
}
.divheight
{
	height:100px;
	overflow:auto;
	 
}

.Category
{
	font-weight:bold; 
}
p#pageNav{ margin-left:25px; margin-bottom:20px;}
p#pageNav a{padding:3px;background:#fff;border:solid 1px #3f73c6;color:#3f73c6;text-decoration:none;}
p#pageNav a:hover{background-color:#A7C8E6;color:#fff;}
p#pageNav a.currentPage{color:#fff;background-color:#A7C8E6;}
p#pageNav a.inactive{color:#aaa;border:1px solid #aaa;}

/*---------------------------Message Box Start------------------------------*/
.Popmessage
{
    padding: 0px;
    background: #ffffff;
    border: 6px solid #ddd;
    position: fixed;
    top: 50%;
    left: 40%;
    z-index: 99999;
    -webkit-box-shadow: 0px 0px 20px #000;
    -moz-box-shadow: 0px 0px 20px #000;
    box-shadow: 0px 0px 20px #000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 300px;
    height: 100px;
}
.Popmessage h1
{
    background-image: url('../images/information.png');
    background-repeat: no-repeat;
    background-color: #5392BA;
    margin-bottom: 8px;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    font-size: 15px;
    font-weight: bold;
    padding-left: 18px;
    background-position: left center;
    height: 22px;
    text-indent: 5px;
    text-shadow: 1px 1px 1px #366684;
    line-height: 22px;
}

.message-text
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #4d4d4d;
    padding: 0 5px 0 5px;
    line-height: 18px;
}
/*---------------------------Message Box End------------------------------*/

.video {
    float: left;
    height: auto;
    /*padding: 13px 0 0 18px;)*/
    width: 310px;
}

.video a {
    cursor: pointer;
    text-decoration: none;
}

.video a img {
    border: 1px solid #CFCFCF;
    float: left;
    height: 210px;
    padding: 1px;
    width: 300px;
}

.video a span.play {
    background: url("../../images/play.png") no-repeat scroll center center transparent;
    display: block;
    height: 192px;
    margin: 0 0 0 0;
    opacity: 0.8;
    position: relative;
    z-index: 100;
}


.body_overlay {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
}

.video_popper_wrapper {
    background: none repeat scroll 0 0 #000000;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 10px #4B4B4B;
    height: 400px;
    margin: 10% auto 0;
    padding: 20px;
    width: 800px;
}

#video_close {
    background: url("../../images/video_player_close.png") no-repeat scroll center center transparent;
    cursor: pointer;
    float: right;
    height: 45px;
    margin: -35px -35px 0 0;
    position: relative;
    width: 45px;
}
 /* styles for validation helpers */
.field-validation-error {
   color:#e80c4d ;
   font-weight: bold;
   font-size:12px;
   
}

.field-validation-valid {
   display: none;
}

input.input-validation-error {
   border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
   border: 0 none;
}

.validation-summary-errors {
   color: #e80c4d;
   font-weight: bold;
   
   font-size: 1.1em;
}

.validation-summary-valid {
   display: none;
}