#sddm
{	margin: 0;
	padding: 0;
	z-index: 30}

#sddm li
{	margin: 0px 0px -14px 0px;
	padding: 0;  
	list-style: none;
	float: left;
	font: bold 9pt verdana}

#sddm li a
{	display: block;
 	letter-spacing:1px; 
	margin: 0 1px 0 0;
	padding: 4px 10px;
	width: 90px;
	background: #A21D21;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none}

#sddm li a:hover
{	background: #B9121B}

#sddm div
{
text-align:center;
	position:absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: #EAEBD8;
	border: 1px solid #A21D21}

	#sddm div a
	{	position: relative;
		display: block;
		margin: 0;
		padding: 5px 10px;
		width: auto;
		white-space: nowrap;
		text-align: center;
		text-decoration: none;
		background: #EAEDEF;
		color: #000000;
		border:solid 1px white ;
		font: 9pt verdana}

	#sddm div a:hover
	{	background: #FDFEFF;
		color: #000}
.parentMenu {
	BORDER-RIGHT: gray 1px solid; BORDER-TOP: gray 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: #282828; PADDING-BOTTOM: 5px; BORDER-LEFT: gray 1px solid; CURSOR: pointer; COLOR: white; PADDING-TOP: 3px; BORDER-BOTTOM: gray 1px solid; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.admSubMenu {
	BORDER-RIGHT: gray 1px solid; BORDER-TOP: gray 1px solid; DISPLAY: none; BACKGROUND: #BFBFBF; BORDER-LEFT: gray 1px solid; WIDTH: auto! important; BORDER-BOTTOM: gray 1px solid; WHITE-SPACE: nowrap; POSITION: absolute; TEXT-ALIGN: left
}
A.admSub {
	BORDER-RIGHT: red 0px solid; PADDING-RIGHT: 15px; BORDER-TOP: red 0px solid; DISPLAY: block; FONT-WEIGHT: normal; FONT-SIZE: 11px; BORDER-LEFT: red 0px solid; COLOR: #600012; BORDER-BOTTOM: red 0px solid; HEIGHT: 20px; TEXT-ALIGN: left; TEXT-DECORATION: none
}

A.admSub:unknown {
	BACKGROUND: black; COLOR: white; TEXT-DECORATION: none
}
.supportMenu {
	FONT-WEIGHT: bold; COLOR: white; TEXT-DECORATION: none
}
A.adminMenu {
	PADDING-RIGHT: 14px; PADDING-LEFT: 14px; FONT-WEIGHT: bold; PADDING-BOTTOM: 6px; COLOR: white; PADDING-TOP: 3px; TEXT-DECORATION: none
}
A.adminMenu:hover {
	FONT-WEIGHT: bold; COLOR: white; TEXT-DECORATION: underline
}
A.adminHeaderLink {
	FONT-WEIGHT: bold; COLOR: white; TEXT-DECORATION: none
}
A.adminHeaderLink:hover {
	FONT-WEIGHT: bold; COLOR: white; TEXT-DECORATION: underline
}
A.bookMenu {
	PADDING-RIGHT: 5px; PADDING-LEFT: 15px; FONT-WEIGHT: bold; PADDING-BOTTOM: 6px; COLOR: white; PADDING-TOP: 3px; TEXT-DECORATION: none
}
