/* ================================================================ 
This copyright notice must be kept untouched in the stylesheet at 
all times.

The original version of this stylesheet and the associated (x)html
is available at http://www.stunicholls.com/menu/pro_drop_2.html
Copyright (c) 2005-2007 Stu Nicholls. All rights reserved.
This stylesheet and the associated (x)html may be modified in any 
way to fit your requirements.
=================================================================== */

.preload1
{
    background: url(three_1.gif);
}

.preload2
{
    background: url(three_1a.gif);
}

#nav
{
    padding: 0;
    margin: 0;
    list-style: none;
    height: 38px;
    background: #fff url(three_0.gif) repeat-x;
    position: relative;
    z-index: 500;
    font-family: arial, verdana, sans-serif;
}

    #nav li.top
    {
        display: block;
        float: left;
        height: 38px;
    }

    #nav li a.top_link
    {
        display: block;
        float: left;
        height: 35px;
        line-height: 33px;
        color: #ccc;
        text-decoration: none;
        font-size: 11px;
        font-weight: bold;
        padding: 0 0 0 3px;
        cursor: pointer;
        background: url(three_0.gif);
    }

        #nav li a.top_link span
        {
            float: left;
            display: block;
            padding: 0 24px 0 12px;
            height: 35px;
            background: url(three_0.gif) right top no-repeat;
        }

            #nav li a.top_link span.down
            {
                float: left;
                display: block;
                padding: 0 24px 0 12px;
                height: 35px;
                background: url(three_0a.gif) no-repeat right top;
            }

    #nav li:hover a.top_link
    {
        color: #fff;
        background: url(three_1.gif) no-repeat;
    }

        #nav li:hover a.top_link span
        {
            background: url(three_1.gif) no-repeat right top;
        }

            #nav li:hover a.top_link span.down
            {
                background: url(three_1a.gif) no-repeat right top;
            }

    /* Default list styling */

    #nav li:hover
    {
        position: relative;
        z-index: 200;
    }

        #nav li:hover ul.sub
        {
            left: 1px;
            top: 38px;
            background: #bbd37e;
            padding: 3px;
            border: 1px solid #5c731e;
            white-space: nowrap;
            width: 160px;
            height: auto;
            z-index: 300;
        }

            #nav li:hover ul.sub li
            {
                display: block;
                height: 20px;
                position: relative;
                float: left;
                width: 160px;
                font-weight: normal;
            }

                #nav li:hover ul.sub li a
                {
                    display: block;
                    font-size: 11px;
                    height: 18px;
                    width: 160px;
                    line-height: 18px;
                    text-indent: 5px;
                    color: #000;
                    text-decoration: none;
                    border: 1px solid #bbd37e;
                }

    #nav li ul.sub li a.fly
    {
        background: #bbd37e url(arrow.gif) 120px 6px no-repeat;
    }

    #nav li:hover ul.sub li a:hover
    {
        background: #6a812c;
        color: #fff;
        border-color: #fff;
    }

    #nav li:hover ul.sub li a.fly:hover
    {
        background: #6a812c url(arrow_over.gif) 120px 6px no-repeat;
        color: #fff;
    }


    #nav li:hover li:hover ul,
    #nav li:hover li:hover li:hover ul,
    #nav li:hover li:hover li:hover li:hover ul,
    #nav li:hover li:hover li:hover li:hover li:hover ul
    {
        left: 162px;
        top: -4px;
        background: #bbd37e;
        padding: 3px;
        border: 1px solid #5c731e;
        white-space: nowrap;
        width: 160px;
        z-index: 400;
        height: auto;
    }

        #nav ul,
        #nav li:hover ul ul,
        #nav li:hover li:hover ul ul,
        #nav li:hover li:hover li:hover ul ul,
        #nav li:hover li:hover li:hover li:hover ul ul
        {
            position: absolute;
            left: -9999px;
            top: -9999px;
            width: 0;
            height: 0;
            margin: 0;
            padding: 0;
            list-style: none;
        }

    #nav li:hover li:hover a.fly,
    #nav li:hover li:hover li:hover a.fly,
    #nav li:hover li:hover li:hover li:hover a.fly,
    #nav li:hover li:hover li:hover li:hover li:hover a.fly
    {
        background: #6a812c url(arrow_over.gif) 120px 6px no-repeat;
        color: #fff;
        border-color: #fff;
    }

    #nav li:hover li:hover li a.fly,
    #nav li:hover li:hover li:hover li a.fly,
    #nav li:hover li:hover li:hover li:hover li a.fly
    {
        background: #bbd37e url(arrow.gif) 120px 6px no-repeat;
        color: #000;
        border-color: #bbd37e;
    }

.payment
{
    width: 500px;
    height: auto;
    float: left;
    background: #ffffff;
    border: 1px solid #bbb9af;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
  margin:130px 0 20px -255px;

    left: 50%;
   
    position: fixed;
    top: 20%;
    z-index: 2;
}

    .payment h4
    {
        font-size: 13px;
        color: #5c5b53;
        padding: 9px 10px 9px 10px;
        margin: 0;
        border-bottom: 1px solid #b9b8ae;
    }

.close_btn
{
    float: right;
    width: auto;
    height: auto;
    margin: -33px 15px 0 0;
}

.payment_in
{
    width: 473px;
    height: auto;
    float: left;
    margin: 13px 0 0 14px;
    padding: 0 0 5px 0;
}

    .payment_in h3
    {
        font-size: 13px;
        color: #5c5b53;
        padding: 0;
        margin: 0 0 6px 0;
    }

    .payment_in table
    {
        border: 1px solid #555555;
        margin: 6px 0 5px 0;
        border-left: none;
        border-right: none;
    }

        .payment_in table tr.bg_col
        {
            background: #ffbe3a;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            color: #333333;
            font-weight: bold;
        }

        .payment_in table tr td
        {
            border-right: 1px solid #555555;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            color: #333333;
            padding: 5px 6px;
        }

            .payment_in table tr td a
            {
                text-decoration: none;
                color: #0148b8;
            }

                .payment_in table tr td a:hover
                {
                    color: #2b6acd;
                }

            .payment_in table tr td.no_bdr
            {
                border-right: none;
            }

            .payment_in table tr td.bdr_bottom
            {
                border-bottom: 1px solid #ffffff;
            }

            .payment_in table tr td.bdr_left
            {
                border-left: 1px solid #555555;
            }

        .payment_in table tr.bg_col1
        {
            background: #f6edd4;
        }

        .payment_in table tr.bg_col2
        {
            background: #f1f0e9;
        }
        #backgroundPopup { 
	z-index:1;
	position: fixed;
	display:none;
	height:100%;
	width:100%;
	background:#000000;	
	top:0px;  
	left:0px;
}
