﻿body
{
	font-family: Arial,verdana;
	font-size: 12px;
	color: #333333;
}
h1, h2, h3, h4, h5, h6
{
	color: #333333;
	font-size: 13px;
	margin: 0;
	padding: 0;
}
h1
{
	font-size: 14px;
}
h4, h5
{
	font-size: 11px;
}
p
{
	font-family: "lucida grande" ,tahoma,verdana,arial,sans-serif;
	font-size: 11px;
	margin: 1em 0;
	text-align: left;
}
a
{
	color: #3B5998;
	cursor: pointer;
	text-decoration: none;
	font-size: 15px;
}
a:hover
{
	text-decoration: underline;
}
img
{
	border: 0 none;
}
.inputbutton, .inputsubmit
{
	background-color: #3B5998;
	border-color: #D9DFEA #0E1F5B #0E1F5B #D9DFEA;
	border-style: solid;
	border-width: 1px;
	color: #FFFFFF;
	padding: 2px 15px 3px;
	text-align: center;
}
.pop_container_advanced
{
	-moz-border-radius: 8px 8px 8px 8px;
	background: none repeat scroll 0 0 rgba(82, 82, 82, 0.7);
	padding: 10px;
}
.uiButton, .uiButtonSuppressed:active, .uiButtonSuppressed:focus, .uiButtonSuppressed:hover
{
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
	border-top: 1px solid #999999;
	border-bottom: 1px solid #888888;
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	background: url("../images/B4K_BWwP7P5.png") repeat scroll 0 0 #EEEEEE;
	cursor: pointer;
	display: inline-block;
	font-size: 11px;
	font-weight: bold;
	line-height: normal !important;
	padding: 2px 6px;
	text-align: center;
	text-decoration: none;
	vertical-align: top;
	white-space: nowrap;
	height: 30px;
	margin-top: 0px;
}
.pop_container_advanced
{
	-moz-border-radius: 8px 8px 8px 8px;
	background: none repeat scroll 0 0 rgba(82, 82, 82, 0.7);
	padding: 0px;
}
h2.dialog_title
{
	background: none repeat scroll 0 0 #6D84B4;
	border-color: #3B5998 #3B5998 -moz-use-text-color;
	border-style: solid solid none;
	border-width: 1px 1px medium;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	margin: 0;
	padding-top: 5px;
	padding-left: 5px;
	height: 20px;
}
.inputtext
{
	width: 315px;
	background-color: #FEFEFE;
	border-color: #999999;
	border-style: solid;
	border-width: 1px;
}


/***********************Add by narender************************************************************/
#outlinebox
{
	min-height: 100%;
	position: relative;
	width: 900px;
	margin: auto;
}
#header
{
	background: #003366;
	top: 0px;
	left: 0px;
	width: 100%;
	color: #FFFFFF;
	font-size: 18px;
	font-weight: bold;
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
}
#content
{
	width: 100%;
	background-color: #FFFFFF;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 25px;
}
#footer
{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 25px;
	text-align: center;
	background-color: #003366;
	color: #FFFFFF;
	padding: 2px;
}
.videolinks
{
	text-align: center;
}
.title
{
	background: #546A93;
	top: 0px;
	left: 0px;
	width: 100%;
	color: #FFFFFF;
	font-size: 18px;
	font-weight: bold;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
}

.facebookTable
{
	border-top: solid 2px #e5e5e5;
}

.facebookTable tr td
{
	vertical-align: middle;
	font-family: Trebuchet MS;
	text-align: left;
	background-color: #fff;
	font-size: 12px;
	color: #808080;
	border-bottom: solid 2px #e5e5e5;
}

.desc
{
	cursor: pointer;
	text-align: left;
	vertical-align: middle;
}


.closeTD
{
	background-color: #fff;
	color: #b1bdd6;
	width: 20px;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
}

.closeDiv
{
	cursor: pointer;
	background-color: #fff;
	color: #b1bdd6;
	width: 20px;
	height: 20px;
	text-align: center;
	vertical-align: middle;
	font-family: Comic Sans MS;
}

.closeDivhover
{
	cursor: pointer;
	background-color: #3b5998;
	color: white;
	width: 20px;
	height: 20px;
	text-align: center;
	vertical-align: middle;
	font-family: Comic Sans MS;
}

A:link
{
	text-decoration: none;
	color: #3b59ab;
}
A:visited
{
	text-decoration: none;
	color: #3b59ab;
}

A:hover
{
	text-decoration: underline;
	color: #3b59ab;
}
