.ThemeOfficeMenu 
{
	FONT-WEIGHT: bold; FONT-SIZE: 6px; BACKGROUND: #3b8fd7; PADDING-BOTTOM: 5px;  COLOR: white;
}
.ThemeOfficeSubMenuTable {
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	FONT-SIZE: 6px; 
	PADDING-BOTTOM: 0px; 
	CURSOR: default; 
	PADDING-TOP: 0px; 
	FONT-FAMILY: arial, verdana, sans-serif; 
	WHITE-SPACE: nowrap; 
	HEIGHT: 25px; 
	COLOR: white;
}
.ThemeOfficeSubMenu {
	BORDER-RIGHT: gray 1px solid; 
	PADDING-RIGHT: 0px; 
	BORDER-TOP: gray 1px solid; 
	PADDING-LEFT: 0px; 
	Z-INDEX: 100; 
	VISIBILITY: hidden; 
	PADDING-BOTTOM: 0px; 
	OVERFLOW: visible; 
	BORDER-LEFT: gray 1px solid; 
	PADDING-TOP: 0px; 
	BORDER-BOTTOM: gray 1px solid; 
	POSITION: absolute; 
	COLOR: white;
}
.ThemeOfficeSubMenuTable {
	OVERFLOW: visible; COLOR: white;
}
.ThemeOfficeMainItem {
	CURSOR: pointer; COLOR: white; PADDING-TOP: 3px; BORDER-BOTTOM: gray 0px solid; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.ThemeOfficeMainItemHover {
	CURSOR: pointer; COLOR: white; PADDING-TOP: 3px; BORDER-BOTTOM: gray 0px solid; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.ThemeOfficeMainItemActive {
	CURSOR: pointer; COLOR: white; PADDING-TOP: 3px; BORDER-BOTTOM: gray 0px solid; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.ThemeOfficeMenuItem {
	CURSOR: pointer; COLOR: white; font-size: 8px;  PADDING-TOP: 3px; BORDER-BOTTOM: gray 0px solid; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.ThemeOfficeMenuItemHover {
	CURSOR: pointer; COLOR: white; PADDING-TOP: 3px; BORDER-BOTTOM: gray 0px solid; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.ThemeOfficeMenuItemActive {
	CURSOR: pointer; COLOR: white; PADDING-TOP: 3px; BORDER-BOTTOM: gray 0px solid; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.ThemeOfficeMainItem {
	
	CURSOR: pointer; COLOR: white; PADDING-TOP: 3px; BORDER-BOTTOM: gray 0px solid; TEXT-ALIGN: left; TEXT-DECORATION: none; font-size:8pt;
}
.ThemeOfficeMainItemHover {
	BACKGROUND-COLOR: #484747; COLOR: white;
}
.ThemeOfficeMainItemActive {
	BACKGROUND-COLOR:#3b8fd7;
}
.ThemeOfficeMenuItem {
	BACKGROUND-COLOR:  #3b8fd7; COLOR: white; font-size:8pt; 
}
.ThemeOfficeMenuItemHover {
	BACKGROUND-COLOR: #484746; COLOR: white; font-size:8pt;
}
.ThemeOfficeMenuItemActive {
	BACKGROUND-COLOR: #ffffff; font-size:8pt;
}
.ThemeOfficeMainItem {
	CURSOR: pointer; COLOR: white; PADDING-TOP: 3px; BORDER-BOTTOM: gray 0px solid; TEXT-ALIGN: left; TEXT-DECORATION: none; font-size:8pt;
}
TD.ThemeOfficeMainItemHover {
	BORDER-RIGHT: gray 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: gray 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: gray 1px solid; PADDING-TOP: 0px; COLOR: white; font-size:8pt;
}
TD.ThemeOfficeMainItemActive {
	CURSOR: pointer; COLOR: white; PADDING-TOP: 3px; BORDER-BOTTOM: gray 0px solid; TEXT-ALIGN: left; TEXT-DECORATION: none; font-size:8pt; font-size:8pt;
}
.ThemeOfficeMainFolderLeft {
	
}
.ThemeOfficeMainItemLeft {
	
}
.ThemeOfficeMainFolderText {
	
}
.ThemeOfficeMainItemText {
	
}
.ThemeOfficeMainFolderRight {
	
}
.ThemeOfficeMainItemRight {
	
}
TD.ThemeOfficeMainFolderLeft {
	PADDING-RIGHT: 2px; BORDER-TOP: gray 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; BORDER-LEFT: gray 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: gray 1px solid; COLOR: white;
}
TD.ThemeOfficeMainItemLeft {
	PADDING-RIGHT: 2px; BORDER-TOP: gray 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; BORDER-LEFT: gray 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: gray 1px solid; COLOR: white;
}
TD.ThemeOfficeMainFolderText {
	PADDING-RIGHT: 5px; BORDER-TOP: gray 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: gray 1px solid; WHITE-SPACE: nowrap; COLOR: white;
}
TD.ThemeOfficeMainItemText {
	PADDING-RIGHT: 5px; BORDER-TOP: gray 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: gray 1px solid; WHITE-SPACE: nowrap; color:White; 
}
TD.ThemeOfficeMainFolderRight {
	BORDER-RIGHT: gray 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: gray 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: gray 1px solid; COLOR: white;
}
TD.ThemeOfficeMainItemRight {
	BORDER-RIGHT: gray 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: gray 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: gray 1px solid; COLOR: white;
}
TR.ThemeOfficeMainItem TD.ThemeOfficeMainFolderLeft {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 2px; BORDER-TOP: 0px; PADDING-LEFT: 1px; PADDING-BOTTOM: 3px; BORDER-LEFT: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: 0px; WHITE-SPACE: nowrap; COLOR: white;
}
TR.ThemeOfficeMainItem TD.ThemeOfficeMainItemLeft {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 2px; BORDER-TOP: 0px; PADDING-LEFT: 1px; PADDING-BOTTOM: 3px; BORDER-LEFT: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: 0px; WHITE-SPACE: nowrap; COLOR: white;
}
TR.ThemeOfficeMainItem TD.ThemeOfficeMainFolderText {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 5px; BORDER-TOP: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 3px; BORDER-LEFT: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: 0px; COLOR: white;
}
TR.ThemeOfficeMainItem TD.ThemeOfficeMainItemText {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 5px; BORDER-TOP: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 3px; BORDER-LEFT: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: 0px; COLOR: white;
}
TR.ThemeOfficeMainItem TD.ThemeOfficeMainItemRight {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 1px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; BORDER-LEFT: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: 0px; COLOR: white;
}
TR.ThemeOfficeMainItem TD.ThemeOfficeMainFolderRight {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 1px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; BORDER-LEFT: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: 0px; COLOR: white;
}
.ThemeOfficeMenuFolderLeft {
	PADDING-RIGHT: 3px; BORDER-TOP: gray 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 2px; BORDER-LEFT: #30559c 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #30559c 1px solid; WHITE-SPACE: nowrap; COLOR: white;
}
.ThemeOfficeMenuItemLeft {
	PADDING-RIGHT: 3px; BORDER-TOP: #30559c 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 2px; BORDER-LEFT: #30559c 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #30559c 1px solid; WHITE-SPACE: nowrap; COLOR: white;
}
.ThemeOfficeMenuFolderText {
	PADDING-RIGHT: 5px; BORDER-TOP: #30559c 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #30559c 1px solid; WHITE-SPACE: nowrap; COLOR: white;
}
.ThemeOfficeMenuItemText {
	PADDING-RIGHT: 5px; BORDER-TOP: #30559c 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #30559c 1px solid; WHITE-SPACE: nowrap; COLOR: white;
}
.ThemeOfficeMenuFolderRight {
	BORDER-RIGHT: #30559c 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: #30559c 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #30559c 1px solid; WHITE-SPACE: nowrap; COLOR: white;
}
.ThemeOfficeMenuItemRight {
	BORDER-RIGHT: #30559c 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: #30559c 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #30559c 1px solid; WHITE-SPACE: nowrap; COLOR: white;
}
.ThemeOfficeMenuItem .ThemeOfficeMenuFolderLeft {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 3px; BORDER-TOP: 0px; PADDING-LEFT: 2px; PADDING-BOTTOM: 3px; BORDER-LEFT: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: 0px; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #282828; COLOR: white;
}
.ThemeOfficeMenuItem .ThemeOfficeMenuItemLeft {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 3px; BORDER-TOP: 0px; PADDING-LEFT: 2px; PADDING-BOTTOM: 3px; BORDER-LEFT: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: 0px; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #282828; COLOR: white;
}
.ThemeOfficeMenuItem .ThemeOfficeMenuFolderText {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 5px; BORDER-TOP: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 3px; BORDER-LEFT: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: 0px; COLOR: white;
}
.ThemeOfficeMenuItem .ThemeOfficeMenuItemText {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 5px; BORDER-TOP: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 3px; BORDER-LEFT: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: 0px; COLOR: white;
}
.ThemeOfficeMenuItem .ThemeOfficeMenuFolderRight {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 1px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; BORDER-LEFT: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: 0px; COLOR: white;
}
.ThemeOfficeMenuItem .ThemeOfficeMenuItemRight {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 1px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; BORDER-LEFT: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: 0px; COLOR: white;
}
.ThemeOfficeMenuSplit {
	BORDER-TOP: #ffffff 1px solid; MARGIN: 2px; OVERFLOW: hidden; HEIGHT: 1px; COLOR: white;
}
.ThemeOfficeMenuItem IMG.seq1 {
	DISPLAY: inline
}
.ThemeOfficeMenuItemHover seq2 {
	DISPLAY: inline
}
.ThemeOfficeMenuItemActive seq2 {
	DISPLAY: inline
}
.ThemeOfficeMenuItem .seq2 {
	DISPLAY: none
}
.ThemeOfficeMenuItemHover .seq1 {
	DISPLAY: none
}
.ThemeOfficeMenuItemActive .seq1 {
	DISPLAY: none
}

