﻿Tips for a strong password<br />
<ul>
    <li>More than 15 characters in length</li>
    <li>Include uppercase letters, lowercase letters, numbers and symbols</li>
    <li>Do not use email address</li>
    <li>Do not use common phrases</li>
</ul>
