﻿@using MoolahConnect.Util.SealedClasses

@model MoolahConnectnew.ViewModels.LoginViewModel
<div id="divErrorSec" class="alert alert-danger alert-dismissable">
</div>

<form id="frmResetSecQuest">

    @Html.LabelFor(m => m.Password)
    @Html.PasswordFor(m => m.Password, new { @id = "txtPassword", @name = "Password" })
    @Html.ValidationMessageFor(m => m.Password)
    <br />
    <input class="wish_btn" id="btnResetSec" type="submit" value="Reset" />
    <input class="wish_btn_neg" type="button" value="Cancel" onclick="RedirectToLogin();" />
</form>

<script>
    $(function () {
        $('#divErrorSec').empty();
        $('#divErrorSec').hide();

        $('#frmResetSecQuest').validate({
            rules: {
                Password: { required: true, }
            }
        });

        $("#frmResetSecQuest").submit(function (e) {
            e.preventDefault();
            $('#mask').showLoading();
            if ($('#frmResetSecQuest').valid()) {
                $.getJSON("@Url.Action("ResetSecurityQuestion")",
                    { Username: "@Model.Username", Password: $('#txtPassword').val() },
                    function (data) {
                        if (data.status == "@StatusMessages.SUCCESS") {
                            window.location.href = "/User/ResetCredentialSuccess?message=" + data.message
                        }
                        else {
                            $('#mask').hideLoading();
                            $('#divErrorSec').html(data.message);
                            $('#divErrorSec').show();
                        }
                    });
            }
            else {
                $('#mask').hideLoading();
            }
            
        });
    });
</script>
