﻿@using MoolahConnect.Util.SealedClasses

@model MoolahConnectnew.ViewModels.LoginViewModel
<div id="divError" class="alert alert-danger alert-dismissable">
</div>

<form id="frmResetPW">
    <div class="fl width100">
        <div class="reg_sec_ques">
            @Html.DropDownListFor(model => model.SecurityQuestion,
            Model.SecurityQuestions,
            new { @id = "ddQuestion", @class = "reg_sec_ques_dd", })
        </div>
        @Html.TextBoxFor(model => model.SecurityQuestionAnswer, new
   {
       placeholder = "Security Question Answer",
       @id = "txtAnswer",
       @name = "answer",
       @class = "wish_input"
   })
        @Html.ValidationMessageFor(model => model.SecurityQuestionAnswer)
    </div>
    <br />

    <input class="wish_btn" id="btnReset" type="submit" value="Reset" />
    <input class="wish_btn_neg" type="button" value="Cancel" onclick="RedirectToLogin();" />
    <br />
</form>

<script>
    $(function () {

        $('#divError').empty();
        $('#divError').hide();

        $('#frmResetPW').validate({
            rules: {
                answer: { required: true, }
            }
        });

        $("#frmResetPW").submit(function (e) {
            e.preventDefault();
            $('#mask').showLoading();
            if ($('#frmResetPW').valid()) {
                $.getJSON("@Url.Action("ResetPassword")",
                    { Username: "@Model.Username", SecurityQuestion: $('#ddQuestion').val(), SecurityQuestionAnswer: $('#txtAnswer').val() },
                    function (data) {
                        if (data.status == "@StatusMessages.SUCCESS") {
                            window.location.href = "/User/ResetCredentialSuccess?message=" + data.message
                        }
                        else {
                            $('#mask').hideLoading();
                            $('#divError').html(data.message);
                            $('#divError').show();
                        }
                    });
            }
            else {
                $('#mask').hideLoading();
            }
            
        });
    })
</script>
