﻿@using Recaptcha;

@model MoolahConnectClassLibrary.Models.ViewModels.AdminLogin

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/content/admin/css/pro_dropdown_2.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/content/admin/css/console.css")" rel="Stylesheet" type="text/css" />
    <link href="@Url.Content("~/content/admin/Css/coreCSS.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/content/admin/Css/menu_style.css")" rel="stylesheet" type="text/css" />
    @*<link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />*@
    <title>AdminLogin</title>
</head>

<body style="margin: 0pt; background-color: rgb(239, 239, 239);">
    @using (Html.BeginForm("AdminLogin", "User", FormMethod.Post, new { id = "AdminLogin" }))
    { 
        @Html.ValidationSummary(true)
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="480">
            <tbody>
                <tr>
                    <td height="40"></td>
                </tr>
                <tr>
                    <td align="center">
                        <span id="lblmesg" class="MsgTextBox"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table align="center" bgcolor="#e4e4e4" border="0" cellpadding="0" cellspacing="0"
                            width="480">
                            <tbody>
                                <tr>
                                    <td bgcolor="#efefef">
                                        <img alt="" src="@Url.Content("~/content/admin/Images/loginBoxHeader_3.jpg")" border="0" width="480" height="108">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img alt="" src="@Url.Content("~/content/admin/Images/loginBoxhead.png")" border="0" width="480" height="17">
                                    </td>
                                </tr>
                                <tr>
                                    <td height="30">
                                        <spacer type="block" height="30">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="300">
                                            <tbody>
                                                <tr>
                                                    <td class="logmaintext" colspan="2">
                                                        <asp:label id="lblErrorMessage" runat="server" forecolor="#FF3300"></asp:label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="user_name">
                                                        <strong>Username</strong>
                                                    </td>
                                                    <td class="user_password">
                                                        <strong>Password</strong>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>

                                                        @Html.TextBoxFor(m => m.UserName)
                                                        @Html.ValidationMessageFor(m => m.UserName)
                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(m => m.Password, new { @type = "password" })
                                                        @Html.ValidationMessageFor(m => m.Password)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="padding-top: 10px;" colspan="2">
                                                        <div class="editor-label">
                                                            Are you a human?
                                                        </div>
                                                        <div class="editor-field">
                                                            @Html.Raw(Html.GenerateCaptcha("captcha", "clean"))
                                                            @Html.ValidationMessage("captcha")
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="padding-top: 10px;" colspan="2">
                                                        <input type="submit" value="Login" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="20">
                                        <spacer type="block" height="30">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="@Url.Content("~/content/admin/Images/loginBoxFooter.png")" border="0" width="480" height="17">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    }
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryValidate")


</body>

</html>
