﻿<div>
    <div style="width: 100%" align="center">
        <img alt="" src="/Content/images/logo.png">
        <div class="ConfMessage">
            Thank you very much for verifying your email.
            <br /><br />
            As peer to peer business lending is a formal and legal process, we require further information about you in our simple registration screens to maintain your contractual rights.
            <br /><br />
            To continue with your registration, please click <a href="@Url.Action("Login", "User")" >here </a> to login.              
        </div>
    </div>
</div>
