﻿@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FAQ</h2>
<div>
    What type of company is a good fit for the IC network?

Companies most likely to find interest within our membership will have a combination of characteristics. Industry-specific interest, deal stage, investment levels, scalability and other important considerations are all key factors in gaining traction within our network. Please review the section on our website called "Criteria - Are You What IC Investors Look For?"

What does it mean to have a core social or environmental mission?

Entrepreneurs that join our network measure their success both in financial returns and their impact on society and/or the environment. These companies have been designed to solve a particular social or environmental problem. Ideally, a company's mission is reflected in it's internal as well as external business practices.

Can I bypass the application process to connect with investors?

No. Our standardized application system is the most efficient way for us to find out about companies and introduce them to our membership. In order to maintain a strong membership base, we must also assure our members that we will not release their contact information to entrepreneurs without approval, nor will we send them unsolicited information.

How do I submit an application?

Our online application include a one-pager of IC specific questions and asks that you upload and executive summary.  Submit an application through GUST here.

Can I attach additional materials to my application?

Yes. Through the GUST system you can upload an executive summary, full business plan, powerpoint presentation, and a video. These materials should be considered as supplementary to your application.

What if I lose my username or password?

If you lose your password, visit the GUST login and click "I forgot my password" in the top right corner of the page.

Is there a cost to apply to the network?

Yes, the fee iS$150 to apply to our network. 

How long will my company summary stay on your database?

Your summary will stay live on our database indefinitely, or until you ask us to remove it. 

How many companies are chosen to present at a venture fair?

We invite anywhere from 12 to 20 companies to present at each venture fair. This typically represents roughly 10% of the applicants that are accepted into our network and considered for a presentation spot each season.

What portion of entrepreneurs receive funding?

Historically, at least 25% of all presenters have received funding after presentation at an IC event.

What is the timetable for receiving funding?

The timing between submitting an application and receiving funding is dependent on the particular level of interest from an investor or group of investors as well as the schedule and structure of your particular deal. Some deals are finalized within a month of presenting, while others may take six months or longer.

</div>

<div class="clear"></div>
