﻿@using MoolahConnect.Util.Enums
@model MoolahConnectClassLibrary.Models.ViewModels.HomeLoanRequests
@{
    ViewBag.Title = "Home";
    var Role = "";
    if (Request.IsAuthenticated)
    {
        Role = ((System.Web.Security.FormsIdentity)(HttpContext.Current.User.Identity)).Ticket.UserData;
    }
}

<div id="latest_news_cont">
    <div id="backgroundPopup" class="bg"></div>
    Latest News Headlines: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                <br>
    <a href="#">more &raquo;</a>
</div>

<div id="header_cont">
    <div class="header_left">
        <a class="Investdiv" href="@Url.Content("~/User/InvestorBoard")" ></a>
        <div class="header_text_info_cont">
            I want to invest Money
                        <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
        </div>
        <div class="clear"></div>
        <div class="percenet_cont fl green_text" style="padding: 10px 0 0 245px;">
            <h3>Rate Starting at</h3>
            <h1>8.5 <sup>%</sup></h1>
        </div>
        <div class="clear"></div>
        <input type="button" id="" name="" value="read more" class="btn btn-inverse fr" style="margin: 135px 15px 0 0;">
    </div>
    <div class="header_right">
        <a class="Investdivright" href="@Url.Content("~/User/MakeLoanRequest")" ></a>
        <div class="header_text_info_cont">
            I want to invest Money
                        <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
        </div>
        <div class="percenet_cont fr orange_text" style="padding: 103px 0 0 0; margin-right: -146px;">
            <h3>Rate Starting at</h3>
            <h1>8.5 <sup>%</sup></h1>
        </div>
        <div class="clear"></div>
        <input type="button" id="" name="" value="read more" class="btn btn-inverse fr" style="margin: 135px 15px 0 0;">
    </div>
</div>

@* </header>*@
<div id="board_summary_cont">
    <h1>MoolahBoard Summary List </h1>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" id="board_summary_table">
        <tr>
            <th>Purpose </th>

            <th>Amount</th>
            <th>Tenor</th>
            <th>Target Rate</th>
            <th>Time Left</th>
            <th>Funded</th>
        </tr>

        @if (Model.ApprovedLoanList != null && Model.ApprovedLoanList.Count > 0)
        {
            foreach (var item in Model.ApprovedLoanList)
            {

                if (@item.Funded < 100)
                {
                         
            <tr>
                <td><span>

                    @if (Role == "Investor") //&& Request.IsAuthenticated
                    {
                        @Html.ActionLink(item.Purpose, "LoanSummary", "Investor", new { LoanRequestID = item.LoanRequestID }, null)
                    }
                    else
                    {
                        <a style="cursor: pointer;" onclick="ShowAccessDeniedMessage();">@item.Purpose</a>
                    }
                    <br />
                    @item.RegisteredAddress</span></td>

                <td class="formatCurrency">$@item.Amount</td>
                <td>@item.Term Months</td>
                <td>@item.AverageRate %</td>
                <td>
                    @if (item.PreliminaryStatus == (int)PreliminaryLoanRequestStatus.DraftPublished)
                    {
                        @item.days<span> days</span> @item.Hours <span>Hours</span> @item.minutest <span>Min</span>    
                    }
                </td>
                <td>
                    @item.Funded %</td>
            </tr>
                }


            }


        }
        else
        {
            <tr>
                <td colspan="6">Lots of borrower are look for loans</td>
            </tr>
        }
    </table>
</div>

<div id="media_cont">
    <h1>Media and Testimonials</h1>

    <div class="media">
        <div class="media_row">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="13%" align="left" valign="top"><span class="media_row">
                        <div id="test"></div>
                        <img src="~/Content/images/tv.png" alt=""></span></td>
                    <td width="87%" align="left" valign="top">
                        <span class="media_heading"><a href="#">Apartment Tenants Feeling Foreclosure…</a></span>
                        <br>
                        <span class="media_description">You don't have to be a homeowner to be squeezed by the foreclosure crisis, renters …</span>
                    </td>
                </tr>
            </table>
        </div>

        <div class="media_row">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="13%" align="left" valign="top"><span class="media_row">
                        <img src="~/Content/images/tv.png" alt=""></span></td>
                    <td width="87%" align="left" valign="top">
                        <span class="media_heading"><a href="#">Apartment Tenants Feeling Foreclosure…</a></span>
                        <br>
                        <span class="media_description">You don't have to be a homeowner to be squeezed by the foreclosure crisis, renters …</span>
                    </td>
                </tr>

                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td align="left" valign="top">&nbsp;</td>
                    <td align="left" valign="top"><span class="media_heading"><a href="#">More</a></span></td>
                </tr>
            </table>
        </div>



    </div>


    <div class="testimonials">
        <div class="media_row">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="100%" align="left" valign="top">
                        <span class="media_heading"><a href="#">Apartment Tenants Feeling Foreclosure…</a></span>
                        <br>
                        <span class="media_description">Lorem ipsum dolor sit amet, cons ec tetuer adipiscing elit. Praesent vestibulum molestie lacus Aenean nonummy</span>
                    </td>
                </tr>
            </table>
        </div>

        <div class="media_row">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="100%" align="left" valign="top">
                        <span class="media_heading"><a href="#">Apartment Tenants Feeling Foreclosure…</a></span>
                        <br>
                        <span class="media_description">Lorem ipsum dolor sit amet, cons ec tetuer adipiscing elit. Praesent vestibulum molestie lacus Aenean nonummy</span>
                    </td>

                    <tr>
                        <td>&nbsp;</td>
                    </tr>

                    <tr>
                        <td align="left" valign="top"><span class="media_heading"><a href="#">More Testimonials</a></span></td>
                    </tr>
                </tr>
            </table>
        </div>



    </div>

    <div class="clear"></div>
    <div class="partners_cont">
        <img src="~/Content/images/partners.jpg" alt="">
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".formatCurrency").formatCurrency();
    })

    function ShowAccessDeniedMessage() {
        bootbox.alert('Your have to @Html.ActionLink("Sign up / Login as Investor", "RegisterUser", "User", new { forwhat = "i" }, null) to view this Loan Request Detail.')
    }
</script>
