﻿@{
    ViewBag.Title = "InvestorBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="wish">


    <div class="inner_box">
        <div class="bx-wrapper" style="max-width: 100%;">
            <div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 280px;">
                <ul class="bxslider" style="width: auto; position: relative;">
                    <li style="float: none; list-style: none; position: absolute; width: 613px; z-index: 0; display: none;">
                        <a style="color: black; font-size: 11px; font-family: arial;">
                            <img src="~/Content/images/Nine-Investing-Behaviors-Art2.gif"></a>
                    </li>

                    <li style="float: none; list-style: none; position: absolute; width: 613px; z-index: 0; display: none;">

                        <a style="color: black; font-size: 11px; font-family: arial;">
                            <img src="~/Content/images/1680780-poster-1280-gofund-me-go-fund-me-dot-com.jpg">
                        </a>
                    </li>
                    <li style="float: none; list-style: none; position: absolute; width: 613px; z-index: 50; display: list-item;">
                        <a style="color: black; font-size: 11px; font-family: arial;">
                            <img src="~/Content/images/TeamPic2012.jpg">
                        </a>
                    </li>

                </ul>
            </div>
            @*    <div class="bx-controls bx-has-pager">
        <div class="bx-pager bx-default-pager">
            <div class="bx-pager-item"><a href="" data-slide-index="0" class="bx-pager-link active">1</a></div>
            <div class="bx-pager-item"><a href="" data-slide-index="1" class="bx-pager-link">2</a></div>
            <div class="bx-pager-item"><a href="" data-slide-index="2" class="bx-pager-link">3</a></div>
            <div class="bx-pager-item"><a href="" data-slide-index="2" class="bx-pager-link">4</a></div>
            
            
        </div>
    </div>*@
        </div>
        @if (Request.IsAuthenticated)
        {
            <input type="hidden" value="1" class="logincheck" />
                  
        }

    </div>
    <div class="clear">
    </div>
    <div class="inner_box_rgt">
        <div class="wish_out_new">
        <a href="/User/RegisterUser?forwhat=i">     <input name="" type="button" class="wish_btn_new"  value="Join Now"></a>
        </div>

    </div>
    <div class="dash_board">
        <div class="new_main">
            <div class="new_main_right" style="width: 430px;margin:2px 0 0 0;">
                <h3>Control your level of risk</h3>
                <p >
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>

                <div class="clear"></div>
            </div>
            <div class="new_main_left" style="width: 435px;margin:2px 0 0;">
                <h3>Earning a great rate</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <div class="dash_in_right" style="float: none !important;">
                <div class="new_main_left" style="width: 435px !important;" >
                    <h3>Withdraw your money when you need to</h3>
                    <p >Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
            </div>

            <div class="new_main_right" style="width: 430px;">
                <h3>Meet our investors</h3>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>

                <div class="clear"></div>
            </div>

        </div>
    </div>
</div>



<script src="@Url.Content("~/Scripts/jquery.bxslider.js")"></script>
<link href="@Url.Content("~/Content/css/jquery.bxslider.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jquery.fitvids.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.easing.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        jQuery('.bxslider').bxSlider({
            mode: 'fade',
            pager: true,
            auto: true,
            video: true,
            useCSS: false,
            controls: false,
            pause: 5000,
            onAfterSlide: function (currentSlide, totalSlides) {

                if (currentSlide == 0) {
                    jQuery('#slider').css("display", "block");
                }
            }
        });
    });    </script>
