﻿@using MoolahConnectnew.ViewModels
@using MoolahConnect.Util

@model LoginViewModel

<div id="wish" class="userlogin">
    @if (Model.isLocked)
    {
        <div class="alert alert-danger alert-dismissable">
            @ViewData["Error"]
            <br>
            <br>
            <b>To unlock your account, </b>
            <br>
            <br>
            1) Please send to <a href="mailto:admin@moolahsense.com">admin@moolahsense.com</a> from the email you have registered with us:
            <br>
            <br />
            <div>
                <ul>
                    <li>Your full name (For individual payee) </li>
                    <li>Your company name (For corporate payee and issuer) </li>
                    <li>Your contact number</li>
                </ul>
            </div>
            <br>
            2)	You will then receive a call from us to go through a short verification process before we proceed to unlock your account.
            <br>
        </div>
    }
    else
    {
        @MoolahConnectHelper.ErrorAlert((string)ViewData["Error"])
        @MoolahConnectHelper.WarningAlert((string)ViewData["Warning"])
    }

    @using (Html.BeginForm())
    {

        @Html.HiddenFor(m => m.SecurityQuestions)

        @Html.LabelFor(m => m.Username)
        @Html.TextBoxFor(m => m.Username)
        @Html.ValidationMessageFor(m => m.Username)

        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password)

        @*<br />
            <br />
            <div class="fl width100">
                <div class="reg_sec_ques">
                    @Html.DropDownListFor(model => model.SecurityQuestion,
                Model.SecurityQuestions, "--Select--",
                new { @class = "reg_sec_ques_dd", })
                </div>
                @Html.TextBoxFor(model => model.SecurityQuestionAnswer, new { placeholder = "Security Question Answer", @class = "wish_input" })
                @Html.ValidationMessageFor(model => model.SecurityQuestionAnswer)
            </div>
            <br />
            <br />*@
        <br />
        <br />
        <div>
            <p>
                By logging in, you are bound to <a target="_blank" href="@Settings.TermsOfServiceUrl">Terms of Service</a>, <a target="_blank" href="@Settings.CodeOfConductUrl">Code of Conduct</a>
                and <a target="_blank" href="@Settings.DataProtectionPolicyUrl">Privacy and Data Protection Policy</a>
            </p>
        </div>
        <br />
        <input id="btnLogin" type="submit" value="Login" class="wish_btn" />
        <br />
        <a href="@Url.Action("ResetCredentialStep1")">Can't access your account?</a>
    }
</div>

