﻿<div>
    <div style="width: 100%" align="center">
        <img alt="" src="/Content/images/logo.png">
        <div class="ConfMessage">
            @ViewBag.Message
        </div>
    </div>
</div>
