﻿@{
    ViewBag.Title = "ConfirmRegistration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div style="width: 100%" align="center">
        <img alt="" src="/Content/images/logo.png">
        <div class="ConfMessage">
            We have sent you an email to verify your email address. Please check.
        </div>
    </div>
</div>
