﻿@using MoolahConnect.Util

@model MoolahConnectClassLibrary.Models.ViewModels.RegisterUserModel

@{
    ViewBag.Title = "RegisterUser";
    
}

<script>

    $(document).ready(function () {
        ShowInverstorType();

        $('#password').passStrengthify();

        $(".customicon-bulb").popover({ html: true });
    });

    function validateSecurityQuestion(control) {

        var value = $('#' + control).val();

        if (control != 'question1') {
            if (CheckDuplicateQuestions(value, control, 'question1'))
                return;
        }

        if (control != 'question2') {
            if (CheckDuplicateQuestions(value, control, 'question2'))
                return;
        }

        if (control != 'question3') {
            if (CheckDuplicateQuestions(value, control, 'question3'))
                return;
        }


        $('#divSecError').empty();
        $('#divSecError').hide();
    }

    function CheckDuplicateQuestions(param, thisControl, control) {
        if (param == $('#' + control).val()) {
            $('#divSecError').html('You cannot select the same security question.');
            $('#divSecError').show();
            $('#' + thisControl).val(null);
            return true;
        }
        else {
            return false;
        }

    }

</script>
@using (Html.BeginForm("RegisterUser", "User", FormMethod.Post, new { @id = "frmRegister" }))
{
    @Html.ValidationSummary(true)

    
    <div id="wish">
        <div class="wish_txt">Wish: </div>
        <div class="wish_rgt">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td>

                        @Html.RadioButtonFor(model => model.Userrole, "Borrower", new { onclick = "HideInverstorType()" })
                    </td>
                    <td>&nbsp; Find Moolah (For Businesses) </td>
                </tr>

                <tr>
                    <td>

                        @Html.RadioButtonFor(model => model.Userrole, "Investor", new { onclick = "ShowInverstorType()" })
                    </td>
                    <td>&nbsp; Invest Moolah (For Investors) </td>
                </tr>
            </table>
        </div>
        <div style="float: left; min-width: 300px;">
            &nbsp @Html.ValidationMessageFor(model => model.Userrole)
        </div>
        <div class="clear"></div>
        <div class="fl width100" id="dvInvstorType" style="display: none;">
            <div class="wish_txt_one">Investor Type :</div>

            @Html.DropDownListFor(model => model.InverstorType, new SelectList(new List<Object>{
           new { value = "Individual" , text = "Individual"  },
                 new { value ="Corporate" , text = "Corporate" }                            
                       },
                  "value",
                  "text"
                  ), new { id = "drpInverstoryType", @class = "des_new_list", @style = "width:200px" })

        </div>
        <div class="clear"></div>

        <div class="fl width100">
            <div class="wish_txt_one">Email :</div>

            @Html.TextBoxFor(model => model.EmailAddress, new { placeholder = "Email", @class = "wish_input", id = "txtEmailid" })
            @Html.ValidationMessageFor(model => model.EmailAddress)
        </div>
        <div class="clear"></div>
        <div class="fl width100">
            <div class="wish_txt_one">Email Confirmation:</div>

            @Html.TextBoxFor(model => model.ConfirmEmailAddress, new { placeholder = "Confirm Email", @class = "wish_input" })
            @Html.ValidationMessageFor(model => model.ConfirmEmailAddress)

        </div>
        <div class="clear"></div>
        <div class="fl width100">
            <div class="wish_txt_one">Password:</div>

            @Html.TextBoxFor(model => model.Password, new { @id = "password", @name = "password", placeholder = "******", type = "Password", @class = "wish_input password" })
            @Html.ValidationMessageFor(model => model.Password, "* Password is required", new { @style = "margin-left:-1%;" })
            <span id="passwordHelp" class="customicon-bulb tip" style="margin-right: 2%" data-title="Password Help" data-content="@Html.Partial("_Help")" data-trigger="hover" />
        </div>
        <div class="clear"></div>
        <div class="fl width100">
            <div class="wish_txt_one">Password Confirmation:</div>

            @Html.TextBoxFor(model => model.ConfirmPassword, new { placeholder = "******", type = "Password", @class = "wish_input" })
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>
        <div class="clear"></div>
        <div class="wish_txt reg_sec_ques_title">Security Question: </div>
        <div class="clear"></div>
        <div>
            <div id="divSecError" class="alert alert-danger" data-fade="3000" style="width: 50%; display: none;">...</div>
        </div>
        <div class="fl width100">
            @if (ViewBag.SecurityQuestions != null)
            {
                <div class="reg_sec_ques">@Html.DropDownListFor(model => model.SecurityQuestion1,
            (IEnumerable<SelectListItem>)ViewBag.SecurityQuestions,
                "--Select--",
            new { @id = "question1", @name = "quest1", @class = "reg_sec_ques_dd", @onChange = "validateSecurityQuestion(this.id)" })
                </div>


                @Html.TextBoxFor(model => model.SecurityQuestionAnswer1, new { placeholder = "Security Question Answer", @class = "wish_input" })
                @Html.ValidationMessageFor(model => model.SecurityQuestionAnswer1)
            }
        </div>
        <div class="clear"></div>
        <div class="fl width100">
            @if (ViewBag.SecurityQuestions != null)
            {
                <div class="reg_sec_ques">@Html.DropDownListFor(model => model.SecurityQuestion2,
                (IEnumerable<SelectListItem>)ViewBag.SecurityQuestions,
                "--Select--",
            new { @id = "question2", @name = "quest2", @class = "reg_sec_ques_dd", @onChange = "validateSecurityQuestion(this.id)" })
                </div>
            

                @Html.TextBoxFor(model => model.SecurityQuestionAnswer2, new { placeholder = "Security Question Answer", @class = "wish_input" })
                @Html.ValidationMessageFor(model => model.SecurityQuestionAnswer2)
            }
        </div>
        <div class="clear"></div>
        <div class="fl width100">
            @if (ViewBag.SecurityQuestions != null)
            {
                <div class="reg_sec_ques">@Html.DropDownListFor(model => model.SecurityQuestion3,
            (IEnumerable<SelectListItem>)ViewBag.SecurityQuestions,
                "--Select--",
            new { @id = "question3", @name = "quest3", @class = "reg_sec_ques_dd", @onChange = "validateSecurityQuestion(this.id)" })
                </div>

                @Html.TextBoxFor(model => model.SecurityQuestionAnswer3, new { placeholder = "Security Question Answer", @class = "wish_input" })
                @Html.ValidationMessageFor(model => model.SecurityQuestionAnswer3)
            }
        </div>
        <div class="clear"></div>
        <div class="wish_term">
            By signing up, you are bound to <a target="_blank" href="@Settings.TermsOfServiceUrl">Terms of Service</a>, <a target="_blank" href="@Settings.CodeOfConductUrl">Code of Conduct</a>
            and <a target="_blank" href="@Settings.DataProtectionPolicyUrl">Privacy and Data Protection Policy</a>
        </div>

        <div class="clear"></div>
        <input id="btnSubmit" type="submit" class="wish_btn" value="Sign Up" />
    </div>
    
    
}


