﻿@model MoolahConnectnew.ViewModels.LoginViewModel

<div id="wish">
    @MoolahConnectHelper.ErrorAlert((string)ViewData["Error"])
    <div id="divResetCredentials">
        <h3>Forgot Password</h3>
        <div class="accordion-sub">
            @Html.Partial("_ResetPassword", Model)
        </div>
        <h3>Forgot Security Question</h3>
        <div class="accordion-sub">
            @Html.Partial("_ResetSecurityQuestion", Model)
        </div>
    </div>
</div>

<script>
    $(function () {
        $("#divResetCredentials").accordion();
    });
</script>
