﻿@using MoolahConnect.Util.SealedClasses

@model MoolahConnectnew.ViewModels.LoginViewModel

<div id="wish">
    @if (ViewData["Error"] == ErrorMessages.ACCOUNT_LOCKED)
    { 
        <div class="alert alert-danger alert-dismissable">
            @ViewData["Error"]
            <br>
            <br>
            <b>To unlock your account, </b>
            <br>
            <br>
            1) Please send to <a href="mailto:admin@moolahsense.com">admin@moolahsense.com</a> from the email you have registered with us:
            <br>
            <br />
            <div>
                <ul>
                    <li>Your full name (For individual investor) </li>
                    <li>Your company name (For corporate investor and borrower) </li>
                    <li>Your contact number</li>
                </ul>
            </div>
            <br>
            2)	You will then receive a call from us to go through a short verification process before we proceed to unlock your account.
            <br>
        </div>
    }
    else
    {
        @MoolahConnectHelper.ErrorAlert((string)ViewData["Error"])       
    }
    <h1>Get back into your account</h1>
    <br />
    <p>We can help you reset your password and security info. First, enter your MoolahSense email address.</p>
    <br />
    <br />
    @using (Html.BeginForm())
    {
        @Html.LabelFor(m => m.Username)
        @Html.TextBoxFor(m => m.Username)
        @Html.ValidationMessageFor(m => m.Username)
        <br />
        <input class="wish_btn" type="submit" onclick="$('#mask').showLoading();" value="Next" />        
        <input class="wish_btn_neg" type="button" value="Cancel" onclick="RedirectToLogin();" />
        <br />
        <a href="javascript:displayMessageForForgotEmail();">Forgot email address as well?</a>
    }
</div>

<div id="divForgotEmailMessage" style="display: none">
    <b>Please use the following steps to get back your email address.</b>
    <br>
    <br>
    1)	Try logging into the login page with all different combinations of your email addresses, examples: @@gmail.com, @@yahoo.com.sg, etc.
            <br>
    <br>
    2)	If you are still logged into your MoolahSense account, the email address that is connected to the account is displayed at the top right hand corner.
            <br />
    <br>
    3)	 If you are still having trouble, please send an email to our support team (<a href="mailto:admin@moolahsense.com">admin@moolahsense.com</a>) with :
            <br>
    <br>
    <div>
        <ul>
            <li>Your full name (For individual investor) </li>
            <li>Your company name (For corporate investor and borrower) </li>
            <li>Your contact number</li>
        </ul>
    </div>
    <br>
    4) You will then receive a call from us to go through a short verification process before we proceed to reveal your email address.
</div>

<script>
    function displayMessageForForgotEmail() {
        bootbox.alert($('#divForgotEmailMessage').html());
    }
</script>
