﻿@model MoolahConnectnew.ViewModels.RegisterViewModel

<script>
    function validateSecurityQuestion(control) {

        var value = $('#' + control).val();

        if (control != 'question1') {
            if (CheckDuplicateQuestions(value, control, 'question1'))
                return;
        }

        if (control != 'question2') {
            if (CheckDuplicateQuestions(value, control, 'question2'))
                return;
        }

        if (control != 'question3') {
            if (CheckDuplicateQuestions(value, control, 'question3'))
                return;
        }


        $('#divSecError').empty();
        $('#divSecError').hide();
    }

    function CheckDuplicateQuestions(param, thisControl, control) {
        if (param == $('#' + control).val()) {
            $('#divSecError').html('You cannot select the same security question.');
            $('#divSecError').show();
            $('#' + thisControl).val(null);
            return true;
        }
        else {
            return false;
        }

    }
</script>

<div id="wish">
    <div>
        <div id="divSecError" class="alert alert-danger" data-fade="3000" style="display: none;">...</div>
    </div>
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m => m.Username)
    
        <div class="fl width100">
            <div class="reg_sec_ques">@Html.DropDownListFor(model => model.SecurityQuestion1,
            (IEnumerable<SelectListItem>)ViewBag.SecurityQuestions,
                "--Select--",
            new { @id = "question1", @name = "quest", @class = "reg_sec_ques_dd", @onchange = "validateSecurityQuestion(this.id);" })
            </div>

            @Html.TextBoxFor(model => model.SecurityQuestionAnswer1, new { placeholder = "Security Question Answer", @class = "wish_input" })
            @Html.ValidationMessageFor(model => model.SecurityQuestionAnswer1)
        </div>
        <div class="clear"></div>
        <div class="fl width100">
            <div class="reg_sec_ques">@Html.DropDownListFor(model => model.SecurityQuestion2,
            (IEnumerable<SelectListItem>)ViewBag.SecurityQuestions,
                "--Select--",
            new { @id = "question2", @name = "quest", @class = "reg_sec_ques_dd", @onchange = "validateSecurityQuestion(this.id);" })
            </div>

            @Html.TextBoxFor(model => model.SecurityQuestionAnswer2, new { placeholder = "Security Question Answer", @class = "wish_input" })
            @Html.ValidationMessageFor(model => model.SecurityQuestionAnswer2)
        </div>
        <div class="clear"></div>
        <div class="fl width100">
            <div class="reg_sec_ques">@Html.DropDownListFor(model => model.SecurityQuestion3,
            (IEnumerable<SelectListItem>)ViewBag.SecurityQuestions,
                "--Select--",
            new { @id = "question3", @name = "quest", @class = "reg_sec_ques_dd", @onchange = "validateSecurityQuestion(this.id);" })
            </div>

            @Html.TextBoxFor(model => model.SecurityQuestionAnswer3, new { placeholder = "Security Question Answer", @class = "wish_input" })
            @Html.ValidationMessageFor(model => model.SecurityQuestionAnswer3)
        </div>
        <br />
        <input class="wish_btn" type="submit" value="Submit" />
    }
</div>
