﻿<div>
    <div style="width: 100%" align="center">
        <img alt="" src="/Content/images/logo.png">
        <div class="ConfMessage">
            You have successfully reset the security questions. Please click <a href="@Url.Action("Login")">here</a> to login.
        </div>
    </div>
</div>
