﻿@model MoolahConnectnew.ViewModels.LoginViewModel

<div id="wish">
    @using (Html.BeginForm())
    {
        @MoolahConnectHelper.ErrorAlert((string)ViewData["Error"])
        @Html.HiddenFor(m => m.Username)
    
        <div class="fl width100">
            <div class="wish_txt_one">Password:</div>

            @Html.TextBoxFor(model => model.Password, new { @id = "password", @name = "password", placeholder = "******", type = "Password", @class = "wish_input password" })
            @Html.ValidationMessageFor(model => model.Password)
            <span id="passwordHelp" class="customicon-bulb tip" style="margin-right:1%;" data-title="Password Help" data-content="@Html.Partial("_Help")" data-trigger="hover" />
        </div>
        <div class="clear"></div>
        <div class="fl width100">
            <div class="wish_txt_one">Password Confirmation:</div>

            @Html.TextBoxFor(model => model.ConfirmPassword, new { placeholder = "******", type = "Password", @class = "wish_input" })
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>
        <div class="clear"></div>
        <br />
        <input class="wish_btn" type="submit" value="Submit" />
    }
</div>

<script>
    $(document).ready(function () {
        $('#password').passStrengthify();
        $(".customicon-bulb").popover({ html: true });
    })
</script>
