﻿@using MoolahConnect.Util.Enums
@using MoolahConnectnew.ViewModels.Investor
@using MoolahConnect.Util.ExtensionMethods
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr class="bg_col">


        <td class="bdr_bottom bdr_left">Request ID </td>
        <td class="bdr_bottom">Company Name</td>
        <td class="bdr_bottom">Date of Offer</td>
        <td class="bdr_bottom">Tenor </td>
        <td class="bdr_bottom">Target Rate </td>
        <td class="bdr_bottom">Amount Offered </td>
        <td class="bdr_bottom">Amount Accepted </td>
        <td class="bdr_bottom">Rate Offered </td>
        <td class="bdr_bottom">Accepted Rate</td>
        <td class="bdr_bottom">Status </td>

    </tr>
    <tbody>
        @if (ViewBag.LoanOffers.Count > 0)
        {

            foreach (LoanOfferViewModel item in ViewBag.LoanOffers)
            {
                        
            <tr id="offr_@item.OfferId">

                <td class="bdr_left">
                    @Html.ActionLink(Convert.ToString(item.LoanRequestId), "MatchedNoteDetails", "Note", new { noteRequestID = item.LoanRequestId }, new { target = "_blank" })
                </td>
                <td class="tbl_td_name_m">@item.CompanyName</td>
                <td>@item.DateOfOffer.ToDateTime()</td>
                <td>@item.Tenor M</td>
                <td>@item.RequestedLoanRate % </td>
                <td class="currency_tbl_td">@item.AmountOfferd.ToCurrency()</td>
                <td class="currency_tbl_td">@item.AmountAccepted.ToCurrency()</td>
                <td>@item.RateOffered %</td>
                <td>
                    @if (item.LoanRequestStatus != LoanRequestStatus.InProgress)
                    {
                        @item.LoanRate @:%    
                    }
                </td>
                @if (item.Status == LoanOfferStatus.Rejected.ToString())
                {
                    <td><a href="javascript:ShowReasonToReject('@item.ReasonToReject')" >@item.Status</a></td>
                }
                else if (item.Status == LoanOfferStatus.RejectedByAdmin.ToString())
                {
                    <td>@LoanOfferStatus.Accepted.ToString()</td>
                }
                else
                {
                    <td>@item.Status</td>       
                }
            </tr>
                          
            }

        }

        else
        {
            <tr>
                <td colspan="9" class="bdr_left">No offers
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    function ShowReasonToReject(reason) {
        bootbox.alert(reason, function () {
        });
    }
</script>
