﻿@model MoolahConnectClassLibrary.Models.ViewModels.DocumentsList

<script>
  
    var VerificationImg = $("#VerificationImg").attr("src");

    if (VerificationImg == "/Content/images/") {
        $(".StatusImg").css("display", "none");
    }

    });


</script>

<div id="wish" class="no_bg">
    <div class="wish_txt_in min_width">
        <p>
            1) Print and Sign the Registration form (incorporates T&C)
                            <br />
            2) Submit the required documents
                            <br />
            3) Send your signed and completed Registration form via Post,Email or Upload
                            <br />
            4) View Registration Status to keep track
        </p>
    </div>



    @if (Model.DocumentsList1 != null)
    {
        foreach (var item in Model.DocumentsList1)
        {
       
        <div class="fl bot_mar">
            <div class="wish_doc">@Html.DisplayFor(modelItem => item.DocumentName) : 
                 @if (item.DocumentStatus == true)
                 {
                     <img id="VerificationImg1" class="StatusImg" alt="tick.png"  src="@Url.Content("~/Content/images/tick.png")"  /> 
                 }
                 else
                 {
                     <img id="VerificationImg" class="StatusImg" alt="cross.png"  src="@Url.Content("~/Content/images/cross.png")"  /> 
                 }
            </div>

            <div class="wish_stat">@Html.Encode(item.DocumentStatus == true ? "Verified" : "Not Verified")
                <br />

                @Html.Action("GetComments", "Investor", new { documentid = item.DocumentId })

            </div>
        </div>
    
        <div class="clear"></div>
        }
    }
    else
    {
        <div class="fl bot_mar">
            <div class="wish_doc">No document uploaded yet  </div>
            <div class="wish_stat"></div>
            <div class="fl">
            </div>
            <div class="wish_doc"></div>
        </div>
    }

    @if (Model.CommentsOnDocuments != null)
    { 
           
        <div class="fl bot_mar width100">
            <div class="wish_txt_reg">
                <div id="dvAdminComment" class="wish_input" style="border: 1px solid #bbb9af; height: auto; width: 580px; padding: 10px;">
                    <div style="float: left">Admin Comments: </div>
                    <br />
                    <br />
                    <p style="color: #FF0A0A">@Model.CommentsOnDocuments</p>
                </div>
            </div>
        </div>
    }
    <div class="pre-next-buttons-submit">
        <input name="" type="button" class="wish_btn_back" value="Back to previous Page" onclick="GotoStep(2, false)">
        <a href="@Url.Content("/Investor/Index")" class="wish_btn next-btn">Dashboard</a>
    </div>
