﻿@model MoolahConnectClassLibrary.Models.ViewModels.Knowledgeassessment

<div id="wish" class="no_bg">
    <div class="wish_txt_in min_width_1050">
            <p class="font_12">You are a new breed of investor! Help us to understand a little more about you. Also, we would greatly appreciate that you would acknowledge the summary risks and our terms of service before proceeding.</p>
        </div>
        <div class="clear"></div>

    @if (Model.Parentlist != null)
    {
        foreach (var item in Model.Parentlist)
        {
       
        <div id="@item.ParentId" class="fl width100">
            <div><b>@Html.DisplayFor(modelItem => item.Parenttext) </b>  </div>
            <div class="clear"></div>
            @Html.Action("GetKnowledgeassessmentoptions", "Investor", new { Parentid = item.ParentId })
        </div>
    
        <div class="clear"></div>
        }
    }
    else
    {
        <div class="fl width100">
            <div>No Knowledge assessment survey found </div>
            <div class="wish_stat"></div>
            <div class="fl">
            </div>
            <div class="wish_doc"></div>
        </div>
    }
    <div class="pre-next-buttons">
        <input name="" type="button" class="wish_btn_back" value="Back" onclick="GotoStep(1, false)">
        <input name="" type="button" class="wish_btn next-btn" value="Submit" onclick="return SaveKnowledgeDetailsofInvestor();">
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        disalbleotheroption();
        EmploymentSelectionChanged();
    });
</script>