﻿@using MoolahConnect.Util.Enums
@model MoolahConnectClassLibrary.Models.ViewModels.InvestorDocuments

<div id="wish" class="no_bg">
    <div class="wish_txt_in min_width_1">
        <b><u>Compulsory Supporting Documents</u></b>
        <br /><br />
        1)	Proof of Identity
        <br /><br />
        <b>Singaporeans and Permanent Residents (PR)</b>
        <br /><br />
        &nbsp&nbsp 1.	Photocopy of front and back of identity card
        <br /><br />
        <b>Foreigners without PR Status</b>
        <br /><br />
        &nbsp&nbsp 1.	Photocopy of valid passport(At least 6 months validity)
        <br />
        &nbsp&nbsp 2.	Photocopy of employment pass, dependant’s pass or student pass
        <br /><br />
        If you are uncomfortable uploading the proof of identity online, We’d encourage you to email our team at <a href="mailto:admin@moolahsense.com">admin@moolahsense.com</a> or contact us on 6871 8780.
        <br /><br />
        <b><u>Procedure</u></b>
        <br /><br />
        1)	Print, sign and scan the <b> Standard Terms and Conditions </b><br />
        2)	Upload the signed  <b> Standard Terms and Conditions </b> and <b>Compulsory Supporting Documents</b> <br />
        3)	Submit the application online<br />
        4)	Receive an email from MoolahSense once the application has been processed<br />

        <br /><br />
        
    </div>
    <div class="fr">
        <a href="@Url.Action("DownloadFileFromFileName", "Shared", new { filePath = "MSense - Individual Payee Standard TC.pdf" })">
            <input name="" type="button" class="print_form" value="Print Standard Terms and Conditions"></a>
    </div>
    <div class="clear"></div>
    <div style="width:50%">
        @MoolahConnectHelper.UploadRegistrationDocuments("doc","Documents Upload",HttpContext.Current.User.Identity.Name,FileType.Registration.ToString(),"false")
    </div>
    <div class="pre-next-buttons-submit">
        <input name="" type="button" class="wish_btn_back" value="Back" onclick="GotoStep(2, false)">
        <input name="" type="button" class="wish_btn next-btn" value="Submit" onclick="ClickSubmit('Investor','doc')">
    </div>
</div>

