﻿@model MoolahConnectClassLibrary.Models.ViewModels.InvestorAccountDetailsModel
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script>
    $(function () {
        $(document).tooltip();
    });
</script>
<style>
    label {
        display: inline-block;
        width: 5em;
    }

    .wish_input_small {
        margin: 0 10px 0 0 !important;
        width: 84px !important;
    }
</style>
<script>

    $(document).ready(function () {

        $(".datepicker").datepicker({
            changeMonth: true, changeYear: true, yearRange: 'c-100:c+5', dateFormat: 'd M yy'

        });

        if ($("#UserVerificationStatus").val() == "unverified") {
            $(".StatusImg").css("display", "none");
        }

        $(".customicon-bulb").popover({ html: true });
    });

    function CheckforUniqueQuestions() {
        var sq1 = $("#ddlSq1").val();
        var sq2 = $("#ddlSq2").val();
        if (sq1 == sq2) {
            alert('Please select unique security questions');
            $('#btnContinue').attr('disabled', 'disabled');
        }
        else {

            $('#btnContinue').removeAttr('disabled');
        }

    }

</script>


@using (Html.BeginForm("Create", "Investor", FormMethod.Post, new { id = "InvestorAccount" }))
{
  
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.UserVerificationStatus, new { id = "UserVerificationStatus" });
    <div id="wish" class="no_bg">
        <div class="wish_txt_in min_width_1050">
            <p class="font_12">In order to see the investments available on our platform, we need to know a bit about you. This helps us adhere to "Know Your Customer" rules.<br />
                Please mouse over the
                <img src="~/Content/images/light-bulb.png" />
                for more information.<b> We do not sell or share your personal information.</b></p>
        </div>
        <div class="clear"></div>
        <br />
        <div class="fl bot_mar width100">
            <div class="wish_txt_reg">Full Name as in NRIC/ Passport</div>
            @*  <img class="StatusImg" alt="@Model.FullNameIndicator"  src="@Url.Content("~/Content/images/" + Model.FullNameIndicator + "")"  />*@
            @Html.TextBoxFor(m => m.FullName, new { placeholder = "Full Name", @class = "wish_input" })
            &nbsp;
            <span class="customicon-bulb tip" data-title="Help" data-content="Your full name will be included in the final contract note." data-trigger="hover" />
            &nbsp;&nbsp;&nbsp;&nbsp;
            @Html.ValidationMessageFor(m => m.FullName)
        </div>

        <div class="fl bot_mar width100">
            @* <img id="imgDisplayName" />*@
            <div class="wish_txt_reg">Display Name</div>

            @Html.TextBoxFor(m => m.DisplayName
                             , new { placeholder = "Display Name", @class = "wish_input" })
            &nbsp;
            <span class="customicon-bulb tip" data-title="Help" data-content="This is the nickname that will be displayed when you submit an offer." data-trigger="hover" />
            &nbsp;&nbsp;&nbsp;&nbsp;
            @Html.ValidationMessageFor(m => m.DisplayName)
        </div>
        <div class="fl bot_mar width100">
            <div class="wish_txt_reg">Nationality</div>
            <select class="wish_list_in" id="Nationality" name="NationalityTitle">
                @if (Model.Nationality == "Singapore Citizen")
                {
                    <option value="Singapore Citizen" selected="selected">Singapore Citizen</option>
                }
                else
                {
                    if (string.IsNullOrEmpty(Model.Nationality))
                    {
                    <option value="Singapore Citizen" selected="selected">Singapore Citizen</option>
                    }
                    else
                    {
                    <option value="Singapore Citizen">Singapore Citizen</option>
                    }
                }

                @if (Model.Nationality == "Singapore PR")
                {
                    <option value="Singapore PR" selected="selected">Singapore PR</option>
                }
                else
                {
                    <option value="Singapore PR">Singapore PR</option>
                }

                @if (Model.Nationality != "Singapore Citizen" && Model.Nationality != "Singapore PR"
                    && !string.IsNullOrEmpty(Model.Nationality))
                {
                    <option value="Other Nationalities" selected="selected">Other Nationalities</option>
                }
                else
                {
                    <option value="Other Nationalities">Other Nationalities</option>
                }
            </select>&nbsp;
            @Html.TextBoxFor(m => m.Nationality, new { id = "nationality" })
            @Html.ValidationMessageFor(m => m.Nationality)
        </div>
        <div class="clear"></div>
        <div class="fl bot_mar width100">
            <div class="wish_txt_reg">NRIC Number for Singapore Citizens and PR / FIN for Foreigners : </div>
            @Html.TextBoxFor(m => m.ICNumber, new { placeholder = "NRIC Number/ FIN", @class = "wish_input" })
            &nbsp;
            <span class="customicon-bulb tip" data-title="Help" data-content="If you are a Singaporean/PR , your NRIC will be included in the final contract note. For Foreigners, we will use FIN to check that you are currently residing in Singapore." data-trigger="hover" />
            &nbsp;&nbsp;&nbsp;&nbsp;
            @Html.ValidationMessageFor(m => m.ICNumber)
        </div>
        <div class="clear"></div>
        <div class="fl bot_mar width100">
            <div class="wish_txt_reg">Passport Number for Foreigners : </div>
            @Html.TextBoxFor(m => m.PassportNumber, new { placeholder = "Passport Number", @class = "wish_input" })
            &nbsp;
            <span class="customicon-bulb tip" data-title="Help" data-content="If you are not a Singaporean/PR, your passport number will be included in the final contract note" data-trigger="hover" />
            &nbsp;&nbsp;&nbsp;&nbsp;
            @Html.ValidationMessageFor(m => m.PassportNumber)
        </div>
        <div class="clear"></div>
        <div class="fl bot_mar" style="width: 800px;">
            <div class="wish_txt_reg">Date of Birth</div>
            @if (Model.DateofBirth != null)
            {
                <input type="text" name="DateofBirth"  class="wish_input datepicker" id="txtDateOfBirth" value="@Convert.ToDateTime(Model.DateofBirth).ToString("dd MMM yyyy")" />
            }
            else
            {
                <input type="text" name="DateofBirth"  class="wish_input datepicker" id="txtDateOfBirth" value="@Model.DateofBirth"  />    
            }
            &nbsp;<a id="Agetcalender">
                <img src="~/Content/images/cal.jpg" width="24" height="27" alt="#"></a>
            &nbsp;
            <span class="customicon-bulb tip" data-title="Help" data-content="We need to know that you are not a minor." data-trigger="hover" />
            &nbsp;&nbsp;&nbsp;&nbsp;
            @Html.ValidationMessageFor(m => m.DateofBirth)
            @Html.HiddenFor(m => m.DateofBirth, new { id = "DateofBirth" })
        </div>
        <div class="clear"></div>
        <div class="fl bot_mar width100">
            <div class="wish_txt_reg">Gender</div>
            @*  <img  class="StatusImg" alt="@Model.GenderIndicator" src="@Url.Content("~/Content/images/" + Model.GenderIndicator + "")"  />*@
            @Html.DropDownList("Gender", Model._Gender, new { id = "Gender", @class = "wish_list_in" })
            @Html.ValidationMessageFor(m => m.Gender)
        </div>
        <div class="clear"></div>
        <div class="fl bot_mar width100">
            <div class="wish_txt_reg">Residential Address Line 1</div>
            @* <img class="StatusImg" alt="@Model.ResidentialAddressIndicator" src="@Url.Content("~/Content/images/" + Model.ResidentialAddressIndicator + "")"  />*@
            @Html.TextBoxFor(m => m.ResidentialAddress1, new { placeholder = "Residential Address 1", @class = "wish_input" })
            &nbsp;
            <span class="customicon-bulb tip" data-title="Help" data-content="We will be sending any mails to this address." data-trigger="hover" />
            &nbsp;&nbsp;&nbsp;&nbsp;
            @Html.ValidationMessageFor(m => m.ResidentialAddress1)
        </div>
        <div class="clear"></div>
        <div class="fl bot_mar width100">
            <div class="wish_txt_reg">Residential Address Line 2</div>
            @* <img class="StatusImg" alt="@Model.ResidentialAddressIndicator" src="@Url.Content("~/Content/images/" + Model.ResidentialAddressIndicator + "")"  />*@
            @Html.TextBoxFor(m => m.ResidentialAddress2, new { placeholder = "Optional", @class = "wish_input" })
            @Html.ValidationMessageFor(m => m.ResidentialAddress2)
        </div>
        <div class="clear"></div>
        <div class="fl bot_mar width100">
            <div class="wish_txt_reg">Residential Address Postal Code</div>
            @*   <img class="StatusImg" alt="@Model.PostalCodeIndicator" src="@Url.Content("~/Content/images/" + Model.PostalCodeIndicator + "")"  />*@
            @Html.TextBoxFor(m => m.ResidentialPostalCode
           , new { placeholder = "Residential Address Postal Code", @class = "wish_input" })
            @Html.ValidationMessageFor(m => m.ResidentialPostalCode)
        </div>
        <div class="clear"></div>
        <div class="fl bot_mar width100">
            <div class="wish_txt_reg">Main Contact Number</div>
            @* <img class="StatusImg" alt="@Model.MainContactNumberIndicator" src="@Url.Content("~/Content/images/" + Model.MainContactNumberIndicator + "")"  />*@
            @Html.TextBoxFor(m => m.MainContactNumber
           , new { placeholder = "Main Contact Number", @class = "wish_input" })
            @Html.ValidationMessageFor(m => m.MainContactNumber)
        </div>
        <div class="clear"></div>
        <div class="fl bot_mar width100">
            <div class="wish_txt_reg">Official Correspondence Email : </div>
            @Html.TextBoxFor(m => m.Emailaddress, new { @class = "wish_input",@id="emailAdd" })
            @*<input type="text" value="@Model.Emailaddress" class="wish_input" id="emailAdd"/>*@
        </div>
        <div class="clear"></div>
        <div class="fl bot_mar width100">
            <div class="wish_txt_reg">
                Account (Bank, Account Number) :
            </div>
            @Html.DropDownListFor(m => m.BankId, new SelectList(Model.BanksList, "BankId", "BankName", Model.BankId),
                                          new { @class = "wish_input_small", @style = "padding-right:0px !important;width:202px !important;" })
            &nbsp;
            <span class="customicon-bulb tip" data-title="Help" data-content='Any funds transfer in and out of your MoolahSense account shall be made through this account. This account needs to be in the same name as your "Full Name" above.' data-trigger="hover" />
            &nbsp;&nbsp;&nbsp;&nbsp;
        </div>

        <div class="clear"></div>
        <div class="fl bot_mar width100">
            <div class="wish_txt_reg">&nbsp;</div>
            @Html.TextBoxFor(m => m.BankAccountNumber
                             , new { placeholder = "Account Number", @class = "wish_input" })
            @Html.ValidationMessageFor(m => m.BankAccountNumber)
        </div>
        <div class="clear"></div>
        @*<div class="fl bot_mar width100">
            <div class="wish_txt_reg">&nbsp;</div>
            @Html.TextBoxFor(m => m.BankAccountName
                             , new { placeholder = "Account Name", @class = "wish_input" })
            @Html.ValidationMessageFor(m => m.BankAccountName)
        </div>
        <div class="clear"></div>*@
        @if (Model.CommentsOnField != null)
        { 
            <div class="fl bot_mar width100">
                <div class="wish_txt_reg">
                    Admin Comments :   
                </div>
                <div class="clear"></div>
            </div>
            <div class="fl bot_mar width100">
                <div class="wish_txt_reg">
                    <div id="dvAdminComment" class="wish_input" style="border: 1px solid #bbb9af; height: auto; width: 580px; padding: 10px;">
                        <p style="color: #FF0A0A">@Model.CommentsOnField</p>

                    </div>
                </div>
            </div>
        }
        <div class="fl bot_mar"></div>
        <div class="clear"></div>
        <div class="fl bot_mar">
            <div class="wish_txt_reg">&nbsp;</div>
            <div class="wish_left">
                <div class="wish_out fr">
                    <button class="wish_btn" id="btnContinue" value="Continue">Continue</button>

                </div>
            </div>
        </div>
    </div>
    
}

<script src="~/Scripts/mvcfoolproof.unobtrusive.min.js"></script>

<script>

    $(document).ready(function () {
        SetNationalityAtr();
        var newVal = $('#txtDateOfBirth').val();
        $('#DateofBirth').val(newVal);
        $('#emailAdd').attr('disabled', 'disabled');
    });

    $('#Nationality').change(function () {
        SetNationalityAtr();
    });

    function SetNationalityAtr() {
        var pos = $('#Nationality').val();

        if (pos == "Other Nationalities") {
            var title = $('#nationality').val();
            if (title == "Singapore Citizen" || title == "Singapore PR") {
                $('#nationality').val("");
            }
            $('#nationality').show();
        } else {
            $('#nationality').val(pos);
            $('#nationality').hide();
        }
    }

    $('#txtDateOfBirth').change(function () {
        var newVal = $('#txtDateOfBirth').val();
        $('#DateofBirth').val(newVal);
    });
</script>
