﻿@using MoolahConnect.Util.Enums
@using MoolahConnectnew.ViewModels.Investor
@using MoolahConnect.Util.ExtensionMethods
@using MoolahConnect.Util

<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr class="bg_col">
        <td class="bdr_bottom bdr_left" style="min-width: 45px">Note ID</td>
        <td class="bdr_bottom">Company Name </td>
        <td class="bdr_bottom">Start Date </td>
        <td class="bdr_bottom">Maturity Date </td>
        <td class="bdr_bottom">Amount </td>
        <td class="bdr_bottom rate_table_td">Rate </td>
        <td class="bdr_bottom">Months Till Maturity </td>
        <td class="bdr_bottom">Principal Received</td>
        <td class="bdr_bottom">Interest Received</td>
        <td class="bdr_bottom">Repayment Schedule </td>
        <td class="bdr_bottom">Latest Status </td>
        <td class="bdr_bottom">Documentation </td>
    </tr>
    <tbody id="tblOfferes">
        @if (ViewBag.LoanInvestments.Count > 0)
        {

            foreach (LoanInvestmentViewModel item in ViewBag.LoanInvestments)
            {
                        
            <tr>

                <td class="bdr_left">@Html.ActionLink(Convert.ToString(item.LoanRequestId), "MatchedNoteDetails", "Note", new { noteRequestID = item.LoanRequestId }, new { target = "_blank" })</td>
                <td class="tbl_td_name_m">@item.CompanyName</td>
                <td class="date_tbl_td">@item.StartDate.ToDate()</td>
                <td class="date_tbl_td">@item.MaturityDate.ToDate()</td>
                <td class="currency_tbl_td">@item.LoanAmount.ToCurrency()  </td>
                <td class="date_tbl_td">@item.Rate % </td>
                <td>@item.MonthsTillMaturity</td>
                <td class="currency_tbl_td">@item.PrincipalRecieved.ToCurrency()  </td>
                <td class="currency_tbl_td">@item.InterestRecieved.ToCurrency() </td>
                <td><a href="Javascript:DisplayRepaymentSchedule(@item.LoanRequestId, @item.LoanAmount,@item.Rate,@item.Tenor,'@item.StartDate.ToShortDate()');">Details</a></td>
                <td><span title="Please see Repayment Schedule for more details">@CommonMethods.RepaymentDisplayName(item.LatestStatus)</span> </td>
                <td>
                    @if (item.Status == LoanRequestStatus.FundRejected)
                    {
                        @:Note Cancelled    
                        }
                    else
                    {
                        if (item.Status == LoanRequestStatus.FundApproved)
                                {
                                @:<a href="@Url.Action("DownloadFile", "Shared", new
                                {
                                    userId = @Membership.GetUser().ProviderUserKey,
                                    type = @FileType.PayeeLoanContract,
                                    fileName = "Note Contract.pdf",
                                    requestId = @item.LoanRequestId,
                                    offerId = @item.OfferID
                                })"> Contract </a>
                            }
                                else
                                {
                                @:<a href="Javascript:ShowProvisionalContract(@item.OfferID)">Provisional</a>
                            }
                    }
                </td>
            </tr>
                          
            }

        }

        else
        {
            <tr>
                <td colspan="12" class="bdr_left">You don't have any investment 
                </td>
            </tr>
        }
    </tbody>
</table>

<div style="display: none">
    <div id="repaymentSchedule">
    </div>
</div>

<div class="modal fade" id="modelProvContract" style="width: 675px;margin-left: -340px !important;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Provisional Contract</h4>
            </div>
            <div class="modal-body">
                <div id="modelBodyProvContract"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" value="ok">Ok</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script>
    function DisplayRepaymentSchedule(requestId, amount, rate, term, startDate) {
        $('#repaymentSchedule').empty();
        $('#repaymentSchedule').load("/Shared/_InvestorRepaymentScheduleFromRequestID?requestID=" + requestId + "&amount=" + amount + "&rate=" +
            rate + "&term=" + term + "&startDate=" + startDate, function () {
                var content = $('#repaymentSchedule').html();
                bootbox.alert(content).addClass("bootbox-largeWidth");
            });

    }

    function ShowProvisionalContract(id) {
       
        $('#modelBodyProvContract').empty();
        $('#modelBodyProvContract').load("/Investor/_ProvisionalContract?offerID=" + id);

        $('#modelProvContract').modal();
    }
</script>
