﻿@using MoolahConnect.Util.Enums
@using MoolahConnectnew.ViewModels.Investor
@using MoolahConnect.Util.ExtensionMethods
@using MoolahConnect.Util.SealedClasses
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr class="bg_col">

        <td class="bdr_bottom bdr_left">Request ID </td>
        <td class="bdr_bottom">Company Name</td>
        <td class="bdr_bottom">Date of Offer</td>
        <td class="bdr_bottom">Tenor </td>
        <td class="bdr_bottom">Target Rate </td>
        <td class="bdr_bottom">Amount Offered </td>
        <td class="bdr_bottom">Amount Accepted </td>
        <td class="bdr_bottom">Rate Offered </td>
        <td class="bdr_bottom">Accepted Rate</td>
        <td class="bdr_bottom">Status </td>
        <td class="bdr_bottom"></td>
    </tr>
    <tbody>
        @if (ViewBag.LoanOffers.Count > 0)
        {

            foreach (LoanOfferViewModel item in ViewBag.LoanOffers)
            {

                <tr id="offr_@item.OfferId">
                    <td class="bdr_left">
                        @Html.ActionLink(Convert.ToString(item.LoanRequestId), "MatchedNoteDetails", "Note", new { noteRequestID = item.LoanRequestId }, new { target = "_blank" })
                    </td>
                    <td class="tbl_td_name_m">@item.CompanyName</td>
                    <td>@item.DateOfOffer.ToDateTime()</td>
                    <td>@item.Tenor M</td>
                    <td>@item.RequestedLoanRate % </td>
                    <td class="currency_tbl_td">@item.AmountOfferd.ToCurrency()</td>
                    <td class="currency_tbl_td">@item.AmountAccepted.ToCurrency()</td>
                    <td>@item.RateOffered %</td>
                    <td>
                        @if (item.LoanRequestStatus != LoanRequestStatus.InProgress)
                        {
                            @item.LoanRate @:%
                    }
                    </td>
                    @if (item.Status == LoanOfferStatus.Rejected.ToString())
                    {
                        <td><a href="javascript:ShowReasonToReject('@item.ReasonToReject')">@item.Status</a></td>
                    }
                    else if (item.Status == LoanOfferStatus.RejectedByAdmin.ToString())
                    {
                        <td>@LoanOfferStatus.Accepted.ToString()</td>
                    }
                    else
                    {
                        <td>@item.Status</td>
                    }
                    @if (item.Status == LoanOfferStatus.Pending.ToString())
                    {
                        if (item.CanWithdraw)
                        {
                            <td>
                                <input type="button" class="wish_btn_neg" onclick="ValidatePassword(@item.OfferId,@item.LoanRequestId)" value="Withdraw Offer" />
                            </td>
                        }
                        else
                        {
                            <td>
                                <input id="btnWithdrawInactive" type="button" class="wish_btn_neg disabled1" value="Withdraw Offer" />
                            </td>

                        }
                    }
                    else
                    {
                        <td></td>
                    }
                </tr>

            }

        }

        else
        {
            <tr>
                <td colspan="10" class="bdr_left">
                    No offers
                </td>
            </tr>
        }
    </tbody>
</table>
@MoolahConnectHelper.ValidatePassword("modelValidatePW")
<script>
    var offerId, requestId;
    var PWValidatepurpose;

    $(document).ready(function () {

        $('.disabled1').qtip({
            content: 'Listing in process <a target=\"_blank\" href=\"http://www.moolahsense.com/faq/\"> [More Info] </a>',
            position: {
                corner: {
                    tooltip: 'bottomLeft',
                    target: 'topLeft'
                }
            },
            hide: {
                fixed: true,
                delay: 300
            },
            style: {
                width: 225
            }
        });

        $("#txtmodelValidatePWPassword").live("keypress", function (e) {
            if (e.keyCode != 13) {
                return true;
            } else {
                ValidUserPassword();
            }
        });
        $('#modelValidatePW button').click(function (e) {

            if ($(this).val() == "ok") {
                return ValidUserPassword();
            } else {
                return true;
            }
        });


    });

    function ShowReasonToReject(reason) {
        bootbox.alert(reason, function () {
        });
    }

    function ValidUserPassword() {
        var flag = false;
        if ($("#txtmodelValidatePWPassword").val() == '') {
            $('#divmodelValidatePWError').html("Please enter password");
            $('#divmodelValidatePWError').show();
            return false;
        }

        $.ajax({
            async: false,
            url: "@Url.Action("ValidatePassword", "Shared")",
            type: "POST",
            dataType: "json",
            contentType: 'application/json',
            data: "{password:'" + $("#txtmodelValidatePWPassword").val() + "',purpose:'" + PWValidatepurpose + "'}",
            success: function (data) {
                if (data.status == "@StatusMessages.SUCCESS") {
                    $('#modelValidatePW').hide();
                    WithDrawOffer(offerId, requestId);
                    flag = true;
                }
                else if (data.status == "@StatusMessages.FAILED") {
                    $('#divmodelValidatePWError').html("@ErrorMessages.INVALID_PASSWORD");
                    $('#divmodelValidatePWError').show();
                }
                else {
                    $('#modelValidatePW').hide();
                    bootbox.alert("@ErrorMessages.ACCOUNT_LOCKED", function() {
                        window.location.href = "/User/Index";
                    });
                }
            }
        });
        $("#txtmodelValidatePWPassword").val('');
        return flag;
    }
    function ValidatePassword(_offerId, _requestId) {

        offerId = _offerId;
        requestId = _requestId;

        $('#modelValidatePWLabel').html("Please enter password to withdraw offer.");
        PWValidatepurpose = 'Withdraw Offer';
        $('#divmodelValidatePWError').empty();
        $('#divmodelValidatePWError').hide();
        $('#modelValidatePW').modal();
    }
</script>
