﻿@model IEnumerable<MoolahConnectClassLibrary.Models.tbl_LoanRequest_messages_By_Investors>

<div>
    @foreach (var item in Model)
    {      
       

        @item.Message<br />
               

                
    }
</div>
