﻿@using MoolahConnect.Util.ExtensionMethods
@using MoolahConnect.Util.Enums
@using MoolahConnectnew.ViewModels
@{
    var model = (LoanRequestBoardViewModel)ViewBag.MoolahBoard;
}

<div id="wish" class="no_bg pad_10 no_mar_bot">
    <div class="dash_board">
        <div class="dash_board_in" style="padding-left: 0px !important">
            <div id="live">
                <h4>MoolahBoard</h4>
                <table>
                    <thead>
                        <tr class="bg_col">
                            <td class="bdr_bottom bdr_left ms-td-width-fixed"> Headline </td>
                            <td class="bdr_bottom">Company name  </td>
                            <td class="bdr_bottom">Purpose  </td>
                            <td class="bdr_bottom" style="min-width:12%">Amount </td>
                            <td class="bdr_bottom" style="min-width:8%">Tenor</td>
                            <td class="bdr_bottom">Target Rate</td>
                            <td class="bdr_bottom" style="min-width:15%">Time Left</td>
                            <td class="bdr_bottom tbl-custom-funded">% Funded</td>
                            <td class="bdr_bottom">Invest</td>
                        </tr>
                    </thead>
                    @if (model.LoanRequestViewModels != null && model.LoanRequestViewModels.Count > 0)
                    {
                        <tbody>
                            @foreach (var item in model.LoanRequestViewModels)
                            {      
                                <tr>
                                    <td class="bdr_left">@item.Headline</td>
                                    <td>@item.CompanyName</td>
                                    <td><span>

                                        @if (Request.IsAuthenticated)
                                        {
                                            @item.LoanPurpose
                                        }
                                        else
                                        {
                                            <a style="cursor: pointer;" onclick="loadPopup('LoginInformation', 'bg');">@item.Reference</a>
                                        }
                                        <br />
                                        @item.RegisteredAddress</span></td>
                                    <td class="formatCurrency">@item.Amount.ToCurrency()</td>
                                    <td>@item.Term Months</td>
                                    <td>@item.AverageRate %</td>
                                    <td>
                                        @if (item.PreliminaryStatus == (int)PreliminaryLoanRequestStatus.DraftPublished)
                                        {
                                            @item.Days<span> days</span> @item.Hours <span>Hours</span> @item.Minutes <span>Min</span>    
                                        }
                                        else
                                        {
                                            @:NA
                                        }
                                        

                                    </td>
                                    <td>@item.Funded %</td>
                                    <td>@Html.ActionLink("Invest", "MatchedNoteDetails", "Note", new { noteRequestID = item.RequestId }, null)</td>
                                </tr>
                            }
                        </tbody>
                    }
                    else
                    {
                        <tr>
                            <td class="bdr_left bdr_bottom" colspan="9">There is currently no listing(s)</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        <div class="clear"></div>


    </div>

</div>
