﻿@using MoolahConnect.Services.Entities
@using MoolahConnect.Util.ExtensionMethods
@using MoolahConnect.Util

@model InvestorLoanContractModel
<div>
    <div class="pc-notice">
        <b>IMPORTANT: PLEASE NOTE THAT THE AGREED TERMS ARE PROVISIONAL. <br />
        THE FINAL NOTE ISSUANCE IS SUBJECT TO CONFIRMATION AND PHYSICAL ENDORSEMENT BY THE ISSUER, AND THE FINAL NOTE ISSUED SHALL BE SUBJECT TO THE “STANDARD TERMS AND CONDITIONS TO PROMISSORY NOTE”. IF THE NOTE IS NOT ENDORSED BY THE ISSUER, NO FINAL NOTE WILL BE ISSUED AND THE SUBSCRIPTION OFFER SHALL BE CANCELLED
        </b>
    </div>
    <br />
    <div class="pc-text">
        <div class="pc-text-center">
            <b>For value received, the Issuer promises to pay to the Payee in Singapore dollars, 
                the relevant Principal Subscription Amount and Interest as specified in the Promissory Note [Request ID: @Model.ContractRef], 
                on such Repayment Date and in accordance with the schedule specified in the Promissory Note [Request ID: @Model.ContractRef]</b>
        </div>
        <br />
        <div>
            <table class="pc-tbl-payee">
                <tr>
                    <td style="width: 72%;">Promissory Note Request ID</td>
                    <td style="width: 5%;">: </td>
                    <td>@Model.ContractRef</td>
                </tr>
                <tr>
                    <td>Payee Reference No</td>
                    <td>: </td>
                    <td>@Model.ContractId</td>
                </tr>
                <tr>
                    <td>Name of Payee</td>
                    <td>: </td>
                    <td>@Model.Name</td>
                </tr>
                <tr>
                    <td>Identification Number of Payee</td>
                    <td>: </td>
                    <td>@Model.LenderIDNumber</td>
                </tr>
                <tr>
                    <td>Name of Issuer</td>
                    <td>: </td>
                    <td>@Model.BorrowerName</td>
                </tr>
                <tr>
                    <td>Registration Number of Issuer</td>
                    <td>: </td>
                    <td>@Model.BorrowerRegNumber</td>
                </tr>
                <tr>
                    <td>Date of Promissory Note</td>
                    <td>: </td>
                    <td>@Model.AgreementDate.ToDate()</td>
                </tr>
                <tr>
                    <td>Payee’s Principal Subscription Amount</td>
                    <td>: </td>
                    <td>@Model.PrincipalAmount.ToCurrency()</td>
                </tr>
                <tr>
                    <td>Aggregate Principal Subscription Amount </td>
                    <td>: </td>
                    <td>@Model.LoanAmount.ToCurrency()</td>
                </tr>
                <tr>
                    <td>Maturity Period (not exceeding 12 months)</td>
                    <td>: </td>
                    <td>@Model.Tenure</td>
                </tr>
                <tr>
                    <td>Number of Accepted Offers</td>
                    <td>: </td>
                    <td>@Model.AcceptedOffersCount</td>
                </tr>
                <tr>
                    <td>Accepted Rate (p.a.)</td>
                    <td>: </td>
                    <td>@Model.LoanAcceptedRate</td>
                </tr>
                @*<tr>
                    <td>Effective Rate (p.a.)</td>
                    <td>: </td>
                    <td>@Model.Name</td>
                </tr>*@
                <tr>
                    <td>Total Interests Payable to Payee</td>
                    <td>: </td>
                    <td>@Model.TotalInterestReceivable.ToCurrency()</td>
                </tr>
                <tr>
                    <td>Repayment Amount at each Repayment Date to Payee</td>
                    <td>: </td>
                    <td>@Model.MonthlyRepaymentAmount.ToCurrency()</td>
                </tr>
            </table>
        </div>
        <br />
        <div>
            <label class="pc-text-center"><b>Scheduled Date(s)</b></label>
            <table class="pc-tbl-payee">
                <tr>
                @foreach (RepaymentEntity rep in ViewBag.Repayments)
                {
                    
                        <td>@rep.DueDate.ToDate()</td>
                    
                }
                        </tr>
            </table>
        </div>
        <br />
        <a href="@Settings.PromissoryNoteTC" target="_blank">Promissory Note T&C</a>
    </div>
</div>
