﻿@model MoolahConnectClassLibrary.Models.ViewModels.InvestorProfile
@{
    Layout = null;
}

<style>
    .wish_txt_des {
        width: 325px !important;
    }
</style>

<div id="wish" class="no_bg">
    <div class="wish_txt_in min_width margin_lr_10 pad_10">
        @if (Model != null)
        {

            if (Model.InvestorType == "Corporate")
            {
                <div class="fl bot_mar width100 clearfix">
                    <div class="wish_txt_des">Business Name  </div>
                    @Html.TextBoxFor(m => Model.BusinessName, new {@class = "wish_input", @readonly = "readonly"})
                </div>
                <div class="fl bot_mar width100 clearfix">
                    <div class="wish_txt_des">Business Registration Number  </div>
                    @Html.TextBoxFor(m => Model.BusinessRegNumber, new {@class = "wish_input", @readonly = "readonly"})
                </div>
                <div class="fl bot_mar width100 clearfix">
                    <div class="wish_txt_des">Business Organization  </div>
                    @Html.TextBoxFor(m => Model.BusinessOrganisation, new {@class = "wish_input", @readonly = "readonly"})
                </div>
                <div class="fl bot_mar width100 clearfix">
                    <div class="wish_txt_des">SICC Code  </div>
                    @Html.TextBoxFor(m => Model.SiccCode, new {@class = "wish_input", @readonly = "readonly"})
                </div>
                <div class="fl bot_mar width100 clearfix">
                    <div class="wish_txt_des">Date of Incorporation  </div>
                    @Html.TextBoxFor(m => Model.DateofIncorporation, "{0:dd MMM yyyy}", new {@class = "wish_input", @readonly = "readonly"})
                </div>
                <div class="fl bot_mar width100 clearfix">
                    <div class="wish_txt_des">Registered Address Line 1  </div>
                    @Html.TextBoxFor(m => Model.RegisteredAddress1, new {@class = "wish_input", @readonly = "readonly"})
                </div>
                <div class="fl bot_mar width100 clearfix">
                    <div class="wish_txt_des">Registered Address Line 2  </div>
                    @Html.TextBoxFor(m => Model.RegisteredAddress2, new {@class = "wish_input", @readonly = "readonly"})
                </div>
                <div class="fl bot_mar width100 clearfix">
                    <div class="wish_txt_des">Registered Address Postal Code </div>
                    @Html.TextBoxFor(m => Model.RegisteredAddressPostalCode, new {@class = "wish_input", @readonly = "readonly"})
                </div>
                <div class="fl bot_mar width100 clearfix">
                    <div class="wish_txt_des">Business(Mailing) Address Line 1 </div>
                    @Html.TextBoxFor(m => Model.BusinessMailingAddress1, new {@class = "wish_input", @readonly = "readonly"})
                </div>
                <div class="fl bot_mar width100 clearfix">
                    <div class="wish_txt_des">Business(Mailing) Address Line 2 </div>
                    @Html.TextBoxFor(m => Model.BusinessMailingAddress2, new {@class = "wish_input", @readonly = "readonly"})
                </div>
                <div class="fl bot_mar width100 clearfix">
                    <div class="wish_txt_des">Business(Mailing) Address Postal Code </div>
                    @Html.TextBoxFor(m => Model.BusinessMailingAddressPostalCode, new {@class = "wish_input", @readonly = "readonly"})
                </div>
                <div class="fl bot_mar width100 clearfix">
                    <div class="wish_txt_des">Direct Line  </div>
                    @Html.TextBoxFor(m => Model.DirectLine, new {@class = "wish_input", @readonly = "readonly"})
                </div>
                <div class="fl bot_mar width100 clearfix">
                    <div class="wish_txt_des">Mobile ( Out of office hours )  </div>
                    @Html.TextBoxFor(m => Model.Mobilenumber, new {@class = "wish_input", @readonly = "readonly"})
                </div>
                <div class="fl bot_mar width100 clearfix">
                    <div class="wish_txt_des">Official Correspondence Email </div>
                    @Html.TextBoxFor(m => Model.EmailAddress, new {@class = "wish_input", @readonly = "readonly"})
                </div>
                <div class="fl bot_mar width100 clearfix">
                    <div class="wish_txt_des">Bank Name </div>
                    @Html.TextBoxFor(m => Model.Bank, new {@class = "wish_input", @readonly = "readonly"})
                </div>
                <div class="fl bot_mar width100 clearfix">
                    <div class="wish_txt_des">Bank Account Number </div>
                    @Html.TextBoxFor(m => Model.AccountNumber, new {@class = "wish_input", @readonly = "readonly"})
                </div>
                <div class="fl bot_mar width100 clearfix">
                    <div class="wish_txt_des">Bank Account Name </div>
                    @Html.TextBoxFor(m => Model.AccountName, new {@class = "wish_input", @readonly = "readonly"})
                </div>
                <div class="fl bot_mar width100 clearfix">
                    <div class="wish_txt_des">Bank Code </div>
                    @Html.TextBoxFor(m => Model.BankNumber, new {@class = "wish_input", @readonly = "readonly"})
                </div>
                <div class="fl bot_mar width100 clearfix">
                    <div class="wish_txt_des">Branch Name </div>
                    @Html.TextBoxFor(m => Model.BranchName, new {@class = "wish_input", @readonly = "readonly"})
                </div>
                <div class="fl bot_mar width100 clearfix">
                    <div class="wish_txt_des">Branch Code </div>
                    @Html.TextBoxFor(m => Model.BranchNumber, new {@class = "wish_input", @readonly = "readonly"})
                </div>
                <div style="font-weight: bold; margin-bottom: 20px;">
                    Information on authorised representative of the company
                </div>
                <div class="fl bot_mar width100 clearfix">
                    <div class="wish_txt_des">Full Name as in NRIC/ Passport </div>
                    @Html.TextBoxFor(m => Model.FullName, new {@class = "wish_input", @readonly = "readonly"})
                </div>
                <div class="fl bot_mar width100 clearfix">
                    <div class="wish_txt_des">Display Name </div>
                    @Html.TextBoxFor(m => Model.DisplayName, new {@class = "wish_input", @readonly = "readonly"})
                </div>
                <div class="fl bot_mar width100 clearfix">
                    <div class="wish_txt_des">Nationality </div>
                    @Html.TextBoxFor(m => Model.Nationality, new {@class = "wish_input", @readonly = "readonly"})
                </div>
                <div class="fl bot_mar width100 clearfix">
                    <div class="wish_txt_des">NRIC Number for Singapore Citizens and PR / FIN for Foreigners </div>
                    @Html.TextBoxFor(m => Model.NricNumber, new {@class = "wish_input", @readonly = "readonly"})
                </div>
                if (Model.Nationality != "Singapore Citizen" && Model.Nationality != "Singapore PR")
                {
                    <div class="fl bot_mar width100 clearfix">
                        <div class="wish_txt_des">Passport Number for Foreigners </div>
                        @Html.TextBoxFor(m => Model.PassportNumber, new {@class = "wish_input", @readonly = "readonly"})
                    </div>
                }
                <div class="fl bot_mar width100 clearfix">
                    <div class="wish_txt_des">Position Held </div>
                    @Html.TextBoxFor(m => Model.PositionHeld, new {@class = "wish_input", @readonly = "readonly"})
                </div>
            }
            else
            {
                <div class="fl bot_mar width100 clearfix">
                    <div class="wish_txt_des">Full Name as in NRIC/ Passport </div>
                    @Html.TextBoxFor(m => Model.FullName, new {@class = "wish_input", @readonly = "readonly"})
                </div>
                <div class="fl bot_mar width100 clearfix">
                    <div class="wish_txt_des">Display Name </div>
                    @Html.TextBoxFor(m => Model.DisplayName, new {@class = "wish_input", @readonly = "readonly"})
                </div>
                <div class="fl bot_mar width100 clearfix">
                    <div class="wish_txt_des">Nationality </div>
                    @Html.TextBoxFor(m => Model.Nationality, new {@class = "wish_input", @readonly = "readonly"})
                </div>
                <div class="fl bot_mar width100 clearfix">
                   <div class="wish_txt_des">NRIC Number for Singapore Citizens and PR / FIN for Foreigners </div>
                   @Html.TextBoxFor(m => Model.NricNumber, new {@class = "wish_input", @readonly = "readonly"})
                </div>
                if (Model.Nationality != "Singapore Citizen" && Model.Nationality != "Singapore PR")
                {
                    <div class="fl bot_mar width100 clearfix">
                        <div class="wish_txt_des">Passport Number for Foreigners </div>
                        @Html.TextBoxFor(m => Model.PassportNumber, new { @class = "wish_input", @readonly = "readonly" })
                    </div>
                }
                <div class="fl bot_mar width100 clearfix">
                    <div class="wish_txt_des">Date of Birth </div>
                    @Html.TextBoxFor(m => Model.DateofBirth, "{0:dd MMM yyyy}", new { @class = "wish_input", @readonly = "readonly" })
                </div>
                <div class="fl bot_mar width100 clearfix">
                    <div class="wish_txt_des">Gender </div>
                    @Html.TextBoxFor(m => Model.Gender, new { @class = "wish_input", @readonly = "readonly" })
                </div>
                <div class="fl bot_mar width100 clearfix">
                    <div class="wish_txt_des">Residential Address Line 1 </div>
                    @Html.TextBoxFor(m => Model.ResidentialAddress1, new { @class = "wish_input", @readonly = "readonly" })
                </div>
                <div class="fl bot_mar width100 clearfix">
                    <div class="wish_txt_des">Residential Address Line 2 </div>
                    @Html.TextBoxFor(m => Model.ResidentialAddress2, new { @class = "wish_input", @readonly = "readonly" })
                </div>
                <div class="fl bot_mar width100 clearfix">
                    <div class="wish_txt_des">Residential Address Postal Code </div>
                    @Html.TextBoxFor(m => Model.ResidentialAddressPostalCode, new { @class = "wish_input", @readonly = "readonly" })
                </div>
                <div class="fl bot_mar width100 clearfix">
                    <div class="wish_txt_des">Main Contact Number </div>
                    @Html.TextBoxFor(m => Model.MainContactNumber, new { @class = "wish_input", @readonly = "readonly" })
                </div>
                <div class="fl bot_mar width100 clearfix">
                    <div class="wish_txt_des">Email Address </div>
                    @Html.TextBoxFor(m => Model.EmailAddress, new { @class = "wish_input", @readonly = "readonly" })
                </div>
                <div class="fl bot_mar width100 clearfix">
                    <div class="wish_txt_des">Bank Name </div>
                    @Html.TextBoxFor(m => Model.Bank, new { @class = "wish_input", @readonly = "readonly" })
                </div>
                <div class="fl bot_mar width100 clearfix">
                    <div class="wish_txt_des">Bank Account Number </div>
                    @Html.TextBoxFor(m => Model.AccountNumber, new { @class = "wish_input", @readonly = "readonly" })
                </div>
                @*<div class="fl bot_mar width100 clearfix">
                    <div class="wish_txt_des">Bank Account Name </div>
                    @Html.TextBoxFor(m => Model.AccountName, new { @class = "wish_input", @readonly = "readonly" })
                </div>*@
                @*<div class="fl bot_mar width100 clearfix">
                    <div class="wish_txt_des">Bank Code </div>
                    @Html.TextBoxFor(m => Model.BankNumber, new { @class = "wish_input", @readonly = "readonly" })
                </div>*@
                @*<div class="fl bot_mar width100 clearfix">
                    <div class="wish_txt_des">Branch Name </div>
                    @Html.TextBoxFor(m => Model.BranchName, new { @class = "wish_input", @readonly = "readonly" })
                </div>*@
                @*<div class="fl bot_mar width100 clearfix">
                    <div class="wish_txt_des">Branch Code </div>
                    @Html.TextBoxFor(m => Model.BranchNumber, new { @class = "wish_input", @readonly = "readonly" })
                </div>*@
            }
        }
    </div>
</div>
<script>
    function Redirect() {
        window.location.href = "/Investor/Create";
    }
</script>
