﻿<div id="wish" class="no_bg">
    <div class="wish_txt_in min_width">
        <div class="wish_new_des btnAddToWatchList" >
            <input name=""  type="button" class="wish_btn_new" onclick="AddToWatchListt()" value="Add to Watch List" >
        </div>
       <table>
            <tr>
                <td>
                    <div class="wish_txt_des" style="width:160px;">
                        <strong>Question to Borrower</strong>
                    </div>
              </td>
                <td>
                    <div class="wish_new_des">
                        <input name="" type="button" class="wish_btn_new" onclick="SaveLoanRequestMessageByInvestor()" value="Ask">
                    </div>
                </td>
            </tr>
        </table>
        <div class="wish_new_des">
            <textarea id="txtMessage" class="wish_txtarea"></textarea>
        </div>
        <div class="wish_new_des" style="float:none">
            <input name="" type="button" class="wish_btn_new" value="Invest">
        </div>
    </div>
</div>
<script type="text/javascript">
    function SaveLoanRequestMessageByInvestor() {
        if ($('#txtMessage').val() != "") {
            var message = $('#txtMessage').val();
            var RequestID = $('#hdnRequestID').val();
           
            $.ajax({
                url: "/Investor/SaveLoanRequestMessageByInvestor",
                type: "POST",
                dataType: "json",
                contentType: 'application/json',
                data: "{Message:'" + message + "',LoanRequestID:'" + parseInt(RequestID) + "'}",
                success: function (msg) {

                    if (msg == "Success") {
                        alert("Message has been sent Successfully");
                    }
                    else
                        alert("Message cant't send successfully, Please contact to Admin");

                }
            });
        }
        else
            alert("Enter Question");
    }
    function AddToWatchListt() {
        
        var RequestID = $('#hdnRequestID').val();
        alert(RequestID);
        $.ajax({
            url: "/Investor/SaveAddToWatchList",
            type: "POST",
            dataType: "json",
            contentType: 'application/json',
            data: "{LoanRequestID:'" + parseInt(RequestID) + "'}",
            success: function (msg) {
                var result = msg;
               
                if (result == "Success") {
                    $(".btnAddToWatchList").hide();
                    alert("You have added this loan in watchlist Successfully");
                }
                else
                    $(".btnAddToWatchList").hide();
                    alert(result);

            }
        });
    }
</script>

