﻿@using MoolahConnect.Util.Enums
@using MoolahConnect.Util.SealedClasses
@using MoolahConnect.Util.ExtensionMethods
@using MoolahConnectnew.ViewModels.Investor
@model MoolahConnectClassLibrary.Models.ViewModels.Summary_InvestorDashboard

@{
    Layout = null;
}

<div id="backgroundPopup" class="bg"></div>
<div id="wish" class="no_bg pad_10 no_mar_bot">

    <div class="dash_board">
        <div class="new_main chart-container row-fluid">
            <div class="inv-div-details">
                <h2>Account Summary</h2>
                <table class="summary-values">
                    <tr>
                        <td>Member Since</td>
                        <td>@Model.Details.MemberSince.ToDate()</td>
                    </tr>
                    <tr>
                        <td>No of Offers Made</td>
                        <td>@Model.Details.LoanOffersCount</td>
                    </tr>
                    <tr>
                        <td>Cumulative Amount of Offers Made</td>
                        <td>@Model.Details.CummulativeAmountOfLoanOffers.ToCurrency()</td>
                    </tr>
                    <tr>
                        <td>No of Offers Matched</td>
                        <td>@Model.Details.MatachedLoanOffersCount</td>
                    </tr>
                    <tr>
                        <td>Amount of Offers Matched</td>
                        <td>@Model.Details.MatachedLoanOffersAmount.ToCurrency()</td>
                    </tr>
                    <tr>
                        <td>
                            Weighted Average Nominal Yield &nbsp
                            <span class="customicon-bulb tip" data-title="Help"
                                  data-trigger="hover"></span>
                            <div class="hidden">  
                                <div class="small-text">
                                Assuming there is no default in loan. Once a loan has defaulted, it will not be included in
                                the calculation of weighted average nominal yield. <br />
                                [Loan Amount A x (Loan Rate A) + Loan Amount B x (Loan Rate B) + ... + Loan Amount N x (Loan Rate N)] 
                                    / [Loan Amount A + Loan Amount B + ... + Loan Amount N]
                                    </div>                              
                            </div>
                        </td>
                        <td>@Model.Details.WeightedAverageNominalYeidl.ToRate() %p.a.</td>
                    </tr>
                </table>
            </div>
            <div class="inv-div-chart">
                <h2 class="text-center"><small>Total Moolah : @Model.TootalMoolah.ToCurrency()</small></h2>

                <div id="chart_div" style="width: auto; height: 200px;"></div>

            </div>
            <div class="inv-div-legend">
                <br />
                <table class="table-bordered legend-table">
                    <tbody>
                        <tr></tr>
                        <tr class="chart-int">
                            <td>Interest</td>
                            <td>@Model.AccruedInterest.ToCurrency()</td>
                        </tr>
                        <tr class="chart-investment">
                            <td>Note Investment</td>
                            <td>@Model.LoanInvestment.ToCurrency()</td>
                        </tr>
                        <tr class="chart-funds">
                            <td>Available Funds</td>
                            <td>@Model.AvailFunds.ToCurrency()</td>
                        </tr>
                        <tr class="chart-loan">
                            <td>Offers Being Earmarked</td>
                            <td>@Model.CurrentBids.ToCurrency()</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <div class="dash_board_in">

            <div class="clear"></div>

            <div>
                <h4>Investments</h4>
                @MoolahConnectHelper.DateTimeRangePicker("liDatePickerFrom", "liDatePickerTo", "SearchInvestments")
            </div>

            <div class="event_in">
                <div id="divLoanInvestments" class="dash_in_right" style="float: none !important; margin: 0px 0 0 3px; width: 1050px;">
                    @Html.Partial("_LoanInvestments")
                </div>
            </div>
            <div class="clear"></div>
            <div>
                <br /><h4>Offer Logs</h4>
                @MoolahConnectHelper.DateTimeRangePicker("loDatePickerFrom", "loDatePickerTo", "SearchOffers")
            </div>
            <div class="event_in">
                <div id="divLoanOffers" class="dash_in_right" style="float: none !important; margin: 0px 0 0 3px; width: 1050px;">
                    @if (ViewBag.LoanOffers != null
                        && ((IEnumerable<LoanOfferViewModel>)ViewBag.LoanOffers).Any(x => x.Status == LoanOfferStatus.Pending.ToString()))
                    {
                        @Html.Partial("_LoanOffers")
                    }
                    else
                    {
                        @Html.Partial("_AcceptedLoanOffers")
                    }

                </div>

            </div>
            @*<div class="clear"></div>
            <div class="dash_tr_div">
                <div class="dash_td_div">@Html.ActionLink("View Transaction Statement", "NoteTransactions", "Shared", null, null)</div>
            </div>
            <div class="clear"></div>*@
        </div>

    </div>

</div>
<div class="payment" style="display: none" id="dvWithdraw">
    <h4>Information</h4>
    <div class="clear"></div>
    <div class="close_btn">
        <a onclick="javascript:disablePopup('dvWithdraw','bg','');">
            <img width="14" height="14" style="margin: -10px -2px 6px 5px;" alt="#" src="~/Content/images/close_btn.png"></a>
    </div>
    <div class="payment_in">
        <div class="fl">
            <div class="clear"></div>
            <div class="wish_new_txt" style="height: 70px; margin-top: 0px !important; font-size: 13px !important; width: 500px" id="dvMsg"></div>

        </div>



    </div>

</div>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", { packages: ["corechart"] });
    google.setOnLoadCallback(drawChart);
    function drawChart() {

        var data = google.visualization.arrayToDataTable([
            ['Task', 'Hours per Day'],
            ['Note Investment',      @Convert.ToDouble(Model.LoanInvestment)],
            ['Available Funds',  @Convert.ToDouble(Model.AvailFunds)],
            ['Offers Being Earmarked', @Convert.ToDouble(Model.CurrentBids)]

        ]);

        var formatter = new google.visualization.NumberFormat({ negativeColor: 'red', negativeParens: true, pattern: 'S$###,###' });
        formatter.format(data, 1);
        var options = {
            title: '',
            is3D: true,
            fontSize: 14,
            fontName: 'Roboto',
            colors: ['#FEC913', '#9dc43a', '#A3A3A3'],
            chartArea: { width: "100%", height: "100%", top: 15, left: 0 },
            legend: 'none',
            enableInteractivity: false,
            tooltip: {
                trigger: 'none'
            }
        };


        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }

    //withdrwa loan offer and credit balance to user balace.
    function WithDrawOffer(offerid, requestId) {
        $('#mask').showLoading();
        $.ajax({
            url: "/Investor/WithDrawOffer",
            type: "POST",
            dataType: "json",
            contentType: 'application/json',
            data: "{OfferID:'" + parseInt(offerid) + "', RequestId:'" + requestId + "'}",
            success: function (msg) {
                $('#mask').hideLoading();
                if (msg == "Success") {
                    bootbox.alert('Offer has been withdrawn successfully. The fund has been credited to your account. Please check.', function () {
                        location.reload()
                    });
                }
                else {
                    bootbox.alert(msg, function () {
                    });
                }
            }
        });
    }

    $(".tip").popover({
        html: true,
        content: function () {
            return $(this).next('div').html();
        }
    });

    function SearchOffers(_from, _to) {
        $('#divLoanOffers').empty();
        $('#divLoanOffers').load('/Investor/_LoanOffers?from=' + _from + '&to=' + _to);
    }

    function SearchInvestments(_from, _to) {
        $('#divLoanInvestments').empty();
        $('#divLoanInvestments').load('/Investor/_LoanInvestments?from=' + _from + '&to=' + _to);
    }

</script>

