﻿@model  MoolahConnectClassLibrary.Models.ViewModels.TransferMoney
<div id="backgroundPopu" class="bg"></div>
<div id="wish" class="no_bg">

    <div class="wish_txt_in min_width">
        <h4>Transfer in Funds</h4>
        <p>
            All members’ funds will be held in a segregated bank account of MoolahSense. A minimum funding of S$1,000 is required to make an offer. 
        </p>
        <b>Our Bank Transfer Details</b>
        <br />
        <br />
        Beneficiary bank details (pay to) 
        <br />
        <br />
        <table>
            <tr>
                <td>Beneficiary's Name</td>
                <td>&nbsp;:&nbsp;</td>
                <td>MoolahSense Private Limited</td>
            </tr>
            <tr>
                <td>Beneficiary's A/C</td>
                <td>&nbsp;:&nbsp;</td>
                <td>686249095001</td>
            </tr>
            <tr>
                <td>Bank name</td>
                <td>&nbsp;:&nbsp;</td>
                <td>OCBC Bank</td>
            </tr>
            <tr>
                <td>Account type</td>
                <td>&nbsp;:&nbsp;</td>
                <td>OCBC Current</td>
            </tr>
            <tr>
                <td>Bank code</td>
                <td>&nbsp;:&nbsp;</td>
                <td>7339</td>
            </tr>
            <tr>
                <td>Branch code</td>
                <td>&nbsp;:&nbsp;</td>
                <td>686</td>
            </tr>
        </table>
        <p>
            <br />
            <b>Important Notes:</b>
            <br />
        </p>
        <ul>
            <li><b>Please quote your NRIC for Singaporean/PR or FIN for Foreigners as reference, e.g. SXXXXXXXX and/or full name. Without which, we will not be able to apply the funds.</b>
            </li>
            <br />
            <li>Please ensure that the remitting bank account is the account registered with MoolahSense. Kindly email <a href="mailto:admin@moolahsense.com">admin@moolahsense.com </a>the screen-shot of the fund transfer transaction clearing showing your account number and amount so that your account with MoolahSense will be credited correctly. 
                <br />
                <br />
                Example :
                <br />
                <br />
                <img src="~/Content/images/transferFundImage.png" />
            </li>
            <br />
            <li>We do not accept payments in cash or cheque.
            </li>
            <br />
            <li>
                <b>Please note that monies placed in the MoolahSense Account are not, and shall not be, deposits as defined under the Banking Act (Cap. 19) of Singapore.</b>
            </li>
        </ul>
        <br />
        <h4>Transfer out Funds</h4>
        <table>
            <tr>
                <td>Amount Available for Outgoing Fund Transfer </td>
                <td>&nbsp;&nbsp;<b>S</b></td>
                <td>
                    <b><span id="txtBalance">@Model.CurrentBlance</span></b></td>
            </tr>
            <tr>
                <td>Bank Name </td>
                <td>&nbsp;&nbsp;</td>
                <td>@Model.BankName</td>
            </tr>
            <tr>
                <td>Bank Account Number </td>
                <td>&nbsp;&nbsp;</td>
                <td>@Model.AccountNumber</td>
            </tr>
        </table>
        <br />
        <table>
            <tr>
                <td>Amount to Transfer </td>
                <td>&nbsp;&nbsp;</td>
                <td>
                    <input id="txtWithdraw" type="text" class="currency" placeholder="Amount to Transfer" /></td>
            </tr>
            <tr>
                <td>Password </td>
                <td>&nbsp;&nbsp;</td>
                <td>
                    <input id="txtPassword" type="password" placeholder="Password" /></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>
                    <input type="button" class="wish_btn" onclick="CheckCurrentBalance()" value="Proceed" /></td>
            </tr>
        </table>
        <p>
            <br />
            <b>Outgoing Fund Transfer Charges</b><br />
            <br />
            Outgoing fund transfers of less than S$100 shall be subject to a service charge of $5 per instruction. 
            <br />
            <br />
            <b>Note: You should receive your funds within 5 working days.</b><br />
            <br />
            For any queries, please email <a href="mailto:admin@moolahsense.com">admin@moolahsense.com </a>
            @Html.HiddenFor(m => m.MinimumBalancetoWithdraw, new { @id = "hdnMinimumWithdraw" })
        </p>
    </div>
</div>

<script>

    $(function () {
        $('#txtBalance').autoNumeric('init');
        $('#txtWithdraw').autoNumeric('init');
        $('#txtBalance').formatCurrency();
    });

    $(".number").keypress(function (e) {
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            return false;
        }
    });

    function CheckCurrentBalance() {
        var minAmttoWithdraw = parseFloat($('#hdnMinimumWithdraw').val());


        var amount = parseFloat($('#txtWithdraw').val().replace(',', ''));

        if (amount == '' || isNaN(amount)) {
            bootbox.alert('Please enter an amount to withdraw');
            return;
        }

        $('#mask').showLoading();
        $.ajax({
            url: "/Investor/CheckCurrentBalance",
            type: "POST",
            dataType: "json",
            contentType: 'application/json',
            data: "{WithdrawAmount:'" + amount + "', Password:'" + $('#txtPassword').val() + "'}",
            success: function (msg) {
                $('#mask').hideLoading();
                if (msg == "Success") {
                    bootbox.alert("We are processing your request to transfer fund. You will receive a confirmation email from Admin", function () {
                        var x = parseFloat($('#txtBalance').text().replace(/,/g, '').replace('$', ''));
                        var bal = x - amount;
                        $('#txtBalance').text(bal);
                        $('#txtBalance').formatCurrency();
                        $('#txtWithdraw').val('');
                        $('#txtPassword').val('');
                    });
                }
                else if (msg == "Failure") {
                    bootbox.alert('Your current balance is less then the amount you are trying to transfer');
                    $('#txtPassword').val('');
                }
                else {
                    bootbox.alert(msg);
                    $('#txtPassword').val('');
                }

            }
        });
    }
</script>

