﻿@{
    ViewBag.Title = "ConfirmRegistration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div style="width: 100%" align="center">
        <img alt="" src="/Content/images/logo.png">
        <div class="ConfMessage">
            Thank you for successfully submitting your information. We are reviewing the information and shall be getting back to you within one business day (typically sooner) with regards to your registration status.
            <br />
            <br />
            In the meantime, if you have any queries, please do not hesitate to contact us at +65-6871-8780.
        </div>
    </div>
</div>
