﻿@model MoolahConnectClassLibrary.Models.ViewModels.BorrowerAccount

@{
    ViewBag.Title = "Account Info";
}

@using MoolahConnectnew
@Html.Flash()

<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />

<style>
    label
    {
        display: inline-block;
        width: 5em;
    }

        html ul.tabs li:hover, html ul.tabs li:hover a
{
    background: #f3f1e5;
    font-weight:normal;
}

        html ul.tabs li.active, html ul.tabs li.active a
{
    color: #fff;
    font-weight: bold;
    background: #ffbe3a;
    border-bottom: 1px solid #fff;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -khtml-border-radius: 5px 5px 0 0;
    border-left: 1px solid #BBB9AF;
}
</style>

<script type="text/javascript">
    
    $(function () {
        $(document).tooltip();
    });
    
    $(document).ready(function () {
        if($('#hdnQest2').val()!='0')        
            $('#ddlSq2').val($('#hdnQest2').val());
        else
            $('#ddlSq2').val('2');
        //Default Action
        $(".tab_content").hide(); //Hide all content
        if (@Session["step"].ToString() == "1") {           
            $("ul.tabs li:first").addClass("active").show(); //Activate first tab
            $(".tab_content:first").show(); //Show first tab content

        }
        else if (@Session["step"] == "2") {           
            $("ul.tabs li:first").next().addClass("active").show(); //Activate first tab
            $(".tab_content:first").next().show(); //Show first tab content

        }
        @*else if (@Session["step"] == "3") {  
           
            $("ul.tabs li:last").addClass("active").show(); //Activate first tab
            $(".tab_content:last").show(); //Show first tab content
        }*@

        $('.print_form').click(function () {
            GetPDFforRegistrationform();
        });
    });

    function GetPDFforRegistrationform()
    {
        window.location='@Url.Action("GeneratePDFforRegistrationform", "Investor")';
    }

    function GotoStep(step, ispostback) {

        $("ul.tabs li").removeClass("active"); //Remove any "active" class
        $(".tab_content").hide(); //Hide all content

        if (step == null) {
            $("ul.tabs li:first").addClass("active").show(); //Activate first tab
            $(".tab_content:first").show(); //Show first tab content
        }
        if (step == 1) {
            @{Session["step"] = 1;}
            $("ul.tabs li:first").addClass("active").show(); //Activate first tab
            $(".tab_content:first").show(); //Show first tab content
        } else if (step == 2) {

            @{Session["step"] = 2;}
            $("ul.tabs li:first").next().addClass("active").show(); //Activate first tab
            $(".tab_content:first").next().show(); //Show first tab content
        } 
        @*else if (step == 3) {
            @{Session["step"] = 3;}
            $("ul.tabs li:last").addClass("active").show(); //Activate first tab
            $(".tab_content:last").show(); //Show first tab content
        }*@

        if (ispostback == true) {
            window.location = '@Url.Action("Corporate", "Investor")';
        }
    }
    
    function disalbleotheroption(){
        
        if ($('.NA').is(':checked')) {
            $('.d').attr('disabled', 'disabled');
            $('.d').removeAttr('checked');
        } else {
            $('.d').removeAttr('disabled');
        }
        
    }

</script>

<div class="container">
    <ul class="tabs">
        <li><a style="cursor: default;" href="#tab1">Step 1: Account Details</a></li>
        <li><a style="cursor: default;" href="#tab2">Step 2: Questionnaire & Submit</a></li>
        @*<li><a href="#tab3">Step 3: Print & Submit</a></li>*@
    </ul>
    <div class="tab_container">
        <div id="tab1" class="tab_content">
            @Html.Partial("_corporateInvestorAccount", Model.BorrowerAccountDetailsModel);
        </div>
        <div id="tab2" class="tab_content">
            @Html.Partial("_investorKnowledgeassessment", Model.Knowledgeassessment);
        </div>
        @*<div id="tab3" class="tab_content">
            @Html.Partial("_corporateInvestorSavedocuments", Model.BorrowerDocuments);
        </div>*@
    </div>
      @if (Model.BorrowerAccountDetailsModel.SecurityQuestion2 > 0)
      {
          <input id="hdnQest2" type="hidden" value="@Model.BorrowerAccountDetailsModel.SecurityQuestion2" />
      }
      else
      {
          <input id="hdnQest2" type="hidden" value="0" />
      }
</div>