﻿@model MoolahConnect.Models.CustomModels.InvestorAccount

@{
    ViewBag.Title = "Account Info";    
}

@using MoolahConnectnew
@Html.Flash()

<style>
    html ul.tabs li:hover, html ul.tabs li:hover a
{
    background: #f3f1e5;
    font-weight:normal;
}

    html ul.tabs li.active, html ul.tabs li.active a
{
    color: #fff;
    font-weight: bold;
    background: #ffbe3a;
    border-bottom: 1px solid #fff;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -khtml-border-radius: 5px 5px 0 0;
    border-left: 1px solid #BBB9AF;
}
</style>

<script type="text/javascript">
    $(document).ready(function() {

        if ($('#hdnQest2').val() != '0')
            $('#ddlSq2').val($('#hdnQest2').val());
        else
            $('#ddlSq2').val('2');

        //Default Action
        $(".tab_content").hide(); //Hide all content
        if (@Session["step"] == "1") {
            $("ul.tabs li:first").addClass("active").show(); //Activate first tab
            $(".tab_content:first").show(); //Show first tab content

        } else if (@Session["step"] == "2") {
            $("ul.tabs li:first").next().addClass("active").show(); //Activate first tab
            $(".tab_content:first").next().show(); //Show first tab content

        }
        @*else if (@Session["step"] == "3") {
            $("ul.tabs li:first").next().next().addClass("active").show(); //Activate first tab
            $(".tab_content:first").next().next().show(); //Show first tab content

        } else if (@Session["step"] == "4") {
            $("ul.tabs li:last").addClass("active").show(); //Activate first tab
            $(".tab_content:last").show(); //Show first tab content

        }*@

        $('.print_form').click(function() {
            GetPDFforRegistrationform();
        });


    });

function GetPDFforRegistrationform() {
    window.location = '@Url.Action("GeneratePDFforRegistrationform", "Investor")';
}
    function disalbleotheroption(){
        
        if ($('.NA').is(':checked')) {
            $('.d').attr('disabled', 'disabled');
            $('.d').removeAttr('checked');
        } else {
            $('.d').removeAttr('disabled');
        }
        
    }

    function EmploymentSelectionChanged() {
        var showOcc = false;
        $('input.emp').each(function () {
            var selectedVal = $(this).val();
            var checked = $(this).is(':checked');

            if (selectedVal == 32 && checked) {
                showOcc = true;
            }
        });

        if (showOcc) {
            $('#11').show();
            OccupationSelectionChanged();
        }
        else {
            $('#11').hide();
            $('#12').hide();
        }
    }

    function OccupationSelectionChanged() {
        var e = document.getElementById("select11");
        var selectedVal = e.options[e.selectedIndex].value;

        if (selectedVal == 51) {
            $('#12').show();
        }
        else {
            $('#12').hide();
        }
    }

function GotoStep(step,Ispostback) {    
        
    $("ul.tabs li").removeClass("active"); //Remove any "active" class
    $(".tab_content").hide(); //Hide all content
     
    if (step == null) {
            @{
                Session["step"] = null;
              }
        }
        if (step == 1) {
            @{Session["step"] = "1";}
            $("ul.tabs li:first").addClass("active").show(); //Activate first tab
            $(".tab_content:first").show(); //Show first tab content
           
        }
        else if (step == 2) {
            @{Session["step"] = "2";}
            $("ul.tabs li:first").next().addClass("active").show(); //Activate first tab
            $(".tab_content:first").next().show(); //Show first tab content
           
        }
        @*else if (step == 3) {
            @{Session["step"] = "3";}
            $("ul.tabs li:first").next().next().addClass("active").show(); //Activate first tab
            $(".tab_content:first").next().next().show(); //Show first tab content
            
        }
        else if (step == 4) {
            @{Session["step"] = "4";}
            $("ul.tabs li:last").addClass("active").show(); //Activate first tab
            $(".tab_content:last").show(); //Show first tab content
           
        }*@

    if (Ispostback == true) {
        window.location = '@Url.Action("Create", "Investor")';
    }
   
}

</script>
<div class="clear"></div>

<div class="clear"></div>

<div class="container">
      @if(Model.InvestorAccountDetailsModel.SecurityQuestion2>0)
    {
    <input id="hdnQest2" type="hidden" value="@Model.InvestorAccountDetailsModel.SecurityQuestion2" />
    }
    else
    {
          <input id="hdnQest2" type="hidden" value="0" />
    }
    <ul class="tabs">
        <li id="tabs1" class="1" ><a style="cursor: default;">Step 1: Account Details</a></li>
        <li id="tabs2" class="1" ><a style="cursor: default;">Step 2: Questionnaire & Submit</a></li>
        @*<li id="tabs3" class="1" ><a style="cursor: pointer;">Step 3: Print Registration Form (PDF)</a></li>*@
    </ul>
    <div class="tab_container">
        <div id="tab1" class="tab_content">
            @Html.Partial("_investorAccount", Model.InvestorAccountDetailsModel);
        </div>
        <div id="tab2" class="tab_content">
            @Html.Partial("_investorKnowledgeassessment", Model.Knowledgeassessment);
        </div>
        @*<div id="tab3" class="tab_content">
            @Html.Partial("_investorSavedocuments", Model.InvestorDocuments);
        </div>*@
    </div>
</div>

