﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<body>

    <p style="font-size: 8px; color: #5c5b53; padding: 0; margin: 0 0 25px 0; font-family: Arial, Helvetica, sans-serif; font-weight: normal;">Registration Form</p>


    <span style='color: #fff;'>Å180,500Å</span>
    <table align="left">
        <tr>
            <td justification="left" style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">Title :                   
            </td>
            <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">
                @Model.InvestorAccountDetailsModel.Title
            </td>
        </tr>
        <tr>
            <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">Full Name as on IC:                   
            </td>
            <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">
                @Model.InvestorAccountDetailsModel.FullName

            </td>
        </tr>
        <tr>
            <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">IC number :                   
            </td>
            <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">
                @Model.InvestorAccountDetailsModel.ICNumber
            </td>
        </tr>
        <tr>
            <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">Nationality :                    
            </td>

            <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">
                @Model.InvestorAccountDetailsModel.Nationality
            </td>
        </tr>
        <tr>
            <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">PR status :                    
            </td>

            <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">
                @Html.Encode(Model.InvestorAccountDetailsModel.PRStatus == true ? "PR" : "Not PR")

            </td>
        </tr>
        <tr>
            <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">Date of Birth :                    
            </td>

            <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">
                @Model.InvestorAccountDetailsModel.DateofBirth
            </td>
        </tr>
        <tr>
            <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">Gender :                    
            </td>

            <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">
                @Model.InvestorAccountDetailsModel.Gender
            </td>
        </tr>
        <tr>
            <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">Residential Address :                    
            </td>

            <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">
                @Model.InvestorAccountDetailsModel.ResidentialAddress
            </td>
        </tr>
        <tr>
            <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">Postal Code :                    
            </td>

            <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">
                @Model.InvestorAccountDetailsModel.PostalCode
            </td>
        </tr>
        <tr>
            <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">Main Contact number:                    
            </td>

            <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">
                @Model.InvestorAccountDetailsModel.MainContactNumber
            </td>
        </tr>
        <tr>
            <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">Other contact number (optional) :                    
            </td>

            <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">
                @Model.InvestorAccountDetailsModel.Othercontactnumber
            </td>
        </tr>
        <tr>
            <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">Email Address :                    
            </td>

            <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">
                @Model.InvestorAccountDetailsModel.Emailaddress
            </td>
        </tr>
        <tr>
            <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">Occupation :                    
            </td>

            <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">
                @Model.InvestorAccountDetailsModel.Occupation
            </td>
        </tr>
        <tr>
            <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">Income Range :                    
            </td>

            <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">
                @Model.InvestorAccountDetailsModel.IncomeRange
            </td>
        </tr>
        <tr>
            <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">Bank account (Bank, account number, account name):                    
            </td>

            <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">
                @Model.InvestorAccountDetailsModel.BankName ,
                @Model.InvestorAccountDetailsModel.BankAccountNumber
                <br />
                @Model.InvestorAccountDetailsModel.BankAccountName
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: left; font-size: 7px; color: #5c5b53; font-weight: bold;">Security questions for login details:
            </td>


        </tr>
        <tr>
            <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">@Model.InvestorAccountDetailsModel.SecurityQuestion1Name :                    
            </td>

            <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">
                @Model.InvestorAccountDetailsModel.SecurityAnswer1
            </td>
        </tr>
        <tr>
            <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">@Model.InvestorAccountDetailsModel.SecurityQuestion2name :                    
            </td>

            <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">
                @Model.InvestorAccountDetailsModel.SecurityAnswer2
            </td>
        </tr>
        <tr>
            <td style="text-align: left; font-size: 7px; color: #5c5b53; font-weight: bold;">Documents enclosed with form :                    
            </td>

            <td style="text-align: left; font-size: 6px; font-weight: normal; color: #5c5b53;">
                @if (Model.DocumentsList.DocumentsList1 != null)
                {
                    foreach (var item in Model.DocumentsList.DocumentsList1)
                    {
       
                    <div class="fl bot_mar">
                        <div class="wish_doc">@item.DocumentName   </div>

                    </div>
                    }
                }
                else
                {
                    <div class="fl bot_mar">
                        <div class="wish_doc">No document found  </div>
                    </div>
                }

            </td>
        </tr>
    </table>




</body>
</html>
