﻿@model  MoolahConnectClassLibrary.Models.ViewModels.InvestorDashboard
@{
    ViewBag.Title = "Index";
}

<div class="logingdiv" style="display: none; margin-left: 35%; position: fixed;background-color: #F7D358; font-weight: 600; padding: 3px;  padding-left: 5px;padding-right: 5px; border-radius: 0px 0px 5px 5px " >Loading....</div>
<div class="baccountdetails">
    @if (Model != null)
    {
        <div class="mtbl">
            <div class="mrow">
                <div class="mcol mcolttitleBoldFirst">Display Name : </div>
                <div class="mcol">@Model.Summary.AccountName</div>
                <div class="mcol mcolttitleBold">Account ID : </div>
                <div class="mcol">@Model.Summary.AccountNumber</div>
            </div>
        </div>
    }
    else
    {
        Response.Redirect(Url.Content("~/Investor/Create"));
    }
</div>
<div class="clear"></div>
<ul class="tabs">
    <li data-id="1"><a href="#tab1">Overview</a></li>
    <li data-id="2"><a href="#tab2">MoolahBoard</a></li>
    <li data-id="3"><a href="#tab3">Watchlist and MoolahPost</a></li>
    <li data-id="4"><a href="#tab4">Transfer Moolah</a></li>
    <li data-id="5"><a href="#tab5">Transactions</a></li>
    <li data-id="6"><a href="#tab6">My Profile</a></li>
</ul>

<div class="tab_container">
    <div id="tab1" class="tab_content">
        @Html.Partial("_SummaryDashboard", Model.Summary)
    </div>
    <div id="tab2" class="tab_content">
        @*@Html.Partial("_MoolahBoardDashboard")*@
    </div>
    <div id="tab3" class="tab_content">
        @*@Html.Partial("WatchList")*@
    </div>
    <div id="tab4" class="tab_content">
        @*@Html.Partial("_TransferMoneyDashboard", Model.TransferMoney)*@
    </div>
    <div id="tab5" class="tab_content">
        <div id="wish" class="no_bg pad_10 no_mar_bot">
            <div class="dash_board">
                <div class="dash_board_in">
                    <div id="live">
                        <div>
                            <div class="h5_title">Your Transactions</div>
                            @MoolahConnectHelper.DateTimeRangePicker("liDatePickerTransFrom", "liDatePickerTransTo", "SearchTransaction")
                        </div>
                        <div id="divLoanTransactions" class="event_in" style="border: none">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="tab6" class="tab_content">
        @*@Html.Action("GetUserProfileDetailbyUserID")*@
    </div>
</div>


@Scripts.Render("~/Scripts/jquery.numeric.js")

<script type="text/javascript">
    var activeTab = 0;
    @if (ViewBag.Tab != null)
    {
        @:activeTab = @ViewBag.Tab;
        }
    var moolahboadURL = '@Url.Action("GetMoolahBoardView")';
    var watchListURL = '@Url.Action("GetMoolahBoardWatchListView")';
    var transferMoneyDashboardURL = '@Url.Action("GetTransferMoneyDashboardView")';
    var transactionsURL = '/Shared/_Transactions?from=' + null + '&to=' + null;
    var getUserProfileDetailbyUserIDURL = '@Url.Action("GetUserProfileDetailbyUserID")';
    var summaryURL = '@Url.Action("SummaryView")';
    var userLogingURL = '@Url.Action("Login","User")';
    $(document).ready(function () {
        //$('#divLoanTransactions').empty();
        //$('#divLoanTransactions').load('/Shared/_Transactions?from=' + null + '&to=' + null);


        $(".tab_content").hide(); //Hide all content
        if (activeTab > 0) {
            $('ul.tabs li a[href="#tab' + activeTab + '"]').closest('li').addClass("active").show();
            $('#tab' + activeTab).show();
        } else {
            $("ul.tabs li:first").addClass("active").show(); //Activate first tab
            $(".tab_content:first").show(); //Show first tab content
        }
        //On Click Event
        $("ul.tabs li").click(function () {
            $("ul.tabs li").removeClass("active"); //Remove any "active" class
            $(this).addClass("active"); //Add "active" class to selected tab
            _tabId = $(this).attr("data-id");

            loadTab(_tabId);


            $(".tab_content").hide(); //Hide all tab content
            var activeTab = $(this).find("a").attr("href"); //Find the rel attribute value to identify the active tab + content
            $(activeTab).fadeIn(); //Fade in the active content

            return false;
        });

        $(".number").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
        });
        $(".money").numeric();
    });

    function loadTab(tabid) {
        $('.logingdiv').show();
        var url = "";
        switch (tabid) {
            case "1":
                url = summaryURL;
                break;
            case "2":
                url = moolahboadURL;
           break;
            case "3":
                url = watchListURL;
                break;
            case "4":
                url = transferMoneyDashboardURL;
                break;
            case "5":
                url = transactionsURL;
                break;
            case "6":
                url = getUserProfileDetailbyUserIDURL;
                break;
       
        }
        $.get(url, function(data,status, xhr) {
           loadView(data,tabid);
        }).done(function() {
            $('.logingdiv').hide();
        }).fail(function() {
            $('.logingdiv').hide();
        });
    }
    function loadView(viewContent,tabid) {
        if (checkLoginView(viewContent)) {
            window.location = userLogingURL;
        }
        else{
        switch (tabid) {
            case "1":
                $("#tab1").html(viewContent);
                drawChart();
                break;
           case "2":
               $("#tab2").html(viewContent);
               break;
           case "3":
               $("#tab3").html(viewContent);
               break;
           case "4":
               $("#tab4").html(viewContent);
               break;
           case "5":
               $("#divLoanTransactions").html(viewContent);
               break;
           case "6":
               $("#tab6").html(viewContent);
               break;
       
        }
            }
           
   }

    function checkLoginView(contentView) {

      
        var view = $(contentView).find(".userlogin");
        if (view.length > 0) {
            return true;
        } else {
            return false;
        }
    }

    function SearchTransaction(_from, _to) {
        $('#divLoanTransactions').empty();
        $('#divLoanTransactions').load('/Shared/_Transactions?from=' + _from + '&to=' + _to);
    }
    
   
</script>
