﻿@model MoolahConnectClassLibrary.Models.ViewModels.LiveLoanListings

@{
    ViewBag.Title = "Listings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="wish" class="no_bg pad_10 no_mar_bot">

    <div class="dash_board">


        <div class="dash_board_in">
    
        <h5 style="float:right;margin: 0 -85px 0 0; " > Choose Listing:  @Html.DropDownList("Status", new List<SelectListItem>

                 {
                    new SelectListItem{ Text="All", Value = "0" },
                    new SelectListItem{ Text="Live", Value = "1" },
                    new SelectListItem{ Text="Funded", Value = "2" },
                    new SelectListItem{ Text="Matured", Value = "3" }
                 }, new { @class = "des_list_in", onchange = "ShowHideInvestorListing(this.value)"})</h5> 
            <br />
            <br />

            <div id="live">
                <h5>Listings: Live</h5>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr class="bg_col">
                        <td class="bdr_bottom bdr_left">Company  </td>
                        <td class="bdr_bottom">Purpose </td>
                        <td class="bdr_bottom">Tenor</td>
                        <td class="bdr_bottom">Your Rate</td>
                        <td class="bdr_bottom">Loan Amount</td>
                        <td class="bdr_bottom">Payment Grade</td>
                        <td class="bdr_bottom">PG</td>
                        <td class="bdr_bottom">Remaining Time</td>
                        <td class="bdr_bottom">Funded</td>
                        <td class="bdr_bottom">#Lenders</td>
                    </tr>

                    @if (Model.LoanListings != null && Model.LoanListings.Count > 0)
                    {
                        foreach (var item in Model.LoanListings)
                        {      
                        <tr>
                            <td class="bdr_left bdr_bottom">@Html.ActionLink(item.Company, "LoanSummary", "Investor", new { LoanRequestID = item.LoanRequestID }, null)</td>
                            <td class="bdr_bottom">@item.Purpose </td>
                            <td class="bdr_bottom">@item.Tenor months </td>
                            <td class="bdr_bottom">@item.InterestRate %     </td>
                            <td class="bdr_bottom formatCurrency">$ @item.LoanAmount </td>
                            <td class="bdr_bottom">@item.PaymentGrade  </td>
                            <td class="bdr_bottom">@item.PG </td>

                            <td class="bdr_bottom">@item.Days Days @item.Hours Hours </td>
                            <td class="bdr_bottom">@item.Funded % </td>
                            <td class="bdr_bottom">@Html.ActionLink(Convert.ToString(item.Lenders), "LoanSummary", "Investor", new { LoanRequestID = item.LoanRequestID }, null)  </td>

                        </tr>      
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="bdr_left bdr_bottom" colspan="10">None of your Loans are live</td>
                        </tr>
                    }

                </table>
            </div>
            <br />
            <br />
            <div id="funded">
                <h5>Listings: Funded</h5>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr class="bg_col">
                        <td class="bdr_bottom bdr_left">Contract  </td>
                        <td class="bdr_bottom">Purpose </td>
                        <td class="bdr_bottom">Tenor</td>
                        <td class="bdr_bottom">Your Rate</td>
                        <td class="bdr_bottom">Loan Amount</td>
                        <td class="bdr_bottom">Payment Grade</td>
                        <td class="bdr_bottom">PG</td>
                        <td class="bdr_bottom">Funded</td>
                        <td class="bdr_bottom">MaturityDate</td>
                    </tr>

                    @if (Model.FundedListings != null && Model.FundedListings.Count > 0)
                    {
                        foreach (var item in Model.FundedListings)
                        {      
                        <tr>
                            <td class="bdr_left bdr_bottom">@Html.ActionLink(item.Referece, "LoanSummary", "Investor", new { LoanRequestID = item.LoanRequestID }, null)</td>
                            <td class="bdr_bottom">@item.Purpose </td>
                            <td class="bdr_bottom">@item.Tenor months </td>
                            <td class="bdr_bottom">@item.InterestRate %     </td>
                            <td class="bdr_bottom formatCurrency">$ @item.LoanAmount </td>
                            <td class="bdr_bottom">@item.PaymentGrade  </td>
                            <td class="bdr_bottom">@item.PG </td>
                            <td class="bdr_bottom">@item.Funded % </td>
                            <td class="bdr_bottom">@item.MaturityDate</td>

                        </tr>      
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="bdr_left bdr_bottom" colspan="9">No loans are funded</td>
                        </tr>
                    }

                </table>
            </div>

            <br />
            <br />
            <div id="Matured">
                <h5>Listings: Matured</h5>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr class="bg_col">
                        <td class="bdr_bottom bdr_left">Contract  </td>
                        <td class="bdr_bottom">Purpose </td>
                        <td class="bdr_bottom">Tenor</td>
                        <td class="bdr_bottom">Your Rate</td>
                        <td class="bdr_bottom">Loan Amount</td>
                        <td class="bdr_bottom">Payment Grade</td>
                        <td class="bdr_bottom">PG</td>
                        <td class="bdr_bottom">MaturityDate</td>
                        <td class="bdr_bottom">Default</td>
                        <td class="bdr_bottom">#Lenders</td>
                    </tr>

                    @if (Model.MaturedListings != null && Model.MaturedListings.Count > 0)
                    {
                        foreach (var item in Model.MaturedListings)
                        {      
                        <tr>
                            <td class="bdr_left bdr_bottom">@Html.ActionLink(item.Referece, "LoanSummary", "Investor", new { LoanRequestID = item.LoanReqestID }, null)</td>
                            <td class="bdr_bottom">@item.Purpose </td>
                            <td class="bdr_bottom">@item.Tenor months </td>
                            <td class="bdr_bottom">@item.Interest %     </td>
                            <td class="bdr_bottom formatCurrency" >$ @item.LoanAmount </td>
                            <td class="bdr_bottom">@item.PaymentGrade  </td>
                            <td class="bdr_bottom">@item.PG </td>

                            <td class="bdr_bottom">@item.MaturityDate</td>
                            <td class="bdr_bottom">No static</td>
                            <td class="bdr_bottom">@Html.ActionLink(Convert.ToString(item.NumberofLenders), "LoanSummary", "Investor", new { LoanRequestID = item.LoanReqestID }, null)  </td>

                        </tr>      
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="bdr_left bdr_bottom" colspan="10">None of your Loans are matured yet</td>
                        </tr>
                    }

                </table>
            </div>
        </div>
        <div class="clear"></div>


    </div>

</div>
<script>

    $(document).ready(function () {
        $(".formatCurrency").formatCurrency();
    })
</script>
