﻿@using System
@using MoolahConnect.Util

@{
    ViewBag.Title = "Return Calculator";
    Layout = "~/Views/Shared/_LayoutWithoutHeaderAndFooter.cshtml";
}

<div id="wish">

    <div class="inner_sect">
        <h5>Return Calculator</h5>
    </div>
    <div class="inner_box">
        <div class="inner_box_left">
            <h3>Get an instant indication</h3>
            <p>How much do you want to invest?</p>
            <div class="box_left_line">
                <div id="slider"></div>
            </div>
            <p >
                S$<strong class="money" id="amount" >1000 </strong>
                <br />
                <br />
                Tenor

            </p>
            <div class="clear"></div>
            <ul>
                @foreach (int gMonth in GlobalVar.gTenure)
                {
                    <li>
                        <input name="term" type="radio" checked="checked" onclick="Getquickindicationsforpayment()" value="@gMonth">
                        @gMonth Months
                    </li>
                }
                <!--
                <li>
                    <input name="term" type="radio" onclick="Getquickindicationsforpayment()" value="24">
                    24 Months </li>
                <li>
                    <input name="term" type="radio" onclick="Getquickindicationsforpayment()" value="36">
                    36 Months </li>
                -->
            </ul>
              <div class="clear"></div>
            
                
             <ul>
                 
                <li style="width:130px;">
                  
                  Rate % p.a.  <input name="term" id="txtEIR" type="text" value="5"   onkeyup="Getquickindicationsforpayment()" placeholder="Enter EIR">
                  </li>
               
            </ul>
        </div>

        <div class="inner_box_rgt inner_box_rgt_calc">
            <h3>Your quick indication:</h3>

            <ul>
                <li>
                    <h5>Monthly repayment due to you</h5>
                    <p id="monthlypayment" class="formatCurrency money"></p>
                </li>
                <li>
                    <h5>Total interests earned on the note</h5>
                    <p id="totalpayment" class="formatCurrency money"></p>
                </li>
            </ul>
            <br />
            <br />
            <div class="wish_out_new">
                <a href="@string.Format("{0}/user/registeruser", Settings.LendingSiteUrl)" class="wish_btn_new">Invest Now</a>
            </div>
            <div class="clear"></div>
        </div>
       
    </div>

</div>
<script>
    $(function () {
        Getquickindicationsforpayment();

        $("#slider").slider({
            range: "min",
            value: @GlobalVar.gInvestorMinAmount,
            min: @GlobalVar.gInvestorMinAmount,
            @*max: @GlobalVar.gInvestorMaxAmount,*@
            max: 100000,
            step: @GlobalVar.gInvestorStep,
            slide: function (event, ui) {

                $("#amount").html(commaSeparateNumber(ui.value));

            }
        });


        $("#slider").slider({
            stop: function (event, ui) {
                Getquickindicationsforpayment();

            }
        });

    });

    function Getquickindicationsforpayment() {
        var $amt = $('#amount').html().replace(new RegExp(",", "g"), '');
        var $i = parseFloat($('#txtEIR').val());
        var $term = $("input[type='radio'][name='term']:checked").val();

        var flatmcDiscoutrate = 3;
        var mfee = 0;
        var yfee = 0;
        var intr = $i / 1200;
        var calc = $amt * intr / (1 - (Math.pow(1 / (1 + intr), $term)));// - mfee;
        var exm = Math.round(calc * 100) / 100;
        var exy = Math.round((calc * $term - yfee - $amt) * 100) / 100;

        $('#monthlypayment').html('S$' + exm);
        $('#totalpayment').html('S$' + exy);

        $('#monthlypayment').formatCurrency();
        $('#totalpayment').formatCurrency();

        $('#monthlypayment').val($('#monthlypayment').val().replace('$', ''));
        $('#totalpayment').val($('#totalpayment').val().replace('$', ''));
    }

    function commaSeparateNumber(val) {
        while (/(\d+)(\d{3})/.test(val.toString())) {
            val = val.toString().replace(/(\d+)(\d{3})/, '$1' + ',' + '$2');
        }
        return val;
    }
</script>