﻿@using MoolahConnect.Util.ExtensionMethods
@using MoolahConnect.Util.Enums
@using MoolahConnectnew.ViewModels
@{
    var model = (LoanRequestBoardViewModel)ViewBag.WatchList;
}

<div id="wish" class="no_bg pad_10 no_mar_bot">
    <div class="dash_board">
        <div class="dash_board_in" style="padding-left: 0px !important">
            <div id="live">
                <h4>Watchlist</h4>
                <table>
                    <thead>
                        <tr class="bg_col">
                            <td class="bdr_bottom bdr_left">Company name </td>
                            <td class="bdr_bottom">Purpose  </td>
                            <td class="bdr_bottom">Amount </td>
                            <td class="bdr_bottom">Tenor</td>
                            <td class="bdr_bottom">Target Rate</td>
                            <td class="bdr_bottom">Time Left</td>
                            <td class="bdr_bottom">% Funded</td>
                            <td class="bdr_bottom">Invest</td>
                            <td class="bdr_bottom"></td>
                        </tr>
                    </thead>
                    @if (model.LoanRequestViewModels != null && model.LoanRequestViewModels.Count > 0)
                    {
                        <tbody>
                            @foreach (var item in model.LoanRequestViewModels)
                            {      
                                <tr>
                                    <td class="bdr_left">@item.CompanyName</td>
                                    <td><span>

                                        @if (Request.IsAuthenticated)
                                        {
                                            @Html.ActionLink(item.LoanPurpose, "MatchedNoteDetails", "Note", new { noteRequestID = item.RequestId }, null)
                                        }
                                        else
                                        {
                                            <a style="cursor: pointer;" onclick="loadPopup('LoginInformation', 'bg');">@item.Reference</a>
                                        }
                                        <br />
                                        @item.RegisteredAddress</span></td>
                                    <td class="formatCurrency">@item.Amount.ToCurrency()</td>
                                    <td>@item.Term Months</td>
                                    <td>@item.AverageRate %</td>
                                    <td>
                                        @if (item.PreliminaryStatus == (int)PreliminaryLoanRequestStatus.DraftPublished)
                                        {
                                            @item.Days<span> days</span> @item.Hours <span>Hours</span> @item.Minutes <span>Min</span>    
                                        }
                                        else
                                        {
                                            @:NA
                                        }

                                    </td>
                                    <td>@item.Funded %</td>
                                    <td>@Html.ActionLink("Invest", "MatchedNoteDetails", "Note", new { noteRequestID = item.RequestId }, null)</td>
                                    <td><a href="javascript:;" class="removefromwl" data-id="@item.RequestId">Remove</a>
                                        @*| <a title="Forum" target="_blank" href="@MoolahConnect.Util.Settings.ForumUrl">MoolahPost</a>*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    }
                    @if (model.LoanRequestViewModels.Count == 0)
                    {
                        <tr>
                            <td colspan="9" class="center bdr_left">You have not short-listed any campaign(s)</td>
                        </tr>
                    }
                </table>
                <br />
                <br />
                <h4>MoolahPost</h4>
                <p>
                    MoolahPost is a private forum which is accessible to members after they have registered and been approved at MoolahSense. Through MoolahPost, investor and issuer members can engage in Q&A with each other with regards to the campaign.
                </p>
                <p>
                    We have provided a separate sign-on to access MoolahPost using your Display Name as Username. 
                </p>
                <p>
                    Post your questions to the Issuer <b><a style="font-size:large" target="_blank" href="https://www.moolahsense.com/post">HERE</a></b>
                </p>
            </div>
        </div>
        <div class="clear"></div>


    </div>

</div>
<script>
    $(function () {
        $('.removefromwl').click(function (e) {
            e.preventDefault();
            var el = this;
            $.getJSON('/Investor/RemoveFromWatchList', { requestId: $(this).attr('data-id') }, function (json) {
                if (json.id) {
                    var tbd = $(el).closest('tbody');
                    $(el).closest('tr').remove();
                    if (tbd.find('tr').length == 0) {
                        tbd.append('<tr><td colspan="9" class="center bdr_left">You don\' t have any investment</td></tr>');
                    }
                    bootbox.alert("Item has been successfully removed from the Watchlist", function () { });
                } else {
                    bootbox.alert("We can not remove the selected item from the Watchlist. Please try again.", function () { });
                }
            });
        });
    });
</script>
